@import 'vars';
@import 'bootstrap';

h2 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 35px;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.heavy {
  font-weight: 700;
}

section {
  margin-bottom: 100px;
}

body {
  background: url(images/mandala-transparent.png) no-repeat 10% 0,
  url(images/mandala-transparent.png) no-repeat 100% 300px,
  url(images/mandala-transparent.png) no-repeat -20% 700px,
  url(images/mandala-transparent.png) no-repeat 85% 1500px,
  url(images/mandala-transparent.png) no-repeat -25% 1800px,
  url(images/mandala-transparent.png) no-repeat 100% 2200px,
  linear-gradient(160deg, #903921, #C8611A);
  background-size: 600px, 1100px, 950px, 600px, 1300px, 700px, 100% 100%;
	font-size: 1.5rem;
}

.container {
	background: transparent;
}

/* nav */
nav {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: $kleur-oranje;
  border-bottom: $kleur-bruin dashed 3px;

  a {
    color: $white;
    font-family: $font-header;
    font-size: 24px;
    transition: ease-in-out color .15s;

    &:hover {
      text-decoration: none;
    }
  }

  .container {
    max-width: 700px;
  }

  .logo-titel {
    position: absolute;
    margin-left: -300px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    img {
      border: 8px solid $secondary;
      width: 160px;
    }
  }

  .menu {
    height: 50px;
  }
}

/* header */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-groot {
    max-width: 600px;
    width: 100%;
  }

  picture {
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.45);
  }
}

/* sections */
.head {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* video */
.video .video-container {
  display: flex;
  justify-content: center;

  .youtube-container {
    max-width: 800px;
    width: 100%;
  }
}

.programma {
  p {
    font-size: 1.5em;
  }
}

.diescie-foto-container {
  display: flex;
  justify-content: center;

  .diescie-foto {
    max-width: 800px;
    width: 100%;
  }
}

.bb-groep a {
	color: $white;
}

@include media-breakpoint-down(md) {
  nav {
    .logo-titel {
      img {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  nav {
    height: 20px;

    .logo-titel {
      img {
        width: 100px;
        display: block;
      }
    }

    .menu {
      height: 20px;
    }
  }
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}
