<tr id="maalcie-melding">
    <td>{{ getMelding() }}</td>
</tr>
{% for taak in taken %}
    {{ include('maaltijden/corveetaak/beheer_taak_lijst.html.twig', {show: true, prullenbak: false, taak: taak}) }}
{% endfor %}
