$lustrum-kleur-donker-rood: #3e0d1c;
$lustrum-kleur-rood: #6e1321;
$lustrum-kleur-licht-rood: #8b1437;
$lustrum-kleur-goud: #f1c802;
$lustrum-kleur-wit: #dedede;

// backgrounds
$kleur-primair: $lustrum-kleur-donker-rood;
$kleur-secundair: $lustrum-kleur-rood;

// Text
$kleur-textheader: $lustrum-kleur-goud;
$kleur-text:  $lustrum-kleur-goud;
$kleur-text-hover:  $lustrum-kleur-wit;

// other
$kleur-groen: $lustrum-kleur-wit;
$kleur-rood: $lustrum-kleur-licht-rood;

@font-face {
	font-family: 'Orpheus Pro';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/lustrum12/OrpheusPro-Bold.otf');
}

$theme-colors: (
	"primary": $kleur-primair,
	"danger": #E54B4B,
	"white": $kleur-text,
);

$body-bg: $kleur-secundair;
$body-color: $kleur-text;
$headings-color: $kleur-textheader;

$headings-font: 'Orpheus Pro', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$headings-font-family: ($headings-font, uppercase);

$donkerblauw: $kleur-primair;
$lichtblauw: #4e698b;

//$beeldmerk: url(../images/beeldmerk.png) !default;

$zijbalk-bg: $kleur-primair;
$zijbalk-border: $kleur-text-hover;
$zijbalk-kopje: $kleur-textheader;

$zijbalk-ishetal-ja: $kleur-groen; // todo
$zijbalk-ishetal-nee: $kleur-rood; // todo

$bb-block-bg: $kleur-primair;

$card-bg: $kleur-primair;
$list-group-bg: $kleur-primair;

$link-color: $kleur-text;
$link-hover-color: $kleur-text-hover;

//$forum-bericht0-bg: $body-bg;
//$forum-bericht1-bg: darken($body-bg, 4%);
//$ongelezen-lijn: $yellow;

$menu-primary-hover: $kleur-textheader;
$menu-bg: $body-bg;
$menu-color: $body-color;
$menu-small-bg: $body-bg;
$menu-small-color: $body-color;

// $navbar-dark-color: white;

$zoeken-active-bg: lighten($body-bg, 10%);

///* maalcie-tabel */
//$maalcie-tabel-header: #FAFAFA !default;
//$maalcie-tabel-tr0: #EBEBEB !default;
//$maalcie-tabel-tr1: #FAFAFA !default;

$tabel-header: $kleur-primair;
$tabel-hover: darken($kleur-secundair, 5%);
$tabel-regel-licht: $kleur-secundair;
$tabel-regel-donker: lighten($kleur-secundair, 5%);

$footer-background: $kleur-primair;
$maaltijdketzer-bg: $kleur-primair;


// other in dies theme
$bb-alt-bg: darken($body-bg, 4%);
$bb-hover-bg: $kleur-text-hover;

$modal-content-bg: $kleur-secundair;
$list-group-action-color: $kleur-text;
$list-group-hover-bg: $kleur-textheader;
$text-muted: #fffbfa;

/* importeer basis */
@import "../base";

// headers
h1 {
	font-family: $headings-font-family;
	color: $kleur-textheader;
}

h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: $headings-font-family;
	color: $kleur-textheader;
}

// zijbalk links
#zijbalk .blok .zijbalk-kopje a {
		font-family: $headings-font-family;
		text-transform: uppercase;
		color: $kleur-textheader;
}

// lustrum stek link
.lustrum12_button {
	color: $kleur-text;
}
.lustrum12_button:hover {
	color: $kleur-text-hover;
}

// overwrite header colors
#menu #cd-primary-nav .nav-link{
	color: $lustrum-kleur-goud;
}

// image in footer, make white
footer img{
	filter: invert(90%);
}
