/* OWee 2021 */
$primair-achtergrond: #b2d4f0;
$secundaire-accenten-1: #002e54;
$secundaire-accenten-2: #f6b585;

$primary: $secundaire-accenten-1;
$secondary: $secundaire-accenten-2;

$body-bg: $primair-achtergrond;
$body-color: #002e54;
$orange: $secundaire-accenten-2;
$footer-background: $primair-achtergrond;

@font-face {
	font-family: "Tw Cen MT";
	font-style: normal;
	font-weight: normal;
	src: url("../../fonts/owee2021/TCM.woff") format("woff");
}

@font-face {
	font-family: "Segoe Print";
	font-style: normal;
	font-weight: normal;
	src: url("../../fonts/owee2021/segoepr.woff") format("woff");
}

$font-family-base: "Tw Cen MT", "Source Sans Pro", Helvetica, Arial, sans-serif;
$headings-font-family: "Segoe Print", "Source Sans Pro", Helvetica, Arial,
	sans-serif;

@import "../base";

body {
	background-image: url("../../images/background.png") !important;
}

main {
	background-image: url("../../images/background.png") !important;
}

.bb-block {
	box-shadow: #f6b585;
}

.lustrum12:before {
	display: none;
}
