$beeldmerk: url('../images/beeldmerk-wit.png');

@import "../base";

* {
	background-color: #ff33ff !important;
	border-color: #fff !important;
	color: #fff !important;
	font-family: "Comic Sans MS", Arial, sans-serif !important;
}
