$primair-achtergrond: #B5312B;
$zijbalk-achtergrond: #741F1B;
$secundaire-accenten-1: #8C2521;
$secundaire-accenten-2: white;

$primary: $secundaire-accenten-1;
$secondary: $secundaire-accenten-2;

$body-bg: $primair-achtergrond;
$body-color: white;
$zijbalk-bg: $zijbalk-achtergrond;
$zijbalk-kopje: $secundaire-accenten-2;

$donkerblauw: $secundaire-accenten-1;
$orange: $secundaire-accenten-2;

@font-face {
	font-family: 'Caricature';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/sine-regno-2021/caricature.woff') format('woff');
}

@font-face {
	font-family: 'Spongeboy-Me-Bob';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/sine-regno-2021/Spongeboy-Me-Bob.woff') format('woff');
}

$font-family-base: 'Spongeboy-Me-Bob', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$headings-font-family: 'Caricature', 'Source Sans Pro', Helvetica, Arial, sans-serif;

@import "./donker";

#zijbalk .blok .zijbalk-kopje {
	font-family: $headings-font-family;
	font-size: x-large;
}

#zijbalk .blok .item {
	font-family: $font-family-base;
}


