$primair-achtergrond: #313131;
$zijbalk-achtergrond: #49646C;
$secundaire-accenten-1: #B92E2E;
$secundaire-accenten-2: #28C4BC;

$primary: $secundaire-accenten-1;
$secondary: $secundaire-accenten-2;

$body-bg: $primair-achtergrond;
$body-color: white;
$zijbalk-bg: $zijbalk-achtergrond;
$zijbalk-kopje: $secundaire-accenten-2;

$donkerblauw: $secundaire-accenten-1;
$orange: $secundaire-accenten-2;

@font-face {
	font-family: 'Bad Signal Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/sine-regno-2020/Bad-Signal.woff') format('woff');
}

$headings-font-family: 'Bad Signal Regular', 'Source Sans Pro', Helvetica, Arial, sans-serif;

@import "./donker";

#zijbalk .blok .zijbalk-kopje {
	font-family: $headings-font-family;
}
