@import "../defaults";

@include media-breakpoint-down(sm) {
	.fc-toolbar {
		flex-direction: column;
		align-items: center;

		.fc-right {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.fc-button {
				margin-bottom: 0.4em;
			}
		}
	}
}

.fc-button-primary {
	background-color: $primary;
	border-color: $primary;
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:hover {
	background-color: darken($primary, 10%);
	border-color: darken($primary, 10%);
}
.fc-button-primary:disabled {
	background-color: lighten($primary, 10%);
	border-color: lighten($primary, 10%);
}

.agenda-card {
	width: 600px;
	max-width: 90%;
}

.fc-list-empty-wrap2 {
	position: relative;
}
