.declaratie-table {
	.status {
		border-radius: 20px;
		font-weight: 600;
		line-height: 18px;
		padding: 2px 9px;
		color: white;
		display: inline-block;
		text-decoration: none;

		&.concept {
			background: #8e8e8e;
		}

		&.ingediend {
			background: #e19600;
		}

		&.goedgekeurd {
			background: #00db49;
		}

		&.afgekeurd {
			background: #e20000;
		}

		&.uitbetaald {
			background: #2c3e50;
		}
	}
}
