.declaratie-table {
	span.status {
		border-radius: 20px;
		font-weight: 600;
		line-height: 18px;
		padding: 2px 9px;
		color: white;
		display: inline-block;

		&.concept {
			background: #8e8e8e;
		}

		&.ingediend {
			background: #E19600;
		}

		&.goedgekeurd {
			background: #00DB49;
		}

		&.afgekeurd {
			background: #E20000;
		}

		&.uitbetaald {
			background: #2C3E50;
		}
	}
}
