#controls{
	float: right;
}

.documenten{
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.documenten thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.documenten tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.documenten tbody tr th{
	padding: 5px 3px 5px 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}
.documenten a.toevoegen{
	float: right;
}

.documenten tr td{
	padding: 2px 3px;
}

.documenten tr td a.filenotfound{ text-decoration: none; color: #888;}
.documenten tr td a.verwijderen, .documenten tr td a.bewerken{ float: right; margin-left: 3px;}

.documenten tr.odd td{
	background-color: #efefef;
}
