.saldi-som-form-wrapper {
	width: 230px;
	margin-bottom: 10px;

	.SaldiSomForm {
		input[type="text"] {
			float: left;
			width: 130px;
		}
		.FormKnoppen {
			clear: none;
			margin-top: 0;
		}
	}

	.InlineFormToggle {
		width: 115px;
	}
}
