i.fas,
i.fab {
	&:not(.neus2013):not(.pagination) {
		margin-right: $spacer * 0.25;
	}
}

.translate-begin {
	transform: translate(-150%, -50%) !important;
	width: 16px;
}

@media (max-width: 575px) {
	.translate-begin {
		transform: translate(0%, -50%) !important;
	}
	.ps-24 {
		padding-left: 24px;
	}
}

.list-group-item {
	background-color: transparent;
	width: 100%;
}
@include media-breakpoint-up(sm) {
	.forum-deel > .list-group-item {
		max-width: calc(100% - $spacer * 1.5);

		p {
			color: $gray-500;
		}
	}
}

.draad-readonly {
	font-style: italic;
}

.draad-gesloten {
	font-style: italic;
}

.draad-verwijderd,
.post-verwijderd {
	font-weight: bold;
	color: $danger;
}

.forum-posten {
	display: flex;

	.auteur {
		flex: 0 0 160px;
	}
}

.moment {
	font-size: 0.9em;
	color: $gray-500;
	cursor: default;
}

.forum-header,
.forum-footer {
	.form-group {
		margin-bottom: 0;
	}

	h1 {
		width: 100%;
	}
}

.auteur {
	flex: 0 0 160px; /* vast */
	padding: 4px;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto 1fr;

	.postpijl {
		grid-column: 2;
		grid-row: 1;
		justify-self: end;
		align-self: start;
	}

	.naam,
	.moment,
	.forumpostKnoppen {
		grid-column: 1;
	}

	.postpijl a:hover {
		color: black;
		text-decoration: none;
	}

	.forumpasfoto {
		grid-column: 2;
		grid-row-start: 2;
		grid-row-end: 4;
	}
}

.forum-draad,
.forum-zoeken {
	.tussenschot {
		height: 2px;
		margin: 0;
		padding: 0;
		background-color: $gray-400;

		&.ongelezenvanaf {
			background-color: $secondary;
		}
	}

	.forum-post {
		p:empty {
			display: none;
		}

		.forumpostKnoppen {
			min-height: 70px;

			a {
				border: none;
				background: none;
				float: left;
				padding: 2px;
				margin: 2px;
				width: 22px;
				height: 22px;
			}

			.forummodknop {
				opacity: 0;
				transition: opacity 0.3s;
			}
		}

		.bewerkt {
			font-size: 0.8em;
			color: $gray-600;

			a {
				color: $gray-600;
			}

			hr {
				margin-bottom: 0;
				background-color: $gray-600;
			}
		}

		.meldingen {
			flex: 0;
			margin: 0.2em;
		}
	}
}

#ongelezen {
	visibility: hidden;
	position: relative;
	top: -100px;
}

#draad-melding {
	display: none;
}

/* Paginering */
span.curpage {
	padding: 4px 5px;
	font-weight: bold;
	background-color: #e8cf2a;
	color: $black;
}

.forum-paginering {
	padding: 5px;
	margin-left: 160px;
	a {
		padding: 4px 5px;

		&:hover {
			background-color: $gray-300;
			text-decoration: none;
		}
	}

	.curpage {
		background-color: initial;
	}
}

/* Forum deel */
.forum-deel {
	a {
		&:not(:hover) {
			text-decoration: none;
		}

		&.badge {
			background-color: $gray-500;
		}
	}
}

/* Forum Categorie */
.forumcategorie {
	clear: left;

	h3 {
		a {
			color: $black;
		}
		a:hover {
			text-decoration: none;
			cursor: default;
		}
	}

	p.forumcategorie-omschrijving,
	p.forumdeel-omschrijving {
		text-align: justify;
	}

	.forumdelen {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.forumdeel {
			flex: 0 1 20%;

			margin: 10px;

			h3 {
				margin: 0.5em 0 1em 0;
			}

			hr::after {
				background-color: $gray-400;
			}

			h4 {
				margin-top: 0.5em;
				text-align: center;
			}
		}
	}
}

.forum-zoeken {
	.forum-zoeken-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		font-weight: bold;
		color: $white;
		background-color: $primary;
		padding: 1em;

		a,
		a:hover {
			color: white;
		}
	}
}

/**************************** GRAFIEK *******************************/
.grafiek-container {
	box-sizing: border-box;
	width: 750px;
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid $gray-300;
	background: $white;
	background: linear-gradient($gray-100 0, $white 50px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.grafiek-placeholder {
	width: 100%;
	height: 100%;
}

// Suggesties
.textcomplete-item {
	color: $black;
	&.active {
		background: $gray-200;
	}
}

@media screen and (max-width: 576px) {
	// sm
	.forum-header,
	.forum-footer {
		h1 {
			width: 100%;
		}
	}
}

@media screen and (max-width: 960px) {
	// lg
	.modfuncties {
		font-size: 0;
	}

	.forumcategorie .forumdelen .forumdeel {
		flex: 0 1 100%;
	}

	.forum-draad {
		width: auto;
		clear: both;

		.forum-post,
		.forum-posten {
			flex-direction: column;

			.auteur {
				flex: 1 0;

				grid-template-columns: 1fr auto auto;
				border-bottom: 2px solid $gray-300;

				.postpijl {
					padding: 0 10px;
					align-self: end;
					grid-row: 3;
					grid-column: 3;

					.postlink {
						display: block;
						transform: rotate(90deg);
					}

					.postanchor {
						// Compenseer voor navbar
						padding-top: 44px;
						margin-top: -44px;
					}
				}

				.forumpasfoto {
					grid-row-start: 1;
				}

				.forumpostKnoppen {
					min-height: 0;

					a {
						// Disable JS
						opacity: 1 !important;
					}
				}
			}
		}

		.forum-paginering {
			margin-left: 0;
		}
	}

	#forumZoekenForm {
		float: none;
	}

	.forum-deel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.header {
			display: none;
		}
		.draad-titel {
			padding-bottom: 0;
		}
		.draad-laatste-post {
			flex-grow: 1;
		}

		.paging,
		.draad-titel,
		.forumdeel-omschrijving {
			width: 100%;
		}

		.forum-posten {
			display: flex;
			flex-direction: column;

			.auteur {
				flex: 0;
				grid-template-columns: 1fr auto auto;
				grid-template-rows: auto;
				border-bottom: 2px solid $gray-300;

				.postpijl {
					padding: 0 10px;
					align-self: end;
					grid-row: 1;
					grid-column: 3;

					.postlink {
						display: block;
						transform: rotate(90deg);
					}

					.postanchor {
						// Compenseer voor navbar
						padding-top: 44px;
						margin-top: -44px;
					}
				}

				.forumpasfoto {
					grid-row-start: 1;
				}

				.forumpostKnoppen {
					min-height: 0;

					a {
						// Disable JS
						opacity: 1 !important;
					}
				}
			}
		}

		.forum-paginering {
			margin-left: 0;
		}
	}
}
