.draad-readonly {
	font-style: italic;
}

.draad-gesloten {
	font-style: italic;
}

.draad-verwijderd, .post-verwijderd {
	font-weight: bold;
	color: $danger;
}

.forum-posten {
	display: flex;

	.auteur {
		flex: 0 0 160px;
	}
}

.moment {
	font-size: .9em;
	color: $gray-500;
	cursor: default;
}

.forum-header, .forum-footer {
	.form-group {
		margin-bottom: 0;
	}

	h1 {
		width: 100%;
	}
}

.auteur {
	flex: 0 0 160px; /* vast */
	padding: 4px;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto 1fr;

	.postpijl {
		grid-column: 2;
		grid-row: 1;
		justify-self: end;
		align-self: start;
	}

	.naam, .moment, .forumpostKnoppen {
		grid-column: 1;
	}

	.postpijl a:hover {
		color: black;
		text-decoration: none;
	}

	.forumpasfoto {
		grid-column: 2;
		grid-row-start: 2;
		grid-row-end: 4;
	}
}

.forum-draad, .forum-zoeken {
	display: flex;
	flex-direction: column;

	.tussenschot {
		height: 2px;
		margin: 0;
		padding: 0;
		background-color: $gray-300;

		&.ongelezenvanaf {
			background-color: $ongelezen-lijn;
		}
	}

	.forum-post, .forum-posten {
		display: flex;
		flex-direction: row;

		.forumpostKnoppen {
			min-height: 70px;

			a {
				border: none;
				background: none;
				float: left;
				padding: 2px;
				margin: 2px;
				width: 22px;
				height: 22px;
			}

			.forummodknop {
				opacity: 0;
				transition: opacity 0.3s;
			}
		}



		.forum-bericht {
			flex: 1; /* grow */

			margin: 0;
			padding: .2em .6em 10px;
			vertical-align: top;
			text-align: justify;

			.bewerkt {
				font-size: .8em;
				color: $gray-500;
				a {
					color: $gray-500;
				}

				hr {
					margin-bottom: 0;
					text-align: left;
				}
			}

			&.bericht0 {
				background-color: $forum-bericht0-bg;
			}

			&.bericht1 {
				background-color: $forum-bericht1-bg;
			}
		}

		.meldingen {
			flex: 0;
			margin: .2em;
		}
	}
}

#ongelezen {
	visibility: hidden;
	position: relative;
	top: -100px;
}

#draad-melding {
	display: none;
}

/* Paginering */
span.curpage {
	padding: 4px 5px;
	font-weight: bold;
	background-color: #e8cf2a;
	color: $black;
}

.forum-paginering {
	padding: 5px;
	margin-left: 160px;
	a {
		padding: 4px 5px;

		&:hover {
			background-color: $gray-300;
			text-decoration: none;
		}
	}

	.curpage {
		background-color: initial;
	}
}

/* Forum deel */
.forum-deel {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr auto auto;
	// CSS grid ondersteund niet echt gekleurde rows.
	// Dit is second-best. Er zijn 3 divs per row,
	// iedere 6e moet een kleurtje krijgen, en de divs daarna.
	.alternate-row {
		padding: 0.7em;
		&:nth-child(6n +1),
		&:nth-child(6n + 2),
		&:nth-child(6n + 3) {
			background-color: $forum-bericht1-bg;
		}
	}

	a:not(:hover) {
		text-decoration: none;
	}

	.paging,
	.meldingen,
	.forumdeel-omschrijving,
	.forum-posten,
	.forum-reageren {
		grid-column: 1 / span 3;
	}

	.paging,
	.header {
		font-weight: bold;
		color: $white;
		background-color: $primary;
		padding: 1em;

		a, a:hover {
			color: white;
		}
	}
}

.forumdeel-omschrijving {
	padding: 10px;
	margin: 10px 0;
	background-color: $gray-100;
	border: 1px solid $gray-500;
}

.forumheadbtn {
	float: right;
	margin-right: 15px;
}

/* Forum Categorie */
.forumcategorie {
	clear: left;

	h3 {

		a {
			color: $black;
		}
		a:hover {
			text-decoration: none;
			cursor: default;
		}
	}

	p.forumcategorie-omschrijving, p.forumdeel-omschrijving {
		text-align: justify;
	}

	.forumdelen {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.forumdeel {
			flex: 0 1 20%;

			margin: 10px;

			h3 {
				margin: 0.5em 0 1em 0;
			}

			hr::after {
				background-color: $gray-400;
			}

			h4 {
				margin-top: 0.5em;
				text-align: center;
			}
		}
	}
}

.forum-zoeken {
	.forum-zoeken-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		font-weight: bold;
		color: $white;
		background-color: $primary;
		padding: 1em;

		a, a:hover {
			color: white;
		}
	}
}

/**************************** GRAFIEK *******************************/
.grafiek-container {
	box-sizing: border-box;
	width: 750px;
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid $gray-300;
	background: $white;
	background: linear-gradient($gray-100 0, $white 50px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.grafiek-placeholder {
	width: 100%;
	height: 100%;
}

// Suggesties
.textcomplete-item {
	color: $black;
	&.active {
		background: $gray-200;
	}
}

@media screen and (max-width: 576px) { // sm
	.forum-header, .forum-footer {
		h1 {
			width: 100%;
		}
	}
}

@media screen and (max-width: 960px){ // lg
	.modfuncties {
		font-size: 0;
	}

	.forumcategorie .forumdelen .forumdeel {
		flex: 0 1 100%;
	}

	.forum-draad {
		width: auto;
		clear: both;

		.forum-post, .forum-posten {
			flex-direction: column;

			.auteur {
				flex: 1 0 ;

				grid-template-columns: 1fr auto auto;
				border-bottom: 2px solid $gray-300;

				.postpijl {
					padding: 0 10px;
					align-self: end;
					grid-row: 3;
					grid-column: 3;

					.postlink {
						display: block;
						transform: rotate(90deg);
					}

					.postanchor {
						// Compenseer voor navbar
						padding-top:44px;
						margin-top:-44px;
					}
				}

				.forumpasfoto {
					grid-row-start: 1;
				}

				.forumpostKnoppen {
					min-height: 0;

					a {
						// Disable JS
						opacity: 1 !important;
					}
				}
			}
		}

		.forum-paginering {
			margin-left: 0;
		}
	}

	#forumZoekenForm {
		float: none;
	}


	.forum-deel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.header { display: none; }
		.draad-titel { padding-bottom: 0; }
		.draad-laatste-post { flex-grow: 1; }

		.paging, .draad-titel, .forumdeel-omschrijving {
			width: 100%;
		}

		.forum-posten {
			display: flex;
			flex-direction: column;

			.auteur {
				flex: 0;
				grid-template-columns: 1fr auto auto;
				grid-template-rows: auto;
				border-bottom: 2px solid $gray-300;

				.postpijl {
					padding: 0 10px;
					align-self: end;
					grid-row: 1;
					grid-column: 3;

					.postlink {
						display: block;
						transform: rotate(90deg);
					}

					.postanchor {
						// Compenseer voor navbar
						padding-top:44px;
						margin-top:-44px;
					}
				}

				.forumpasfoto {
					grid-row-start: 1;
				}

				.forumpostKnoppen {
					min-height: 0;

					a {
						// Disable JS
						opacity: 1 !important;
					}
				}
			}
		}

		.forum-paginering {
			margin-left: 0;
		}
	}
}

