@import "~dropzone/dist/dropzone.css";

.dropzone {
	border: none !important;
	background: none !important;

	a {
		cursor: pointer;
	}
}

.subalbum-cover {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.3em;
	padding: 0.3em;

	height: 200px;

	a {
		justify-self: stretch;
		align-self: stretch;
	}

	img {
		max-width: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 3px;
	}

	.img0 {
		grid-area: 1 / 1 / 3 / 3;
	}
}

.album-description {
	color: $black;
	padding: 1em;
}

.subalbums {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.subalbum {
		margin: 1em;
		width: 300px;
		height: 300px;
		border: 1px solid $gray-500;
		border-radius: 5px;
	}

	.subalbum:hover {
		text-decoration: none;

		.subalbumname {
			opacity: 0.9;
			text-decoration: none;
		}
	}
}

.subalbums .subalbum, .jgallery-container-inner a {
	transition: opacity .4s ease-out;
}
.subalbums:hover .subalbum, .jgallery-container-inner:hover a {
	opacity: 0.8;
}
.subalbums:hover .subalbum:hover, .jgallery-container-inner:hover a:hover {
	opacity: 1;
}

.fototag {
	position: absolute;
	z-index: 10000;
	border-radius: 50%;
	border: 2px solid transparent;
	transition : border 200ms ease-out;
}
.fototag.showborder {
	border: 2px solid $white;
}
.fototag.active, .fototag:hover {
	border: 2px solid #e8cf2a;
}

.j-gallery-icon {
	display: inline-flex;
	cursor: pointer;
	width: 32px;
	height: 24px;
	vertical-align: middle;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	position: relative;
	margin: 0 0.25em;
}

.j-gallery-drop-down > div {
	position: absolute !important;
}
