/**
 * maalcie.css	| 	P.W.G. Brussee (brussee@live.nl)
 */

.maalcie-tabel .groep-tabs li span.fas {
	color: #a9a9a9;
}
.maalcie-tabel .groep-tabs li:hover span.fas {
	color: #ffffff;
}
.rowColor0 {
	background-color: $tabel-regel-donker;
}
.rowColor1 {
	background-color: $tabel-regel-licht;
}

/* maalcie-menu */

#maalcie-menu {
	width: 100%;
}
#maalcie-menu td {
	height: 20px;
}
#maalcie-menu td.active {
	font-weight: bold;
}
.maalcie-beheer-menu div.active {
	font-weight: bold;
}

/* maalcie-tabel */

.maalcie-tabel {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 1em;

	.eerste-in-week {
		border-top: 2px solid $black;
	}

	.later-in-week {
		border-top: 1px solid $black;
	}

	.left-border {
		border-left: 1px solid $black;
	}

	th {
		background-color: $tabel-header;
		font-weight: bold;
		padding: 1em;
		border-bottom: 2px solid #ffffff;
	}

	tr {
		background-color: $tabel-regel-donker;
	}

	td {
		vertical-align: top;
		text-align: left;
		padding: 0 1em;
		white-space: nowrap;

		&:hover {
			background-color: $tabel-hover;
			color: $black;
		}
	}

	.col-del {
		text-align: center;
	}
}

tr.taak-datum-head th,
tr.taak-datum-summary th {
	cursor: pointer;
	border-top: 5px solid #ffffff;
}
#taak-datum-head-first th {
	cursor: default;
}
#suggesties-tabel {
	padding: 0;
}
#suggesties-tabel tr:hover,
tr.taak-datum-summary:hover th {
	background-color: $tabel-hover;
}
#suggesties-controls {
	width: 100%;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}
#suggesties-controls td {
	padding: 0.5em;
}
#suggesties-controls label {
	margin-right: 1em;
}
.maalcie-rooster tr {
	background-color: transparent !important;
}
.maalcie-rooster td {
	width: 5px;
}
.maalcie-rooster td.taak {
	width: 170px;
}

/* cell style */

.maaltijd-open,
.maaltijd-aangemeld,
.abonnement-ingeschakeld,
.voorkeur-ingeschakeld,
.functie-toegewezen,
.taak-self {
	/* .taak-toegewezen */
	background-color: #aaeeaa;
	font-weight: bold;
	color: green;
	text-align: center;
}
.maaltijd-gesloten,
.maaltijd-afgemeld,
.abonnement-uitgeschakeld,
.voorkeur-uitgeschakeld,
.functie-open {
	/* .taak-open */
	background-color: #eeaaaa;
	font-weight: bold;
	color: red;
	text-align: center;
}

.taak-self {
	text-align: left;
}
td.maaltijd-aangemeld,
td.maaltijd-afgemeld {
	text-align: left;
	padding-left: 20px;
}
.abonnement-warning,
.taak-warning {
	background-color: #ffee66;
}
.abonnement-error {
	background-color: #000000;
}
.abonnement-error,
.abonnement-warning,
.maaltijd-gasten {
	text-align: center;
}
.taak-grijs,
.taak-grijs a {
	color: grey;
}
.taak-oud {
	opacity: 0.5;
}

.maaltijd-id {
	color: #999;
}

.maaltijdketzer-wrapper {
	background: $maaltijdketzer-bg;
}
