/**
 * menubeheer.css	| 	P.W.G. Brussee (brussee@live.nl)
 *
 */
ul.menubeheer-tree {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;

	li {
		margin-left: 25px;
		position: relative;
	}

	.btn.caret {
		position: absolute;
		left: -30px;
	}
}

.menu-item-row:hover {
	background-color: #ddd;
}
