$kleur-groen: #368C70;
$kleur-blauw-donker: #0A4F51;
$kleur-oranje: #E9600B;
$kleur-beige: #F2EBC7;
$kleur-blauw: #197173;
$kleur-rood: #C33A3A;
$kleur-rood-donker: #5A1C1C;

$theme-colors: (
	"primary": $kleur-groen,
	"danger": #ff4136,
	"white": $kleur-beige,
);
$body-bg: $kleur-blauw-donker;
$body-color: $kleur-beige;
$zijbalk-bg: $kleur-blauw;
$zijbalk-border: $kleur-oranje;
/*Invert kleuren*/

/*Kleuren fixes*/
#zijbalk .ishetal .ja, #zijbalk .ishetal .nee, .staatrood {
  color: #5DCCF3;
}
#zijbalk .ishetal .ja {
  color: #F883B1;
}
.bb-block:hover {
  -webkit-box-shadow: 0 0 10px #0A3292;
  -moz-box-shadow: 0 0 10px #0A3292;
  box-shadow: 0 0 10px #0A3292;
}
.bb-block:hover .bb-block {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
td.maaltijd-aangemeld, td.abonnement-ingeschakeld, td.maaltijd-afgemeld, td.abonnement-uitgeschakeld {
  color: #fff;
}

@import "../base";
