/* sine regno 2018*/
@font-face {
  font-family: GameOver;
  src: url('../../fonts/game-over/game-over.eot');
  src: url('../../fonts/game-over/game-over.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/game-over/game-over.woff2') format('woff2'),
  url('../../fonts/game-over/game-over.woff') format('woff'),
  url('../../fonts/game-over/game-over.ttf') format('truetype'),
  url('../../fonts/game-over/game-over.svg#Game-Over') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

* {
  font-family: GameOver, FontAwesome, 'Glyphicons Halflings', sans-serif !important;
}

/* Kleuren:
	 - Donkergrijs: #404041
	 - Blauw: #7cadd3
	 - Geel: #ffc556
 */

/*Achtergrond kleur zijbalk, forum headers, navigatie menu*/
#cd-zijbalk, #forumtabel th, .cd-primary-nav ul {
  background-color: #7cadd3 !important;
}

/*Koppen in het geel*/
h1, a, a:hover,
.cd-primary-nav > li > a:hover,
.cd-primary-nav > li > a.selected {
  color: #ffc556;
}
/* Lijntje tussen ongelezen en gelezen berichten */
#forumtabel tr.ongelezenvanaf td {
  background-color: #ffc556 !important;
}

/*BREADCRUMB FONT FIXES*/
.breadcrumbs * {
  vertical-align: baseline;
}

/*NAVIGATIE MENU*/

/*Andere koppen in het wit*/
.cd-primary-nav .cd-secondary-nav a,
.cd-primary-nav .cd-secondary-nav > li > a:hover,
.cd-primary-nav .cd-secondary-nav > li > a {
  color: #404041;
}

/*Hovering over navigatiemenuknop zorgt voor onderstreeping*/
.cd-primary-nav .cd-secondary-nav a:hover {
  text-decoration: underline !important;
  color: #ffc556;
}

/*Streepje onder naam*/
.cd-primary-nav > li > a:hover,
.cd-primary-nav > li > a.selected {
  box-shadow: inset 0 -2px 0 #404041;
}

/*ZIJBALK*/

#cd-zijbalk .cd-beeldmerk {
  background: url("../../images/dank.png") no-repeat center;
  background-size: contain;
  height: 100px;
}

/*Veel tekst van de zijbalk in het geel*/
#cd-zijbalk .ishetal .ja, #cd-zijbalk .ishetal .nee, .staatrood,
#cd-zijbalk .blok .item a, #cd-zijbalk .ishetal, #cd-zijbalk .blok .item {
  color: #404041;
}

/*Zijbalk grens van het scherm in grijs*/
#cd-zijbalk {
  border-color: #404041;
}

/*KNOPPEN*/

/*Knoppen in blauw gradient*/
.btn, input[type=submit], input[type=button], .progress-bar-info, .btn:focus,
input[type=submit]:focus, input[type=button]:focus {
  background-image: linear-gradient(to bottom, #46688a, #7cadd3);
  border: none !important;
}

/*Voor een mouse hover wordt de gradient omgedraaid*/
.btn:hover, input[type=submit]:hover, input[type=button]:hover {
  background-image: linear-gradient(to bottom, #7cadd3, #46688a);
  border: none !important;
}

/*Actieve knoppen iets ruimere kleuren -> zo ontstaat verschil tussen hover en active*/
.btn.active {
  background-image: linear-gradient(to bottom, #7cadd3, #29435b);
  border: none !important;
}

input.btn {
  margin-top: -14px;
  padding-bottom: 5px
}

.btn .ico {
  vertical-align: text-bottom;
}
