{% extends 'default.html.twig' %}

{% block titel %}Externe Login{% endblock %}

{% block content %}{{ cms('thuis') }}{% endblock %}

{% block modal %}
    <div class="modal show" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sessie geautoriseerd</h5>
                </div>
                <div class="modal-body">
                    <p>De sessie is geautoriseerd, je kan nu dit venster sluiten.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
