/*
 * Voor de Modal-box
 */

#mbox{
	padding:0px;
	background-color:#fff;
	border:1px solid #666;
	overflow:auto;
	font-family:"Lucida Grande",Verdana;
	font-size:12px;
	color:#333;
	text-align:left;
}

#mbm{
	font-family:sans-serif;
	font-weight:bold;
	float:right;
	padding-bottom:5px;
}

#ol{
	background-image: url('../images/overlay.png');
}

.dialog {
	display:none;
}

* html #ol {
	background-image:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}
          
#mbox #topbalk {
	display: block;
	text-align: right;
	height: 20px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #666666;
}

#mbox #dialogKop {
	display: inline;
	float: left;
	margin-top: 1px;
	margin-left: 5px;
	font-weight: bold;
}
          
#mbox #topbalk #close {
	float: right;
	display: block;
	text-align: right;
	height: 20px;
	width: 25px;
	background-color: #f2f2f2;
	background-image: url('../images/close.gif');
	border-left: 1px solid #666666;
}

#mbox #dialogContents {
	margin: 7px;
}