<?php
/*
 * ldap instellingen 
 * 
 */
$conf['im_convert'] = '/usr/bin/convert';

# LDAP-settings toegevoegd door Knorrie:

$conf['auth']['ldap']['server']      = 'ldap://ldap1.mendix.net:389';
$conf['auth']['ldap']['usertree']    = 'ou=leden,dc=csrdelft,dc=nl';
$conf['auth']['ldap']['grouptree']   = 'ou=groepen,dc=csrdelft,dc=nl';
$conf['auth']['ldap']['userfilter']  = '(uid=%{user})';
$conf['auth']['ldap']['groupfilter'] = '(member=%{dn})';
$conf['auth']['ldap']['version']     = 3;
# heb starttls geprobeerd, maar die weigert, ik denk vanwege ontbreken van CA... nog een keer uitzoeken
# maar hier in server-subnet boeit het niet zo
$conf['auth']['ldap']['starttls']    = 0;

$conf['auth']['ldap']['binddn']      = 'cn=wiki,dc=csrdelft,dc=nl';
$conf['auth']['ldap']['bindpw']      = 'hiereenwachtwoord';
$conf['auth']['ldap']['debug']       = 0;

$conf['auth']['ldap']['mapping']['name'] = 'cn';

