/**
 * Eigen aanpassingen op default opmaak
 */

/**
 * C.S.R. Menu gebruikt een witte background voor main.cd-main-content,
 * dit herstelt de originele achtergrond van de body weer
 */
main.cd-main-content {
    background: #fbfaf9 url(/wiki/lib/tpl/dokuwiki/images/page-gradient.png) top left repeat-x;
}


/*
 * Verberg knopjes die dubbel zijn tov CSRmenu in 'dokuwiki' template
 */
.cd-main-content .tpl_dokuwiki #dokuwiki__usertools .user {
    display: none;
}
.cd-main-content .tpl_dokuwiki #dokuwiki__usertools .action.logout {
    display: none;
}

/* zoekvak net onder CSRmenu */
#dokuwiki__header .tools {
    padding-top: 35px;
    margin-bottom: 0;
}
/* usertools net naast CSRmenu */
#dokuwiki__usertools {
    right: 245px;
}

@media (max-width: @ini_phone_width) { /* note: media rule is combined with @media screen */
    /* voor telefoonbreedte, alles onder menu plaatsen */
    #dokuwiki__header {
        padding-top: 50px !important; /* to override @media only screen and (max-width: ...etc */
        /* en verplaatsen zoekveld ongedaan maken */
        .tools {
            padding-top: 0;
        }
    }
}
/* zoekvakje is net voordat telefoonbreedte bereikt wordt net iets te breed.. */
@media (max-width: 550px) {
    form.search input.edit {
        width: 15em;
    }
}
 /*geen lijntjes om broodkruimels */
.dokuwiki div.breadcrumbs {
    border-bottom-width: 0;
    border-top-width: 0;
    margin-left: @ini_sidebar_width+2em;
    margin-bottom: .5em;
}
@media (max-width: @ini_tablet_width) {
    .dokuwiki div.breadcrumbs {
        margin-left: 0;
    }
}
.dokuwiki div.breadcrumbs div:only-child {
    border-bottom-width: 0;
    border-top-width: 0;
}
.dokuwiki div.breadcrumbs div:first-child {
    border-top-width: 0;
}
.dokuwiki div.breadcrumbs div:last-child {
    border-bottom-width: 0;
}
/* vergelijkbare layout csrdelft.nl */
.dokuwiki .youarehere {
   font-weight: bold;
}
/*tekst verbergen en zelfde afmetingen geven als module-icon dat dit vervangt */
.dokuwiki .youarehere .bchead {
    width: 29px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.dokuwiki img.module-icon {
    top: 0;
}
/* h4 kopjes (===heading===) meer op csrdelft.nl laten lijken */
#dokuwiki__aside .content h4 {
    font-weight: normal;
    padding: 2px 0 5px 0;
    background: transparent url("http://plaetjes.csrdelft.nl/layout/portal-break.png") no-repeat bottom left;
}


/**
 * CSS edits for data plugin
 */

/* ----dataentry data plugin--- */

/* hele wiki */
div.dataplugin_entry dl {
	width: 60%; 
	font-size: 100%;
}

div.dataplugin_entry dl dd {
    /* float: left;
    margin-left: 0.5em; aligns long values:*/
    float: none;
    margin-left: 10.5em;
    width: auto;
    word-wrap: break-word;
}

div.dataaggregation div.filter {
	margin-top:40px;
	margin-bottom:10px;
}
div.dataaggregation span.filter {
	font-size: 120%;
	font-weight: bold;
}

/* vormingsbank */
div.vb {
	/* code for the container block, such as position, layout and borders, goes here */
}

div.vb dl {
	/* vakje om de dataentry */
	border: 0;
	margin-left:0;
	padding-left:0;
}

div.vb dl > dt { 
	/* this will allow you to style the definition terms */
	text-align: left;
}

div.vb dl > dt + dd {
	/* this will allow you to style to the definition values */
}
div.vb dl dd.titel{
	/* individual entries of dataentry */
	/* font-size: 200%;*/
}
/* --- einde dataentry  ---*/

/* tag cloud data plugin */
ul.dataplugin_cloud{
	line-height: 1.8em !important; 
	margin-left: 1.6em !important;
}

ul.dataplugin_cloud li.cl0 { font-size: 80% }
ul.dataplugin_cloud li.cl1 { font-size: 95% }
ul.dataplugin_cloud li.cl2 { font-size: 110% }
ul.dataplugin_cloud li.cl3 { font-size: 130% }
ul.dataplugin_cloud li.cl4 { font-size: 150% }



/*
 * Tuning layout Vector template
 */
.skin-vector {

    /* custom CSS to make upload button more visisble */
    .qq-upload-button {
        background-color: beige;
        border: 1px solid #AAAAAA;
        padding: 4px;
    }

    .qq-upload-button:hover {
        background-color: #dee7ec;
    }

    div.dokuwiki .toolbar button {
        margin: 0 0 1px 0;
    }

    /* different layout for wrap-plugin in sidebar of Vector template */
    #panel .dokuwiki {
        div.wrap_info,
        div.wrap_important,
        div.wrap_alert,
        div.wrap_tip,
        div.wrap_help,
        div.wrap_todo,
        div.wrap_download {
            background-position: 50% 10px;
            padding: 70px 1em .5em 1em;
        }
    }
}

/*
 * disccussion plugin
 */
div.dokuwiki div.comment_wrapper {
	background-color: #fff;
	margin: 0;
	color: #5C5B5B;
	padding: 0.5em 0 0 0;
}

div.dokuwiki div.comment_wrapper h2 {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px;

    a {
        color: #888;
    }
}

div.dokuwiki .comment_head {
    color: #888;

    span.author {
        background: transparent url(/wiki/lib/plugins/discussion/images/grayuser.gif) 0 1px no-repeat;
    }
}
div.dokuwiki div.comment_buttons input.button {
    margin: 0;
    padding: .1em .5em;
    color: #555;
}
div.dokuwiki div.comment_form {
    margin: 0 0.5em;

    input.comment_submit {
        float: left;
    }

    input.comment_preview_button {
        margin-left: 0.5em;
        float: left;
    }
}

div.dokuwiki div#discussion__comment_preview {
    padding: 0;
}

/* onduidelijk waarvoor dit was??
div.dokuwiki label.block {
    font-weight: normal;
    font-size: 0.8em;
} */

div.dokuwiki div.comment_subscribe {
    padding: 2px 1.5em;

    input {
        margin: 2px 0 2px 0;
    }
}

/**
 * plugin indexmenu
 *
 * Namespace in index without page link in nojs mode. !important has to be used
 */
div.li a.indexmenu_idx {
    color: __text_neu__ !important; /* original: __missing__*/
}

/*
 * extra class for Wrap Plugin
 */
.dokuwiki div.wrap_blockquote {
    padding: 0 1.25em;
    border: solid __border__;
    border-width: 0 0 0 .25em;
}

