RewriteEngine On

# Fotoalbum backwards compatibility
RewriteRule ^fotoalbum/?(.*)$	/fotoalbum/$1 [QSA,R=301,L]

# Oude owee redirected
RewriteRule ^owee/?$	/csrindeowee/

# Als we naar /actueel/ gaan worden we doorgestuurd naar de mededelingen
RewriteRule ^/?$	/actueel/mededelingen/

# Bijbelleesrooster backwards compatibility
RewriteRule ^bijbelrooster/?	/bijbelrooster [QSA,R=301,L]

# Eetplan
RewriteRule ^eetplan/$	eetplan.php
RewriteRule ^eetplan/sjaars/([0-9]*)	eetplan.php?pheutID=$1
RewriteRule ^eetplan/huis/([0-9]*)	eetplan.php?huisID=$1
