RewriteEngine On

# Als we naar /actueel/ gaan worden we doorgestuurd naar de mededelingen
RewriteRule ^/?$ /actueel/mededelingen/ [R]

# Sjaarsacties
RewriteRule ^sjaarsacties/?$ sjaarsacties.php

# Bijbelleesrooster
RewriteRule ^bijbelrooster/$ bijbelrooster.php

# Eetplan
RewriteRule ^eetplan/$ eetplan.php
RewriteRule ^eetplan/sjaars/([0-9]*) eetplan.php?pheutID=$1
RewriteRule ^eetplan/huis/([0-9]*) eetplan.php?huisID=$1

# Pagina's met tekst
RewriteRule ^owee/programma/? ../pagina.php?naam=oweeprogramma
RewriteRule ^owee/? ../pagina.php?naam=owee

#RewriteRule ^agenda/? ../pagina.php?naam=agenda
RewriteRule ^agendaa/? ../pagina.php?naam=agenda