RewriteEngine On

# Backwards compatibility
RewriteRule ^groepen/?(.*)$		/groepen/$1		[QSA,R=301,L]
RewriteRule ^owee/?$			/csrindeowee	[R,L]

# Als we naar /actueel/ gaan worden we doorgestuurd naar de mededelingen
RewriteRule ^/?$		/mededelingen [R,L]