* text=auto !eol
bin/ldap-import.php -text
bin/maalcie.php -text
bin/maaltrack.php -text
bin/mk_commissie_ldif.php -text
bin/mk_commissie_ldif.txt -text
bin/mkledenldif.php -text
bin/mootabos.php -text
bin/saldo-kopieer.php -text
bin/socciesaldi-koppelen.php -text
bin/statgraphgen.php -text
bin/welkom.php -text
/csrdelft.sql -text
etc/csrmail.ini.sample -text
etc/gozerbot.ini.sample -text
etc/ldap.ini.sample -text
etc/mysql.ini.sample -text
etc/soccie.ini.sample -text
gozerbot/csrdelft.py -text
htdocs/.htaccess -text
htdocs/actueel/.htaccess -text
htdocs/actueel/courant/.htaccess -text
htdocs/actueel/courant/archief.php -text
htdocs/actueel/courant/courant.php -text
htdocs/actueel/courant/index.php -text
htdocs/actueel/courant/verzenden.php -text
htdocs/actueel/eetplan.php -text
htdocs/actueel/fotoalbum/.htaccess -text
htdocs/actueel/fotoalbum/index.php -text
htdocs/actueel/fotoalbum/verwerk.php -text
htdocs/actueel/groepen/.htaccess -text
htdocs/actueel/groepen/groep.php -text
htdocs/actueel/groepen/groepen.php -text
htdocs/actueel/maaltijden/.htaccess -text
htdocs/actueel/maaltijden/archief.php -text
htdocs/actueel/maaltijden/beheer.php -text
htdocs/actueel/maaltijden/index.php -text
htdocs/actueel/maaltijden/maaltijdlijst.php -text
htdocs/actueel/maaltijden/saldi.php -text
htdocs/actueel/maaltijden/voorkeuren.php -text
htdocs/actueel/mededelingen.php -text
htdocs/actueel/sjaarsacties.php -text
htdocs/bot/.htaccess.sample -text
htdocs/bot/cmnd.php -text
htdocs/communicatie/.htaccess -text
htdocs/communicatie/documenten/.htaccess -text
htdocs/communicatie/documenten/index.php -text
htdocs/communicatie/documenten/neerladen.php -text
htdocs/communicatie/documenten/toevoegen.php -text
htdocs/communicatie/forum/.htaccess -text
htdocs/communicatie/forum/bewerken.js.php -text
htdocs/communicatie/forum/bewerken.php -text
htdocs/communicatie/forum/getToken.php -text
htdocs/communicatie/forum/goedkeuren.php -text
htdocs/communicatie/forum/index.php -text
htdocs/communicatie/forum/onderwerp.php -text
htdocs/communicatie/forum/plakkerig.php -text
htdocs/communicatie/forum/rss.php -text
htdocs/communicatie/forum/sluiten.php -text
htdocs/communicatie/forum/stemmen.php -text
htdocs/communicatie/forum/stemming.php -text
htdocs/communicatie/forum/toevoegen.php -text
htdocs/communicatie/forum/verplaatsen.php -text
htdocs/communicatie/forum/verwijderen.php -text
htdocs/communicatie/forum/zoeken.php -text
htdocs/communicatie/lijst.php -text
htdocs/communicatie/moten.php -text
htdocs/communicatie/profiel.php -text
htdocs/communicatie/verjaardagen.php -text
htdocs/index.php -text
htdocs/layout/builder.js -text
htdocs/layout/csrdelft.js -text
htdocs/layout/default.css -text
htdocs/layout/documenten.css -text
htdocs/layout/effects.js -text
htdocs/layout/fastlightbox.js -text
htdocs/layout/forum.css -text
htdocs/layout/fotoalbum.css -text
htdocs/layout/groepen.css -text
htdocs/layout/lightbox.css -text
htdocs/layout/lightbox.js -text
htdocs/layout/menu.js -text
htdocs/layout/owee.css -text
htdocs/layout/pngfix.js -text
htdocs/layout/profiel.css -text
htdocs/layout/prototype.js -text
htdocs/layout/scriptaculous.js -text
htdocs/layout/showhide.js -text
htdocs/layout/slideshow.js -text
htdocs/layout/undohtml.css -text
htdocs/layout/vb.css -text
htdocs/login.php -text
htdocs/logout.php -text
htdocs/pagina.php -text
htdocs/robots.txt -text
htdocs/segfault.php -text
htdocs/tools/.htaccess -text
htdocs/tools/eetplan.php -text
htdocs/tools/index.php -text
htdocs/tools/leden-csv.php -text
htdocs/tools/ledenkaart.php -text
htdocs/tools/memcachedstatus.php -text
htdocs/tools/mootlijsten.php -text
htdocs/tools/pasfotos.php -text
htdocs/tools/phpinfo.php -text
htdocs/tools/query.php -text
htdocs/tools/roodschopper.php -text
htdocs/tools/saldo-overzicht.php -text
htdocs/tools/saldografiek.php -text
htdocs/tools/sendmail/maildata.php -text
htdocs/tools/sendmail/sendmail.php -text
htdocs/tools/soccie.php -text
htdocs/tools/stats.php -text
htdocs/tools/streeplijst.php -text
htdocs/tools/ubb.php -text
htdocs/vb/ajaxsearch.php -text
htdocs/vb/images/add.png -text
htdocs/vb/images/blocktitle_vb.png -text
htdocs/vb/images/book.png -text
htdocs/vb/images/containerbg_top_vb.png -text
htdocs/vb/images/discussion.png -text
htdocs/vb/images/edit.png -text
htdocs/vb/images/file.png -text
htdocs/vb/images/key_vb.png -text
htdocs/vb/images/leaf.png -text
htdocs/vb/images/link.png -text
htdocs/vb/images/logo_vb.png -text
htdocs/vb/images/menubg_vb.png -text
htdocs/vb/images/menubutton_hover_vb.png -text
htdocs/vb/images/menubutton_vb.png -text
htdocs/vb/images/node.png -text
htdocs/vb/images/remove.png -text
htdocs/vb/images/submenubg_vb.png -text
htdocs/vb/images/vormingsbank_vb.png -text
htdocs/vb/images/vormingsbank_vb_beta.png -text
htdocs/vb/images/zoekveld_vb.png -text
htdocs/vb/index.php -text
htdocs/vb/jsonencode.js -text
lib/blowfish/blowfish.php -text
lib/blowfish/blowfish_default_key.php -text
lib/chart-0.8/COPYING -text
lib/chart-0.8/INSTALLATION -text
lib/chart-0.8/IsoLatin1.enc -text
lib/chart-0.8/chart-manual.php -text
lib/chart-0.8/chart.css -text
lib/chart-0.8/chart.php -text
lib/chart-0.8/rgb.php -text
lib/class.controller.php -text
lib/class.csrdelft.php -text
lib/class.csrgozerbot.php -text
lib/class.csrsmarty.php -text
lib/class.csrubb.php -text
lib/class.documenten.php -text
lib/class.documentencontent.php -text
lib/class.eetplan.php -text
lib/class.eetplancontent.php -text
lib/class.fotoalbum.php -text
lib/class.fotoalbumcontent.php -text
lib/class.includer.php -text
lib/class.knop.php -text
lib/class.kolom.php -text
lib/class.ldap.php -text
lib/class.ledenlijstcontent.php -text
lib/class.lid.php -text
lib/class.menu.php -text
lib/class.motencontent.php -text
lib/class.mysql.php -text
lib/class.neerladen.php -text
lib/class.neerladencontent.php -text
lib/class.nieuws.php -text
lib/class.nieuwscontent.php -text
lib/class.pagina.php -text
lib/class.paginacontent.php -text
lib/class.profiel.php -text
lib/class.profielcontent.php -text
lib/class.saldi.php -text
lib/class.savedquery.php -text
lib/class.simplehtml.php -text
lib/class.sjaarsactie.php -text
lib/class.sjaarsactiecontent.php -text
lib/class.state.php -text
lib/class.streeplijstcontent.php -text
lib/class.stringincluder.php -text
lib/class.toevoegen.php -text
lib/class.toevoegencontent.php -text
lib/class.verjaardagcontent.php -text
lib/courant/class.courant.php -text
lib/courant/class.courantarchiefcontent.php -text
lib/courant/class.courantbeheercontent.php -text
lib/courant/class.courantcontent.php -text
lib/documenten/class.categorie.php -text
lib/documenten/class.document.php -text
lib/forum/class.forum.php -text
lib/forum/class.forumcontent.php -text
lib/forum/class.forumonderwerp.php -text
lib/forum/class.forumonderwerpcontent.php -text
lib/forum/class.forumpoll.php -text
lib/forum/class.pollcontent.php -text
lib/gozerbot/class.AES.php -text
lib/gozerbot/class.GozerbotUDP.php -text
lib/groepen/class.groep.php -text
lib/groepen/class.groepcontent.php -text
lib/groepen/class.groepcontroller.php -text
lib/groepen/class.groepen.php -text
lib/include.common.php -text
lib/include.config.php -text
lib/include.defines.php.sample -text
lib/maaltijden/class.maaltijd.php -text
lib/maaltijden/class.maaltijdabocontent.php -text
lib/maaltijden/class.maaltijdbeheercontent.php -text
lib/maaltijden/class.maaltijdcontent.php -text
lib/maaltijden/class.maaltijdlijstcontent.php -text
lib/maaltijden/class.maaltijdvoorkeurcontent.php -text
lib/maaltijden/class.maaltrack.php -text
lib/smarty/BUGS -text
lib/smarty/COPYING.lib -text
lib/smarty/ChangeLog -text
lib/smarty/FAQ -text
lib/smarty/INSTALL -text
lib/smarty/NEWS -text
lib/smarty/QUICK_START -text
lib/smarty/README -text
lib/smarty/RELEASE_NOTES -text
lib/smarty/TODO -text
lib/smarty/demo/configs/test.conf -text
lib/smarty/demo/index.php -text
lib/smarty/demo/templates/footer.tpl -text
lib/smarty/demo/templates/header.tpl -text
lib/smarty/demo/templates/index.tpl -text
lib/smarty/libs/Config_File.class.php -text
lib/smarty/libs/Smarty.class.php -text
lib/smarty/libs/Smarty_Compiler.class.php -text
lib/smarty/libs/debug.tpl -text
lib/smarty/libs/internals/core.assemble_plugin_filepath.php -text
lib/smarty/libs/internals/core.assign_smarty_interface.php -text
lib/smarty/libs/internals/core.create_dir_structure.php -text
lib/smarty/libs/internals/core.display_debug_console.php -text
lib/smarty/libs/internals/core.get_include_path.php -text
lib/smarty/libs/internals/core.get_microtime.php -text
lib/smarty/libs/internals/core.get_php_resource.php -text
lib/smarty/libs/internals/core.is_secure.php -text
lib/smarty/libs/internals/core.is_trusted.php -text
lib/smarty/libs/internals/core.load_plugins.php -text
lib/smarty/libs/internals/core.load_resource_plugin.php -text
lib/smarty/libs/internals/core.process_cached_inserts.php -text
lib/smarty/libs/internals/core.process_compiled_include.php -text
lib/smarty/libs/internals/core.read_cache_file.php -text
lib/smarty/libs/internals/core.rm_auto.php -text
lib/smarty/libs/internals/core.rmdir.php -text
lib/smarty/libs/internals/core.run_insert_handler.php -text
lib/smarty/libs/internals/core.smarty_include_php.php -text
lib/smarty/libs/internals/core.write_cache_file.php -text
lib/smarty/libs/internals/core.write_compiled_include.php -text
lib/smarty/libs/internals/core.write_compiled_resource.php -text
lib/smarty/libs/internals/core.write_file.php -text
lib/smarty/libs/plugins/block.table_foreach.php -text
lib/smarty/libs/plugins/block.textformat.php -text
lib/smarty/libs/plugins/compiler.assign.php -text
lib/smarty/libs/plugins/function.assign_debug_info.php -text
lib/smarty/libs/plugins/function.config_load.php -text
lib/smarty/libs/plugins/function.counter.php -text
lib/smarty/libs/plugins/function.cycle.php -text
lib/smarty/libs/plugins/function.debug.php -text
lib/smarty/libs/plugins/function.eval.php -text
lib/smarty/libs/plugins/function.fetch.php -text
lib/smarty/libs/plugins/function.html_checkboxes.php -text
lib/smarty/libs/plugins/function.html_image.php -text
lib/smarty/libs/plugins/function.html_options.php -text
lib/smarty/libs/plugins/function.html_radios.php -text
lib/smarty/libs/plugins/function.html_select_date.php -text
lib/smarty/libs/plugins/function.html_select_time.php -text
lib/smarty/libs/plugins/function.html_table.php -text
lib/smarty/libs/plugins/function.knop.php -text
lib/smarty/libs/plugins/function.knopConfig.php -text
lib/smarty/libs/plugins/function.mailto.php -text
lib/smarty/libs/plugins/function.math.php -text
lib/smarty/libs/plugins/function.popup.php -text
lib/smarty/libs/plugins/function.popup_init.php -text
lib/smarty/libs/plugins/function.sliding_pager.php -text
lib/smarty/libs/plugins/modifier.capitalize.php -text
lib/smarty/libs/plugins/modifier.cat.php -text
lib/smarty/libs/plugins/modifier.count_characters.php -text
lib/smarty/libs/plugins/modifier.count_paragraphs.php -text
lib/smarty/libs/plugins/modifier.count_sentences.php -text
lib/smarty/libs/plugins/modifier.count_words.php -text
lib/smarty/libs/plugins/modifier.csrnaam.php -text
lib/smarty/libs/plugins/modifier.date_format.php -text
lib/smarty/libs/plugins/modifier.debug_print_var.php -text
lib/smarty/libs/plugins/modifier.default.php -text
lib/smarty/libs/plugins/modifier.escape.php -text
lib/smarty/libs/plugins/modifier.indent.php -text
lib/smarty/libs/plugins/modifier.lower.php -text
lib/smarty/libs/plugins/modifier.nl2br.php -text
lib/smarty/libs/plugins/modifier.pasfoto.php -text
lib/smarty/libs/plugins/modifier.regex_replace.php -text
lib/smarty/libs/plugins/modifier.reldate.php -text
lib/smarty/libs/plugins/modifier.replace.php -text
lib/smarty/libs/plugins/modifier.rfc2822.php -text
lib/smarty/libs/plugins/modifier.spacify.php -text
lib/smarty/libs/plugins/modifier.string_format.php -text
lib/smarty/libs/plugins/modifier.strip.php -text
lib/smarty/libs/plugins/modifier.strip_tags.php -text
lib/smarty/libs/plugins/modifier.truncate.php -text
lib/smarty/libs/plugins/modifier.ubb.php -text
lib/smarty/libs/plugins/modifier.upper.php -text
lib/smarty/libs/plugins/modifier.wordwrap.php -text
lib/smarty/libs/plugins/outputfilter.trimwhitespace.php -text
lib/smarty/libs/plugins/shared.escape_special_chars.php -text
lib/smarty/libs/plugins/shared.make_timestamp.php -text
lib/smarty/misc/smarty_icon.README -text
lib/smarty/misc/smarty_icon.gif -text
lib/smarty/unit_test/README -text
lib/smarty/unit_test/config.php -text
lib/smarty/unit_test/configs/globals_double_quotes.conf -text
lib/smarty/unit_test/configs/globals_single_quotes.conf -text
lib/smarty/unit_test/smarty_unit_test.php -text
lib/smarty/unit_test/smarty_unit_test_gui.php -text
lib/smarty/unit_test/templates/assign_var.tpl -text
lib/smarty/unit_test/templates/constant.tpl -text
lib/smarty/unit_test/templates/index.tpl -text
lib/smarty/unit_test/templates/parse_math.tpl -text
lib/smarty/unit_test/templates/parse_obj_meth.tpl -text
lib/smarty/unit_test/test_cases.php -text
lib/templates/courant/courantbeheer.tpl -text
lib/templates/courant/mail/c_header.tpl -text
lib/templates/courant/mail/courant.tpl -text
lib/templates/courant/mail/csrmail_owee.tpl -text
lib/templates/csrdelft.tpl -text
lib/templates/documenten/document.tpl -text
lib/templates/documenten/documenten.tpl -text
lib/templates/forum/list_categories.tpl -text
lib/templates/forum/list_onderwerpen.tpl -text
lib/templates/forum/list_recent.tpl -text
lib/templates/forum/onderwerp.tpl -text
lib/templates/forum/rss.tpl -text
lib/templates/forum/zoeken.tpl -text
lib/templates/fotoalbum/album.tpl -text
lib/templates/groepen/groep.tpl -text
lib/templates/groepen/groepen.tpl -text
lib/templates/groepen/groepformulier.tpl -text
lib/templates/maalciemail.tpl -text
lib/templates/maaltijdketzer/abo-overzicht.tpl -text
lib/templates/maaltijdketzer/beheer.tpl -text
lib/templates/maaltijdketzer/formulier.tpl -text
lib/templates/maaltijdketzer/lijst.tpl -text
lib/templates/maaltijdketzer/lijst_fiscaal.tpl -text
lib/templates/maaltijdketzer/maaltijdketzer.tpl -text
lib/templates/maaltijdketzer/saldi-updater.tpl -text
lib/templates/maaltijdketzer/voorkeuren.tpl -text
lib/templates/menu.tpl -text
lib/templates/owee_csrdelft.tpl -text
lib/templates/owee_menu.tpl -text
lib/templates/profiel.tpl -text
lib/templates/socciemail.tpl -text
lib/templates/vb/home.tpl -text
lib/templates/vb/search.tpl -text
lib/templates/vb/source.tpl -text
lib/templates/vb/subject.tpl -text
lib/templates/vb/theme.tpl -text
lib/templates/vb/vbcsrdelft.tpl -text
lib/templates/vb/vbmenu.tpl -text
lib/ubb/LICENSE -text
lib/ubb/README -text
lib/ubb/TODO -text
lib/ubb/eamBBParser.class.php -text
lib/ubb/eamFunParser.class.php -text
lib/ubb/plugins/rainbow.php -text
lib/vb/class.navigator.php -text
lib/vb/class.subjecttree.php -text
lib/vb/class.vb.php -text
lib/vb/class.vbbooksource.php -text
lib/vb/class.vbcontent.php -text
lib/vb/class.vbdiscussionsource.php -text
lib/vb/class.vbfilesource.php -text
lib/vb/class.vbitem.php -text
lib/vb/class.vblinksource.php -text
lib/vb/class.vbmain.php -text
lib/vb/class.vbsearch.php -text
lib/vb/class.vbsource.php -text
lib/vb/class.vbsourceopinion.php -text
lib/vb/class.vbsourcesource.php -text
lib/vb/class.vbsubject.php -text
lib/vb/class.vbsubjectsource.php -text
lib/vb/features.txt -text
