/*.iml
/*.sln
/*.suo
/.idea
/.project
/.settings
/C.S.R.[!!-~]Delft.phpproj
bin/ldap/bla
bin/ldap/settings.py
data/*
data/documenten/*
data/log/*
data/smarty/*
data/smarty/cache/*
data/smarty/compiled/*
etc/*.crt
etc/*.kdbx
etc/bot.htpasswd
etc/cron.ini
etc/csrdelft.nl.csr
etc/csrdelft.nl.key
etc/csrmail.ini
etc/gozerbot.ini
etc/ldap.ini
etc/mysql.ini
etc/soccie.ini
htdocs/download
htdocs/enquete
htdocs/google*.html
htdocs/handelingen
htdocs/happening
htdocs/layout/js/flot/examples
htdocs/owee
htdocs/owee/2006/plaetjes/*
htdocs/owee/2007/plaetjes/*
htdocs/plaetjes/*
htdocs/tools/alphabanner/alphabanner.cache.*
htdocs/wiki/*.iml
htdocs/wiki/.idea
htdocs/wiki/conf/acl.auth.php
htdocs/wiki/conf/local.php
htdocs/wiki/conf/local.php.bak
htdocs/wiki/conf/local.php.save
htdocs/wiki/conf/local.protected.php
htdocs/wiki/conf/plugins.local.php
htdocs/wiki/conf/plugins.local.php.bak
htdocs/wiki/conf/plugins.php
htdocs/wiki/conf/users.auth.php
htdocs/wiki/data/attic/*
htdocs/wiki/data/cache/*
htdocs/wiki/data/index/*
htdocs/wiki/data/locks/*
htdocs/wiki/data/media/*
htdocs/wiki/data/media_attic/*
htdocs/wiki/data/media_meta/*
htdocs/wiki/data/meta/*
htdocs/wiki/data/pages/*
htdocs/wiki/data/pages/wiki/*
htdocs/wiki/data/tmp/*
htdocs/wiki/inc/lang/af
htdocs/wiki/inc/lang/ar
htdocs/wiki/inc/lang/az
htdocs/wiki/inc/lang/bg
htdocs/wiki/inc/lang/ca
htdocs/wiki/inc/lang/ca-valencia
htdocs/wiki/inc/lang/cs
htdocs/wiki/inc/lang/da
htdocs/wiki/inc/lang/de
htdocs/wiki/inc/lang/de-informal
htdocs/wiki/inc/lang/el
htdocs/wiki/inc/lang/eo
htdocs/wiki/inc/lang/es
htdocs/wiki/inc/lang/et
htdocs/wiki/inc/lang/eu
htdocs/wiki/inc/lang/fa
htdocs/wiki/inc/lang/fi
htdocs/wiki/inc/lang/fo
htdocs/wiki/inc/lang/fr
htdocs/wiki/inc/lang/gl
htdocs/wiki/inc/lang/he
htdocs/wiki/inc/lang/hi
htdocs/wiki/inc/lang/hr
htdocs/wiki/inc/lang/hu
htdocs/wiki/inc/lang/ia
htdocs/wiki/inc/lang/id
htdocs/wiki/inc/lang/id-ni
htdocs/wiki/inc/lang/is
htdocs/wiki/inc/lang/it
htdocs/wiki/inc/lang/ja
htdocs/wiki/inc/lang/km
htdocs/wiki/inc/lang/ko
htdocs/wiki/inc/lang/ku
htdocs/wiki/inc/lang/la
htdocs/wiki/inc/lang/lb
htdocs/wiki/inc/lang/lt
htdocs/wiki/inc/lang/lv
htdocs/wiki/inc/lang/mg
htdocs/wiki/inc/lang/mk
htdocs/wiki/inc/lang/mr
htdocs/wiki/inc/lang/ne
htdocs/wiki/inc/lang/no
htdocs/wiki/inc/lang/pl
htdocs/wiki/inc/lang/pt
htdocs/wiki/inc/lang/pt-br
htdocs/wiki/inc/lang/ro
htdocs/wiki/inc/lang/ru
htdocs/wiki/inc/lang/sk
htdocs/wiki/inc/lang/sl
htdocs/wiki/inc/lang/sq
htdocs/wiki/inc/lang/sr
htdocs/wiki/inc/lang/sv
htdocs/wiki/inc/lang/th
htdocs/wiki/inc/lang/tr
htdocs/wiki/inc/lang/uk
htdocs/wiki/inc/lang/vi
htdocs/wiki/inc/lang/zh
htdocs/wiki/inc/lang/zh-tw
htdocs/wiki/lib/plugins/acl/lang/af
htdocs/wiki/lib/plugins/acl/lang/ar
htdocs/wiki/lib/plugins/acl/lang/az
htdocs/wiki/lib/plugins/acl/lang/bg
htdocs/wiki/lib/plugins/acl/lang/ca
htdocs/wiki/lib/plugins/acl/lang/ca-valencia
htdocs/wiki/lib/plugins/acl/lang/cs
htdocs/wiki/lib/plugins/acl/lang/da
htdocs/wiki/lib/plugins/acl/lang/de
htdocs/wiki/lib/plugins/acl/lang/de-informal
htdocs/wiki/lib/plugins/acl/lang/el
htdocs/wiki/lib/plugins/acl/lang/eo
htdocs/wiki/lib/plugins/acl/lang/es
htdocs/wiki/lib/plugins/acl/lang/et
htdocs/wiki/lib/plugins/acl/lang/eu
htdocs/wiki/lib/plugins/acl/lang/fa
htdocs/wiki/lib/plugins/acl/lang/fi
htdocs/wiki/lib/plugins/acl/lang/fo
htdocs/wiki/lib/plugins/acl/lang/fr
htdocs/wiki/lib/plugins/acl/lang/gl
htdocs/wiki/lib/plugins/acl/lang/he
htdocs/wiki/lib/plugins/acl/lang/hi
htdocs/wiki/lib/plugins/acl/lang/hr
htdocs/wiki/lib/plugins/acl/lang/hu
htdocs/wiki/lib/plugins/acl/lang/ia
htdocs/wiki/lib/plugins/acl/lang/id
htdocs/wiki/lib/plugins/acl/lang/id-ni
htdocs/wiki/lib/plugins/acl/lang/is
htdocs/wiki/lib/plugins/acl/lang/it
htdocs/wiki/lib/plugins/acl/lang/ja
htdocs/wiki/lib/plugins/acl/lang/km
htdocs/wiki/lib/plugins/acl/lang/ko
htdocs/wiki/lib/plugins/acl/lang/ku
htdocs/wiki/lib/plugins/acl/lang/la
htdocs/wiki/lib/plugins/acl/lang/lb
htdocs/wiki/lib/plugins/acl/lang/lt
htdocs/wiki/lib/plugins/acl/lang/lv
htdocs/wiki/lib/plugins/acl/lang/mg
htdocs/wiki/lib/plugins/acl/lang/mk
htdocs/wiki/lib/plugins/acl/lang/mr
htdocs/wiki/lib/plugins/acl/lang/ne
htdocs/wiki/lib/plugins/acl/lang/no
htdocs/wiki/lib/plugins/acl/lang/pl
htdocs/wiki/lib/plugins/acl/lang/pt
htdocs/wiki/lib/plugins/acl/lang/pt-br
htdocs/wiki/lib/plugins/acl/lang/ro
htdocs/wiki/lib/plugins/acl/lang/ru
htdocs/wiki/lib/plugins/acl/lang/sk
htdocs/wiki/lib/plugins/acl/lang/sl
htdocs/wiki/lib/plugins/acl/lang/sq
htdocs/wiki/lib/plugins/acl/lang/sr
htdocs/wiki/lib/plugins/acl/lang/sv
htdocs/wiki/lib/plugins/acl/lang/th
htdocs/wiki/lib/plugins/acl/lang/tr
htdocs/wiki/lib/plugins/acl/lang/uk
htdocs/wiki/lib/plugins/acl/lang/vi
htdocs/wiki/lib/plugins/acl/lang/zh
htdocs/wiki/lib/plugins/acl/lang/zh-tw
htdocs/wiki/lib/plugins/config/lang/af
htdocs/wiki/lib/plugins/config/lang/ar
htdocs/wiki/lib/plugins/config/lang/az
htdocs/wiki/lib/plugins/config/lang/bg
htdocs/wiki/lib/plugins/config/lang/ca
htdocs/wiki/lib/plugins/config/lang/ca-valencia
htdocs/wiki/lib/plugins/config/lang/cs
htdocs/wiki/lib/plugins/config/lang/da
htdocs/wiki/lib/plugins/config/lang/de
htdocs/wiki/lib/plugins/config/lang/de-informal
htdocs/wiki/lib/plugins/config/lang/el
htdocs/wiki/lib/plugins/config/lang/eo
htdocs/wiki/lib/plugins/config/lang/es
htdocs/wiki/lib/plugins/config/lang/et
htdocs/wiki/lib/plugins/config/lang/eu
htdocs/wiki/lib/plugins/config/lang/fa
htdocs/wiki/lib/plugins/config/lang/fi
htdocs/wiki/lib/plugins/config/lang/fo
htdocs/wiki/lib/plugins/config/lang/fr
htdocs/wiki/lib/plugins/config/lang/gl
htdocs/wiki/lib/plugins/config/lang/he
htdocs/wiki/lib/plugins/config/lang/hi
htdocs/wiki/lib/plugins/config/lang/hr
htdocs/wiki/lib/plugins/config/lang/hu
htdocs/wiki/lib/plugins/config/lang/ia
htdocs/wiki/lib/plugins/config/lang/id
htdocs/wiki/lib/plugins/config/lang/id-ni
htdocs/wiki/lib/plugins/config/lang/is
htdocs/wiki/lib/plugins/config/lang/it
htdocs/wiki/lib/plugins/config/lang/ja
htdocs/wiki/lib/plugins/config/lang/km
htdocs/wiki/lib/plugins/config/lang/ko
htdocs/wiki/lib/plugins/config/lang/ku
htdocs/wiki/lib/plugins/config/lang/la
htdocs/wiki/lib/plugins/config/lang/lb
htdocs/wiki/lib/plugins/config/lang/lt
htdocs/wiki/lib/plugins/config/lang/lv
htdocs/wiki/lib/plugins/config/lang/mg
htdocs/wiki/lib/plugins/config/lang/mk
htdocs/wiki/lib/plugins/config/lang/mr
htdocs/wiki/lib/plugins/config/lang/ne
htdocs/wiki/lib/plugins/config/lang/no
htdocs/wiki/lib/plugins/config/lang/pl
htdocs/wiki/lib/plugins/config/lang/pt
htdocs/wiki/lib/plugins/config/lang/pt-br
htdocs/wiki/lib/plugins/config/lang/ro
htdocs/wiki/lib/plugins/config/lang/ru
htdocs/wiki/lib/plugins/config/lang/sk
htdocs/wiki/lib/plugins/config/lang/sl
htdocs/wiki/lib/plugins/config/lang/sq
htdocs/wiki/lib/plugins/config/lang/sr
htdocs/wiki/lib/plugins/config/lang/sv
htdocs/wiki/lib/plugins/config/lang/th
htdocs/wiki/lib/plugins/config/lang/tr
htdocs/wiki/lib/plugins/config/lang/uk
htdocs/wiki/lib/plugins/config/lang/vi
htdocs/wiki/lib/plugins/config/lang/zh
htdocs/wiki/lib/plugins/config/lang/zh-tw
htdocs/wiki/lib/plugins/discussion/lang/ko
htdocs/wiki/lib/plugins/indexmenu/images/doku/*
htdocs/wiki/lib/plugins/popularity/lang/af
htdocs/wiki/lib/plugins/popularity/lang/ar
htdocs/wiki/lib/plugins/popularity/lang/az
htdocs/wiki/lib/plugins/popularity/lang/bg
htdocs/wiki/lib/plugins/popularity/lang/ca
htdocs/wiki/lib/plugins/popularity/lang/ca-valencia
htdocs/wiki/lib/plugins/popularity/lang/cs
htdocs/wiki/lib/plugins/popularity/lang/da
htdocs/wiki/lib/plugins/popularity/lang/de
htdocs/wiki/lib/plugins/popularity/lang/de-informal
htdocs/wiki/lib/plugins/popularity/lang/el
htdocs/wiki/lib/plugins/popularity/lang/eo
htdocs/wiki/lib/plugins/popularity/lang/es
htdocs/wiki/lib/plugins/popularity/lang/et
htdocs/wiki/lib/plugins/popularity/lang/eu
htdocs/wiki/lib/plugins/popularity/lang/fa
htdocs/wiki/lib/plugins/popularity/lang/fi
htdocs/wiki/lib/plugins/popularity/lang/fo
htdocs/wiki/lib/plugins/popularity/lang/fr
htdocs/wiki/lib/plugins/popularity/lang/gl
htdocs/wiki/lib/plugins/popularity/lang/he
htdocs/wiki/lib/plugins/popularity/lang/hi
htdocs/wiki/lib/plugins/popularity/lang/hr
htdocs/wiki/lib/plugins/popularity/lang/hu
htdocs/wiki/lib/plugins/popularity/lang/ia
htdocs/wiki/lib/plugins/popularity/lang/id
htdocs/wiki/lib/plugins/popularity/lang/id-ni
htdocs/wiki/lib/plugins/popularity/lang/is
htdocs/wiki/lib/plugins/popularity/lang/it
htdocs/wiki/lib/plugins/popularity/lang/ja
htdocs/wiki/lib/plugins/popularity/lang/km
htdocs/wiki/lib/plugins/popularity/lang/ko
htdocs/wiki/lib/plugins/popularity/lang/ku
htdocs/wiki/lib/plugins/popularity/lang/la
htdocs/wiki/lib/plugins/popularity/lang/lb
htdocs/wiki/lib/plugins/popularity/lang/lt
htdocs/wiki/lib/plugins/popularity/lang/lv
htdocs/wiki/lib/plugins/popularity/lang/mg
htdocs/wiki/lib/plugins/popularity/lang/mk
htdocs/wiki/lib/plugins/popularity/lang/mr
htdocs/wiki/lib/plugins/popularity/lang/ne
htdocs/wiki/lib/plugins/popularity/lang/no
htdocs/wiki/lib/plugins/popularity/lang/pl
htdocs/wiki/lib/plugins/popularity/lang/pt
htdocs/wiki/lib/plugins/popularity/lang/pt-br
htdocs/wiki/lib/plugins/popularity/lang/ro
htdocs/wiki/lib/plugins/popularity/lang/ru
htdocs/wiki/lib/plugins/popularity/lang/sk
htdocs/wiki/lib/plugins/popularity/lang/sl
htdocs/wiki/lib/plugins/popularity/lang/sq
htdocs/wiki/lib/plugins/popularity/lang/sr
htdocs/wiki/lib/plugins/popularity/lang/sv
htdocs/wiki/lib/plugins/popularity/lang/th
htdocs/wiki/lib/plugins/popularity/lang/tr
htdocs/wiki/lib/plugins/popularity/lang/uk
htdocs/wiki/lib/plugins/popularity/lang/vi
htdocs/wiki/lib/plugins/popularity/lang/zh
htdocs/wiki/lib/plugins/popularity/lang/zh-tw
htdocs/wiki/lib/plugins/revert/lang/af
htdocs/wiki/lib/plugins/revert/lang/ar
htdocs/wiki/lib/plugins/revert/lang/az
htdocs/wiki/lib/plugins/revert/lang/bg
htdocs/wiki/lib/plugins/revert/lang/ca
htdocs/wiki/lib/plugins/revert/lang/ca-valencia
htdocs/wiki/lib/plugins/revert/lang/cs
htdocs/wiki/lib/plugins/revert/lang/da
htdocs/wiki/lib/plugins/revert/lang/de
htdocs/wiki/lib/plugins/revert/lang/de-informal
htdocs/wiki/lib/plugins/revert/lang/el
htdocs/wiki/lib/plugins/revert/lang/eo
htdocs/wiki/lib/plugins/revert/lang/es
htdocs/wiki/lib/plugins/revert/lang/et
htdocs/wiki/lib/plugins/revert/lang/eu
htdocs/wiki/lib/plugins/revert/lang/fa
htdocs/wiki/lib/plugins/revert/lang/fi
htdocs/wiki/lib/plugins/revert/lang/fo
htdocs/wiki/lib/plugins/revert/lang/fr
htdocs/wiki/lib/plugins/revert/lang/gl
htdocs/wiki/lib/plugins/revert/lang/he
htdocs/wiki/lib/plugins/revert/lang/hi
htdocs/wiki/lib/plugins/revert/lang/hr
htdocs/wiki/lib/plugins/revert/lang/hu
htdocs/wiki/lib/plugins/revert/lang/ia
htdocs/wiki/lib/plugins/revert/lang/id
htdocs/wiki/lib/plugins/revert/lang/id-ni
htdocs/wiki/lib/plugins/revert/lang/is
htdocs/wiki/lib/plugins/revert/lang/it
htdocs/wiki/lib/plugins/revert/lang/ja
htdocs/wiki/lib/plugins/revert/lang/km
htdocs/wiki/lib/plugins/revert/lang/ko
htdocs/wiki/lib/plugins/revert/lang/ku
htdocs/wiki/lib/plugins/revert/lang/la
htdocs/wiki/lib/plugins/revert/lang/lb
htdocs/wiki/lib/plugins/revert/lang/lt
htdocs/wiki/lib/plugins/revert/lang/lv
htdocs/wiki/lib/plugins/revert/lang/mg
htdocs/wiki/lib/plugins/revert/lang/mk
htdocs/wiki/lib/plugins/revert/lang/mr
htdocs/wiki/lib/plugins/revert/lang/ne
htdocs/wiki/lib/plugins/revert/lang/no
htdocs/wiki/lib/plugins/revert/lang/pl
htdocs/wiki/lib/plugins/revert/lang/pt
htdocs/wiki/lib/plugins/revert/lang/pt-br
htdocs/wiki/lib/plugins/revert/lang/ro
htdocs/wiki/lib/plugins/revert/lang/ru
htdocs/wiki/lib/plugins/revert/lang/sk
htdocs/wiki/lib/plugins/revert/lang/sl
htdocs/wiki/lib/plugins/revert/lang/sq
htdocs/wiki/lib/plugins/revert/lang/sr
htdocs/wiki/lib/plugins/revert/lang/sv
htdocs/wiki/lib/plugins/revert/lang/th
htdocs/wiki/lib/plugins/revert/lang/tr
htdocs/wiki/lib/plugins/revert/lang/uk
htdocs/wiki/lib/plugins/revert/lang/vi
htdocs/wiki/lib/plugins/revert/lang/zh
htdocs/wiki/lib/plugins/revert/lang/zh-tw
htdocs/wiki/lib/plugins/usermanager/lang/af
htdocs/wiki/lib/plugins/usermanager/lang/ar
htdocs/wiki/lib/plugins/usermanager/lang/az
htdocs/wiki/lib/plugins/usermanager/lang/bg
htdocs/wiki/lib/plugins/usermanager/lang/ca
htdocs/wiki/lib/plugins/usermanager/lang/ca-valencia
htdocs/wiki/lib/plugins/usermanager/lang/cs
htdocs/wiki/lib/plugins/usermanager/lang/da
htdocs/wiki/lib/plugins/usermanager/lang/de
htdocs/wiki/lib/plugins/usermanager/lang/de-informal
htdocs/wiki/lib/plugins/usermanager/lang/el
htdocs/wiki/lib/plugins/usermanager/lang/eo
htdocs/wiki/lib/plugins/usermanager/lang/es
htdocs/wiki/lib/plugins/usermanager/lang/et
htdocs/wiki/lib/plugins/usermanager/lang/eu
htdocs/wiki/lib/plugins/usermanager/lang/fa
htdocs/wiki/lib/plugins/usermanager/lang/fi
htdocs/wiki/lib/plugins/usermanager/lang/fo
htdocs/wiki/lib/plugins/usermanager/lang/fr
htdocs/wiki/lib/plugins/usermanager/lang/gl
htdocs/wiki/lib/plugins/usermanager/lang/he
htdocs/wiki/lib/plugins/usermanager/lang/hi
htdocs/wiki/lib/plugins/usermanager/lang/hr
htdocs/wiki/lib/plugins/usermanager/lang/hu
htdocs/wiki/lib/plugins/usermanager/lang/ia
htdocs/wiki/lib/plugins/usermanager/lang/id
htdocs/wiki/lib/plugins/usermanager/lang/id-ni
htdocs/wiki/lib/plugins/usermanager/lang/is
htdocs/wiki/lib/plugins/usermanager/lang/it
htdocs/wiki/lib/plugins/usermanager/lang/ja
htdocs/wiki/lib/plugins/usermanager/lang/km
htdocs/wiki/lib/plugins/usermanager/lang/ko
htdocs/wiki/lib/plugins/usermanager/lang/ku
htdocs/wiki/lib/plugins/usermanager/lang/la
htdocs/wiki/lib/plugins/usermanager/lang/lb
htdocs/wiki/lib/plugins/usermanager/lang/lt
htdocs/wiki/lib/plugins/usermanager/lang/lv
htdocs/wiki/lib/plugins/usermanager/lang/mg
htdocs/wiki/lib/plugins/usermanager/lang/mk
htdocs/wiki/lib/plugins/usermanager/lang/mr
htdocs/wiki/lib/plugins/usermanager/lang/ne
htdocs/wiki/lib/plugins/usermanager/lang/no
htdocs/wiki/lib/plugins/usermanager/lang/pl
htdocs/wiki/lib/plugins/usermanager/lang/pt
htdocs/wiki/lib/plugins/usermanager/lang/pt-br
htdocs/wiki/lib/plugins/usermanager/lang/ro
htdocs/wiki/lib/plugins/usermanager/lang/ru
htdocs/wiki/lib/plugins/usermanager/lang/sk
htdocs/wiki/lib/plugins/usermanager/lang/sl
htdocs/wiki/lib/plugins/usermanager/lang/sq
htdocs/wiki/lib/plugins/usermanager/lang/sr
htdocs/wiki/lib/plugins/usermanager/lang/sv
htdocs/wiki/lib/plugins/usermanager/lang/th
htdocs/wiki/lib/plugins/usermanager/lang/tr
htdocs/wiki/lib/plugins/usermanager/lang/uk
htdocs/wiki/lib/plugins/usermanager/lang/vi
htdocs/wiki/lib/plugins/usermanager/lang/zh
htdocs/wiki/lib/plugins/usermanager/lang/zh-tw
lib/defines.include.php
sessie/*
/tmp
tmp/*
/wiki

# Compiled python file LDAP
bin/ldap/settings.pyc