/.project
/.settings
data/*
data/smarty/*
data/smarty/cache/*
data/smarty/compiled/*
etc/bot.htpasswd
etc/csrmail.ini
etc/gozerbot.ini
etc/ldap.ini
etc/mysql.ini
etc/soccie.ini
htdocs/bot/.htaccess
htdocs/download
htdocs/enquete
htdocs/handelingen
htdocs/happening
htdocs/owee
/images
lib/include.defines.php
sessie/*
