/*.iml
/*.sln
/*.suo
/.idea
/.project
/.settings
/.sonar
/.scannerwork
/C.S.R.[!!-~]Delft.phpproj
bin/ldap/bla
bin/ldap/settings.py
data/*
data/documenten/*
data/log/*
etc/*.ini
etc/*.crt
etc/*.kdbx
etc/bot.htpasswd
etc/csrdelft.nl.csr
etc/csrdelft.nl.key
htdocs/download
htdocs/enquete
htdocs/google*.html
htdocs/handelingen
htdocs/happening
htdocs/owee
htdocs/owee/2006/plaetjes/*
htdocs/owee/2007/plaetjes/*
htdocs/plaetjes/*
htdocs/tools/alphabanner/alphabanner.cache.*
sessie/*
/tmp
tmp/*
/wiki

# Compiled python file LDAP
bin/ldap/settings.pyc
/vendor/
.DS_Store

# JS
/node_modules
npm-debug.log
yarn-error.log
htdocs/dist
package-lock.json
.cache-loader
.onderhoud
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
