[submodule "public/beaufort"]
	path = public/beaufort
	url = https://github.com/csrdelft/beaufort.git
[submodule "public/ccd"]
	path = public/ccd
	url = https://github.com/csrdelft/ccd.git
[submodule "public/bakeliet"]
	path = public/bakeliet
	url = https://github.com/csrdelft/bakeliet.git
[submodule "public/dies/2013"]
	path = public/dies/2013
	url = https://github.com/csrdelft/dies2013.git
[submodule "public/dies/2015"]
	path = public/dies/2015
	url = https://github.com/csrdelft/dies2015.git
[submodule "public/dies/2016"]
	path = public/dies/2016
	url = https://github.com/csrdelft/dies2016.git
[submodule "public/lustrum"]
	path = public/lustrum
	url = https://github.com/csrdelft/lustrum.git
[submodule "public/wiki"]
	path = public/wiki
	url = https://github.com/csrdelft/wiki.git
[submodule "public/bc"]
	path = public/bc
	url = https://github.com/csrdelft/bc.git
