* text=auto !eol
bin/maalcie.php -text
bin/maaltrack.php -text
bin/mk_commissie_ldif.php -text
bin/mk_commissie_ldif.txt -text
bin/mkledenldif.php -text
bin/mootabos.php -text
bin/pubcie-admin.php -text
bin/socciesaldi-koppelen.php -text
bin/statgraphgen.php -text
bin/wachtwoord.php -text
htdocs-oud/.htaccess -text
htdocs-oud/bieb/.htaccess -text
htdocs-oud/bieb/catalogus.php -text
htdocs-oud/bieb/index.php -text
htdocs-oud/csrdelft.css -text
htdocs-oud/dobberen/bootjesborrel.jpg -text
htdocs-oud/dobberen/index.html -text
htdocs-oud/forum/.htaccess -text
htdocs-oud/forum/bewerken.php -text
htdocs-oud/forum/citeren.php -text
htdocs-oud/forum/forum-specs.txt -text
htdocs-oud/forum/goedkeuren.php -text
htdocs-oud/forum/index.php -text
htdocs-oud/forum/plakkerig.php -text
htdocs-oud/forum/rss.php -text
htdocs-oud/forum/sluiten.php -text
htdocs-oud/forum/stemmen.php -text
htdocs-oud/forum/stemming.php -text
htdocs-oud/forum/toevoegen.php -text
htdocs-oud/forum/topic.php -text
htdocs-oud/forum/topic1.php -text
htdocs-oud/forum/topic2.php -text
htdocs-oud/forum/verwijderen.php -text
htdocs-oud/forum/zoeken.php -text
htdocs-oud/images/aanmelden.gif -text
htdocs-oud/images/alpha-klein.gif -text
htdocs-oud/images/annuleren.gif -text
htdocs-oud/images/at.gif -text
htdocs-oud/images/balk.gif -text
htdocs-oud/images/balkmoses.jpg -text
htdocs-oud/images/balkmoses1.jpg -text
htdocs-oud/images/bewerken.png -text
htdocs-oud/images/citeren.png -text
htdocs-oud/images/confideklein.jpg -text
htdocs-oud/images/csrmail/balk.gif -text
htdocs-oud/images/csrmail/logo.jpg -text
htdocs-oud/images/dankesehr.jpg -text
htdocs-oud/images/favicon.ico -text
htdocs-oud/images/frikandel.jpg -text
htdocs-oud/images/frikandel.png -text
htdocs-oud/images/index.html -text
htdocs-oud/images/inloggen.gif -text
htdocs-oud/images/laatste.gif -text
htdocs-oud/images/lijn.gif -text
htdocs-oud/images/pixel.gif -text
htdocs-oud/images/plakkerig.gif -text
htdocs-oud/images/slotje.png -text
htdocs-oud/images/stabiplan.gif -text
htdocs-oud/images/uitloggen.gif -text
htdocs-oud/images/verwijderen.png -text
htdocs-oud/images/wijzigingen_opslaan.gif -text
htdocs-oud/index.php -text
htdocs-oud/informatie/.htaccess -text
htdocs-oud/informatie/bestuur.php -text
htdocs-oud/informatie/bestuurstekst.php -text
htdocs-oud/informatie/commissie.php -text
htdocs-oud/informatie/contact.php -text
htdocs-oud/informatie/documenten.php -text
htdocs-oud/informatie/fotoalbum.php -text
htdocs-oud/informatie/images/alphabanner.gif -text
htdocs-oud/informatie/images/amb.gif -text
htdocs-oud/informatie/images/bestuur_1.jpg -text
htdocs-oud/informatie/images/bestuur_2.jpg -text
htdocs-oud/informatie/images/bestuur_3.jpg -text
htdocs-oud/informatie/images/bestuur_leden_cozijnsen.jpg -text
htdocs-oud/informatie/images/bestuur_leden_kool.jpg -text
htdocs-oud/informatie/images/bestuur_leden_neven.jpg -text
htdocs-oud/informatie/images/bestuur_leden_schaafsma.jpg -text
htdocs-oud/informatie/images/bestuur_leden_verhaaf.jpg -text
htdocs-oud/informatie/images/bestuurstekst.jpg -text
htdocs-oud/informatie/images/bible.jpg -text
htdocs-oud/informatie/images/caesarvlam.gif -text
htdocs-oud/informatie/images/confide.jpg -text
htdocs-oud/informatie/images/confideklein.jpg -text
htdocs-oud/informatie/images/cosbal.jpg -text
htdocs-oud/informatie/images/csr.jpg -text
htdocs-oud/informatie/images/dies.jpg -text
htdocs-oud/informatie/images/gaius2.jpg -text
htdocs-oud/informatie/images/happeningcommissie.jpg -text
htdocs-oud/informatie/images/huizeRommel.jpg -text
htdocs-oud/informatie/images/internaat.gif -text
htdocs-oud/informatie/images/km.jpg -text
htdocs-oud/informatie/images/logosb.jpg -text
htdocs-oud/informatie/images/mol1.jpg -text
htdocs-oud/informatie/images/od251.jpg -text
htdocs-oud/informatie/images/owee.jpg -text
htdocs-oud/informatie/images/per0.jpg -text
htdocs-oud/informatie/images/prince.gif -text
htdocs-oud/informatie/images/rml.jpg -text
htdocs-oud/informatie/images/rosalyn.jpg -text
htdocs-oud/informatie/images/son.jpg -text
htdocs-oud/informatie/images/tamilarasi.jpg -text
htdocs-oud/informatie/images/tokoBannerGroen.jpg -text
htdocs-oud/informatie/images/tokoBannerGroen555.jpg -text
htdocs-oud/informatie/images/villaicon.jpg -text
htdocs-oud/informatie/images/vlvs03.jpeg -text
htdocs-oud/informatie/index.php -text
htdocs-oud/informatie/lezingen.php -text
htdocs-oud/informatie/lidworden.php -text
htdocs-oud/informatie/mapknor.html -text
htdocs-oud/informatie/ondervereniging.php -text
htdocs-oud/informatie/werkgroep.php -text
htdocs-oud/informatie/woonoord.php -text
htdocs-oud/informatie/woonoord2.php -text
htdocs-oud/leden/.htaccess -text
htdocs-oud/leden/agenda.php -text
htdocs-oud/leden/arro.php -text
htdocs-oud/leden/bibliotheek.php -text
htdocs-oud/leden/csrmail.php -text
htdocs-oud/leden/csrmail/.htaccess -text
htdocs-oud/leden/csrmail/archief.php -text
htdocs-oud/leden/csrmail/bewerken.php -text
htdocs-oud/leden/csrmail/index.php -text
htdocs-oud/leden/csrmail/verzenden.php -text
htdocs-oud/leden/csrmail/voorbeeld.php -text
htdocs-oud/leden/csrmailcompose.php -text
htdocs-oud/leden/csrmailpreview.php -text
htdocs-oud/leden/csrmailsend.php -text
htdocs-oud/leden/documenten -text
htdocs-oud/leden/documenten.php -text
htdocs-oud/leden/eetplan.html -text
htdocs-oud/leden/eetplan.php -text
htdocs-oud/leden/ihk-citaten.php -text
htdocs-oud/leden/ihk-quotes.php -text
htdocs-oud/leden/index.php -text
htdocs-oud/leden/lijst.php -text
htdocs-oud/leden/maaltijd-html.php -text
htdocs-oud/leden/maaltijd.php -text
htdocs-oud/leden/maaltijdlijst.php -text
htdocs-oud/leden/moten.php -text
htdocs-oud/leden/pasfotos -text
htdocs-oud/leden/profiel.php -text
htdocs-oud/leden/sjaarsacties.php -text
htdocs-oud/leden/verjaardagen.php -text
htdocs-oud/login.php -text
htdocs-oud/logout.php -text
htdocs-oud/nieuws.php -text
htdocs-oud/oudleden/index.php -text
htdocs-oud/oudleden/lijst.php -text
htdocs-oud/robots.txt -text
htdocs-oud/tools/.htaccess -text
htdocs-oud/tools/eetplan.php -text
htdocs-oud/tools/eetplan_h15_s41_a8_m3_r1.htm -text
htdocs-oud/tools/index.php -text
htdocs-oud/tools/phpinfo.php -text
htdocs-oud/tools/sendmail/maildata.php -text
htdocs-oud/tools/sendmail/sendmail.php -text
htdocs-oud/tools/soccie.php -text
htdocs/.htaccess -text
htdocs/contact.php -text
htdocs/forum/.htaccess -text
htdocs/forum/bewerken.php -text
htdocs/forum/citeren.php -text
htdocs/forum/goedkeuren.php -text
htdocs/forum/index.php -text
htdocs/forum/peiling.php -text
htdocs/forum/plakkerig.php -text
htdocs/forum/rss.php -text
htdocs/forum/sluiten.php -text
htdocs/forum/stemmen.php -text
htdocs/forum/stemming.php -text
htdocs/forum/toevoegen.php -text
htdocs/forum/topic.php -text
htdocs/forum/verwijderen.php -text
htdocs/forum/zoeken.php -text
htdocs/groepen/.htaccess -text
htdocs/groepen/commissies.php -text
htdocs/groepen/index.php -text
htdocs/groepen/moten.php -text
htdocs/groepen/onderverenigingen.php -text
htdocs/groepen/werkgroepen.php -text
htdocs/groepen/woonoorden.php -text
htdocs/index.php -text
htdocs/intern/.htaccess -text
htdocs/intern/csrmail/.htaccess -text
htdocs/intern/csrmail/archief.php -text
htdocs/intern/csrmail/bewerken.php -text
htdocs/intern/csrmail/index.php -text
htdocs/intern/csrmail/verzenden.php -text
htdocs/intern/csrmail/voorbeeld.php -text
htdocs/intern/eetplan.php -text
htdocs/intern/index.php -text
htdocs/intern/lijst.php -text
htdocs/intern/profiel.php -text
htdocs/intern/sjaarsacties.php -text
htdocs/intern/verjaardagen.php -text
htdocs/layout/csrdelft.js -text
htdocs/layout/default.css -text
htdocs/layout/forum.css -text
htdocs/layout/minmax.js -text
htdocs/layout/position.js -text
htdocs/layout/undohtml.css -text
htdocs/links.php -text
htdocs/login.php -text
htdocs/logout.php -text
htdocs/maaltijden/.htaccess -text
htdocs/maaltijden/archief.php -text
htdocs/maaltijden/beheer.php -text
htdocs/maaltijden/index.php -text
htdocs/maaltijden/info.php -text
htdocs/maaltijden/maaltijdlijst.php -text
htdocs/maaltijden/voorkeuren.php -text
htdocs/nieuws.php -text
htdocs/robots.txt -text
htdocs/tools/index.php -text
htdocs/tools/sendmail/maildata.php -text
htdocs/tools/sendmail/sendmail.php -text
htdocs/tools/soccie.php -text
htdocs/tools/stats.php -text
htdocs/vereniging/.htaccess -text
htdocs/vereniging/bestuur.php -text
htdocs/vereniging/geschiedenis.php -text
htdocs/vereniging/index.php -text
htdocs/vereniging/lezingen.php -text
htdocs/vereniging/lidworden.php -text
htdocs/vereniging/verbanden.php -text
lib/bbcode/bbcode.php -text
lib/bbcode/bbcode.tpl -text
lib/bbcode/functions_post.php -text
lib/bbcode/include.bbcode.php -text
lib/bbcode/lang_main.php -text
lib/blowfish/blowfish.php -text
lib/blowfish/blowfish_default_key.php -text
lib/class.bestuur.php -text
lib/class.bestuurcontent.php -text
lib/class.bieb.php -text
lib/class.biebcontent.php -text
lib/class.cieoverzichtcontent.php -text
lib/class.column.php -text
lib/class.commissie.php -text
lib/class.commissiecontent.php -text
lib/class.csrdelft.php -text
lib/class.csrmail.php -text
lib/class.csrmailarchiefcontent.php -text
lib/class.csrmailcomposecontent.php -text
lib/class.csrmailcontent.php -text
lib/class.csrsmarty.php -text
lib/class.dbmenu.php -text
lib/class.documenten.php -text
lib/class.documentencontent.php -text
lib/class.eetplan.php -text
lib/class.eetplancontent.php -text
lib/class.forum.php -text
lib/class.forumcontent.php -text
lib/class.forumpoll.php -text
lib/class.hok.php -text
lib/class.includer.php -text
lib/class.kolom.php -text
lib/class.ldap.php -text
lib/class.ledenlijstcontent.php -text
lib/class.lid.php -text
lib/class.lidbeheer.php -text
lib/class.loginform.php -text
lib/class.maaltijd.php -text
lib/class.maaltijdcontent.php -text
lib/class.maaltijdinfocontent.php -text
lib/class.maaltijdlijstpage.php -text
lib/class.maaltijdvoorkeurcontent.php -text
lib/class.maaltrack.php -text
lib/class.menu.php -text
lib/class.motencontent.php -text
lib/class.mysql.php -text
lib/class.nieuws.php -text
lib/class.nieuwscontent.php -text
lib/class.page.php -text
lib/class.pollcontent.php -text
lib/class.profiel.php -text
lib/class.profielcontent.php -text
lib/class.simplehtml.php -text
lib/class.sjaarsactie.php -text
lib/class.sjaarsactiecontent.php -text
lib/class.state.php -text
lib/class.verjaardagcontent.php -text
lib/class.woonoord.php -text
lib/class.woonoordcontent.php -text
lib/include.common.php -text
lib/include.config.php -text
lib/smarty/BUGS -text
lib/smarty/COPYING.lib -text
lib/smarty/ChangeLog -text
lib/smarty/FAQ -text
lib/smarty/INSTALL -text
lib/smarty/NEWS -text
lib/smarty/QUICK_START -text
lib/smarty/README -text
lib/smarty/RELEASE_NOTES -text
lib/smarty/TODO -text
lib/smarty/demo/configs/test.conf -text
lib/smarty/demo/index.php -text
lib/smarty/demo/templates/footer.tpl -text
lib/smarty/demo/templates/header.tpl -text
lib/smarty/demo/templates/index.tpl -text
lib/smarty/libs/Config_File.class.php -text
lib/smarty/libs/Smarty.class.php -text
lib/smarty/libs/Smarty_Compiler.class.php -text
lib/smarty/libs/debug.tpl -text
lib/smarty/libs/internals/core.assemble_plugin_filepath.php -text
lib/smarty/libs/internals/core.assign_smarty_interface.php -text
lib/smarty/libs/internals/core.create_dir_structure.php -text
lib/smarty/libs/internals/core.display_debug_console.php -text
lib/smarty/libs/internals/core.get_include_path.php -text
lib/smarty/libs/internals/core.get_microtime.php -text
lib/smarty/libs/internals/core.get_php_resource.php -text
lib/smarty/libs/internals/core.is_secure.php -text
lib/smarty/libs/internals/core.is_trusted.php -text
lib/smarty/libs/internals/core.load_plugins.php -text
lib/smarty/libs/internals/core.load_resource_plugin.php -text
lib/smarty/libs/internals/core.process_cached_inserts.php -text
lib/smarty/libs/internals/core.process_compiled_include.php -text
lib/smarty/libs/internals/core.read_cache_file.php -text
lib/smarty/libs/internals/core.rm_auto.php -text
lib/smarty/libs/internals/core.rmdir.php -text
lib/smarty/libs/internals/core.run_insert_handler.php -text
lib/smarty/libs/internals/core.smarty_include_php.php -text
lib/smarty/libs/internals/core.write_cache_file.php -text
lib/smarty/libs/internals/core.write_compiled_include.php -text
lib/smarty/libs/internals/core.write_compiled_resource.php -text
lib/smarty/libs/internals/core.write_file.php -text
lib/smarty/libs/plugins/block.table_foreach.php -text
lib/smarty/libs/plugins/block.textformat.php -text
lib/smarty/libs/plugins/compiler.assign.php -text
lib/smarty/libs/plugins/function.assign_debug_info.php -text
lib/smarty/libs/plugins/function.config_load.php -text
lib/smarty/libs/plugins/function.counter.php -text
lib/smarty/libs/plugins/function.cycle.php -text
lib/smarty/libs/plugins/function.debug.php -text
lib/smarty/libs/plugins/function.eval.php -text
lib/smarty/libs/plugins/function.fetch.php -text
lib/smarty/libs/plugins/function.html_checkboxes.php -text
lib/smarty/libs/plugins/function.html_image.php -text
lib/smarty/libs/plugins/function.html_options.php -text
lib/smarty/libs/plugins/function.html_radios.php -text
lib/smarty/libs/plugins/function.html_select_date.php -text
lib/smarty/libs/plugins/function.html_select_time.php -text
lib/smarty/libs/plugins/function.html_table.php -text
lib/smarty/libs/plugins/function.mailto.php -text
lib/smarty/libs/plugins/function.math.php -text
lib/smarty/libs/plugins/function.popup.php -text
lib/smarty/libs/plugins/function.popup_init.php -text
lib/smarty/libs/plugins/modifier.capitalize.php -text
lib/smarty/libs/plugins/modifier.cat.php -text
lib/smarty/libs/plugins/modifier.count_characters.php -text
lib/smarty/libs/plugins/modifier.count_paragraphs.php -text
lib/smarty/libs/plugins/modifier.count_sentences.php -text
lib/smarty/libs/plugins/modifier.count_words.php -text
lib/smarty/libs/plugins/modifier.date_format.php -text
lib/smarty/libs/plugins/modifier.debug_print_var.php -text
lib/smarty/libs/plugins/modifier.default.php -text
lib/smarty/libs/plugins/modifier.escape.php -text
lib/smarty/libs/plugins/modifier.indent.php -text
lib/smarty/libs/plugins/modifier.lower.php -text
lib/smarty/libs/plugins/modifier.nl2br.php -text
lib/smarty/libs/plugins/modifier.regex_replace.php -text
lib/smarty/libs/plugins/modifier.replace.php -text
lib/smarty/libs/plugins/modifier.spacify.php -text
lib/smarty/libs/plugins/modifier.string_format.php -text
lib/smarty/libs/plugins/modifier.strip.php -text
lib/smarty/libs/plugins/modifier.strip_tags.php -text
lib/smarty/libs/plugins/modifier.truncate.php -text
lib/smarty/libs/plugins/modifier.upper.php -text
lib/smarty/libs/plugins/modifier.wordwrap.php -text
lib/smarty/libs/plugins/outputfilter.trimwhitespace.php -text
lib/smarty/libs/plugins/shared.escape_special_chars.php -text
lib/smarty/libs/plugins/shared.make_timestamp.php -text
lib/smarty/misc/smarty_icon.README -text
lib/smarty/misc/smarty_icon.gif -text
lib/smarty/unit_test/README -text
lib/smarty/unit_test/config.php -text
lib/smarty/unit_test/configs/globals_double_quotes.conf -text
lib/smarty/unit_test/configs/globals_single_quotes.conf -text
lib/smarty/unit_test/smarty_unit_test.php -text
lib/smarty/unit_test/smarty_unit_test_gui.php -text
lib/smarty/unit_test/templates/assign_var.tpl -text
lib/smarty/unit_test/templates/constant.tpl -text
lib/smarty/unit_test/templates/index.tpl -text
lib/smarty/unit_test/templates/parse_math.tpl -text
lib/smarty/unit_test/templates/parse_obj_meth.tpl -text
lib/smarty/unit_test/test_cases.php -text
lib/tekst/alpha.html -text
lib/tekst/banners.html -text
lib/tekst/bestuur.html -text
lib/tekst/bestuurstekst.html -text
lib/tekst/datum.php -text
lib/tekst/fotoalbum.html -text
lib/tekst/geentoegang.html -text
lib/tekst/groepen.html -text
lib/tekst/ihk-quotes.html -text
lib/tekst/informatie/algemeen.html -text
lib/tekst/informatie/contact.html -text
lib/tekst/informatie/lezingen.html -text
lib/tekst/informatie/lidworden.php -text
lib/tekst/informatie/ondervereniging.html -text
lib/tekst/informatie/werkgroep.html -text
lib/tekst/leden-thuis.html -text
lib/tekst/links.html -text
lib/tekst/maaltijd-niet-ingelogged.html -text
lib/tekst/oudleden-thuis.html -text
lib/tekst/thuis.html -text
lib/tekst/verbanden.html -text
lib/templates/bestuur.tpl -text
lib/templates/csrdelft.tpl -text
lib/templates/csrmail/csrmail.tpl -text
lib/templates/csrmail/csrmail_owee.tpl -text
lib/templates/forum/viewtopic.tpl -text
lib/templates/maaltijdedit.tpl -text
lib/templates/maaltijdinfo.tpl -text
lib/templates/maaltijdketzer.tpl -text
lib/templates/maaltijdlijst.tpl -text
lib/templates/maaltijdvoorkeuren.tpl -text
lib/templates/profiel.tpl -text
