[submodule "htdocs/beaufort"]
	path = htdocs/beaufort
	url = https://github.com/csrdelft/beaufort.git
[submodule "htdocs/ccd"]
	path = htdocs/ccd
	url = https://github.com/csrdelft/ccd.git
[submodule "htdocs/bakeliet"]
	path = htdocs/bakeliet
	url = https://github.com/csrdelft/bakeliet.git
[submodule "htdocs/dies/2013"]
	path = htdocs/dies/2013
	url = https://github.com/csrdelft/dies2013.git
[submodule "htdocs/dies/2015"]
	path = htdocs/dies/2015
	url = https://github.com/csrdelft/dies2015.git
[submodule "htdocs/dies/2016"]
	path = htdocs/dies/2016
	url = https://github.com/csrdelft/dies2016.git
[submodule "htdocs/lustrum"]
	path = htdocs/lustrum
	url = https://github.com/csrdelft/lustrum.git
[submodule "htdocs/wiki"]
	path = htdocs/wiki
	url = https://github.com/csrdelft/wiki.git
[submodule "htdocs/bc"]
	path = htdocs/bc
	url = https://github.com/csrdelft/bc.git
[submodule "htdocs/dies/2019"]
	path = htdocs/dies/2019
	url = https://github.com/csrdelft/dies2019
	branch = gh-pages
[submodule "htdocs/dies/2020"]
	path = htdocs/dies/2020
	url = https://github.com/csrdelft/dies2020.git
	branch = gh-pages
[submodule "htdocs/dies/2021"]
	path = htdocs/dies/2021
	url = https://github.com/csrdelft/dies2021.git
	branch = gh-pages
[submodule "htdocs/lustrum12"]
	path = htdocs/lustrum12
	url = https://github.com/csrdelft/lustrum12.git
	branch = gh-pages
[submodule "htdocs/civitasproducties"]
	path = htdocs/civitasproducties
	url = https://github.com/csrdelft/civitasproducties.git
	branch = gh-pages
