* text=auto !eol
bin/maaltrack.php -text
bin/mootabos.php -text
bin/pubcie-admin.php -text
bin/socciesaldi-koppelen.php -text
bin/statgraphgen.php -text
bin/wachtwoord.php -text
htdocs/.htaccess -text
htdocs/bieb/.htaccess -text
htdocs/bieb/catalogus.php -text
htdocs/bieb/index.php -text
htdocs/csrdelft.css -text
htdocs/dobberen/bootjesborrel.jpg -text
htdocs/dobberen/index.html -text
htdocs/forum/.htaccess -text
htdocs/forum/bewerken.php -text
htdocs/forum/citeren.php -text
htdocs/forum/goedkeuren.php -text
htdocs/forum/index.php -text
htdocs/forum/plakkerig.php -text
htdocs/forum/rss.php -text
htdocs/forum/sluiten.php -text
htdocs/forum/stemmen.php -text
htdocs/forum/stemming.php -text
htdocs/forum/toevoegen.php -text
htdocs/forum/topic.php -text
htdocs/forum/verwijderen.php -text
htdocs/forum/zoeken.php -text
htdocs/images/aanmelden.gif -text
htdocs/images/alpha-klein.gif -text
htdocs/images/annuleren.gif -text
htdocs/images/at.gif -text
htdocs/images/balk.gif -text
htdocs/images/balkmoses.jpg -text
htdocs/images/balkmoses1.jpg -text
htdocs/images/bewerken.png -text
htdocs/images/citeren.png -text
htdocs/images/confideklein.jpg -text
htdocs/images/csrmail/balk.gif -text
htdocs/images/csrmail/logo.jpg -text
htdocs/images/favicon.ico -text
htdocs/images/frikandel.jpg -text
htdocs/images/frikandel.png -text
htdocs/images/index.html -text
htdocs/images/inloggen.gif -text
htdocs/images/laatste.gif -text
htdocs/images/lijn.gif -text
htdocs/images/pixel.gif -text
htdocs/images/plakkerig.gif -text
htdocs/images/slotje.png -text
htdocs/images/stabiplan.gif -text
htdocs/images/uitloggen.gif -text
htdocs/images/verwijderen.png -text
htdocs/images/wijzigingen_opslaan.gif -text
htdocs/index.php -text
htdocs/informatie/.htaccess -text
htdocs/informatie/bestuur.php -text
htdocs/informatie/bestuurstekst.php -text
htdocs/informatie/commissie.php -text
htdocs/informatie/contact.php -text
htdocs/informatie/fotoalbum.php -text
htdocs/informatie/images/alphabanner.gif -text
htdocs/informatie/images/amb.gif -text
htdocs/informatie/images/bestuur_1.jpg -text
htdocs/informatie/images/bestuur_2.jpg -text
htdocs/informatie/images/bestuur_3.jpg -text
htdocs/informatie/images/bestuur_leden_cozijnsen.jpg -text
htdocs/informatie/images/bestuur_leden_kool.jpg -text
htdocs/informatie/images/bestuur_leden_neven.jpg -text
htdocs/informatie/images/bestuur_leden_schaafsma.jpg -text
htdocs/informatie/images/bestuur_leden_verhaaf.jpg -text
htdocs/informatie/images/bestuurstekst.jpg -text
htdocs/informatie/images/bible.jpg -text
htdocs/informatie/images/caesarvlam.gif -text
htdocs/informatie/images/confide.jpg -text
htdocs/informatie/images/cosbal.jpg -text
htdocs/informatie/images/csr.jpg -text
htdocs/informatie/images/dies.jpg -text
htdocs/informatie/images/gaius2.jpg -text
htdocs/informatie/images/happeningcommissie.jpg -text
htdocs/informatie/images/huizeRommel.jpg -text
htdocs/informatie/images/internaat.gif -text
htdocs/informatie/images/km.jpg -text
htdocs/informatie/images/logosb.jpg -text
htdocs/informatie/images/mol1.jpg -text
htdocs/informatie/images/od251.jpg -text
htdocs/informatie/images/owee.jpg -text
htdocs/informatie/images/per0.jpg -text
htdocs/informatie/images/prince.gif -text
htdocs/informatie/images/rml.jpg -text
htdocs/informatie/images/rosalyn.jpg -text
htdocs/informatie/images/son.jpg -text
htdocs/informatie/images/tamilarasi.jpg -text
htdocs/informatie/images/villaicon.jpg -text
htdocs/informatie/images/vlvs03.jpeg -text
htdocs/informatie/index.php -text
htdocs/informatie/lezingen.php -text
htdocs/informatie/lidworden.php -text
htdocs/informatie/ondervereniging.php -text
htdocs/informatie/werkgroep.php -text
htdocs/informatie/woonoord.php -text
htdocs/leden/.htaccess -text
htdocs/leden/arro.php -text
htdocs/leden/bibliotheek.php -text
htdocs/leden/csrmail.php -text
htdocs/leden/csrmail/.htaccess -text
htdocs/leden/csrmail/archief.php -text
htdocs/leden/csrmail/bewerken.php -text
htdocs/leden/csrmail/index.php -text
htdocs/leden/csrmail/verzenden.php -text
htdocs/leden/csrmail/voorbeeld.php -text
htdocs/leden/documenten -text
htdocs/leden/documenten.php -text
htdocs/leden/eetplan.php -text
htdocs/leden/ihk-citaten.php -text
htdocs/leden/index.php -text
htdocs/leden/lijst.php -text
htdocs/leden/maaltijd-html.php -text
htdocs/leden/maaltijd.php -text
htdocs/leden/maaltijdlijst.php -text
htdocs/leden/moten.php -text
htdocs/leden/pasfotos -text
htdocs/leden/profiel.php -text
htdocs/leden/verjaardagen.php -text
htdocs/login.php -text
htdocs/logout.php -text
htdocs/nieuws.php -text
htdocs/oudleden/index.php -text
htdocs/oudleden/lijst.php -text
htdocs/robots.txt -text
htdocs/tools/.htaccess -text
htdocs/tools/eetplan.php -text
htdocs/tools/eetplan_h15_s41_a8_m3_r1.htm -text
htdocs/tools/index.php -text
htdocs/tools/phpinfo.php -text
htdocs/tools/sendmail/maildata.php -text
htdocs/tools/sendmail/sendmail.php -text
htdocs/tools/soccie.php -text
lib/bbcode/bbcode.php -text
lib/bbcode/bbcode.tpl -text
lib/bbcode/functions_post.php -text
lib/bbcode/include.bbcode.php -text
lib/bbcode/lang_main.php -text
lib/blowfish/blowfish.php -text
lib/blowfish/blowfish_default_key.php -text
lib/class.bieb.php -text
lib/class.biebcontent.php -text
lib/class.cieoverzichtcontent.php -text
lib/class.column.php -text
lib/class.commissie.php -text
lib/class.commissiecontent.php -text
lib/class.csrmail.php -text
lib/class.csrmailcomposecontent.php -text
lib/class.csrmailcontent.php -text
lib/class.dbmenu.php -text
lib/class.documenten.php -text
lib/class.documentencontent.php -text
lib/class.eetplan.php -text
lib/class.eetplancontent.php -text
lib/class.forum.php -text
lib/class.forumcontent.php -text
lib/class.forumpoll.php -text
lib/class.hok.php -text
lib/class.includer.php -text
lib/class.ldap.php -text
lib/class.ledenlijstcontent.php -text
lib/class.lid.php -text
lib/class.lidbeheer.php -text
lib/class.loginform.php -text
lib/class.maaltijd.php -text
lib/class.maaltijdcontent.php -text
lib/class.maaltijdlijstpage.php -text
lib/class.maaltrack.php -text
lib/class.motencontent.php -text
lib/class.mysql.php -text
lib/class.nieuws.php -text
lib/class.nieuwscontent.php -text
lib/class.page.php -text
lib/class.pollcontent.php -text
lib/class.profielcontent.php -text
lib/class.simplehtml.php -text
lib/class.state.php -text
lib/class.verjaardagcontent.php -text
lib/class.woonoord.php -text
lib/class.woonoordcontent.php -text
lib/include.common.php -text
lib/include.config.php -text
lib/tekst/alpha.html -text
lib/tekst/bestuur.html -text
lib/tekst/bestuurstekst.html -text
lib/tekst/datum.php -text
lib/tekst/fotoalbum.html -text
lib/tekst/geentoegang.html -text
lib/tekst/ihk-quotes.html -text
lib/tekst/informatie/algemeen.html -text
lib/tekst/informatie/contact.html -text
lib/tekst/informatie/lezingen.html -text
lib/tekst/informatie/lidworden.php -text
lib/tekst/informatie/ondervereniging.html -text
lib/tekst/informatie/werkgroep.html -text
lib/tekst/leden-thuis.html -text
lib/tekst/maaltijd-niet-ingelogged.html -text
lib/tekst/maaltijd.html -text
lib/tekst/maaltijd2.html -text
lib/tekst/oudleden-thuis.html -text
lib/tekst/thuis.html -text
lib/tekst/thuis2.html -text
lib/templates/csrmail/csrmail.tpl -text
lib/templates/forum/viewtopic.tpl -text
