htdocs

# Yarn bestanden
.yarn
.yarnrc.yml
.pnp.cjs
.pnp.loader.mjs

# Php vendor bestanden
bin/.phpunit
vendor

# Built docs site
docs/_site

# Services, !tagged_locator wordt gesloopt door prettier.
services.yaml

# Php temp bestanden
var

# Overige php bestanden
db # db bestanden kunnen wat chaotisch zijn.
