data
sql
assets/js/lib/external
node_modules
vendor
sessie
htdocs/bar
htdocs/dist
htdocs/bakeliet
htdocs/bc
htdocs/beaufort
htdocs/ccd
htdocs/dies
htdocs/lustrum
htdocs/wiki
.idea
db
translations
var
tests
docker
.yarn
.github