parameters:
    paths:
        - lib
        - htdocs
        - %rootDir%/lib
    excludes_analyse:
        - htdocs/wiki
        - htdocs/bar
        - htdocs/tools
    autoload_files:
        - phpstan.autoload.php
    ignoreErrors:
        - '#PHPDoc tag @param has invalid value .*#'