RewriteEngine on
###modRewrite dingen
RewriteRule ^commissie/?$ commissies.php
RewriteRule ^commissie/([0-9]+)/verwijder/lid/([a-z0-9]+) commissies.php?cie=$1&uid=$2&action=verwijderen
RewriteRule ^commissie/([0-9]+)/bewerken/?$ commissies.php?cie=$1&action=bewerken
RewriteRule ^commissie/([0-9]+)/? commissies.php?cie=$1&action=default

RewriteRule ^commissie/([a-zA-Z]+)(/|.html|.htm|.php) commissies.php?cie=$1
