.layer {
  position: absolute;
  /* Maak een layer groter dan het scherm, om te compenseren voor de verplaatsing */
  width: 120vw;
  height: 100vh;
  margin-left: -10vw;
  background-size: cover;
  background-position: center center;
}
