/* 
    Document   : fx-snow.css
    Created on : 21-dec-2013, 19:00:57
    Author     : Paul Brussee
    Description:
        http://cssdeck.com/labs/css3-snow
*/

@keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0 }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px, 0 0 }
}

@-moz-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0 }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px, 0 0 }
}

@-webkit-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0, 0 0 }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px, 0 0 }
}

@-ms-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0, 0 0 }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px, 0 0 }
}

#cd-main-overlay {
  background-image:  url('../../images/snow/snowh.png'), url('../../images/snow/snow3q.png'), url('../../images/snow/snow2l.png'), url('../../images/bg/kristallen.jpg');
}
#cd-main-overlay.is-visible {
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}