@keyframes trein {
	0% { left: -1200px; }
	100% { left: 4000px; }
}

.rails {
	pointer-events: none;
	height: 80px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

.ns-ddz-4 { background: url("../../images/trein/ddz_4.png") 0 -1px; }
.ns-ddz-6 { background: url("../../images/trein/ddz_6.png") 0 -2px; }
.ns-icm-3 { background: url("../../images/trein/icm_3.png") 0 0px; }
.ns-icm-4 { background: url("../../images/trein/icm_4.png") 0 0px; }
.ns-icr-7 { background: url("../../images/trein/icr_7.png") 0 2px; }
.ns-icr-9 { background: url("../../images/trein/icr_9.png") 0 4px; }
.flirt3-blauw { background: url("../../images/trein/keolis_flirt3_blauwnet.png") 0 -4px; }
.arriva { background: url("../../images/trein/gtw_e_8_arriva.png") 0 -4px; }
.ns-virm-4 { background: url("../../images/trein/virm_4.png") 0 -2px; }
.ns-virm-6 { background: url("../../images/trein/virm_6.png") 0 -2px; }
.ns-sgmm-2 { background: url("../../images/trein/sgmm_2.png") 0 4px; }
.ns-sgmm-3 { background: url("../../images/trein/sgmm_3.png") 0 5px; }

.ns-icr-9, .ns-icr-7 {
	// De ICR heeft een locomotief
	margin-left: 258px;

	&::before {
		content: '';
		display: inline-block;
		margin-left: -258px;
		width: 258px;
		height: 100px;
		background: url("../../images/trein/e-loc_tr25.png") 0 4px;
		background-size: contain;
	}
}

.trein {
	will-change: left;
	left: -1200px;
	position: absolute;
	width: 200vw;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	animation-name: trein;
	animation-duration: 10s;
	animation-timing-function: linear;
}
