@keyframes trein {
	0% { left: -1200px; }
	100% { left: 4000px; }
}

.rails {
	pointer-events: none;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

.trein {
	left: -1200px;
	position: absolute;
	width: 545px;
	height: 50px;
	background-size: 545px 50px;
	animation-name: trein;
	animation-duration: 10s;

	&.lange {
		width: 1090px;
	}
}


.ns-ddz {
	background-image: url("../../images/trein/NS_DDZ_Treinstel.svg");
}

.ns-intercity {
	background-image: url("../../images/trein/NS_Intercity_Treinstel.svg");
}

.ns-koploper {
	background-image: url("../../images/trein/NS_Koploper_Treinstel.svg");
}
