/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
#cd-top-nav,
#cd-lateral-nav {
    /* HTML5 display-role reset for older browsers jjj*/

    /* .less-bestanden worden erin gekopierd door parser, .css bestanden alleen verwezen */
    @import "../reset";
}
