$basiskleur: #853d7d;

$headerkleur: rgba(229, 61, 0, 0.95);
$loginkleur: rgba(46, 49, 65, 0.8);

$kleur1: #f15025;
$kleur2: #eb6534;
$kleur3: #e53d00;
$kleur4: #fa7921;

$tekstlicht: #FFFFFF;
$tekstdonker: #fa7921;

$scherm-extrabreed: 1280px;
$scherm-breed: 980px;
$scherm-middel: 736px;
$scherm-middelsmal: 640px;
$scherm-smal: 480px;
