@import "variables";

// Zorgt voor de schuine balken op de pagina's en de kleuren in de paginas

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@function escape-color($kleur) {
	@return str_replace(inspect($kleur), '#', '%23')
}

@mixin angle-edge($kleur) {
	background-color: $kleur;
	&:before, &:after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#{escape-color($kleur)}' /%3E%3C/svg%3E");
	}
}

.wrapper {
	background-color: #001e62;
	margin: 6.5em 0;
	position: relative;
	text-align: right;

	.inner {
		display: flex;
		flex-direction: row-reverse;
	}

	&.alt {
		text-align: left;
		.inner {
			flex-direction: row;
		}

		&:before {
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
		}

		&:after {
			-moz-transform: scaleY(-1) scaleX(-1);
			-webkit-transform: scaleY(-1) scaleX(-1);
			-ms-transform: scaleY(-1) scaleX(-1);
			transform: scaleY(-1) scaleX(-1);
		}

	}

	&:before, &:after {
		background-size: 100% 100%;
		content: '';
		display: block;
		height: 6.5em;
		position: absolute;
		width: 100%;
	}

	&:before {
		left: 0;
		top: -6.5em;
	}

	&:after {
		-moz-transform: scaleY(-1);
		-webkit-transform: scaleY(-1);
		-ms-transform: scaleY(-1);
		transform: scaleY(-1);
		bottom: -6.5em;
		left: 0;
	}

	.inner {
		padding: 3em 0 1em 0;
		margin: 0 auto;
		width: 55em;
	}

	&.kleur1 {
		@include angle-edge($kleur1)
	}

	&.kleur2 {
		@include angle-edge($kleur2);
	}

	&.kleur3 {
		@include angle-edge($kleur3);
	}

	&.kleur4 {
		@include angle-edge($kleur4);
	}

	.image {
		width: 15em;
		height: 15em;
		display: inline-block;
		float: right;
		flex-shrink: 0;
		img {
			border-radius: 100%;
			width: 100%;
		}
	}

	.content {
		width: 100%;
		-ms-flex: 2;
	}
}

@media screen and (max-width: $scherm-breed) {

	.wrapper {
		margin: 4.75em 0;

		&:before, &:after {
			height: 4.75em;
		}

		&:before {
			top: -4.75em;
		}

		&:after {
			bottom: -4.75em;
			left: 0;
		}

		.inner {
			padding: 3em 3em 1em 3em;
			width: 100%;
		}

		.image {
			width: 15em;
		}
	}

}

@media screen and (max-width: $scherm-middel) {

	.wrapper {
		margin: 2.5em 0;

		&:before, &:after {
			height: 2.5em;
		}

		&:before {
			top: -2.5em;
		}

		&:after {
			bottom: -2.5em;
			left: 0;
		}

		.inner {
			padding: 2em 2em 0.1em 2em;
		}

		.inner {
			align-items: center;
			flex-direction: column;
		}

		&.alt {
			.inner {
				flex-direction: column;
			}
		}

		.image {
			width: 15em;
			height: 15em;
			margin: 2em 1.75em;
		}
	}

}

@media screen and (max-width: $scherm-smal) {

	.wrapper .inner {
		padding: 2em 1.5em 0.1em 1.5em;
	}

}
