{% extends 'base.html.twig' %}

{% block titel %}Mijn activiteiten{% endblock %}

{% block content %}
	<H3>
		Mijn activiteiten
	</H3>
	<p>
		Op deze pagina ziet u een overzicht van de activiteiten waar u bij staat ingeketzt en waar u bij bent geweest.
	</p>

	{# For elke reeks #}

	{# Titel Reeks #}
	{# Omschrijving Reeks #}

	Aankomende activiteiten
	<table id="civimelder-tabel" class="civimelder-tabel">
		<thead>
		<tr>
			<th>Wanneer</th>
			<th>Activiteit</th>
			<th>Aanwezigen (Limiet)</th>
			<th>Aangemeld</th>
		</tr>
		</thead>
		<tbody>
		{% for activiteit in activiteiten %}
			{{ include('civimelder/mijn_activiteiten_lijst.html.twig', {activiteit: activiteit}) }}
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
