table.agenda {
	border-collapse: collapse;
	border: 1px solid #ccc;
	width: 100%;
}
table.agenda td {
	padding: 3px;
	border: 1px solid;
	width: 132px;
}
table.agenda td hr {
	margin: 5px -3px 5px -3px;
}
table.agenda th {
	padding: 3px;
	border: 1px solid;
	text-align: center;
	vertical-align: top;
	background-color: #dddddd;
}
table.agenda th.weeknr {
	width: 25px;
}
#tijden{
	line-height: 2em;
}
#tijden a{
	cursor: pointer;
}

/*** MAAND ***************************/
div#ical{
	width: 100%;
	text-align: center;
}
div.maandnavigatie{
	padding: 15px 0;
	text-align: center;
}
div.maandnavigatie h1{
	display: inline;
}
div.maandnavigatie a{
	padding: 3px 2px;
}
table#maand{
	clear: both;
}
table#maand tr th{ 
	background-color: #eee;
	border: 1px solid #ccc;
}
table#maand tr td{
	height: 100px; border: 1px solid #ddd;
}
table#maand tr td.dag{
	padding: 0;
	text-align: left;
}
table#maand tr td.dag a.toevoegen{
	display: none;
}
table#maand tr td.dag a.beheren{
	display: none;
}
table#maand tr td.dag:hover a.toevoegen{
	display: inline;
}
table#maand tr td.dag:hover a.beheren{
	display: inline;
}
table#maand td div.meta{
	padding: 3px 4px;
	border-bottom: 1px solid #eee;
	background-color: #f9f9f9;
	line-height: 1.4em;
}
table#maand td.anderemaand { /* De dagen die van andere maanden in de maand-tabel vallen doorzichtig maken */
	opacity: 0.4;
	filter: alpha(opacity=40);
}
table#maand tr#dezeweek td.dag{
	background-color: #fffff0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
table#maand tr td.vandaag{
	background-color: #ffffd0 !important;
	border: 1px solid #bbb;
}
table#maand tr td:hover{
	background-color: #fafafa ;
	border: 1px solid #bbb;
}
table#maand tr td#vandaag div.meta{ 
	font-weight: bold;
}
table#maand td div a.toevoegen{
	float: right; 
}
table#maand td ul{
	clear: both;
	list-style-type: none;
	margin: 0; padding: 0;
}
table#maand td ul li{
	margin: 0;
	padding: 4px 4px;
	font-size: 11px;
	line-height: 1.4em;
}
table#maand td ul li:nth-child(even){
	background-color: #eaeaea;
}
table#maand td ul li .tijd{
	font-size: 11px;
	color: #777;
}
table#maand td ul li  img.icon{
	float: right;
}
table#maand td ul li a.beheren{
	float: right; 
	margin-left: 1px;
	margin-top: -3px;
}
