div.preview { display: none; margin: 7px; padding: 2px; background-color: #ffffc1; border: 1px solid #ccc; }
div.preview-show { display: block; }
div.preview.pagina { padding: 2px; width: 100%;}

span.offtopic { font-size: 9px; color: #bbb; }
span.offtopic a { color: #bbb; }
span.offtopic hr { text-align: left; background-color: #bbb; }
span.offtopic img { opacity: 0.3; filter: alpha(opacity=30); }

.bb-block {
	border: 1px solid #b8b8b8;
	background-color: #f5f5f5;
	padding: 8px 12px;
	margin: 0 0 10px;
}

#forumtabel td .bb-block { margin: 2px 0; }

.bb-maaltijd {
	width: 329px;
	overflow: auto;
}
.bb-maaltijd h2 { white-space: nowrap; overflow: hidden; }
.bb-maaltijd {
	line-height: 1.7em;
}
.bb-maaltijd .aanmelddata {
	text-align: center;
	float: right;
	width: 80px;
	height: 45px;
	padding: 4px;
	border: 1px solid #B8B8B8;
}
div.maaltijd-aangemeld {
	background-color: #AAEEAA;
}
div.maaltijd-afgemeld {
	background-color: #EEAAAA;
}
a.maaltijd-aangemeld, span.maaltijd-aangemeld {
	font-weight: bold;
	color: green !important;
}
a.maaltijd-afgemeld, span.maaltijd-afgemeld {
	font-weight: bold;
	color: red !important;
}

.bb-gmap {
	width: 300px;
	height: 200px;
	border: 1px solid darkgrey;
	margin: 2px;
}

.bb-groep {
	padding: 5px 10px 5px 10px;
}
.bb-groep .groepleden {
	width: 275px;
	float: right;
	margin-left: 10px;
}
.bb-groep .groepleden table.leden { width: 100%; }
.bb-groep .groepleden table.leden td { padding: 0 5px 0 0; text-align: left; }
.bb-groep .groepleden a.toonmeer { float: left; }
.bb-groep .groepleden .editbox { display: none; background-color: #ffffcc; border: solid 1px #000; padding: 1px;}
.bb-groep .groepleden .inline_edit {
	background: url(http://plaetjes.csrdelft.nl/famfamfam/pencil.png) right no-repeat;
	padding-right: 18px!important;
}
.bb-groep .groepleden .inline_edit: hover {
	background: url(http://plaetjes.csrdelft.nl/famfamfam/pencil.png) right no-repeat #f5f5f5;
	cursor: pointer;
}
.bb-groep .groepleden .inline_edit input {	width: 120px;}
.bb-groep .groepleden .melding { color: red;}
.bb-groep .aanmelden { clear: left; padding-top: 6px; }
.bb-groep .aanmelden .pasfoto { margin-right: 10px; }

div.pasfoto img.lidfoto {
	float: left;
	width: 50px;
	height: 67px;
	border: 1px solid grey;
	margin: 3px 0 0 3px;
}

.bb-document { width: 450px; padding: 4px 6px; display: block; text-align: left; }
.bb-document .size { float: right; color: #777; }
.bb-document .download { float: right; margin-right: 5px; }
.bb-document .download .module-icon { position: initial; top: initial; }
.bb-document .icon { float: left; margin-right: 5px; }

.bb-boek { padding: 4px 6px; display: block; text-align: left; text-decoration: none !important;}
.bb-boek .auteur { color: #777; margin-left: 10px; }
.bb-boek .titel: hover {color: #0a338d; text-decoration: underline;}
.bb-boek .icon { float: left; padding-right: 5px; }
.boekindicator { margin-right: 5px;}
.boekindicator.beschikbaar	 {color: green;}
.boekindicator.teruggegeven	 {color: orange;}
.boekindicator.geen			 {color: red;}

pre.bbcode {
	font-family: monospace;
	background-color: #f5f5f5;
	margin-top: 4px;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	max-width: 570px;
	max-height: 360px;
	white-space: normal;
	overflow-y: auto;
}

.bb-peiling { margin: 10px;  padding: 5px 10px; }
.bb-peiling .beheer { float: right; }
.bb-peiling .totaal { float: right; color: #666; padding-left: 20px; }
.bb-peiling ul { list-style-type: none; padding: 5px; }
.bb-peiling ul li { border-bottom: 1px solid #eee; margin-left: 0; clear: both;  padding: 4px;}
.bb-peiling ul li .stemmen { float: right; color: #666; width: 30px; text-align: right; }
.bb-peiling ul li .percentage { float: right; color: #666; width: 50px; text-align: right; }
.bb-peiling .vraag { margin: 10px 0; text-align: left; line-height: 2em; }
.bb-peiling .optie { float: left; width: 300px; }
.bb-peiling .grafisch { float: right; width: 300px; vertical-align: top; padding: 4px; }
.bb-peiling .balk { height: 10px; background-color: #6060FF;  border: 1px outset #0a338d; float: right; }

.bb-table { padding: 0; border-collapse: collapse; }
.bb-table tr { margin: 0; padding: 0; }
.bb-table td, .bb-table th { margin: 0; padding: 2px; }

.bb-fotoalbum {

}
.bb-fotoalbum .images { margin-top: 6px; position: relative;}
.bb-fotoalbum .images a { position: absolute;}
.bb-fotoalbum .images a.sml img { width: 75px; height: 75px; }
.bb-fotoalbum .images a.big img { width: 154px; height: 154px;}

.bb-fotoalbum img.compact {
	float: right;
	width: 50px;
	margin-top: -1em;
}

/* Slider voorpagina */
/* Slider: Window/Masking Styles */
.bb-slideshow {
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
	width: 355px;
	height: 238px;
}
.bb-slideshow .image_reel {
	position: absolute;
	top: 0; left: 0;
}
.bb-slideshow .image_reel img {float: left;width: 355px;}

/* Slider: Paging Styles */
.bb-slideshow .paging {
	position: absolute;
	bottom: 5px; right: 5px;
	width: 170px; height: 15px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 9px;
	background: #000;
	border: #000;
	opacity: 0.4;filter: alpha(opacity=40);
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.bb-slideshow .paging a {
	padding: 4px;
	text-decoration: none;
	color: #fff;
	font: normal 8px Verdana, Arial, Helvetica, sans-serif;
}
.bb-slideshow .paging a.active {
	background: #777;
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #000;
}
.bb-slideshow .paging a: hover {
	text-decoration: underline;
}

.spoiler-content {
	display: none;	
}

.citaatpuntjes {
	cursor: pointer;
}
div.citaatContainer {
	margin: 5px 5px 5px 20px;
}
div.citaat {
	background-color: #e1e1e1;
	padding: 5px 10px 5px 10px;
	font-size: 0.98em;
}
div.citaatContainer div.citaat div.citaatContainer div.citaat {
	background-color: #e9e9e9;
}
div.citaatContainer div.citaat div.citaatContainer div.citaat div.citaatContainer div.citaat {
	background-color: #efefef;
}

.bb-img-loading {
	max-width: 570px;
	min-width: 16px;
	min-height: 11px;
	background-image: url('http://plaetjes.csrdelft.nl/layout/loading-fb.gif');
	background-repeat: no-repeat;
	background-position: bottom left;
}
img.bb-img {
	max-width: 570px;
	border: 0;
}

/* zorg dat de plaatjes ook in citaten niet te breed worden */
div.citaatContainer div.citaat img.bb-img {
	max-width: 540px;
}
div.citaatContainer div.citaat div.citaatContainer div.citaat img.bb-img {
	max-width: 510px;
}

.bb-video-play {
	display: none;
}
.bb-video-preview {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.bb-video-preview img {
	max-height: 150px;
}
.bb-video-preview .play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
	background-image: url('http://plaetjes.csrdelft.nl/forum/afspelen.gif');
	width: 36px;
	height: 36px;
	opacity: 0.7;
}


/** Mededelingen Top3 [mededelingen=...] **************************************************************/
.mededeling-grotebalk {
	padding: 8px 12px 8px 6px;
	margin-bottom: 10px;
	border-top: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	background-color: #f5f5f5;
}
.mededeling-grotebalk .plaatje {
	width: 70px;
	height: 70px;
	margin-top: 3px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
}
.mededeling-grotebalk .titel {
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 0 3px;
	margin-left: 80px;
}
.mededeling-grotebalk .bericht {
	text-align: left;
}
.mededeling-grotebalk .half {
	width: 49%;
	float: left;
	margin-bottom: 0;
}
#mededelingen-top3block {
	float: left;
	margin: 0 0 0 20px;
	width: 400px;
}