/** Menu **/
#main, #menu, #submenu {
	width: 100%;
}
#menuleft {
	width: 200px;
}
#submenuitems div {
	float: left;
	margin-left: 50px;
}

/** Zijkolom **/
html, body, #main, #mainleft, #mainright, #zijkolom {
	height: 100%;
}
#mainleft {
	border-right: 1px solid #b8b8b8;
}
#mainright {
	padding-left: 16px;
}
#zijkolom {
	background-color: #F6F6F6;
	/*box-shadow: inset -10px 0 10px -5px #888;*/
}
#zijkolom .block h1 {
	background-image: url("http://plaetjes.csrdelft.nl/layout/portal-break.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: transparent;
	border: none;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
}
#zijkolom .block .item {
	border: none;
}

/** Mededelingen **/
#top3overzicht, #kolomrechts, div.bericht {
	width: auto !important;
}