/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-dec-2013, 1:42:41
    Author     : Paul Brussee
*/

#main {
	width: 100%;
}

#menu {
	margin: 0;
}

#submenuitems {
	float: left;
}

#top3overzicht, #kolomrechts, div.bericht {
	width: auto !important;
}

#adminding div {
	position: absolute;
	left: -100px;
}