
/* LET op volgorde: na layout_pagina.css */

.static { position: static; }
.scrollpane { overflow: auto; }
.float-none { float: none; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.inline { display: inline; }
div.inline { display: inline-block; }
table.inline { display: inline-table; }
.text-center { text-align: center; }
.text-bottom { vertical-align: bottom; }
/* don't forget to use these within a relative component */
.top-left { position: absolute; top: 0; left: 0; }
.top-right { position: absolute; top: 0; right: 0; }
.bottom-left { position: absolute; bottom: 0; left: 0; }
.bottom-right { position: absolute; bottom: 0; right: 0; }

.staatrood { color: red; }
img.neus2013 {
	width: 16px;
	height: 16px;
	margin: -5px;
}