
/* LET op volgorde: na layout_pagina.css */

#mysql_debug_toggle {
	cursor: pointer;
}
#mysql_debug {
	display: none;
}
.pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
.static { position: static; }
.scrollpane { overflow: auto; }
.float-none { float: none; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.inline { display: inline; }
div.inline { display: inline-block; }
table.inline { display: inline-table; }
.text-center { text-align: center; }
.text-bottom { vertical-align: bottom; }
/* don't forget to use these within a relative component */
.top-left { position: absolute; top: 0; left: 0; }
.top-right { position: absolute; top: 0; right: 0; }
.bottom-left { position: absolute; bottom: 0; left: 0; }
.bottom-right { position: absolute; bottom: 0; right: 0; }
.alternate-bgcolor {
	background-color: #FAFAFA;
}
.alternate-bgcolor:nth-child(even) {
	background-color: #EBEBEB;
}

abbr.timeago { border: none; }
abbr.timeago:hover { border-bottom: 1px dotted grey; }

a, a.btn { text-decoration: none; }
a.external {
	background-image: url('http://plaetjes.csrdelft.nl/layout/external-link-blue.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 14px;
}
a:hover { text-decoration: underline; }
.btn.vergroot {
	font-size: 14px;
}

.toggle-submenu {
	position: relative;
	cursor: pointer;
}
.toggle-submenu:hover {
	font-weight: bold;
}
.toggle-submenu::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 1em;
	background: url("http://plaetjes.csrdelft.nl/knopjes/cd-arrow.svg") no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.toggle-submenu-open::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}