
/* LET op volgorde: na layout_pagina.css */

#mysql_debug_toggle {
	cursor: pointer;
}
#mysql_debug {
	display: none;
}
.pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
.scrollpane { overflow: auto; }
.float-none { float: none; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.inline { display: inline; }
div.inline, form.inline, h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline { display: inline-block; }
table.inline { display: inline-table; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-bottom { vertical-align: bottom; }
/* don't forget to use these within a relative component */
.top-left { position: absolute; top: 0; left: 0; }
.top-right { position: absolute; top: 0; right: 0; }
.bottom-left { position: absolute; bottom: 0; left: 0; }
.bottom-right { position: absolute; bottom: 0; right: 0; }
.alternate-bgcolor {
	background-color: #FAFAFA;
}
.alternate-bgcolor:nth-child(even) {
	background-color: #EBEBEB;
}

/* --------------------------------

Dynamic reldate

-------------------------------- */
abbr.timeago { border: none; }
abbr.timeago:hover { border-bottom: 1px dotted grey; }

/* --------------------------------

Externe links & Knoppen

-------------------------------- */
a.external {
	background-image: url('/plaetjes/layout/external-link-blue.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 1em;
}
a:hover { text-decoration: underline; }
a, a.btn, a.btn:hover { text-decoration: none; }

/* --------------------------------

Group expand/collapse toggle

-------------------------------- */
.toggle-group {
	position: relative;
	cursor: pointer;
}
.toggle-group::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 1em;
	background: url("/plaetjes/knopjes/cd-arrow.svg") no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.toggle-group-expanded::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

/* --------------------------------

Modal popup

-------------------------------- */
#modal {
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	min-width: 600px;
	z-index: 1040;
	padding: 50px;
	background-color: #fff;
}/*
#modal::after {
	content: "";
	background-image: url("/plaetjes/layout/beeldmerk.jpg");
	background-position: top 10px right 15px;
	background-repeat: no-repeat;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}*/
#modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0.5;
	background-color: black;/*
	background-image: url("/plaetjes/layout/loading_bar_black.gif");*/
	background-position: 50% 300px;
	background-repeat: no-repeat;
}

/* -------------------------------- 

Dragable objects

-------------------------------- */
.dragobject {
	position: fixed;
	z-index: 50;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dragobject:active {
	cursor: move;
}
.dragvertical {
	overflow-y: hidden;
}
.dragvertical:active {
	cursor: ns-resize;
}
.draghorizontal {
	overflow-x: hidden;
}
.draghorizontal:active {
	cursor: ew-resize;
}