/**
 * csrdelft.dataTables.less
 * 
 * @author P.W.G. Brussee <brussee@live.nl>
 */

.dataTables_wrapper {

	.dataTables_info {
		clear: none;
		margin-left: 10%;
	}
	.dataTables_length {
		padding-top: 0.755em;
	}
	.dataTables_filter input {
		border: 1px solid lightgray;
		line-height: 1.5em;
	}

	.DTTT_button, .DTTT_button:hover, .DTTT_button:focus {
		background-color: white;
		background-repeat: no-repeat;
		background-position: 8px;
		padding: 5px 10px 5px 30px;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		text-shadow: none;
		box-shadow: none;
		vertical-align: middle;
	}
	.DTTT_button_text, .DTTT_button_text:hover, .DTTT_button_text:focus {
		padding-left: 10px;
		background: none;
		background-color: white;
	}
	.DTTT_button_key_add, .DTTT_button_key_add:hover, .DTTT_button_key_add:focus {
		background-image: url("/plaetjes/famfamfam/key_add.png");
	}
	.DTTT_button_key_edit, .DTTT_button_key_edit:hover, .DTTT_button_key_edit:focus {
		background-image: url("/plaetjes/famfamfam/textfield_key.png");
	}
	.DTTT_button_key_delete, .DTTT_button_key_delete:hover, .DTTT_button_key_delete:focus {
		background-image: url("/plaetjes/famfamfam/key_delete.png");
	}
	.DTTT_button_user_add, .DTTT_button_user_add:hover, .DTTT_button_user_add:focus {
		background-image: url("/plaetjes/famfamfam/user_add.png");
	}
	.DTTT_button_user_edit, .DTTT_button_user_edit:hover, .DTTT_button_user_edit:focus {
		background-image: url("/plaetjes/famfamfam/user_edit.png");
	}
	.DTTT_button_user_delete, .DTTT_button_user_delete:hover, .DTTT_button_user_delete:focus {
		background-image: url("/plaetjes/famfamfam/user_delete.png");
	}
	.DTTT_button_add, .DTTT_button_add:hover, .DTTT_button_add:focus {
		background-image: url("/plaetjes/famfamfam/add.png");
	}
	.DTTT_button_edit, .DTTT_button_edit:hover, .DTTT_button_edit:focus {
		background-image: url("/plaetjes/famfamfam/pencil.png");
	}
	.DTTT_button_delete, .DTTT_button_delete:hover, .DTTT_button_delete:focus {
		background-image: url("/plaetjes/famfamfam/cross.png");
	}
	.DTTT_button_remove, .DTTT_button_remove:hover, .DTTT_button_remove:focus {
		background-image: url("/plaetjes/famfamfam/bin_closed.png");
	}
	.DTTT_button_lock, .DTTT_button_lock:hover, .DTTT_button_lock:focus {
		background-image: url("/plaetjes/famfamfam/lock.png");
	}
	.DTTT_button_copy, .DTTT_button_copy:hover, .DTTT_button_copy:focus {
		background-image: url("/plaetjes/famfamfam/page_white_copy.png");
	}
	.DTTT_button_csv, .DTTT_button_csv:hover, .DTTT_button_csv:focus {
		background-image: url("/plaetjes/famfamfam/pilcrow.png");
	}
	.DTTT_button_xls, .DTTT_button_xls:hover, .DTTT_button_xls:focus {
		background-image: url("/plaetjes/famfamfam/page_white_excel.png");
	}
	.DTTT_button_pdf, .DTTT_button_pdf:hover, .DTTT_button_pdf:focus {
		background-image: url("/plaetjes/famfamfam/page_white_acrobat.png");
	}
	.DTTT_button_print, .DTTT_button_print:hover, .DTTT_button_print:focus {
		background-image: url("/plaetjes/famfamfam/printer.png");
	}

}

.dataTable {
	width: 100% !important;

	thead {

		tr:hover {
			background-color: white !important;
		}
	}
	tbody {

		tr.group,
		tr.group:hover {
			background-color: white !important;
		}
		tr.group td {
			font-weight: bold;
		}

		tr {

			td.editable {
				cursor: url("/plaetjes/layout/edit.png"), cell;
			}

			td.toggle-childrow::before {
				font-size: 1.1em;
				font-family: FontAwesome;
				content: "\f196"; // fa-plus-square-o
			}
		}
		tr:hover {

			td.toggle-childrow::before {
				content: "\f0fe"; // fa-plus-square
			}
		}
		tr.expanded {

			td.toggle-childrow::before {
				content: "\f147"; // fa-minus-square-o
			}
		}
		tr.expanded:hover {

			td.toggle-childrow::before {
				content: "\f146"; // fa-minus-square
			}
		}
		tr.loading {

			td.toggle-childrow::before {
				content: none;
			}
			td.toggle-childrow {
				background: url("/plaetjes/layout/loading-fb.gif") no-repeat center center;
			}
		}
		tr.childrow:hover {
			background-color: white !important;
		}
	}
}