/*!
 * csrdelft.dataTables.less
 * 
 * @author P.W.G. Brussee <brussee@live.nl>
 */

.dataTables_wrapper {

	label {
		font-weight: normal;
	}

	input.dataTables_filter {
		text-align: left;
		float: right;
		margin-top: 0;
	}

	/* DataTables footer positioning */
	.dataTables_info {
		clear: none;
		margin-left: 10%;
	}
	.dataTables_length {
		padding-top: 0.755em;
	}

}

.dataTable {

	tbody {

		/* DataTables group-by */
		tr.group,
		tr.group:hover {
			background-color: white !important;
		}
		tr.group td {
			font-weight: bold;
		}

		/* DataTables child-row */
		tr.childrow:hover * {
			background-color: white;
		}
	}

	/* DataTables expand/collapse */
	td.details-control,
	th.details-control {
		background: url('http://plaetjes.csrdelft.nl/datatables/details_open.png') no-repeat center center;
		cursor: pointer;
	}
	tr.expanded {

		td.details-control,
		th.details-control {
			background: url('http://plaetjes.csrdelft.nl/datatables/details_close.png') no-repeat center center;
		}
	}
}
