/**
 * csrdelft.dataTables.less
 * 
 * @author P.W.G. Brussee <brussee@live.nl>
 */

.dataTables_wrapper {

	.dataTables_info {
		clear: none;
		margin-left: 10%;
	}
	.dataTables_length {
		padding-top: 0.755em;
	}
	.dataTables_filter input {
		border: 1px solid lightgray;
	}
	.dataTables_filter input:hover {
		border-color: lightskyblue;
	}

	.DTTT_button, .DTTT_button:hover {
		background-repeat: no-repeat;
		background-position: 8px;
		padding-left: 30px;
	}
	.DTTT_button_new, .DTTT_button_new:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/add.png);
	}
	.DTTT_button_edit, .DTTT_button_edit:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/pencil.png);
	}
	.DTTT_button_text, .DTTT_button_text:hover {
		padding-left: 8px;
		background: none;
	}
	.DTTT_button_copy, .DTTT_button_copy:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/page_white_copy.png);
	}
	.DTTT_button_csv, .DTTT_button_csv:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/pilcrow.png);
	}
	.DTTT_button_xls, .DTTT_button_xls:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/page_white_excel.png);
	}
	.DTTT_button_pdf, .DTTT_button_pdf:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/page_white_acrobat.png);
	}
	.DTTT_button_print, .DTTT_button_print:hover {
		background-image:url(http://plaetjes.csrdelft.nl/famfamfam/printer.png);
	}

}

.dataTable {

	tbody {

		tr.group,
		tr.group:hover {
			background-color: white !important;
		}
		tr.group td {
			font-weight: bold;
		}

		tr.childrow:hover * {
			background-color: white;
		}

		tr td {
			cursor: default;
		}
		tr td.editable {
			cursor: cell;
		}
	}

	td.toggle-childrow,
	th.toggle-childrow {
		background: url('http://plaetjes.csrdelft.nl/knopjes/plus.png') no-repeat center center;
		cursor: pointer;
	}
	tr.expanded {

		td.toggle-childrow,
		th.toggle-childrow {
			background: url('http://plaetjes.csrdelft.nl/knopjes/min.png') no-repeat center center;
		}
	}
	tr.loading {

		td.toggle-childrow,
		th.toggle-childrow {
			background: url('http://plaetjes.csrdelft.nl/layout/loading-fb.gif') no-repeat center center;
		}
	}
}
