/*Invert kleuren*/
html, img, .alert, .ongelezenvanaf, .progress, .progress-bar-info, #minion, .groep-stat, .markItUpButton a, .btn::before, iframe, .aanmelddata {
	-webkit-filter: invert(100%); 
	filter: invert(100%);
}
.bb-dies2015 {
	-webkit-filter: invert(0%); 
	filter: invert(0%);
}

/*Kleuren fixes*/
#cd-zijbalk .ishetal .ja, #cd-zijbalk .ishetal .nee, .staatrood {
	color: #5DCCF3;
}
#cd-zijbalk .ishetal .ja {
	color: #F883B1;
}
.bb-block:hover {
	-webkit-box-shadow: 0 0 10px #0A3292;
	-moz-box-shadow: 0 0 10px #0A3292;
	box-shadow: 0 0 10px #0A3292;
}
.bb-block:hover .bb-block {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
div.maaltijd-aangemeld {
	background-image: -webkit-linear-gradient(top,#5cb85c 0,#077b4e 100%);
	background-image: -o-linear-gradient(top,#5cb85c 0,#077b4e 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#077b4e));
	background-image: linear-gradient(to bottom,#5cb85c 0,#077b4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff077b4e',GradientType=0);
	background-repeat: repeat-x;
}
div.maaltijd-afgemeld {
	background-image: -webkit-linear-gradient(top,#d9534f 0,#7c2507 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#7c2507 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#7c2507));
	background-image: linear-gradient(to bottom,#d9534f 0,#7c2507 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ff7c2507',GradientType=0);
	background-repeat: repeat-x;
}

/*Andere (optionele) aanpassingen*/
#cd-zijbalk {
	left: 0;
	padding-left: 15px;
	border-left: 10px solid #0A3292;
}
.bb-maaltijd .aanmelddata {
	height: auto;
	padding: 5px 5px 10px;
}
.block:nth-of-type(2) {
	display: none;
}
.btn {
	border-radius: 0;
	background: #0A3292;
}
.btn:hover {
	background: #0A3292;
}
.round {
	padding: 2px;
	width: 26px;
	height: 26px;
	border-radius: 15px;
}
.knopjes {
	margin-top: 20px;
}
h1[title="Lid-status: Lid"] .status {
	display: none;
}
#profiel h1 {
	margin-bottom: 50px;
}
#profiel .gegevens {
	border: none;
}
#profiel img.pasfoto {
	border: none;
	box-shadow: 0 1px 2px #BBB;
}
.ishetal {
	line-height: 20px;
}