#eetplan {
  table {
    float: left;
    tr td {
      text-align: left;
      padding: 8px 10px;
    }
    tr th {
      border-bottom: 1px solid black;
      padding: 8px 10px;
    }
    tr:nth-child(2n-1) td {
      background-color: #f1f1f1;
    }
    tr:nth-child(2n) td {
      background-color: #f9f9f9;
    }
    tr .huis {
      border-left: 1px solid #000;
      padding: 3px 4px;
    }
    tr td.leeg {
      background-color: #ffb9ab;
    }
  }
}

.eetplantabel {
  td, th {
    padding: 8px 10px;
  }
  th {
    border-bottom: 1px solid black;
  }

  tr.donker {
    background-color: #f1f1f1;
  }
  tr.licht {
    background-color: #f9f9f9;
  }
}

/* Eetplan */
#eetplanLETOP {
  display: block;
  color: darkred;
  font-size: 1.8em;
  font-weight: bold;
  padding: 10px;
  text-align: justify;
  border: 1px solid #000;
  background-color: lightgrey;
}

.eetplantabel {
  border-collapse: collapse;
}
