/** FORMULIER **************************************************************/

.Formulier {
	* {
		margin: 0;
		padding: 0;
		font-size: 1em;
	}
	.ui-tabs .ui-tabs-panel {
		padding: 0;
	}
	input, textarea {
		padding: 0 0.5em;
	}
	select {
		padding: 0.5em;
	}
	.readonly {
		border: none;
		cursor: default;
	}
	label, div {
		line-height: 2em;
	}
	label {
		padding-left: 5px;
		float: left;
		width: 30%;
		vertical-align: middle;
		cursor: default;
	}
	label .required {
		color: red;
	}
	label .help {
		position: absolute;
		margin-left: -25px;
	}
	textarea {
		width: 23em;
	}
	input[type="text"] {
		width: 16em;
	}
	input[type="radio"] {
		vertical-align: middle;
	}
	input[type="file"] {
		border: none;
	}
	.AutoSize {
		resize: none;
	}
	.InputField, h3, .password {
		clear: both;
	}
	.InputField {
		border: 1px solid transparent;
		max-width: 500px;
	}
	.InputField:hover {
		border: 1px solid #ddd;
		background-color: #eee;
	}
	.VinkField {
		margin: 4px 0 0 4px;
	}
	.VinkFieldLabel {
		float: none;
		width: auto;
		vertical-align: top;
	}
	.FormKnoppen {
		margin-top: 25px;
	}
	.UploadOptie {
		min-height: 2em;
	}
	.BestandBehoudenNaam {
		height: 2em;
	}
	.VerwijderVanFtpCheckbox {
		vertical-align: middle;
	}
	.UploadKeuze {
		margin-left: 150px;
	}
	.datumPreview {
		display: inline-block;
		margin-left: 10px;
	}
	.CsrBBPreview {
		float: left;
		clear: both;
		width: 100%;
	}
	input.UidField {
		width: 4em;
	}
	.lidPreview {
		float: right;
	}
	input.LidField, input.RequiredLidField {
		width: 10em;
	}
	label.KeuzeRondjeField {
		float: none;
	}
	.KeuzeRondjeFieldOptions {
		margin-left: 30%;
		padding: 5px;
	}
	input.IntField, input.DecimalField, input.BedragField, input.RequiredIntField, input.RequiredDecimalField, input.RequiredBedragField {
		width: 4em;
		text-align: right;
	}
	.metFouten {
		background-color: #FFC3CE;
		padding: 4px 2px;
	}
	.InputField .waarschuwing {
		float: right;
		margin-right: 10px;
	}
	.password {
		padding: 2px 1px;
	}

	h3 {
		margin-top: 8px;
		margin-bottom: 1px;
	}
}

h1.formTitle {
	font-size: 1.5em;
}
h3.formSubkopje {
	font-size: 1.2em;
	font-weight: bold;
}


/* Inline Formulier */
.InlineForm {
	.InputField, .FormKnoppen {
		display: none;
	}
	.FormElement {
		width: auto !important;
	}
	div.InputField:hover {
		border: 1px solid transparent;
		background-color: transparent;
	}
	.InlineFormToggle {
		border-bottom: 1px dotted grey;
		width: 100%;
		height: 15px;
		cursor: pointer;
		font-style: italic;
	}
}
