.subalbum {
	width: 150px;
	height: 150px;
	margin: 25px;
	float: left;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.subalbum:hover {
	text-decoration: none;
	border-color: #aaaaaa;
}
.subalbum .subalbumname {
	position: absolute;
	top: 90px;
	width: 150px;
	padding: 5px 2px 5px 2px;
	text-align: center;
	color: black;
	background-color: white;
	opacity: 0.8;
}
.subalbum:hover .subalbumname {
	opacity: 0.9;
}

.jgallery .jgallery-thumbnails .jgallery-container {
	overflow-x: auto;
	overflow-y: hidden;
}
.jgallery .jgallery-thumbnails .jgallery-container-inner {
	height: 150px;
	padding: 0;
}
.jgallery .jgallery-thumbnails.full-screen {
	height: 100%;
}
.jgallery .jgallery-thumbnails.full-screen .jgallery-container {
	overflow-x: hidden;
	overflow-y: auto;
}