.dropzone {
	border: none !important;
	background: none !important;
}
.dropzone button {
	background-image: -webkit-linear-gradient(top, #fafafa, #eee);
	background-image: -moz-linear-gradient(top, #fafafa, #eee);
	background-image: -o-linear-gradient(top, #fafafa, #eee);
	background-image: -ms-linear-gradient(top, #fafafa, #eee);
	background-image: linear-gradient(to bottom, #fafafa, #eee);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #eee;
	text-decoration: none;
	display: block;
	padding: 4px 5px;
	text-align: center;
	color: #aaa;
	width: 100%;
}
.dropzone button:hover, .dropzone a.dz-remove:hover {
	color: #333 !important;
	cursor: pointer !important;
}

.subalbum {
	position: relative;
}
.subalbum:hover {
	text-decoration: none;
}
.subalbum .subalbumname {
	position: absolute;
	top: 60%;
	width: 100%;
	padding: 5px 2px 5px 2px;
	text-align: center;
	font-weight: bold;
	color: black;
	background-color: white;
	opacity: 0.8;
}
.subalbum:hover .subalbumname {
	opacity: 0.9;
}
.subalbums {
	position: absolute;
}
.subalbums .subalbum {
	width: 150px;
	height: 150px;
	margin: 0 1px 1px 0;
	float: left;
	cursor: pointer;
}
.subalbums:hover .subalbum, .jgallery-container-inner:hover a {
	opacity: 0.5;
	-webkit-transition: opacity .4s ease-out;
	-moz-transition: opacity .4s ease-out;
	-o-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out;
}
.subalbums:hover .subalbum:hover, .jgallery-container-inner:hover a:hover {
	opacity: 1;
}

.jgallery.jgallery-full-screen .zoom-container .nav {
	top: 50px;
}
.jgallery .zoom-container .jgallery-container {
	background-color: #fff !important;
}
.jgallery .jgallery-thumbnails .jgallery-container {
	overflow-x: auto;
}
.jgallery .jgallery-thumbnails .jgallery-container-inner {
	height: 150px;
	padding: 0 !important;
}
.jgallery .jgallery-thumbnails.full-screen .jgallery-container {
	overflow-y: auto;
}
.jgallery .jgallery-thumbnails.full-screen .jgallery-close {
	display: none;
}
.jgallery .jgallery-thumbnails.full-screen .change-album {
	display: none;
}