
/** GROEPEN **************************************************************/

ul.tabs {
    float: right;
}
ul.tabs li {
    float: left;
    margin-left: 2px;
    text-align: center;
}
ul.tabs a {
    float: left;
    width: 20px;
    height: 20px;
    color: white;
    background-color: #cfcfcf;
}
ul.tabs a.active {
    background-color: #0a338d;
}
div.generaties {
    margin: 10px 0;
    padding: 3px 20px;
}
div.vorigeGroep {
    list-style-image: url("//csrdelft.nl/plaetjes/groepen/up.png");
}
div.volgendeGroep {
    list-style-image: url("//csrdelft.nl/plaetjes/groepen/down.png");
}
div.groepTabContent {
    clear: both;
    width: 300px;
}
table.groepLeden td {
    width: 150px;
}
div.pasfoto img.pasfoto {
    float: left;
    width: 50px;
    height: 67px;
    border: 1px solid grey;
    margin: 3px 0 0 3px;
}
table.groepStats {
    border-spacing: 0;
    border: 1px solid #000;
    float: right;
}
table.groepStats tr:nth-child(even) {
    background-color: #ccc;
}
table.groepStats tr:nth-child(odd) {
    background-color: #eee;
}
table.groepStats th {
    background-color: #0A338D;
    color: #fff;
}
table.groepStats td {
    width: 150px;
}
table.groepStats td, table.groepStats th {
    padding: 5px 10px;
}




/* Groepenlijst */
#groepLijst { float: right; width: 200px; background-color: #EEE; }
#groepLijst, #groepLijst li, #groepLijst ul { text-align: right; }
#groepLijst li { list-style-type: none; }
.groep { border-top: 1px solid black; margin-top: 20px; }
ul.groepledenlijst { width: 230px; float: right; padding: 10px 20px 20px 20px; margin-left: 10px; }

/* groep-view */
#groepledenContainer { float: right; margin-left: 10px; }
#tabs li { 
	float: right; 
	height: 18px; width: 20px; 
	margin-left: 2px;
	color: white;
	background-color: #cfcfcf; 
	text-align: center;
	cursor: pointer;
	list-style-type: none;
}
#tabs li a {
	display: block;
	color: white;
	height: 18px; width: 20px; 
}
#tabs li.active {
	background-color:#0a338d; 

}
.groepleden {
	width: 300px;
	clear: both;
	float: right;
	background-color: #f5f5f5;
	margin-left: 10px;
	padding: 1px 0;
}
.groepleden table.leden { width: 100%; }
.groepleden table.leden td { padding: 0 5px; text-align: left; }
.groepleden table.leden input.functie { width: 80px; }
.groepleden .toonmeer { clear: left; display: block; padding: 0 0 10px 15px; }
.groepleden .aanmelden { clear: left; padding: 5px 5px 4px; }
.groepleden .aanmelden input.functie { width: 160px; }
.groepleden .aanmelden .pasfoto { width: 50px; height: 67px; border: 1px solid grey; margin-left: 5px; }
.groepleden .emails { margin: 5px 10px; }


#voorgangerOpvolger { margin: 10px 0; padding: 3px 20px; border-bottom: 1px solid black; }
.vorigeGroep { list-style-image: url("//csrdelft.nl/plaetjes/groepen/up.png"); }
.volgendeGroep { list-style-image: url("//csrdelft.nl/plaetjes/groepen/down.png"); }
#groepAdmin { float: right; margin: 10px ; }
.groepFormulier { width: 100%; }
.groepFormulier label { float: left; margin-right: 15px; width: 130px; }
.groepFormulier input, .groepFormulier textarea, .groepFormulier select { margin-top: 4px; margin-bottom: 4px; }
.groepFormulier input[type=text] { width: 144px; }
.groepFormulier input[type=text]#groepNaam { width: 604px; }
.groepFormulier textarea { width: 604px; }
.groepFormulier select#groepAanmeldbaar, .groepFormulier select#toonFuncties { width:150px; }
.groepFormulier div.opmerking { float: right; width: 440px; margin-bottom: 10px; }
.groepFormulier div.opmerking#periode { width: 280px; }
.groepFormulier .extraknopjespreview { float: right; }
.groepFormulier input.voorbeeld { margin-top: 0; }

#groepenFormulier { width: 600px; }

/* bewerken van opmerking/functie */
.editbox {
	display:none
}
.editbox {
	background-color:#ffffcc;
	border:solid 1px #000;
	padding:1px;
}
.inline_edit {
	background:url("//csrdelft.nl/plaetjes/famfamfam/pencil.png") right no-repeat;
	padding-right:18px!important;
}
.inline_edit:hover {
	background:url("//csrdelft.nl/plaetjes/famfamfam/pencil.png") right no-repeat #f5f5f5;
	cursor:pointer;
}
.inline_edit input {
	width: 120px;
}
.melding {
	color:red;
}
