body{
	color: white;
}

#container, #mainleft *, #adminding, #adminding *, #footer{
	background-image: none !important;
}

#main, #mainleft *, #mainright, #adminding, #adminding *, #footer{
	background-color: #000 !important;
}


h1, h2, h3, h4, h5, h6{ color: #ebc474 !important; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color: #ebc474 !important; }
a, #footer a{ color: white; }
a:hover{ color: #ebc474 !important; }
#beeldmerk{
	background-image: url('//csrdelft.nl/plaetjes/lustrum/logo.png');
}
#submenuitems span.separator{
	background-image: url('//csrdelft.nl/plaetjes/lustrum/spacer.png');
}
#container{
	border: none;
	margin-top: 0;
}
#menu,#submenu{
	margin: 0;
	padding: 0 19px 0 19px;
}
#menu{
	padding-top: 10px
}
#submenu{
}
#menu,#menu *,#submenu,#submenu *{
	
}

h1,h2,h3,h4,strong, #menu *, #submenu *{
	
}

/* zooitje extra uitzonderingen */

#mainleft h1{ border: 1px solid #bbb !important; }
.item a{color: #ebc474 !important; }
a.btn, textarea, input, select, #filters span, #boekencatalogus_wrapper *, .mededeling-grotebalk, #maand *, .eetplantabel *{ background-color: black !important; color: white !important; }

#boekencatalogus thead tr th{ border-bottom: 1px solid #eee !important; }
#boekencatalogus tfoot tr th{ border-top: 1px solid #eee !important; }

#forumtabel th td{ color: #222;}
#forumtabel tbody tr.tussenschot td{ background-color: #555; }
.auteur{ background-color: black !important; }
.bericht1, .forumtekst{ background-color: #333 !important; }
.citaat{ background-color: #444 !important; }

.bb-block, .bb-block .groepleden{
	background-color: #444 !important;
}
#profielForm div.InputField{ border: 0 !important; }
#profielForm div.InputField:hover{ background-color: #222 !important; }

#maand #dezeweek td.vandaag, .eetplantabel tr.kleur1 td, .eetplantabel tr.kleur1 td a{ background-color: #666 !important; }
.geelblokje{ color: black !important; }
.groepleden{ background-color: black !important; }



	
/* Lustrum style, later te veranderen in aparte stylesheet */
/* Temp quick fix */
body{
	background: #000 url('//csrdelft.nl/plaetjes/lustrum/body.png') repeat-x !important;
}

#menubanner{
	position: relative;
	top: -10px;
}

#mainmenu{
	position: relative;
	top: 2px;
}

#mainmenu li{
	float: left;
}

#mainmenu a {
	float: left;
	color: #000 !important;
	height: 31px !important;
	background: url('//csrdelft.nl/plaetjes/lustrum/nav.png') no-repeat;
}

#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	padding: 10px 0 0 6px;
	margin: -10px 0 0 -6px;
	background: url('//csrdelft.nl/plaetjes/lustrum/nav_active.png') no-repeat;
}

#beeldmerk{
	position: relative;
	top: -9px;
}

#submenu{
	position: relative;
	top: 2px;
}

#submenu a:link, #submenu a:visited, #submenu a:hover{
	color: #000 !important;
}

#ingelogd, #ingelogd a{
	color: #000;
}

#forumtabel a{
	color: #ebc474;
}

#zoekResultaat, #zoekResultaat a{
	color: #000 !important;
}

#zoekResultaat .sorting{
	color: #fff !important;
}

#forumtabel td{
	background: #1c1c1c !important;
}

#forumtabel th{
	background: #f9b233 !important;
}

body{
	background-color: transparent !important;
}

.maalcie-tabel tr {
	height: 25px;
	background-color: #222;
}
.maalcie-tabel tr:nth-child(even) {
	background-color: #555;
}
.maalcie-tabel tr:hover {
	background-color: #222;
}
.maalcie-tabel th {
	background-color: #555;
}