/**** GENERAL *****************************************************************/
a.external {
	background-image: url('http://plaetjes.csrdelft.nl/layout/external-link-blue.png');
}

hr{
	background-color: black;
}

/**** MENU ********************************************************************/
#beeldmerk{
	background-image: url('http://plaetjes.csrdelft.nl/layout/beeldmerk.jpg');
}

/**** MENU BANNER *************************************************************/
#banner1 {
	background-image: url('http://plaetjes.csrdelft.nl/menubalk/banner1.png');
}
#banner2 {
	background-image: url('http://plaetjes.csrdelft.nl/menubalk/banner2.png');
}
#banner3 {
	background-image: url('http://plaetjes.csrdelft.nl/menubalk/banner3.png');
}
#banner4 {
	background-image: url('http://plaetjes.csrdelft.nl/menubalk/banner4.png');
}

/**** MAIN MENU ***************************************************************/
#mainmenu a {
	background: url('http://plaetjes.csrdelft.nl/layout/menubutton.png') no-repeat;
}
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/layout/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenuitems span.separator{
	background-image: url('http://plaetjes.csrdelft.nl/layout/submenuseperator.gif');
}
#submenu a:link, #submenu a:visited {
	color: #ffffff;
}
#submenu a:hover, #submenu a:active, #submenu a.active {
	color: #e8cf2a;
}

/**** MENU RIGHT **************************************************************/
#ingelogd{ color: #fff; }
#ingelogd a{ color: #fff; }

#saldi .staatrood{ color: red; }

#adminding{
	border: 1px solid white;
	background-color: #3262D7;
}
#adminding div{
	border: 1px solid white; 
	background-color: #3262D7;
}

#login input{
	border: 1px solid #000;
	background-color: #fff;
}
#login input.submit {
	background-color: #0178e3;
	color: #fff;
}
#login label{
	color: #fff;
}

/**** BLOCK *******************************************************************/
#mainleft .block h1 {
	color: #162673;
	background-image: url('http://plaetjes.csrdelft.nl/layout/blocktitle.png');
	border-bottom: 1px solid #b8b8b8;
}
#mainleft .block h1 a{
	color:  #162673;
}
#mainleft .block .item {
	background-color: #f5f5f5;
}
#mainleft a {
	color: #000;
}

/**** FOOTER ******************************************************************/
#footer {
	background-color: #fff;
	background-image: url('http://plaetjes.csrdelft.nl/layout/footerbg.png');
}
