/* owee 2014
 * oranje (submenulinks): #fcb040
 * rood (linkjes): #ed1c24
 * donkergrijs (tabbladen): #231f20
 */


/**** GENERAL *****************************************************************/
a, a:hover{
	color: #ed1c24;
}
a.external {
	background-image: url('/plaetjes/layout/external-link-red.png');
}
h1, h2, h3, h4 {
	color: #555555;
}
body{
	background: url('/plaetjes/owee/2014/body.png') repeat-x;
}

/**** MENU ********************************************************************/
#menubanners,#banner1,#banner2,#banner3,#banner4{
	background-image: url('/plaetjes/owee/2014/banner.png');
}

#beeldmerk{
	background-image: url('/plaetjes/owee/2010/logo.png');
}

/**** MAIN MENU ***************************************************************/

#mainmenu a {
	background: url('/plaetjes/owee/2014/menubutton_2014.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #fff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('/plaetjes/owee/2014/menubutton_hover_2014.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu a.active  {
	color: #fff;
	font-weight: bold;
}
#submenu a:hover, #submenu a:active {
	color: #fcb040;
}
#submenuitems span.separator{
	background-image: url('/plaetjes/owee/2014/submenuseperator_2014.png');
}

/**** MAIN ********************************************************************/

#mainleft .block h1 {
	color: #ed1c24;
}

#mainleft .block h1 a {
	color: #ed1c24;
}
