* {
	background-color: #ff33ff !important;
	border-color: #fff !important;
	color: #fff !important;
	font-family: "Comic Sans MS", Arial, sans-serif !important;
}
#beeldmerk{
	background-image: url('/plaetjes/owee/2010/logo.png') !important;
	background-size: contain;
	-webkit-filter: invert(100%); 
	filter: invert(100%);
}