/* Sine regno 2014
 * paars: #C744FF
 * donkergroen: #166F11
 * geel: #fbea14
 * blauw: #1470b8
 */

html {
	background-image: url('/plaetjes/layout/sineregno/2014/body.png') repeat-x;
}

body {
	background-image: url('/plaetjes/layout/sineregno/2014/puinhopen.png');
}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
}
a, a:hover {
	color: #C744FF;
}
#zijbalk a {
	color: #C744FF;
}