/* Sine regno 2014
 * paars: #C744FF
 * donkergroen: #166F11
 * geel: #fbea14
 * blauw: #1470b8
 */


/**** GENERAL *****************************************************************/
a, a:HOVER{
	color: #C744FF;
}
h1, h2, h3, h4 {
	color: #555555;
}
body{
	background: url('//csrdelft.nl/plaetjes/layout/sineregno/2014/body.png') repeat-x;
}

/**** MENU ********************************************************************/
#menubanners,#banner1,#banner2,#banner3,#banner4{
	background-image: url('//csrdelft.nl/plaetjes/layout/sineregno/2014/puinhopen.png');
}

#beeldmerk{
	background-image: url('//csrdelft.nl/plaetjes/layout/logo.gif');
}

/**** MAIN MENU ***************************************************************/

#mainmenu a {
	background: url('//csrdelft.nl/plaetjes/layout/sineregno/2014/menubutton.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('//csrdelft.nl/plaetjes/layout/sineregno/2014/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu a.active  {
	color: #ffffff;
	font-weight: bold;
}
#submenu a:hover, #submenu a:active {
	color: #fbea14;
}

/**** MAIN ********************************************************************/

#mainleft .block h1 {
	color: #C744FF;
}

#mainleft .block h1 a {
	color: #C744FF;
}

/**** INLOGKNOP ***************************************************************/
#login input.submit {
	background-color: #C744FF;
	color: #FFF; 
}

#adminding{
	border: 1px solid white;
	background-color: #C744FF;
}

#adminding div{
	border: 1px solid white; 
	background-color: #C744FF;
}

#footer {
	background: url('//csrdelft.nl/plaetjes/owee/2010/footerbg.png') no-repeat;
}
