/* 
    Document   : snow
    Created on : 21-dec-2013, 19:00:57
    Author     : Paul Brussee
    Description:
        http://cssdeck.com/labs/css3-snow
*/

#cd-lateral-nav, #cd-ingelogd-menu {
    background-image:  url('http://plaetjes.csrdelft.nl/layout/snow/snowh.png'), url('http://plaetjes.csrdelft.nl/layout/snow/snow3q.png'), url('http://plaetjes.csrdelft.nl/layout/snow/snow2l.png') !important;
}

#cd-lateral-nav a:hover, #cd-lateral-nav a:active, #cd-lateral-nav a.active,
#cd-ingelogd-menu a:hover, #cd-ingelogd-menu a:active, #cd-ingelogd-menu a.active{
	text-shadow: 0 0 50px #FFF, 0 0 25px #FFF, 0 0 10px #FFF;
}