/* 
    Document   : snow
    Created on : 21-dec-2013, 19:00:57
    Author     : Paul Brussee
    Description:
        http://cssdeck.com/labs/css3-snow
*/

@keyframes snow { 
    0% { background-position: 0 0, 0 0, 0 0 }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-moz-keyframes snow { 
    0% { background-position: 0 0, 0 0, 0 0 }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-webkit-keyframes snow { 
    0% { background-position: 0 0, 0 0, 0 0 }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-ms-keyframes snow { 
    0% { background-position: 0 0, 0 0, 0 0 }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

#cd-lateral-nav, #cd-ingelogd-menu {
    background-image:  url('//csrdelft.nl/plaetjes/layout/snow/snowh.png'), url('//csrdelft.nl/plaetjes/layout/snow/snow3q.png'), url('//csrdelft.nl/plaetjes/layout/snow/snow2l.png') !important;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

#cd-lateral-nav a:hover, #cd-lateral-nav a:active, #cd-lateral-nav a.active,
#cd-ingelogd-menu a:hover, #cd-ingelogd-menu a:active, #cd-ingelogd-menu a.active{
	text-shadow: 0 0 50px #FFF, 0 0 25px #FFF, 0 0 10px #FFF;
}