/* 
    Document   : space
    Created on : 21-dec-2013, 19:00:57
    Author     : Paul Brussee
    Description: based on snow.anim.css
*/

@keyframes space { 
    0% { background-position: 5000px 3000px }

    100% { background-position: 0 0 }
}

@-moz-keyframes space { 
    0% { background-position: 5000px 3000px }

    100% { background-position: 0 0 }
}

@-webkit-keyframes space { 
    0% { background-position: 5000px 3000px }

    100% { background-position: 0 0 }
}

@-ms-keyframes space { 
    0% { background-position: 5000px 3000px }

    100% { background-position: 0 0 }
}

#cd-lateral-nav, #cd-ingelogd-menu {
    background-image:  url('//csrdelft.nl/plaetjes/layout/bg/stars.jpg');
	background-size: cover;
    -webkit-animation: space 360s linear infinite;
    -moz-animation: space 360s linear infinite;
    -ms-animation: space 360s linear infinite;
    animation: space 360s linear infinite;
}

#cd-lateral-nav a:hover, #cd-lateral-nav a:active, #cd-lateral-nav a.active,
#cd-ingelogd-menu a:hover, #cd-ingelogd-menu a:active, #cd-ingelogd-menu a.active{
	text-shadow: 0 0 50px #FFF, 0 0 25px #FFF, 0 0 10px #FFF;
}