.node{
	clear: left;
	border-left: 1px solid black;
}
.node .lid{
	width: 230px;
	height: 50px;
	background-color: #eee;
	padding: 4px 8px;
	text-align: left;
}
.node .lid:hover{ background-color: #e1e1e1;}
.node .pasfoto{
	height: 50px;
	float: left;
	margin-right: 10px;
}
.node .kinderen{
		clear: left;
        margin-left: 25px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: black;
}
