@basiskleur: #001e62;
@bannerkleur: @kleur2;

@kleur2: #001e62;
@kleur3: #FFC240;
@kleur4: #002a8e;

@tekstlicht: #FFFFFF;
@tekstdonker: @kleur4;

@scherm-extrabreed: 1280px;
@scherm-breed: 980px;
@scherm-middel: 736px;
@scherm-smal: 480px;