@include media-breakpoint-down(sm) {
	.fc-toolbar {
		flex-direction: column;
		align-items: center;

		.fc-right {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.fc-button {
				margin-bottom: 0.4em;
			}
		}
	}
}

.agenda-card {
	width: 600px;
	max-width: 90%;
}

.fc-list-empty-wrap2 {
	position: relative;
}
