#advanced {
	margin-top: 10px;
	margin-bottom: 10px;
}

#zoekform {
	max-width: 500px;
}

.veldselectie {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	.form-check {
		flex-grow: 0;
		flex-basis: 25%;

		min-width: 150px;
	}
}

/* ledenlijst */
table.zoekResultaat { width: 100%; border-collapse: collapse; clear: both; }
table.zoekResultaat thead tr th { border-bottom: 1px solid black; }
table.zoekResultaat tfoot tr th { border-top: 1px solid black; }
table.zoekResultaat tr td {border-top: 1px solid lightgrey; margin: 0; padding: 2px 4px; text-align: left;}
table.zoekResultaat tr.odd td { background-color: #efefef;}
.dataTables_filter { padding-bottom: 10px; }
textarea.csv {
	width: 100%;
	height: 500px;
}
