/*
 * layout elementen voor de hele bieb
 */
h1 {
	margin-top: 5px;
}
.suggestie {
	color: grey;
	font-style: italic;
}
.suggestieveld {
	float: right;
	margin-right: 5px;
}
/*knoppen in zijbalk rechts*/
.controls		 {float: right; }
.controls .btn {line-height: 2em; width: 125px; display:block; }
/****************************
 *  cataloguspagina			*
 ****************************/

/*
 * eigenaarfilter
 */
#filters input:checked + label {
	font-weight: bold;
}
#filters {
	position: absolute;
	margin: 7px  0 15px 0;
	z-index: 2;	
	line-height: 22px;
}
#filters label {
	margin: 0;
}

#filters span {
	padding: 2px 5px;
	cursor: pointer;
	color: #0a338d;
	margin-right: -1px;
	position:relative;
}
#filters span.button {
	background-color: #E6E6E6;
	border: 1px solid lightgray;
	z-index: 1;
}
#filters span.button:hover {
	background-color: #CCC;
}
#filters span.actief {
	background-color: white;
	border: 1px solid #AAA;
	z-index: 2;
}
p.biebuitleg {
    margin-bottom: 0;
}
/* boekstatusschakelaar wat ruimte geven */
#filters input#boekstatus {
	margin-left: 30px;
}

/*
 * dataTable layout
 */
/* zoekvakje uitlijnen met eigenaarfilter */
#boekencatalogus_filter {
	margin: 7px 0 15px 0;
	line-height: 22px;
}
#boekencatalogus_filter input {
	width: 250px;
}
/* tabel */
.boeken {
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout:fixed
}
.boeken thead tr th {
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.boeken tfoot tr th {
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.boeken tbody tr th {
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}

.boeken tr td {
	padding: 2px 3px;
	overflow:hidden;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	white-space:nowrap;
}

.boeken tr.odd td {
	background-color: #efefef;
}

.biebindicator.beschikbaar							 {color:green; }
.biebindicator.teruggegeven							 {color:orange; }
.biebindicator.vermist, .biebindicator.uitgeleend	 {color:red; }




/********************************
 * boek-pagina					*
 ********************************/


.blok {		margin-bottom: 20px; clear: left; }



.boekgegevens {
	width: 586px;
}

.boek label {
	float: left;
	display: inline-block;
	color: #999;
	padding: 2px 0 0 2px;
	margin: 0;
}
.boek input, .boek textarea {
	width: 428px;
	padding: 1px 2px 1px 2px;
	margin: 0 0;
}
select {
	width: 432px;
}


.gegevens .regel { min-height: 15px; clear: left; }
.regel label {	  width:75px; }


.InputField label {	width:71px; }

li.ac_over a, li.ac_over a:hover { 
	color: #0071D9;
}

/*  Exemplaren */
.exemplaren {	margin-top:10px;
	overflow: hidden;
	min-height:200px;
	.exemplaar {
		overflow: hidden;
		margin-bottom: 25px;
		.fotolabel {
			color: white;
			float: left;
			width: 75px;
		}
		form .row {
			display: block;
		}
		.gegevensexemplaar {
			float: left;
			width: 649px;
		}
		.actieknoppen .btn {
			margin-left: 0;
			margin-right: 4px;
		}

		&.compact {
			margin-left: 77px;
			.statusmarkering {
				margin-left: -33px;
				float: left;
			}
		}
		&.compact a {
			margin-right: 5px;
			float: left;
		}
	}
	p {	margin-left: 77px; }

}




/* boekbeschrijvingen */
.beschrijvingen table {
	width: 622px;/* =112(=2+110+2)+506+2 */
	table-layout: fixed;
}
.beschrijvingen td.linkerkolom {
	width: 110px;
}
.beschrijvingen td.recensist {		padding-bottom: 5px; }
.beschrijvingen span.recensist {		padding: 2px 10px 0 0; }
.beschrijvingen span.moment {		color:grey; }

.beschrijvingen td.beschrijving {	width: 506px; padding: 2px 0 5px 0; word-wrap: break-word; }
.beschrijvingen td.beschrijving.b0 {	background-color: #f5f5f5; }

.beschrijvingen td.tussenschot {
	height: 2px;
	margin: 0; padding: 0; border: 0;
	background-color: lightgray;
}




.Formulier label, .boekzoeker label {
	width: 150px;
	float: left;
}
.boekzoeker label img {
	float: left;
	margin: 0 4px 0 2px;
}
.Formulier.boekformulier {
	margin-right: 200px;
}
.Formulier input.FormElement,.Formulier textarea, .boekzoeker input {
	width: 400px;
	padding: 1px 2px;
}
.Formulier select {
	width: 406px;
}

.Formulier h3 {
	margin-top: 8px;
	margin-bottom: 1px;
}
.Formulier .bbcodePreview {
	word-wrap: break-word; 
}

.beschrijvingen h3 {
	margin-bottom: 5px;
}
#Beschrijvingsformulier textarea {
	width: 496px;
}

#Beschrijvingsformulier .CsrBBPreview {
	margin-left: 109px;
	width: 506px;
}
#Beschrijvingsformulier .InputField {
	margin-left: 0;
	display: inline-block;
}
#Beschrijvingsformulier label {
	float: left; 
	width: 109px; 
	height: 20px;/* blijft tekstvak op zijn plek bij waarschuwing*/
	margin: 0;
}

#Beschrijvingsformulier .InputField .waarschuwing {
	float: left;
	margin-right: 10px;
}

@media screen and (max-width: 750px) {
	.controls {
		float: none;
		.btn {
			display: inline-block;
		}
	}
	.Formulier.boekformulier {
		margin-right: 0px;
	}
}
