/**************************** FORUM *******************************/
div.forumcategorie {
  clear: left;

  h3 {

    a {
      color: #000;
    }
    a:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  p.forumcategorie-omschrijving, p.forumdeel-omschrijving {
    text-align: justify;
  }

  div.forumdelen {

    div.forumdeel {
      margin-right: 10px;

      h4 {
        margin-top: 0.5em;
        text-align: center;
      }
    }
  }
}
div.grafiek {
  clear: left;
}
div.forumdeel-omschrijving {
  padding: 10px;
  margin: 10px 0;;
  background-color: #F5F5F5;
  border: 1px solid #B8B8B8;
}
div.forumdeel-omschrijving h2 {
  margin-top: 10px;
}

#modereren {
  display: none;
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
}
#modereren table {
  width: 100%;
}
#modereren label {
  display: inline-block;
  width: 120px;
  text-align: right;
}
#modereren table input[type="text"] {
  width: 300px;
}
#forumZoekenForm {
  float: right;
}
#forumZoekenForm #field_zoekopdracht {
  width: 150px;
  background-image: url('/plaetjes/famfamfam/find.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 16px;
}
#forumZoekenForm .forumZoekenGeavanceerd {
  right: 250px;
  padding: 25px;

  .InputField {
    display: inline-block;
  }
}
div.forumheadbtn {
  float: right;
  margin-right: 15px;
}
#forumtabel tr.tussenschot td {
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}
#forumtabel tr.ongelezenvanaf td {
  line-height: 2px;
  background-color: #E8CF2A;
}
#ongelezen {
  visibility: hidden;
  position: relative;
  top: -100px;
}
#forumtabel td.bericht0, #forumtabel td.bericht1 {
  margin: 0;
  padding: 0.2em 0.6em 10px 0.6em;
  vertical-align: top;
  text-align: justify;
}
#forumtabel tr.kleur0, #forumtabel td.bericht0 { background-color: #fff; }
#forumtabel tr.kleur1, #forumtabel td.bericht1 { background-color: #f5f5f5; }
#forumtabel td div.bericht, div.forumBericht, textarea.forumBericht, div.butn, #nieuweTitel, .markItUpContainer {
  max-width: 300px;
  word-wrap: break-word;
}
#forumBewerkBericht, .Formulier .BBCodeField {
  width: 298px;
  margin: 0;
}
@media only screen and (min-width: 640px) {

  #forumtabel td div.bericht, div.forumBericht, textarea.forumBericht, div.butn, #nieuweTitel, .markItUpContainer {
    max-width: 580px;
  }
  #forumBewerkBericht, .Formulier .BBCodeField {
    width: 578px;
  }
}
#forumtabel tr div.forumpostKnoppen {
  min-height: 70px;
}
#forumtabel tr div.forumpostKnoppen a {
  border: none;
  background: none;
  float: left;
  padding: 2px;
  margin: 2px;
  width: 22px;
  height: 22px;
}
a.forummodknop {
  display: none;
}
#modsluiten {
  display: block;
  width: 18px; height: 18px;
  float: right;
  margin: 0; padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: black;
  cursor: pointer;
  border: 1px solid #fff;
}
span#modsluiten:hover {
  border: 1px solid #000;
  background-color: #eee;
}
#forumtabel th, #forumtabel td {
  vertical-align: middle;
}
#forumtabel tr td.filtered a.weergeeflink {
  display: block;
  background-color: #ddd;
  color: black;
  padding: 6px;
  left: 10px; right: 10px;
  text-align: center;
  cursor: pointer;
}
#forumtabel th {
  font-weight: bold;
  color: #fff;
  background-color: #0a338d;
  padding: 1em;
  height: 3em;
}
#forumtabel th a, #forumtabel th a:active {
  color: #fff;
}
#forumtabel td.auteur {
  width: 160px;
  padding: 2px 10px 0 5px;
  font-size: 0.9em;
  text-align: left;
  vertical-align: top;
}
#forumtabel td.auteur div {
  text-align: left;
}
#forumtabel td.auteur table {
  width: 100%;
}
#forumtabel .postlinktd {
  width: 16px;
}
a.postlink {
  float: right;
  text-decoration: none;
}
.alsof-gelezen {
}
.magreageren {
  padding: 1em .3em;
}
.draad-readonly {
  font-style: italic;
}
.draad-gesloten {
  font-style: italic;
}
.draad-verwijderd, .post-verwijderd {
  font-weight: bold;
  color: red;
}
.moment {
  font-size: .9em;
  color: #bbb;
  cursor: default;
}
span.togglePasfoto, a.postlink {
  cursor: pointer;
  color: #bbb;
}

span.togglePasfoto:hover, a.postlink:hover {
  color: black;
  text-decoration: none;
}
.forumpasfoto {
  float: right;
}
.forummetadata {
  font-size: 0.9em;
  background-color: #fff;
  padding: 2px 10px 2px 0.6em;
}
.forumpostlink {
  color: black !important;
  text-decoration: none !important;
  font-style: italic;
}
#forumtabel td.forumtitel {
  word-break: break-all;
}
#forumtabel td.datumwijziging {
  width: 135px;
}
#forumtabel td.laatstewijziging {
  width: 225px;
}
#forumtabel td.titel, #forumtabel td.datumwijziging, #forumtabel td.laatstewijziging {
  padding: 0.7em;
  text-align: left;
}
#forumtabel td.titel .badge, #forumtabel td.titel .float-right {
  margin-left: 1em;
}
/* nieuw onderwerp formulier */
#forumtabel td.auteur a#nieuwonderwerp {
  margin-bottom: 30px;
  display: inline-block;
}
#forumtabel td.auteur label {
  width: 140px;
  display: block;
  margin-bottom: 22px;
}
#forumBewerkReden {
  width: 250px;
}

div.bewerkt { font-size: .8em; color: #bbb; }
div.bewerkt a { color: #bbb; }
div.bewerkt hr { margin-bottom: 0; text-align: left; background-color: #bbb; }

.forumfooter h1 {
  font-size: 2.5em; /* h2 */
  margin: 0;
}
.reagerenLid {
  float: right;
  margin: 5px 15px 0 0;
}
#forumForm {

}
#forummeldingen {
  margin-top: 100px;
}
#draad-melding, #bewerk-melding, #public-melding {
  margin-bottom: 5px;
  padding: 4px 8px 4px 4px;
  text-align: left;
}
#draad-melding {
  display: none;
  background-color: #ffffc1;
}
#bewerk-melding {
  display: none;
  background-color: #ffffc1;
}
#public-melding {
  color: #fff;
  background-color: #f66;
}

/* Paginering */
div.forum-paginering {
  padding: 5px;
}
div.forum-paginering a {
  padding: 4px 5px;
}
div.forum-paginering a:hover {
  background-color: #ddd;
  text-decoration: none;
}
span.curpage {
  padding: 4px 5px;
  font-weight: bold;
  background-color: #e8cf2a;
  color: #000;
}
.forum-paginering span.curpage {
  background-color: initial;
}

/**************************** GRAFIEK *******************************/
.grafiek-container {
  box-sizing: border-box;
  width: 750px;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.grafiek-placeholder {
  width: 100%;
  height: 100%;
}