<td id="maalcie-melding-veld">{% include 'melding.html.twig' %}</td>
{{ include('maaltijden/abonnement/beheer_abonnement_veld.html.twig', {abonnement: abonnement, uid: abonnement.uid, vanuid: abonnement.van_uid}) }}
