<td id="maalcie-melding-veld">{{ getMelding() }}</td>
{{ include('maaltijden/abonnement/beheer_abonnement_veld.html.twig', {abonnement: abonnement, uid: abonnement.uid, vanuid: abonnement.van_uid}) }}
