{% extends 'base.html.twig' %}

{% block titel %}Bulk aanmelden in groepen - Succesvol{% endblock %}

{% block content %}
	<h2>Succesvol aangemeld</h2>
	<p>Er zijn {{ aantalSucces }} aanmeldingen verwerkt.</p>
{% endblock %}
