#csrmail .htaccess
RewriteEngine on

RewriteRule ^bewerken/([0-9]*) index.php?ID=$1&bewerken=bewerken
RewriteRule ^verwijder/([0-9]*) index.php?ID=$1&verwijder=verwijderen
RewriteRule ^leegmaken$ index.php?leegmaken=leegmaken


RewriteRule ^archief/([0-9]*)/iframe archief.php?ID=$1&iframe
RewriteRule ^archief/([0-9]*)/? archief.php?ID=$1
