/*!
 * COMPILED csrdelft.less
 * 
 * @author C.S.R. Delft <pubcie@csrdelft.nl>
 * @author P.W.G. Brussee <brussee@live.nl>
 * 
 * De stek layout uit 2014
 */
body {
  padding-top: 70px;
  /* Bootstrap fixed nav-bar */
  padding-bottom: 30px;
}
.loading * {
  cursor: wait !important;
}
.dataTables_wrapper {
  /* DataTables footer positioning */
}
.dataTables_wrapper label {
  font-weight: normal;
}
.dataTables_wrapper .dataTables_info {
  clear: none;
  margin-left: 10%;
}
.dataTables_wrapper .dataTables_length {
  padding-top: 0.755em;
}
.dataTable tbody {
  /* DataTables group-by */
  /* DataTables child-row */
}
.dataTable tbody tr.group,
.dataTable tbody tr.group:hover {
  background-color: #ddd !important;
}
.dataTable tbody tr.group td {
  font-weight: bold;
}
.dataTable tbody tr.childrow:hover * {
  background-color: white;
}
.dataTable tbody td.details-control {
  background: url('http://plaetjes.csrdelft.nl/layout3/dataTables/details_open.png') no-repeat center center;
  cursor: pointer;
}
.dataTable tbody tr.expanded td.details-control {
  background: url('http://plaetjes.csrdelft.nl/layout3/dataTables/details_close.png') no-repeat center center;
}
