/*!
 * COMPILED csrdelft.less
 * 
 * @author C.S.R. Delft <pubcie@csrdelft.nl>
 * @author P.W.G. Brussee <brussee@live.nl>
 * 
 * De stek layout uit 2014
 */
/* Bootstrap fixed header */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
/* DataTables dom positioning */
.dataTables_wrapper {
  /* DataTables footer */
  /* DataTables group-by */
  /* DataTables child-row */
}
.dataTables_wrapper .dataTables_length {
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_info {
  clear: none;
  margin-left: 10%;
}
.dataTables_wrapper tr.group,
.dataTables_wrapper tr.group:hover {
  background-color: #ddd !important;
}
.dataTables_wrapper tr.group {
  line-height: 0.755em;
}
.dataTables_wrapper td.details-control {
  background: url('http://plaetjes.csrdelft.nl/layout3/dataTables/details_open.png') no-repeat center center;
  cursor: pointer;
}
.dataTables_wrapper tr.childrow-loading td.details-control {
  background: none;
  cursor: wait;
}
.dataTables_wrapper tr.childrow-shown td.details-control {
  background: url('http://plaetjes.csrdelft.nl/layout3/dataTables/details_close.png') no-repeat center center;
}
