<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 61e lustrum der Civitas Studiosorum Reformatorum.">
	<meta name="author" content="David van der Laan">

	<title>Dies 2023</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('common') }}
	{{ css_asset('dies2023') }}

	{% include 'common/sentry.html.twig' %}

	{# <link rel="icon" href="/lustrum12/favicon.ico"> #}
</head>

<body>
	test
</body>
