@import 'vars';

a{
	text-decoration: none;
}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

.heavy {
	font-weight: 700;
}

section {
	margin-bottom: 100px;
}

body {
	// linear-gradient : (160deg, #903921, #C8611A);
	background-size: 600px, 1100px, 950px, 600px, 1300px, 700px, 100% 100%;
	font-size: 1.5rem;
	/* Body text */
	color: $font-color-secondary;
}

.container {
	background: transparent;
}

// Shared page functionality

/* nav */
nav {
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: $primary;

	a {
		/* Header text */
		color: $font-color-primary;
		font-family: $font-header;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 24px;
		transition: ease-in-out color .15s;

		&:hover {
			color: $kleur-wit;
			text-decoration: none;
		}
	}

	.logo-titel {
		position: absolute;
		left: 5px;
		top: 5px;
		@media screen and (max-width:1100px) and (min-width:768px){
			visibility: hidden;
		}
		@media screen and (max-width:768px){
			left:50%;
			transform: translate(-50%, 0%);
		}

		img {
			width: 200px;
		}
	}
	.container {
		max-width: 700px;
	}

	.menu {
		height: 50px;
	}
}

/* Kopjes */
.titel{
	font-weight: bold;
	text-align: center;
	color: $font-color-primary;
	text-transform: uppercase;

	// text-shadow:
	//   0 0 2px $kleur-wit,
	//   0 0 11px $kleur-zwart,
	//   0 0 12px $kleur-zwart;
}

/* IMG Kopjes */
.kopje {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	.plaetje{
		width: 400px;
		max-width: 100%;
	}
}

/* Vallende Zandloper */
.zandloper {
	position: fixed;
	margin-top: -50px;
	width: 100px;

	.kapot {
		position: fixed;
		width: 100px;
	}
	.heel {
		position: fixed;
		width: 100px;
	}

	// only show it when it does not overlap with the other stuff (960 + 105 * 2)
	@media screen and (max-width:1170px){
		display: none;
	}
}

/* Instagram */
.instagram .instagram-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 1em;

	a {
		text-decoration: none;
		color: $font-color-primary;
		font-family: $font-header;
		text-transform: uppercase;
		font-weight: bold;
	}

	.instagram-embed{
		width: 400px;
		height: 100%;
		max-width: 100%;
	}
}

/* thema display */
.thema {
	display: flex;
	flex-direction: column;
	align-items: center;

	.thema-plaetje {
		padding-top: 60px;
		width: 100%;
		height: 100%;
		max-width: 960px;
		border-bottom: 5px;
		border-bottom-color: $primary;
	}
}
/* Dividers */
.divider{
	display: flex;
	flex-direction: column;

	align-items: center;
	img {
		max-width: 738px;
		width: 100%;
		height: 100%;
	}

	.helemaal-boven{
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.boven {
		margin-top: 10px;
	}
	.tussen {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.onder {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

// Activiteiten overzicht
.overzicht {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.activiteit {
		padding-top: 20px;
		.activiteit-plaetje {
			width: 720px;
			height: 100%;
			max-width: 100%;
		}
	}
}

.beschrijving {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	* {
		width: 80%;
	}
}

// Poster weergave
.poster{
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		max-height: 100vh;
		max-width: 100vw;
		height: 100%;
	}
}

// Ketzers weergave
.ketzers{
	display: flex;
	flex-direction: column;
	align-items: center;
	.ketzers-container {
		max-width: 80%;
	}
}

// Temperary index variables
@font-face {
	font-family: Segoe Script;
	src: url("../../fonts/lustrum12/segoescb.ttf");
}
$lw-font-text-temp: Segoe Script, Arial, Helvetica, sans-serif;
$lw-blauw-temp: #3B9596;

.lw-font-text {
	font-family: $lw-font-text-temp;
	&:hover {
		color: $lw-blauw-temp;
	}
}
