table.agenda {
	border-collapse: collapse;
	border: 1px solid #000000;
}
table.agenda td {
	padding: 3px;
	border: 1px solid;
	width: 127px;
}
table.agenda td hr {
	margin: 5px -3px 5px -3px;
}
table.agenda th {
	padding: 3px;
	border: 1px solid;
	text-align: center;
	background-color: #dddddd;
}

/*** MAAND ***************************/
table.maand td.anderemaand {
	color: #aaaaaa;
	border-color: #000000;
}
table.maand td.anderemaand hr {
	background-color: #dddddd;
}
table.maand td.dezeweek {
	background-color: #eeeeee;
}
table.maand td a.toevoegen {
	float: right;
}
table.maand td a.beheren {
	float: right;
	margin-left: 1px;
}

/*** FORMULIER ***********************/
form.agendaitem label {
	float: left;
	width: 120px;
}