/*
 * layout elementen voor de hele bieb
 */
h1{
	margin-top: 5px;
}
.melding {
	color:red;
}
.suggestie{
	color:grey;
	font-style: italic;
}
/*knoppen in zijkolom rechts*/
.controls{
	float: right;
}
.boekacties{
	width: 125px;
}

/****************************
 *  cataloguspagina			*
 ****************************/

/*
 * eigenaarfilter
 */
#filters input:checked + label {
	font-weight: bold;
}
#filters {
	position: absolute;
	margin: 15px 0px;
	z-index: 2;	
	line-height: 22px;
}
#filters label{
	margin: 0px;
}

#filters span {
	padding: 2px 5px;
	cursor: pointer;
	color: #162673;
	margin-right: -1px;
	position:relative;
}
#filters span.button {
	background-color: #E6E6E6;
	border: 1px solid lightGrey;
	z-index: 1;
}
#filters span.button:hover {
	background-color: #CCC;
}
#filters span.actief{
	background-color: white;
	border: 1px solid #AAA;
	z-index: 2;
}
/* boekstatusschakelaar wat ruimte geven */
#filters input#boekstatus {
	margin-left: 30px;
}

/*
 * dataTable layout
 */
/* zoekvakje uitlijnen met eigenaarfilter */
#boekencatalogus_filter {
	margin: 15px 0px;
	line-height: 22px;
}
#boekencatalogus_filter input{
	width: 250px;
}
/* tabel */
.boeken{
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout:fixed
}
.boeken thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.boeken tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.boeken tbody tr th{
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}

.boeken tr td{
	padding: 2px 3px;
	overflow:hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	white-space:nowrap;
}

.boeken tr.odd td{
	background-color: #efefef;
}

.boeken .indicator.beschikbaar								{color:green;}
.boeken .indicator.teruggegeven								{color:orange;}
.boeken .indicator.vermist, .boeken .indicator.uitgeleend	{color:red;}




/********************************
 * boek-pagina					*
 ********************************/
.label,
.boek label{ float: left; width: 73px; font-size: 9px; color: #999; margin:0px;	padding-left: 2px;}
.blok { margin-bottom: 20px; clear: left; }
.gegevens { margin-left: 20px; padding-left: 15px; border-left: 1px solid #0a338d; }

/* bewerkbare velden voor bewerken van boekinfo */
.boek { 
	float: left;
	width: 620px;
}
.boek .veld{
	clear: left;
}
.boek .editbox{
	display:none;
	background-color:#ffffcc;
	border:solid 1px #000;
	padding:1px;
	width: 481px
}
.boek .bewerk{
	padding-right:18px!important;
}
.boek .bewerk:hover{
	background:url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) right no-repeat #ddd;
	background-position: 564px;
	cursor:pointer;
}
.boek .bewerk#titel:hover{
	background-position: 598px;
}

.boek input#field_code{
	width: 75px;
}
/*(bewerkbaar)titel boek*/
.boek .header span.text, 
.boek .header span.nonedit, 
.boek .header label{
	font-size: 1.6em !important;
	margin-bottom: 0.2em;
	font-weight: bold;
	line-height: normal;
}
.boek .header label{
	margin-left: 35px;
}
.boek .header{
	margin: 5px 0px 20px 0px;
}


/* Formulier voor nieuw boek en die voor boekbeschrijving bestaand boek */
#boekaddForm label{
	width: 150px;
	float: left;

}
#addBeschrijving label{
	float: left; 
	width: 109px; 
	height: 20px;/* blijft tekstvak op zijn plek bij waarschuwing*/
	font-size: 9px; 
	color: white; 
	margin: 0px;

}

.boekForm input.regular{
	width: 250px;
}
.boekForm input.uid{
	width: 80px;
}
.boekForm .uidPreview{
	display: inline;
	padding-left: 10px;
}
.boekForm .veld, .boekForm h3, .boekForm .password{
	clear: both;
}
.boekForm .veld, .boekForm .submit{
	margin-left: 10px;
	padding: 1px 2px;
	border: 1px solid white;
}
#addBeschrijving .veld, 
#addBeschrijving .submit{
	margin-left: 0px;
}
.boekForm .veld:hover{
	border: 1px  solid #ddd;
	background-color: #eee;
}
.boekForm .metfouten{
	background-color: #FFC3CE;
	padding: 4px 2px;
}
.boekForm .veld .waarschuwing{
	float: right;
	margin-right: 10px;
}
#addBeschrijving .veld .waarschuwing{
	float: left;
	margin-right: 10px;
}
.boekForm h3{
	margin-top: 8px;
	margin-bottom: 1px;
}
#addBeschrijving h3, 
.beschrijvingen h2.header, 
.beschrijvingen p.header{
	margin-left: 112px;
}
.beschrijvingen h2{
	margin-bottom: 5px;
}
.boekForm .preview{
	width: 496px;
}
.boekForm textarea.regular{
	width: 500px;
}
.boekForm .textareaContainer{
	width: 508px;
	float:left;
}


/*  Exemplaren */
.exemplaren{
	margin-top:10px;
}
.exemplaren .exemplaar{
	margin-bottom: 25px;
	overflow: auto;
}
.exemplaren .exemplaar .label{
	color: white;
	float: left;
}
.exemplaren .exemplaar .label img.pasfoto{
	height: 40px;
	float: left;
	margin-left: 27px;
}
.exemplaren .exemplaar .gegevensexemplaar{
	float: left;
	width: 600px;
}
.exemplaren .exemplaar .actieknoppen{
	height: 20px;
}
.exemplaren .exemplaar label{
	float: left;
	margin: 0px;
	line-height: normal;
	width: 75px;
	font-size: 9px; 
	color: #999; 
	padding-left: 2px;
}
.exemplaren h2{
	margin-left: 77px;
	margin-bottom: 5px;
}
.exemplaren p{
	margin-left: 75px;
}
 /* uitleenveld */
.exemplaren input.lid, .exemplaren div.naamCheck{
	width: 170px;
	float: left;
}
.exemplaren .uitleenveld{
	overflow: auto;
}
.exemplaren div.naamCheck{
	margin-left: 5px;
}
/* opmerking veld */
.exemplaren .bewerk{
	width: 509px;
}
.exemplaren .bewerk:hover{
	background:url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) no-repeat 487px #ddd;
	cursor:pointer;
}
.exemplaren .bewerk input{
	width: 400px;
}
.exemplaren .bewerk span.text,.exemplaren span.opmerking {
	width: 406px;
	float: left;
}

/* boekbeschrijvingen */
.beschrijvingen{
	margin-top: 30px;
}
.beschrijvingen td.linkerkolom{
	width: 99px;
	font-size: 9px;
}
.beschrijvingen td.recensist{
	padding: 2px 10px 5px 0px;
}
.beschrijvingen td.recensist span.moment{
	color:grey;
}
.beschrijvingen td.beschrijving{
	width: 506px;
	padding: 2px 0px 5px 0px;
}
.beschrijvingen td.beschrijving.b0{ 
	background-color: #f4f4f4;
}
.beschrijvingen td.tussenschot{
	height: 2px;
	margin: 0px; padding: 0px; border: 0px;
	background-color: lightgrey;
}
.beschrijvingen td.bewerken{
	background-color: #ffea5c !important;
}
.beschrijvingen td.bewerken span.bewerken{
	color: grey;
	font-weight: bold;
}



