/*
 * layout elementen voor de hele bieb
 */
h1{
	margin-top: 5px;
}
.suggestie{
	color:grey;
	font-style: italic;
}
.suggestieveld{
	float: right;
	margin-right: 5px;
	font-size: 10px;
}
/*knoppen in zijkolom rechts*/
.controls		{float: right;}
.controls .knop {line-height: 2em;}
.boekacties		{width: 125px;}

/****************************
 *  cataloguspagina			*
 ****************************/

/*
 * eigenaarfilter
 */
#filters input:checked + label {
	font-weight: bold;
}
#filters {
	position: absolute;
	margin: 15px 0px;
	z-index: 2;	
	line-height: 22px;
}
#filters label{
	margin: 0px;
}

#filters span {
	padding: 2px 5px;
	cursor: pointer;
	color: #162673;
	margin-right: -1px;
	position:relative;
}
#filters span.button {
	background-color: #E6E6E6;
	border: 1px solid lightGrey;
	z-index: 1;
}
#filters span.button:hover {
	background-color: #CCC;
}
#filters span.actief{
	background-color: white;
	border: 1px solid #AAA;
	z-index: 2;
}
/* boekstatusschakelaar wat ruimte geven */
#filters input#boekstatus {
	margin-left: 30px;
}

/*
 * dataTable layout
 */
/* zoekvakje uitlijnen met eigenaarfilter */
#boekencatalogus_filter {
	margin: 15px 0px;
	line-height: 22px;
}
#boekencatalogus_filter input{
	width: 250px;
}
/* tabel */
.boeken{
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout:fixed
}
.boeken thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.boeken tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.boeken tbody tr th{
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}

.boeken tr td{
	padding: 2px 3px;
	overflow:hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	white-space:nowrap;
}

.boeken tr.odd td{
	background-color: #efefef;
}

.biebindicator.beschikbaar							{color:green;}
.biebindicator.teruggegeven							{color:orange;}
.biebindicator.vermist, .biebindicator.uitgeleend	{color:red;}




/********************************
 * boek-pagina					*
 ********************************/
.boek{ 
	float: left;
	width: 620px;
}
.fotolabel,
.exemplaren .exemplaar label,
.boek label{ 
	float: left;
	width: 73px;
	font-size: 9px;
	color: #999;
	margin: 2px 0px 0px 0px;
	padding-left: 2px;
}
.exemplaren .exemplaar .veld label,
.boek .veld label{ 
	width: 72px; /* uitlijnen tekst in inputs */
}
.blok { margin-bottom: 20px; clear: left; }
.gegevens { margin-left: 20px; padding-left: 15px; border-left: 1px solid #0a338d; }
.regel { height: 15px; }

/* formuliervelden in .blok-div zijn bewerkbaar met ajax (mits gebruiker de rechten heeft) */
.blok .veld input,
.blok .veld textarea {
	background: none;
	border: 1px solid white;
	font-size: 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 428px;
	padding: 1px 2px 1px 2px;
	margin: 0px 0px;
}
.blok .veld select {
	width: 432px;
}
.blok .veld div.opslaan{
	display: none;
	margin: 2px 12px 0px 0px;
	cursor: pointer;
	width: 46px;
	float: right;
}
.blok .veld:hover{
	background: url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) no-repeat 485px #f3f3f3;
}
.blok .veld input:focus,
.blok .veld textarea:focus,
.blok .veld select:focus{
	background-color: #FFC;
	border: 1px solid black;
}
/* opslaan-knopje weergeven bij focus*/
.blok .veld input:focus~div.opslaan,
.blok .veld textarea:focus+div.opslaan,
.blok .veld select:focus+div.opslaan{
	display: inline;
}
/* melding bij veld
 * opslagen: groen, nog niet opgeslagen: geel, fout bij opslaan: rood */
.blok .veld.opgeslagen input,
.blok .veld.opgeslagen textarea 	{ background-color: #BFB; }

.blok .veld.metfouten 				{ background-color: #FFC3CE; padding: 4px 2px; }
.blok .veld.metfouten input,
.blok .veld.metfouten textarea 		{ background-color: #E88; }

.blok .veld .melding				{ margin-right: 10px; display:none }
.blok .veld.opgeslagen .melding 	{ color: green; display: inline; float: right; }
.blok .veld.metfouten .melding		{ color: red; display: block; margin-left: 76px;}

.blok .veld input.nonsavededits,
.blok .veld textarea.nonsavededits 	{ background-color: #FFFFC1; }

/* borders weergeven: voor leeg veld of bij hoveren */
.blok .veld input.leeg,
.blok .veld textarea.leeg{
	border: 1px solid #D9D9D9;
}
.blok .veld:hover input,
.blok .veld:hover textarea,
.blok .veld:hover select{
	border: 1px solid #999;
}

/*titel boek*/
.boek .header{
	margin-top: 5px;
}
.boek .header span,
.boek .header label,
.boek .header textarea{
	font-size: 18px !important;
	font-weight: bold;
	line-height: normal;
	min-height: 22px;
}
.boek .header label{
	margin: 0px 0px 20px 35px;
}
.blok.header .veld:hover{
	background: url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) no-repeat 520px #f3f3f3;
}
/* AutoriseTextField */
.veld .wantsAutoresize {
	min-height: 14px;
	overflow: hidden;
	resize: none;
}
.hiddendiv {
	display: none;
	white-space: pre-wrap;
	width: 428px;
	text-align: justify;
	min-height: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: hidden;
	word-wrap: break-word;
	padding: 1px 2px;
	border: 1px solid white;
}
/* InputFIeld voor biebcode */
.veld input#field_code{
	width: 100px;
}
.blok .veld .genereer {
	display: none;
}
.blok .veld input:focus~a.genereer {
	display: inline;
}
/* LidField */
.blok .veld input.RequiredLidField {
	width: 220px;
}
.lidPreview, .uidPreview{
	display: inline;
	padding-left: 10px;
}
/* InputField voor titel */
li.ac_over a, li.ac_over a:hover { 
	color: #0071D9;
}

/* 
 * Formulier voor nieuw boek en die voor boekbeschrijving bestaand boek
 */
.Formulier label, .boekzoeker label{
	width: 150px;
	float: left;
}
.boekzoeker label img{
	float: left;
	margin-top:-3px;
}
#addBeschrijving label{
	float: left; 
	width: 109px; 
	height: 20px;/* blijft tekstvak op zijn plek bij waarschuwing*/
	color: white; 
	margin: 0px;
}
.Formulier input.regular,.Formulier textarea, .boekzoeker input{
	width: 400px;
	padding: 1px 2px;
}
.Formulier input.uid{
	width: 80px;
}
.Formulier .veld, .Formulier h3, .Formulier .password{
	clear: both;
}
.Formulier .veld, .Formulier .submit, .boekzoeker{
	margin-left: 10px;
	padding: 1px 2px;
	border: 1px solid white;
}
.boekzoeker {
	margin: 0px 0 10px 10px;
	padding: 7px 2px 7px 2px;
}
#addBeschrijving .veld, 
#addBeschrijving .submit{
	margin-left: 0px;
}
.Formulier .veld:hover,.boekzoeker{
	border: 1px  solid #ddd;
	background-color: #eee;
}
.Formulier .metfouten{
	background-color: #FFC3CE;
	padding: 4px 2px;
}
.Formulier .veld .waarschuwing{
	float: right;
	margin-right: 10px;
}
#addBeschrijving .veld .waarschuwing{
	float: left;
	margin-right: 10px;
}
.Formulier h3{
	margin-top: 8px;
	margin-bottom: 1px;
}
#addBeschrijving h3, 
.beschrijvingen h2.header, 
.beschrijvingen p.header{
	margin-left: 112px;
}
.beschrijvingen h2{
	margin-bottom: 5px;
}
.Formulier textarea#field_beschrijving {
	width: 500px;
}
.Formulier .preview{
	word-wrap: break-word; 
}
.Formulier .UBBpreview{
	width: 500px;
	display: inline-block;
}


/*  Exemplaren */
.exemplaren{
	margin-top:10px;
}
.exemplaren .exemplaar{
	margin-bottom: 25px;
	overflow: auto;
}
.exemplaren .exemplaar .fotolabel{
	color: white;
	float: left;
}
.exemplaren .exemplaar .fotolabel img.pasfoto{
	height: 40px;
	float: left;
	margin-left: 27px;
}
.exemplaren .exemplaar .gegevensexemplaar{
	float: left;
	width: 649px;
}
.exemplaren .exemplaar .actieknoppen{
	height: 20px;
}
.exemplaren .exemplaar label{
	line-height: normal;
	width: 75px;
}

.exemplaren h2{
	margin-left: 77px;
	margin-bottom: 5px;
}
.exemplaren p{
	margin-left: 75px;
}
.exemplaren .blok .veld div.opslaan {
	margin-right: 77px;
}
 /* uitleenveld */
.exemplaren input.lid, .exemplaren div.naamCheck{
	width: 170px;
	float: left;
}
.exemplaren .uitleenveld{
	overflow: auto;
}
.exemplaren div.naamCheck{
	margin-left: 5px;
}
.exemplaren .exemplaar.compact a {
	float: left;
	margin-right: 5px;
}
.exemplaren .exemplaar.compact img.pasfoto{
	height: 40px;
}
.exemplaren .exemplaar.compact .statusmarkering {
	margin-left:-33px;
	font-size: 18px;
	float: left;
}

/* boekbeschrijvingen */
.beschrijvingen{
	margin-top: 30px;
}
.beschrijvingen td.linkerkolom{
	width: 99px;
	font-size: 9px;
}
.beschrijvingen td.recensist{
	padding: 2px 10px 5px 0px;
}
.beschrijvingen td.recensist span.moment{
	color:grey;
}
.beschrijvingen td.beschrijving{
	width: 506px;
	padding: 2px 0px 5px 0px;
}
.beschrijvingen td.beschrijving.b0{ 
	background-color: #f4f4f4;
}
.beschrijvingen td.tussenschot{
	height: 2px;
	margin: 0px; padding: 0px; border: 0px;
	background-color: lightgrey;
}
.beschrijvingen td.bewerken{
	background-color: #ffea5c !important;
}
.beschrijvingen td.bewerken span.bewerken{
	color: grey;
	font-weight: bold;
}



