

.boeken{
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.boeken thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.boeken tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.boeken tbody tr th{
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}
tbody a.toevoegen{
	float: right;
	height: 10px;
	width: 10px;
	padding-right: 10px;
}

.boeken tr td{
	padding: 2px 3px;
}

.boeken tr td a.filenotfound{ text-decoration: none; color: #888;}
.boeken tr td a.verwijderen, .boeken tr td a.bewerken{ float: right; margin-left: 3px;}

.boeken tr.odd td{
	background-color: #efefef;
}

.paging_full_numbers .paginate_button {
    padding: 2px 5px;
    margin: 0;
    border: 1px solid #d3d3d3; 
    background: #e6e6e6; 
    font-weight: normal; 
    color: #162673; 
    outline: none;
    cursor: pointer;
    * cursor: hand;
}
.paging_full_numbers .paginate_active {
    padding: 2px 5px;
    margin: 0;
	border: 1px solid #aaaaaa; 
	background: #ffffff; 
	font-weight: normal; 
	color: #black; 
	outline: none;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers {
    width: 350px !important;
}

.dataTables_paginate {
    width: auto;
}

/* boek */
.label{ float: left; width: 75px; font-size: 9px; color: #999; }
.boek .titel{ margin-left: 20px; padding-left: 15px; float: left; width: 75px; color: #999; }
.boek .titelwaarde{ float:left; width: 489px;}
.blok { margin-bottom: 20px; clear: left; }
.boek .header { margin-bottom: 0px;}
.gegevens { margin-left: 20px; padding-left: 15px; border-left: 1px solid #0a338d; }
div.boek { 
	float: left;
	width: 620px;
}

.controls{
	float: right;
	width: 120px;
}
.boekacties{
	
}
/* bewerkbare velden
 * bewerken van opmerking/functie */
.editbox{
	display:none
}
.editbox{
	background-color:#ffffcc;
	border:solid 1px #000;
	padding:1px;
	width: 481px
}
.bewerk{
	/*background:url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) right no-repeat;*/
	padding-right:18px!important;
}
.bewerk:hover{
	background:url(http://plaetjes.csrdelft.nl/knopjes/bewerken.png) right no-repeat #ddd;
	cursor:pointer;
}
.melding {
	color:red;
}

.suggestie{
	color:grey;
	font-style: italic;
}
/*
 * Formulier voor nieuw boek of boekbeschrijving
 */
#boekaddForm label{
	width: 150px;
	float: left;
}
#addBeschrijving label{
	float: left; 
	width: 109px; 
	height: 20px;/* blijft tekstvak op zijn plek bij waarschuwing*/
	font-size: 9px; 
	color: white; 
	margin: 0px;
}

.boekForm input.regular{
	width: 250px;
}
.boekForm input.uid{
	width: 80px;
}
.boekForm .uidPreview{
	display: inline;
	padding-left: 10px;
}
.boekForm .veld, .boekForm h3, .boekForm .password{
	clear: both;
}
.boekForm .veld, .boekForm .submit{
	margin-left: 10px;
	padding: 1px 2px;
	border: 1px solid white;
}
#addBeschrijving .veld, #addBeschrijving .submit{
	margin-left: 0px;
}
.boekForm .veld:hover{
	border: 1px  solid #ddd;
	background-color: #eee;
}
.boekForm .metfouten{
	background-color: #FFC3CE;
	padding: 4px 2px;
}
.boekForm .veld .waarschuwing{
	float: right;
	margin-right: 10px;
}
#addBeschrijving .veld .waarschuwing{
	float: left;
	margin-right: 10px;
}
.boekForm h3{
	margin-top: 8px;
	margin-bottom: 1px;
}
#addBeschrijving h3, .beschrijvingen h2, .beschrijvingen p{
	margin-left: 112px;
}
.beschrijvingen h2{
	margin-bottom: 5px;
}
.boekForm .preview{
	width: 496px;
}
.boekForm textarea.regular{
	width: 500px;
}
.boekForm .textareaContainer{
	width: 508px;
	float:left;
}
li.verborgen{ display: none; }

/* Exemplaren */
.exemplaren .regel .label{
	color: white;
	float:left;
	
}
.exemplaren .label .pasfoto{
	height: 40px;
	float:left;
}
.exemplaren .regel{
	margin-bottom: 10px;
	overflow: auto;
}
.exemplaren h2{
	margin-bottom: 5px;
}

/* boekbeschrijvingen */
div.beschrijvingen{
	margin-top: 10px;
}
.beschrijvingen .recensist{
	width: 109px;
	font-size: 9px;
}
.beschrijvingen span.moment{
	color:grey;
}
.beschrijvingen .beschrijving{
	width: 506px;
}
.beschrijvingen .bewerken{
	background-color: #ffea5c !important;
}
.beschrijvingen td.b0{ 
	background-color: #f4f4f4;
}
.beschrijvingen tr td.tussenschot{
	height: 2px;
	margin: 0px; padding: 0px; border: 0px;
	background-color: lightgrey;
}
