html, body{ font-size : 75.5%; }
h1{	font-size: 1.6em; line-height: 1.6em; }
h2{ font-size: 1.3em; line-height: 1.3em; }
h3{ font-size: 1.25em; line-height: 1.25em; }
h4{ font-size: 1em; line-height: 1em; }
body, textarea, input, select, option, tr, td, th, div, p  { 
	font-size: 1em; line-height: 1.15em; text-align: justify;
}	

html, body{
	margin: 0px; padding: 0px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #e1e5e5;
}
h1{ margin-top: 5px; margin-bottom: 10px;}
h2{	margin-top: 5px; margin-bottom: 4px; }
h3{ margin-top: 3px; margin-bottom: 0px; }
p{ 	margin: 5px 0px 10px 0px; padding: 0px; text-align: justify; } 
a{ 	color: darkred; text-decoration: none; }
a:hover{ color: black; }
div{ margin: 0px; padding: 0px; }

textarea{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px;
	border: 1px solid #A9A9A9;
}
input, select{ padding-left: 2px; padding-right: 2px;	border: 1px solid #A9A9A9; font-size: 1em;} 
select{ padding-right: 0px; }
input.checkbox{ border: 0px; }

th{ text-align: left; }
td{ vertical-align: top; padding: 0px; }
ul, ol{ }
li{margin: 0 0 0 15px;}
li li{ font-size: 1em;}



/* pagina-opmaak */
#layoutContainer{}
#navigatie{
	position: absolute;
	top: 108px;
	left: 170px; 
	height: 22px; width: 820px;
	background-color: white;
	z-index: 99;
	opacity:.85; filter: alpha(opacity=85);
} #navigatieContent{
	margin: 3px 10px 0px 10px;
	font-size: 1.1em;
}

#menu{
	position: absolute;
	top: 130px;
	left: 170px;
	height: 40px; width: 819px;
	background-color: gold;
	border-right: 1px solid #bbb; 
	border-top: 1px solid black;
	border-left: 1px solid black;
	z-index: 85;
} #menuContent{
	margin: 2px 10px 0px 10px; padding: 0px;
}	#submenuContent{
	position: absolute;
	left: 10px;
	margin: 4px 0 0 20px; padding: 0px;

}
	
#bodyContainer, #bodyContainerBreed{
	position: absolute;
	top: 172px; 
	left: 170px; 
}	#lichaam, #lichaamBreed{
		width: 819px;	background-color: white;
		margin: 0px 0px 25px 0px; 
		border-left: 1px solid #bbb;  
		border-right: 1px solid #bbb;  
		border-bottom: 1px solid #bbb; 
		z-index: 1000; 
	} 
	#bodyContent{ margin: 0px; padding: 20px; font-size: .95em; }
	#copyright{	position: absolute; bottom: 0px;} 
		#copyrightContent{ margin: 0px 10px 10px 20px; font-size: .9em; color: #bbb;}
			#copyrightContent a{ color: #bbb; }
			#copyrightContent a:hover{ color: darkred; }
#bodyContainerBreed{ left: 0px; }	
	#lichaamBreed{ width: 990px; }
#searchbox{
	position: absolute;
	top: 140px;
	left: 735px;
	width: 250px; height: 20px;
	z-index: 100;
	
}	#searchbox p{ text-align: right; }
	#searchbox input{ padding: 1px; border: 1px solid darkred; width: 160px; font-size: .9em; }
#hoofder, #hoofderBreed{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 990px; height: 171px;
	background-color: white;
	border-right: 1px solid #bbb; 
	z-index: 1;
} #beeldmerk{ margin: 5px 0px 0px 28px; width: 120px; }
#hoofderBreed{ }

#zijkolom{
	position: absolute;
	top: 172px;
	left: 0px;
	width: 170px;
	margin: 0; 
	border-right: 1px solid black;
	border-bottom: 1px solid black; 
	background-color: gold;
	font-size: .85em;
} #zijkolomContent{ margin: 20px 10px 10px 10px; min-height: 600px; _height: 600px; }	
		#zijkolomFooter{ 
			height: 77px;
			background-image: url(http://plaetjes.csrdelft.nl/layout/bestuurstekst.gif);
			background-repeat: no-repeat;
			background-position: bottom right;
}

#lijntje{
	position: absolute;
	top: 171px;	left: 0px;
	width: 990px;
	height: 3px;
	background-color: darkred;
	border-right: 1px solid #bbb;  
	
}
#hoofderFoto{
	position: absolute;
	top: 0px;
	left: 170px;
	border-right: 1px solid black;
	z-index: 70;
}
#personalBox{
	position: absolute;
	z-index: 99;
	top: 5px;
	left: 818px;
	width: 160px;
	padding: 2px;
	color: black; background-color: white;
	opacity:.85; filter: alpha(opacity=85);
	border: 1px solid darkred;
	font-size: .75em;
}	#inloglink{	display: block; width: 160px; } 
	#inloggen{ display: none; }
		input.login{ width: 60px; border: 1px solid grey; }
		input.login-submit{ padding: 0px; width: 18px; text-align: center; border: 1px solid grey; }
		input.login-checkip{ padding: 0px; width: 12px; height: 12px; border: 1px solid grey; }
		
pre#pubcie_debug{
	position: absolute;
	top: 10px;
	left: 1000px; right: 10px;
	margin: 10px;
	overflow: auto;
	font-size: 1.2em;
	color: black; background-color: white;
	border: 1px solid darkred;
	z-index: 100;
}
table.ubb_table{
	padding: 0px;	border-collapse: collapse;

}
table.ubb_table tr{
	margin: 0px; padding: 0px;
}
table.ubb_table td, th{
	margin: 0px; padding: 2px;
}
pre.ubb_code{
	margin: 0px; padding-left: 8px;
	overflow-x:auto;
	overflow-y:hidden;
}


table.query_table{
	margin: 10px;
	padding: 0px;	border-collapse: collapse;
	border: 1px solid black;
	
}
table.query_table td{
	margin: 0px;
	padding: 4px;
	padding-left: 10px; padding-right: 10px;
	background-color: #bbbbbb;
}

table.query_table th{
	margin: 0px; padding: 4px;
	padding-left: 10px; padding-right: 10px;
	border-bottom: 1px solid black;
	background-color: #ffd700;

}

.youtubeVideo{
	position: relative;
	
}
.afspelen{
	cursor: pointer; cursor: hand;
	position: absolute;
	left: 45px; 
	opacity: 0.7;
	top: 30px;
}


/* dingen voor afzonderlijke pagina's */

/* plaatjes in tekst */
p img{ margin: 15px 10px; }

/* nieuws */
.nieuwsbericht, .nieuwsbericht-vast{
	margin: 20px 0px 5px 0px;
	min-height: 100px; _height: 100px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-color: #f5f5f5;
}	.nieuwsplaatje{ margin: 0px 0px 0px 0px; float: left;	}
	.nieuwsbody{		margin: 11px 10px 0px 70px; }	
	.nieuwstitel{		font-size: 1.15em; font-weight: bold; margin-bottom: 5px;}
	.nieuwstitel a{ color:  black;}
.nieuwsbericht-vast{ height: 100px;	}	

a.knop{
	background-color: #f5f5f5;  
	border: 1px solid #A9A9A9;
	margin: 2px; padding: 0px 2px 0px 2px;
	line-height: 1.1em;
}

/* waarschuwing */
.waarschuwing{ color: darkred; font-weight: bold;}
div.blokje{ background-color: #fff3b4; margin: 10px 5px; padding: 5px 10px;}
div#uStaatRood{
	position: absolute;
	left: 730px;
	top: 50px;
	width: 230px;
	padding: 10px;
	background-color: white;
	color: darkred;
	font-size: 1em;
	border: 2px solid darkred;
	opacity:.90; filter: alpha(opacity=90);
	z-index: 99;
}

/* profiel */
table.profiel{ width: 100%;	border-collapse: collapse; }
table.profiel th{ 
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid black;
	padding: 0px 0px 1px 5px;
}
table.profiel td{
	border-left: 1px solid black;
	padding: 5px;
	text-align: left;
}
table.profiel td.foto{
	margin: 0; padding: 0;
	border: 0;
}
table.profiel_edit{
	width: 100%;
	margin: 5px;
}
table.profiel_edit tr td input, textarea{ width: 260px; }

/* algemeen hokje voor (fout)meldingen */
div#melding{
	margin: 10px; padding: 10px;
	background-color: lightgrey;
	color: red;
	border: 1px solid black;
	font-size: 1.3em;
}
/* ubb-hulp */
div#ubbhulpverhaal{
	display: none; 
	z-index: 999;
	position: absolute; 
	left: -150px; 
	width: 330px; 
	border: 1px solid #bbb;
	margin-top: -13px;
	padding: 5px;
	background-color: white;
	text-align: left;
}
span#ubbsluiten{
	display: block; 
	width: 16px; height: 16px;
	float: right;
	margin: 0px; padding: 0px;
	font-weight: bold; font-size: 16px;
	text-align: center;	vertical-align: middle; 
	color: black; 
	cursor: pointer; cursor: hand;
	border: 1px solid white;
}
span#ubbsluiten:hover{
	border: 1px solid black;
	background-color: #eee;
}


/* intern/lijst.php */
table.zoekResultaat{ width: 100%; border-collapse: collapse;}
table.zoekResultaat tr td{border-top: 1px solid lightgrey; margin: 0px; padding: 2px; text-align: left;}
table.zoekResultaat tr td img{ background-color: #fff3b4;}

/* bestuur.php */
#bestuurContainer{ text-align: center; }
table.bestuur{ width: 100%; text-align: center; }
table.bestuur th{ text-align: center; }
table.bestuur td{ text-align: center; }

/* maaltijdketzer */
table.maaltijden{ width: 100%; }
table.maaltijden tr{ height: 1.6em; }

/* csrmail */
div#pubciemail_form{ background-color: #f1f1f1; border: 1px solid lightgray; padding: 10px;}

/* verjaardagen in zijbalk */
#komendeVerjaardagen{ font-size: 1em; line-height: 1.05em; text-align: left;}
#komendeVerjaardagen a.kopje{ font-size: 1em; color: black; font-weight: bold; }
#komendeVerjaardagen a.kopje:hover{ font-size: 1em; color: darkred; }
span.tijd{ font-size: 0.95em; }

/* archief C.S.R.-courant */
#archiefCourant{ font-size: 1em; line-height: 1.05em; text-align: left;}
#archiefCourant a.kopje{ font-size: 1em; color: black; font-weight: bold; }
#archiefCourant a.kopje:hover{ font-size: 1em; color: darkred; }
span.tijd{ font-size: 0.95em; }

/* laatste forumberichten */
#forumHighlights{ font-size: 1em; line-height: 1.05em; text-align: left;}
#forumHighlights a.kopje{ font-size: 1em; color: black; font-weight: bold; }
#forumHighlights a.kopje:hover{ font-size: 1em; color: darkred; }
span.tijd{ font-size: 0.95em; }

/* commissieoverzichtspagina */
.cie{ clear: both; border-top: 1px solid black; margin-top: 20px; }
.cieleden{ width: 220px; float: right; padding: 10px 20px 20px 20px; }


/* Streeplijstgenereertool */
form#streeplijst fieldset{ padding: 10px;  }
form#streeplijst fieldset legend{ font-weight: bold; }
form#streeplijst input, label{ text-align: left; margin: 3px; padding: 0px; line-height: 1em;}
