/**** GENERAL *****************************************************************/
body, html, p, a, img, h1, h2, h3, h4, ul, li, form, fieldset, input {
	margin: 0;
	padding: 0;
}div{border: 0px solid red;}

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#container {
	margin: 10px auto;
	width: 1004px;
	background: url('http://plaetjes.csrdelft.nl/layout/containerbg_top.png') no-repeat;
}

body, textarea, input, select, option, tr, td, th, div, p  { 
	text-align: justify;
}

h1{
	font-size: 1.6em;
	margin-bottom: 0.2em;
}
p{
	margin-bottom: 1em;
}


a{color: #0a338d; text-decoration: none;}
a:hover{color: #0a338d; text-decoration: underline;}
div{ margin: 0px; padding: 0px; }

textarea{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px;
	font-size: 1em;
	border: 1px solid #A9A9A9;
}
input, select{ padding-left: 2px; padding-right: 2px;	border: 1px solid #A9A9A9; font-size: 1em;} 
select{ padding-right: 0px; }
input.checkbox{ border: 0px; }

th{ text-align: left; }
td{ vertical-align: top; padding: 0px; }
ul, ol{ }
li{margin: 0 0 0 15px;}
li li{ font-size: 1em;}
hr{
	height: 1px; background-color: black;
	border: 0 none;
}
.clear{	clear: both; }
.verborgen{ display: none; }
.handje{ cursor: pointer; }
.small{ font-size: smaller; }

ul.horizontal li{
	display: inline;
	padding-right: 20px;
}
ul.horizontal li.active{ font-weight:bold; }
ul.nobullets li{ list-style-type: none; }


/**** MENU ********************************************************************/
#menu {
	margin: 0 auto;
	width: 966px;
	height: 142px;
	background: url('http://plaetjes.csrdelft.nl/layout/menubg.png') repeat-x;
}
#menuleft{
	float: left;
	width: 259px;
	height: 142px;
}
#menuleft img{
	border: 0;
	padding: 4px 30px 0px;
}
#menucenter{
	float: left;
	width: 560px;
	height: 142px;
}

/**** MENU BANNER *************************************************************/
#menubanner{
	margin: 2px 0;
	width: 547px;
	height: 106px;
}
#banner1 { display:none; }
#banner2 { display:none; }
#banner3 { display:none; }
#banner4 { display:none; }

/**** MAIN MENU ***************************************************************/
#mainmenu {
	line-height: 0px; /*Fix voor Opera*/
	list-style-type: none;
}
#mainmenu li {
	display: inline;
	float: left;
}
#mainmenu a {
	line-height: 27px;
	overflow: none;
	display: block;
	
	text-align: center;
	font-size: 13px;
	width: 122px;
	height: 32px !important;
	height: 30px;
	font-weight: bold;
	text-decoration: none;
	background: url('http://plaetjes.csrdelft.nl/layout/menubutton.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/layout/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu {
	margin: 0 auto;
	width: 966px;
	height: 24px;
	background: url('http://plaetjes.csrdelft.nl/layout/submenubg.png') repeat-x;
}
#submenuitems {
	padding-top: 5px;
	margin-left: 201px;
	_margin-left: 199px; /*IE6 fix*/
	vertical-align: bottom;
	text-align: center;
}
#submenuitems div{
	display: none;
	text-align: center;
}
#sub1{
	margin-left: 0px; 
	text-align: left !important; 
}
#sub2{
	margin-left: 0px; 
	text-align: left !important; 
}
#sub3{	
	width: 650px;
	margin-left: 90px; 
}
#sub4{
	width: 600px;
	margin-left: 160px; 
	text-align: right !important;
}

#submenuitems div.active {
	display: block;
}
#submenu img {
	margin-top: 4px;
	vertical-align: top;
}
#submenu a {
	padding: 3px 2px;
	font-size: 12px;
	text-decoration: none;	
}
#submenu a:link, #submenu a:visited {
	color: #ffffff;
}
#submenu a:hover, #submenu a:active, #submenu a.active {
	color: #e8cf2a;
}

/**** MENU RIGHT **************************************************************/
#menuright{
	float: right;
	width: 138px;
	height: 142px;
	position: relative;
}
#key img {
	float: right;
	padding: 10px;
	border: 0;
	cursor: pointer;
}
#ingelogd{
	color: #ffffff;
	margin-top: 2px;
	width: 133px;
}
#ingelogd a{
	color: #ffffff;
}
#profiellink{
	float: left;
}
#uitloggen{
	float: right;
}
#saldi .saldo{ float: right; }
#saldi .staatrood{ color: red; }
#zoekveld{
	width: 127px;
	text-align: center;
	padding: 2px;
	position: absolute;
	top: 115px;
}
#login{
	margin-right: 10px;
	float: right;
}
#login fieldset{
	border: 0;
}
#login input{
	padding: 1px;
	margin: 1px 0px;
	width: 125px;
	_width: 85px; /*IE6 Fix*/
	border: 1px solid #000;
	background-color: #fff;
}
#login input.checkbox {
	_margin-left: -3px;
	width: auto;
	border: 0;
	background: none;
	float: left;
}
#login input.submit {
	background-color: #0178e3;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}
#login label{
	margin: 1px;
	_margin-top: 5px;
	padding: 0;
	float: right;
	color: #fff;
}

/**** MAIN ********************************************************************/
#main {
	width: 1004px;
	background: url('http://plaetjes.csrdelft.nl/layout/mainbg.png') repeat-y;
}

#mainleft {
	float: left;
	margin-top: 3px;
	margin-left: 17px; _margin-left: 7px; /*IE6 Fix*/
	width: 200px;
}
#mainright { 
	float: right;
	margin-right: 24px;
	padding: 10px 0;
	width: 760px;
}

/**** BLOCK *******************************************************************/
#mainleft .block {
	margin: 10px 15px 0px 10px;
}
#mainleft .block h1 {
	margin: 0;
	padding: 1px 5px;
	font-size: 11px;
	height: 13px;
	color: #162673;
	font-weight: bold;
	background: url('http://plaetjes.csrdelft.nl/layout/blocktitle.png') no-repeat;
	border-bottom: 1px solid #b8b8b8;
}
#mainleft .block h1 a{
	color:  #162673;
}
#mainleft .block .item {
	padding: 0px 5px 0px 5px;
	font-size: 10px;
	background-color: #f5f5f5;
	border: 1px solid #b8b8b8;
	border-top: 0;
	text-align: left;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
#mainleft a {
	color: #000;
	text-decoration: none;
}
#mainleft .opvallend {
	font-style: italic;
}
#mainleft a:hover{
	text-decoration: underline;
}
#mainleft #komende_pasfotos{
	padding-top: 4px;
	padding-bottom: 4px;
}
#mainleft #komende_pasfotos .verjaardag{
	height: 87px;
	float: left;
	margin: 1px;
	border: 1px solid #f5f5f5;;
	text-align: center;
}
#mainleft #komende_pasfotos .verjaardag:hover{
	background-color: #bbb;
}
#mainleft #komende_pasfotos .opvallend{
	border: 1px solid #b8b8b8;
}
#mainleft #komende_pasfotos .verjaardag img.lidfoto{
	max-height: 70px; width: 50px;
}

/**** FOOTER ******************************************************************/
#footer {
	clear: both;
	padding-top: 7px;
	width: 1004px;
	height: 22px;
	text-align: center;
	background: url('http://plaetjes.csrdelft.nl/layout/footerbg.png') no-repeat #fff;
}
#footer a {
	color: #000;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}

/**** OVERIG ******************************************************************/
a.knop, div.knop{
	background-color: #f5f5f5;  
	border: 1px solid #A9A9A9;
	margin: 2px; padding: 0px 2px 0px 2px;
	line-height: 1.1em;
	cursor: pointer;
}

h2#mysql_debug_header{
	text-align: center;
}
pre#pubcie_debug{
	position: absolute;
	top: 10px;
	left: 1000px; right: 10px;
	margin: 10px;
	overflow: auto;
	font-size: 1.2em;
	color: black; background-color: white;
	border: 1px solid darkred;
	z-index: 100;
}
table.ubb_table{
	padding: 0px; border-collapse: collapse;
}
table.ubb_table tr{
	margin: 0px; padding: 0px;
}
table.ubb_table td, th{
	margin: 0px; padding: 2px;
}
pre.ubb_code{
	max-width: 640px;	
	margin: 0px; padding-left: 8px;
	overflow-x:auto;
	overflow-y:hidden;
}

table.query_table{
	margin: 10px;
	padding: 0px;	border-collapse: collapse;
	border: 1px solid black;
}

table.query_table td{
	margin: 0px;
	padding: 4px;
	padding-left: 10px; padding-right: 10px;
	background-color: #bbbbbb;
}

table.query_table th{
	margin: 0px; padding: 4px;
	padding-left: 10px; padding-right: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #ffd700;

}

.youtubeVideo{
	position: relative;
}

.afspelen{
	cursor: pointer; cursor: hand;
	position: absolute;
	left: 45px; 
	opacity: 0.7;
	top: 30px;
}
/* ubb voorbeeldding */
div.previewContainer{
	margin-top: 10px;
	display: none;
}
div.preview{
	margin: 5px 0px; padding: 2px 4px;
	width: 99%;
	background-color: #ffffc1;
	border: 1px solid #ccc;
}
div.preview.pagina{
	padding: 2px 2px;
	width: 100%;
}

/* maaltijd-ubb-tag */
.ubbMaaltijd{
	float: left;
	width: 343px;
	height: 53px;
	border: 1px solid gray;
	background-color: #ddd;
	padding: 5px;
}
#forumtabel td .ubbMaaltijd{ margin: 0px 10px; }
.ubbMaaltijdFloat{
	float: right; 
	background-color: #ccc; 
	width: 68px; 
	padding: 4px; margin-left: 10px;
}

/* google maps ubb-tag */
.ubb_gmap {
	width:300px;
	height: 200px;
	border:1px solid darkgrey;
	margin:2px;
}

.ubb_groep{
	margin: 10px;
	padding: 5px 10px;
	border: 1px solid black;
}
.ubb_groep .groepleden{
	width: 250px;
	float: right;
	margin-left: 10px;
}
.ubb_groep .groepleden table.leden{ width: 100%; }
.ubb_groep .groepleden table.leden td{ padding: 0px 5px; text-align: left;}
.ubb_groep .groepleden .pasfoto{ 
	width: 50px; height: 67px; 
	border: 1px solid grey;
	float: left; margin-left: 10px;}

div.ubb_document{
	background-color: #ddd;
	border: 1px solid #ccc;
	width: 450px;
	margin: 2px 4px; padding: 4px 6px;
}
div.ubb_document span.size{ 
	color: #777;
	float: right;
}
div.ubb_document .icon{ float: left; }
div.ubb_document a{
	display: block; width: 375px;
	padding-left: 25px;
	text-align: left;
}
/* plaatjes in tekst */
p img{ margin: 15px 10px; }

/* waarschuwing */
.waarschuwing{ color: red;}
/* geel blokje */
div.blokje{ background-color: #FFFFC1; margin: 10px 0px; padding: 10px 10px;}


/* profiel */
table.profiel{ 
	width: 100%;	
	border-collapse: collapse; 
	margin-bottom: 20px;
}
table.profiel th{ 
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid black;
	padding: 0px 0px 1px 5px;
}
table.profiel td{
	border-left: 1px solid black;
	padding: 5px;
	text-align: left;
}
table.profiel td.foto{
	margin: 0; padding: 5px;
	border: 0;
}
td.foto img{ border: 2px solid black; }

table.profiel_edit{
	width: 100%;
	margin: 5px;
}
table.profiel_edit tr td input, textarea{ width: 260px; }

.pasfoto{
	
}
.pasfotomatrix { width: 260px; margin-top: 10px;}
.pasfotomatrix .pasfoto{
	width: 50px; height: 67px; float: left;
	margin-left: 10px; margin-bottom: 10px;
	border: 1px solid grey;
}

/* algemeen hokje voor (fout)meldingen */
div#melding{
	margin: 10px; padding: 10px;
	background-color: lightgrey;
	color: red;
	border: 1px solid black;
	font-size: 1.3em;
}
/* ubb-hulp */
div#ubbhulpverhaal{
	display: none; 
	z-index: 999;
	position: fixed;
	left: 50px;
	top: 50px;
	width: 330px; 
	border: 1px solid #bbb;
	margin-top: -13px;
	padding: 5px;
	background-color: white;
	text-align: left;
}
span#ubbsluiten{
	display: block; 
	width: 18px; height: 18px;
	float: right;
	margin: 0px; padding: 0px;
	font-weight: bold; font-size: 14px;
	text-align: center;	vertical-align: middle; 
	color: black; 
	cursor: pointer; cursor: hand;
	border: 1px solid white;
}
span#ubbsluiten:hover{
	border: 1px solid black;
	background-color: #eee;
}
div.offtopic{ font-size: 9px; color: #bbb; }
div.offtopic a{ color: #bbb; }
div.offtopic hr{ text-align: left; background-color: #bbb; }



/* maaltijdketzer */
table.maaltijden{ width: 100%; }
table.maaltijden tr{ height: 1.6em; }
table.maaltijden tr.old{ opacity: .50; }
#maaltijdform label{ width: 150px; float: left; }
#maaltijdform input, select{ margin-bottom: 3px;}
#maaltijdform div.uidPreview{ display: inline; padding-left: 10px; }


/* csrmail */
div#pubciemail_form{ background-color: #f1f1f1; border: 1px solid lightgray; padding: 10px;}

/* archief C.S.R.-courant */
div.courantArchiefJaar{
	width: 100px;
	float: left;
}

/* Streeplijstgenereertool */
form#streeplijst fieldset{ padding: 10px;  }
form#streeplijst fieldset legend{ font-weight: bold; }
form#streeplijst input, label{ text-align: left; margin: 3px; padding: 0px; line-height: 1em;}


#eetplanLETOP{
	color: darkred; font-size: 1.8em; 
	line-height: 1.1em;
	padding: 10px; font-weight: bold; 
	text-align: justify; display: block; 
	border: 1px solid black; background-color: lightgrey;
}
.eetplantabel{
	width: 100%; border-collapse: collapse;
}
.eetplantabel tr{ margin: 0px; padding: 0px;}
.eetplantabel tr td{ margin: 0px; padding: 0px; text-align: left;}
.eetplantabel tr th{ border-bottom: 1px solid black; }
.eetplantabel tr.kleur0 td{ background-color: #fff; }
.eetplantabel tr.kleur1 td{ background-color: #f4f4f4; }
.eetplantabel tr .huis{ border-left: 1px solid black; padding:3px 4px; margin: 0px; font-size: 10px;}

#shoutbox{

}

/* Peiling */
.peiling{
	border: 1px solid black; 
	margin: 10px; 
	padding: 5px 10px;
}
.peilingopties{
	padding: 5px;
}
.peilingoptie{
	display: table-row;
}
.peilingoptietekst{
	display: table-cell;
	width: 250px;
	padding: 4px 20px 4px 4px; 
	float: left;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.peilingoptiebalk{
	display: table-cell;
	width: 200px;
	vertical-align: top;
	border-bottom: 1px solid #eee;
	padding: 4px 4px;
}
.peilingbalk{	
	height: 10px; 					 
	background-color: #6060FF;  
	border: 1px outset #0A338D;
}
.peilingoptieaantal{
	display: table-cell;
	vertical-align: top;
	text-align: right;
	padding: 4px 4px;
	border-bottom: 1px solid #eee;
	
}
/* Peilingbeheer */

/* Mededelingen */
.mededeling-grotebalk{
	height: 70px;
	padding: 8px 12px 8px 6px;
	margin-bottom: 10px;
	border-top: 1px solid #B8B8B8;
	border-left: 1px solid #B8B8B8;
	background-color: #F0F0F0;
	overflow: hidden;
}
.mededeling-grotebalk .plaatje{
	width: 70px;
	height: 70px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
}
.mededeling-grotebalk .titel{
	font-weight: bold;
	font-size: 1.1em;
}
.mededeling-grotebalk .bericht{
	text-align: left;
}
#mededelingen-top3block{
	float: left;
	margin: 10px 10px 0px 0px;
	width: 376px;
}
