#controls{
	float: right;
}

#documentForm fieldset{ background-color: #eee; padding: 5px 10px; margin-bottom: 10px;}
#documentForm fieldset label.metadata{ width: 150px; float: left; }

#documentForm .uploadmethode, #documentForm .uploadmethode:hover{ 
	width: 100; min-height: 1.5em; padding: 4px 8px; margin: 4px 0px;
	clear: both;
}



#documentForm .uploadmethode:hover{ background-color: #e5e5e5;  }
#documentForm .uploadmethode .optie{ float: left; width: 150px; }
#documentForm .uploadmethode .keuze{ display: none;}
#documentForm .uploadmethode .keuze label{ width: 150px; float: left; }
#documentForm  input[type=text]{ width: 250px;}



.documenten{
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.documenten thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.documenten tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.documenten tbody tr th{
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}

.documenten tr td{
	padding: 2px 3px;
}
.documenten tr.odd td{
	background-color: #efefef;
}
/*
#documentencategorie tr.alt td{
	background-color: #e5e5e5;
} 
*/
