#documentForm{ background-color: #eee; }


#documentForm .uploadmethode, #documentForm .uploadmethode:hover{ 
	width: 600px; min-height: 70px; padding: 4px 8px; margin: 4px 10px;
	clear: both;
}
#documentForm .uploadmethode:hover{ background-color: #e5e5e5;  }
#documentForm .uploadmethode .optie{ float: left; width: 200px; }
#documentForm .uploadmethode .keuze{ display: none;}
#documentForm .uploadmethode .keuze label{ width: 150px; float: left; }



