/* Groepen nieuwe stijl */

/* Groepenlijst */
#groepLijst{ float: right; margin: 30px 0px 10px 20px; }
#groepLijst, #groepLijst li, #groepLijst ul{ text-align: right;}
#groepLijst li{ list-style-type: none; }
.groep{ border-top: 1px solid black; margin-top: 20px; }
ul.groepledenlijst{ width: 230px; float: right; padding: 10px 20px 20px 20px; margin-left: 10px;}

/* groep-view */
#groepledenContainer{ float: right; margin-left: 10px;}
#tabs li{ 
	float: right; 
	height: 18px; width: 20px; 
	margin-left: 2px;
	color: white;
	background-color: #cfcfcf; 
	text-align: center;
	cursor: pointer;
	list-style-type: none;
}
#tabs li a{
	display: block;
	color: white;
	height: 18px; width: 20px; 
}
#tabs li.active{
	background-color:#0a338d; 

}
.groepleden{ clear: both; width: 260px; background-color: #eee; float: right; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.groepleden table.leden{ width: 100%; }
.groepleden table.leden td{ padding: 0px 5px; text-align: left;}
.groepleden .toonmeer{ display: block; padding: 0px 0px 10px 15px;}
.groepleden .aanmelden { clear: left; padding: 4px 5px; border-top: 1px solid #ddd; line-height: 1.6em;}
.groepleden .aanmelden input.functie{ width: 160px; }
.groepleden .emails{ margin: 5px 10px;}


#voorgangerOpvolger{ margin: 10px 0px; padding: 3px 20px; border-bottom: 1px solid black;}
	.vorigeGroep{ list-style-image: url(http://plaetjes.csrdelft.nl/groepen/up.png); }
	.volgendeGroep{ list-style-image: url(http://plaetjes.csrdelft.nl/groepen/down.png); }
#groepAdmin{ float: right; margin: 10px ; }
#groepFormulier{ width: 100%;}
#groepFormulier label{ float: left; margin-right: 15px; width: 130px;}
#groepFormulier input, #groepFormulier textarea, #groepFormulier select{ margin-top: 4px; margin-bottom: 4px; }
#groepFormulier div.opmerking{  float: right; width: 440px; margin-bottom: 10px; }
