body{
	color: white;
}

#container, #mainleft *, #adminding, #adminding *, #footer{
	background-image: none !important;
}

#mainleft *, #adminding, #adminding *, #footer{
	background-color: #000 !important;
}


h1, h2, h3, h4, h5, h6{ color: #ebc474 !important; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color: #ebc474 !important; }
a, #footer a{ color: white; }
a:hover{ color: #ebc474 !important; }

#container{
	border: none;
	margin-top: 0;
}
#menu,#submenu{
	margin: 0;
	padding: 0 19px 0 19px;
}
#menu{
	padding-top: 10px
}
#submenu{
}
#menu,#menu *,#submenu,#submenu *{
	
}

h1,h2,h3,h4,strong, #menu *, #submenu *{
	
}

/* zooitje extra uitzonderingen */

#zoekveld{
	color: white;
}
#mainleft h1{ border: 1px solid #bbb !important; }
.item a{color: #ebc474 !important; }
a.knop, textarea, input, select, #filters span, #boekencatalogus_wrapper *{ background-color: black !important; color: white !important; }

#boekencatalogus thead tr th{ border-bottom: 1px solid #eee !important; }
#boekencatalogus tfoot tr th{ border-top: 1px solid #eee !important; }

#forumtabel th td{ color: #222;}
#forumtabel tbody tr.tussenschot td{ background-color: #555; }
.auteur{ background-color: black !important; }
.bericht1, .forumtekst{ background-color: #333 !important; }
.citaat{ background-color: #444 !important; }

.ubb_block, .ubb_block .groepleden{
	background-color: #444 !important;
}
#profielForm div.veld{ border: 0 !important; }
#profielForm div.veld:hover{ background-color: #222 !important; }



	
/* Lustrum style, later te veranderen in aparte stylesheet */
/* Temp quick fix */
body{
	background: #000 url('http://plaetjes.csrdelft.nl/lustrum/body.png') repeat-x !important;
}

#menubanner{
	position: relative;
	top: -10px;
}

#mainmenu{
	position: relative;
	top: 2px;
}

#mainmenu li{
	float: left;
}

#mainmenu a {
	float: left;
	color: #000 !important;
	height: 30px !important;
	background: url('http://plaetjes.csrdelft.nl/lustrum/nav.png') no-repeat;
}

#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	padding: 11px 0 0 5px;
	margin: -11px 0 0 -5px;
	background: url('http://plaetjes.csrdelft.nl/lustrum/nav_active.png') no-repeat;
}

#logo{
	position: relative;
	top: -9px;
}

#submenu a:link, #submenu a:visited{
	color: #000;
}

#ingelogd, #ingelogd a{
	color: #000;
}