/*
 * css voor maaltijd
 */

.melding {
	color:red;
}

/* corveeinstellingenpagina: instellingen */
.instellingenForm .veld{
	overflow: auto;
}
.instellingenForm h3{
	margin-top: 10px;
}
.instellingenForm label{
	width: 157px;
	float:left;
}
.instellingenForm textarea.regular{
	width: 500px;
	height: 150px;
}

/*corveeinstellingenpagina: corveeresetter */
.resetForm label{
	width: 155px;
	float:left;
}
.resetForm tr.odd td{
	background-color: #efefef;
}
.resetForm #melding{
	font-size: 11px;
	margin: 10px 10px 10px 160px;
}
.resetForm .notred #melding{
	color: black;
}
