/*
 * css voor maaltijd
 */

.melding {
	color:red;
}

/* corveeinstellingenpagina: instellingen */
.instellingenForm .veld{
	overflow: auto;
}
.instellingenForm h3{
	margin-top: 10px;
}
.instellingenForm label{
	width: 157px;
	float:left;
}
.instellingenForm textarea.regular{
	width: 500px;
	height: 150px;
}

/*corveeinstellingenpagina: corveeresetter */
.resetForm label{
	width: 155px;
	float:left;
}
.resetForm tr.odd td{
	background-color: #efefef;
}
.resetForm #melding{
	font-size: 11px;
	margin: 10px 10px 10px 160px;
}
.resetForm .notred #melding{
	color: black;
}

/*maaltijdabonnementenpagina */

.abolijst tr.geenlid td{
	background-color: #ffda53 !important;
}
.abolijst tr.geenkring td{
	background-color: #ffffc1 !important;
}
/*
 * dataTable layout
 */
.abolijst{
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.abolijst thead tr th{
	border-bottom: 1px solid black;
	padding: 5px 3px 3px 3px;
}
.abolijst tfoot tr th{
	border-top: 1px solid black;
	padding: 3px 3px 5px 3px;
}

.abolijst tbody tr th{
	padding: 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #eee;
}

.abolijst tr td{
	padding: 2px 3px;
}

.abolijst tr.odd td{
	background-color: #efefef;
}

.paging_full_numbers .paginate_button {
	padding: 2px 5px;
	margin: 0;
	border: 1px solid #d3d3d3; 
	background: #e6e6e6; 
	font-weight: normal; 
	color: #162673; 
	outline: none;
	cursor: pointer;
	* cursor: hand;
}
.paging_full_numbers .paginate_active {
	padding: 2px 5px;
	margin: 0;
	border: 1px solid #aaaaaa; 
	background: #ffffff; 
	font-weight: normal; 
	color: #black; 
	outline: none;
	cursor: pointer;
	* cursor: hand;
}
.paging_full_numbers {
	width: 350px !important;
}

.dataTables_paginate {
	margin-top: 5px;
	width: auto;
}
