/* owee 2013, zie ook lib/templates/owee_menu.tpl
 * groen: #3baa35
 * donkergroen: #166F11
 * geel: #fbea14
 * blauw: #1470b8
 */


/**** GENERAL *****************************************************************/
a, a:HOVER{
	color: #3baa35;
}
h1, h2, h3, h4 {
	color: #555555;
}
body{
	background: url('http://plaetjes.csrdelft.nl/owee/2013/body.png') repeat-x;
}

/**** MENU ********************************************************************/
#menubanner {
	margin: 0px;
	height: 110px;
	z-index: 2;
}

#menuleft img {
	border: 0;
	padding: 0px 30px 0px;
}

/**** MAIN MENU ***************************************************************/
#mainmenu a{
	z-index: 10;
}

#mainmenu a {
	background: url('http://plaetjes.csrdelft.nl/owee/2013/menubutton.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/owee/2013/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu {
	background: #3baa35; /* url('http://plaetjes.csrdelft.nl/owee/2010/submenubg.png') repeat-x */
}
#submenu a.active  {
	color: #ffffff;
	font-weight: bold;
}
#submenu a:hover, #submenu a:active {
	color: #fbea14;
}

/**** MAIN ********************************************************************/

#main {
	background:none;
}

#mainbgfooter {
	clear:both
}


#mainleft .block h1 {
	color: #3baa35;
}

#mainleft .block h1 a {
	color: #3baa35;
}

/**** INLOGKNOP ***************************************************************/
#login input.submit {
	background-color: #3baa35;
	color: #FFF; 
}


#adminding{
	border: 1px solid white;
	padding: 1px 2px;
	margin-top: 4px;
	cursor: pointer;
	height: 13px;
	padding: 2px;
	text-align: center;
	background-color: #3baa35;
}

#adminding div{
	display: none;
	position: relative; 
	left: -3px; top: 1px;
	width: 200px; min-height: 50px;
	z-index: 99;
	border: 1px solid white; 
	background-color: #3baa35;
	padding: 5px;
}

#adminding span.queues{
	float: right;
	display: block;
	width: 60px;
	overflow-x: hidden;
}


#footer {
	background: url('http://plaetjes.csrdelft.nl/owee/2010/footerbg.png') no-repeat;
}