/* owee 2013, zie ook lib/templates/owee_menu.tpl
 * groen: #3baa35
 * donkergroen: #166F11
 * geel: #fbea14
 * blauw: #1470b8
 */


/**** GENERAL *****************************************************************/
a, a:HOVER{
	color: #3baa35;
}
h1, h2, h3, h4 {
	color: #555555;
}
body{
	background: url('http://plaetjes.csrdelft.nl/owee/2013/body.png') repeat-x;
}

/**** MENU ********************************************************************/
#menubanners,#banner1,#banner2,#banner3,#banner4{
	background-image: url('http://plaetjes.csrdelft.nl/owee/2013/banner.png');
}

#beeldmerk{
	background-image: url('http://plaetjes.csrdelft.nl/owee/2010/logo.png');
}

/**** MAIN MENU ***************************************************************/

#mainmenu a {
	background: url('http://plaetjes.csrdelft.nl/owee/2013/menubutton.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/owee/2013/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu a.active  {
	color: #ffffff;
	font-weight: bold;
}
#submenu a:hover, #submenu a:active {
	color: #fbea14;
}
#submenuitems span.separator{
	background-image: url('http://plaetjes.csrdelft.nl/owee/2013/submenuseperator.png');
}

/**** MAIN ********************************************************************/

#mainleft .block h1 {
	color: #3baa35;
}

#mainleft .block h1 a {
	color: #3baa35;
}

/**** INLOGKNOP ***************************************************************/
#login input.submit {
	background-color: #3baa35;
	color: #FFF; 
}

#adminding{
	border: 1px solid white;
	background-color: #3baa35;
}

#adminding div{
	border: 1px solid white; 
	background-color: #3baa35;
}

#footer {
	background: url('http://plaetjes.csrdelft.nl/owee/2010/footerbg.png') no-repeat;
}