/**** GENERAL *****************************************************************/
a, a:HOVER{
	color: #782f9a;
}
h1, h2, h3, h4 {
	color: #555555;
}
body{
	background:#00bce2;
}

#container {
	background: url('http://plaetjes.csrdelft.nl/owee/2011/containerbg_top.png') no-repeat;
}

/**** MENU ********************************************************************/
#menu {
	background: url('http://plaetjes.csrdelft.nl/owee/2011/menubg.png') repeat-x #FFF;
}

#menubanner {
	margin: 0px;
	height: 110px;
	z-index: 2;
}

/**** MAIN MENU ***************************************************************/
#mainmenu a{
	z-index: 10;
}

#mainmenu a {
	background: url('http://plaetjes.csrdelft.nl/owee/2011/menubutton.png') no-repeat;
}	
#mainmenu a:link, #mainmenu a:visited {
	color: #ffffff;
}
#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/owee/2011/menubutton_hover.png') no-repeat;
}

/**** SUBMENU *****************************************************************/
#submenu {
	background: #0da3d2; /* url('http://plaetjes.csrdelft.nl/owee/2010/submenubg.png') repeat-x */
}
#submenu a:hover, #submenu a:active, #submenu a.active {
	color: #00bce2;
}

/**** MAIN ********************************************************************/

#main {
	background:none;
}

#mainbg {
	width: 1004px;
	background: url('http://plaetjes.csrdelft.nl/owee/2010/mainbg.png') repeat-y;
}

#mainbgfooter {
	clear:both
}


#mainleft .block h1 {
	color: #61267d;
}

#mainleft .block h1 a {
	color: #61267d;
}

/**** INLOGKNOP ***************************************************************/
#login input.submit {
	background-color: #AA5ECE;
	color: #FFF; 
}


#footer {
	background: url('http://plaetjes.csrdelft.nl/owee/2010/footerbg.png') no-repeat;
}