.floatR{ float: right; }
.label{ float: left; width: 80px; font-size: 9px; color: #999; }
.data{ margin-left: 80px; }

#profiel{ margin: 20px 0px 200px 0px; }
#profiel h1{ margin-bottom: 10px; }
#profiel img.pasfoto{ border: 2px solid black; margin-left: 20px;}

#profiel .profielregel{ margin-bottom: 20px; }
	#profiel .left{ float: left; width: 60px; text-align: right; font-style: italic; font-size: 0.9em;}
	#profiel .gegevens{ margin-left: 70px; padding-left: 15px; border-left: 1px solid #0a338d; }

#profiel .naam{ margin-left: 81px;  padding-left: 15px;}
#profiel .adres{ margin-left: 80px; text-align: left; }
#profiel .gegevenszelf{ float: left; width: 220px; }
#profiel .gegevenszelf .label{ text-align: right; margin-top: 2em; }
#profiel .gegevenszelf .label img{ margin-right: 15px; }

#profiel .gegevensouders{  width: 210px; margin-left: 220px; padding-left: 20px; }
#profiel .gegevensouders .label{ width: 50px; margin-top: 2em;}
#profiel .gegevensouders .adres{ margin-left: 50px; }

#profiel .groepht{ float: left; width: 50%; }
#profiel .groepot{ margin-left: 50%; }