.floatR{ float: right; }
.label{ float: left; width: 75px; font-size: 9px; color: #999; }
.data{ margin-left: 80px; }
.data li{ margin-left: 0px; } 
#profiel{ margin: 20px 0px 200px 0px; }
#profiel h1{ margin-bottom: 10px; }
#profiel img.pasfoto{ border: 2px solid black; margin-left: 20px;}
#profiel .knopjes{ margin-left: 20px; line-height: 2.5em;}

#profiel .profielregel{ margin-bottom: 20px; clear: left; }
	#profiel .left{ float: left; width: 60px; text-align: right; font-style: italic; font-size: 0.9em;}
	#profiel .gegevens{ margin-left: 70px; padding-left: 15px; border-left: 1px solid #0a338d; }

#profiel .naam .status{ float: left; color: #aaa; width: 60px; padding: 0px 20px;}
#profiel .naam h1{ padding-left: 60px; }
#profiel .adres{ margin-left: 75px; text-align: left; }
#profiel .gegevenszelf{ float: left; width: 250px; }
#profiel .gegevenszelf .label{ text-align: right; margin-top: 2em; }
#profiel .gegevenszelf .label img{ margin-right: 15px; }

#profiel .gegevensouders{  width: 250px; margin-left: 250px; padding-left: 10px; }
#profiel .gegevensouders .label{ width: 50px; margin-top: 2em;}
#profiel .gegevensouders .adres{ margin-left: 50px; }

#profiel .groepht{ float: left; width: 50%; }
#profiel .groepot{ margin-left: 50%; }

#profielForm .pasfoto{ float: right; margin-left: 10px;}
#profielForm label{
	width: 150px;
	float: left;
}
#profielForm input.regular{
	width: 250px;
}
#profielForm input.uid{
	width: 80px;
}
#profielForm .uidPreview{
	display: inline;
	padding-left: 10px;
}
#profielForm .veld, #profielForm h3, #profielForm .password{
	clear: both;
}
#profielForm .veld, #profielForm .submit{
	margin-left: 10px;
	padding: 1px 2px;
	border: 1px solid white;
}

#profielForm .veld:hover{
	border: 1px  solid #ddd;
	background-color: #eee;
}
#profielForm .metfouten{
	background-color: #FFC3CE;
	padding: 4px 2px;
}
#profielForm .veld .waarschuwing{
	float: right;
	margin-right: 10px;
}
#profielForm .password{
	padding: 2px 1px;
}
#profielForm h3{
	margin-top: 8px;
	margin-bottom: 1px;
}
