.floatR{ float: right; }
.label{ float: left; width: 75px; font-size: 9px; color: #999; }
.data{ margin-left: 75px; text-align: left;}
.data li{ margin-left: 0px; }
#profiel{ margin: 20px 0px 200px 0px; }
#profiel h1{ margin-bottom: 10px; }
#profiel img.pasfoto{ border: 1px solid black; margin-left: 20px;}
#profiel .knopjes{ margin-left: 20px; line-height: 2.5em;}

#profiel .knopjes .inGoogleContacts{ border: 1px solid darkblue; background-color: lightblue; }
.jarig {
	background-image: url(http://plaetjes.csrdelft.nl/layout/jarig.jpg);
	background-repeat: none;
}

#profiel .profielregel{ margin-bottom: 20px; clear: left; }
	#profiel .left{ display: none; float: left; width: 10px; text-align: right; font-style: italic; font-size: 0.9em; }
	#profiel .gegevens{ margin-left: 20px; padding-left: 15px; border-left: 1px solid #0a338d; }
	#profiel .half{ width: 270px; float: left;}

#profiel .naam .status{ float: left; color: #aaa; width: 60px; padding: 0px 20px;}
#profiel .naam h1{ padding-left: 10px; }
#profiel .adres{ margin-left: 75px; text-align: left; }
#profiel .gegevenszelf{ float: left; width: 250px; }
#profiel .gegevenszelf .label{ text-align: right; margin-top: 2em; }
#profiel .gegevenszelf .label img{ margin-right: 15px; }

#profiel .gegevensouders{  width: 250px; margin-left: 250px; padding-left: 10px; }
#profiel .gegevensouders .label{ width: 50px; margin-top: 2em;}
#profiel .gegevensouders .adres{ margin-left: 50px; }

#profiel .familie{ padding-left: 10px; margin-left: 260px; width: 250px;}
#profiel .familie .stamboom{ float: right; }

#profiel .groepht{ float: left; width: 50%; }
#profiel .groepot{ margin-left: 50%; }

#profiel #corveeTaken{ width: 550px; }
#profiel #corveeTaken tr.old{ opacity: .50; }

#profiel #recenteForumberichten{ width: 600px; }
#profiel #recenteForumberichten td{ text-align: left; }

#profiel .boeken a { text-align: left; text-decoration: none !important;}
#profiel .boeken a .auteur { color: #777; margin-left:10px; }
#profiel .boeken a .titel:hover{color: #0a338d; text-decoration: underline;}
#profiel .boeken li {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
#profiel .boeken a.knop{margin-left: 75px;}

p.profielBewerken .pasfoto{ float: right; margin-left: 10px;}

.Formulier label{
	width: 150px;
	float: left;
}
.Formulier input.regular{
	width: 250px;
}
.Formulier input.UidField{
	width: 70px;
}

.Formulier textarea{
	width: 250px;
}

.Formulier .UBBpreview{
	margin-left: 156px;
}
.Formulier .knop{
	float: right;
	width: 80px;
	text-align: center;
	padding: 2px;
	margin-right: 0;
	
}
.Formulier .uidPreview, .Formulier .lidPreview{
	display: inline;
	padding-left: 10px;
}
.Formulier .veld, .Formulier h3, .Formulier .password{
	clear: both;
}
.Formulier .veld, .Formulier .submit{
	margin-left: 10px;
	padding: 1px 2px;
	border: 1px solid white;
}

.Formulier .veld{
	overflow: auto;
}
.Formulier .veld:hover{
	border: 1px  solid #ddd;
	background-color: #eee;
}
.Formulier .metfouten{
	background-color: #FFC3CE;
	padding: 4px 2px;
}
.Formulier .veld .waarschuwing{
	float: right;
	margin-right: 10px;
}
.Formulier .password{
	padding: 2px 1px;
}
.Formulier h3{
	margin-top: 8px;
	margin-bottom: 1px;
}
li.verborgen{ display: none; }



#wijzigstatus label {
	width: 153px;
	margin: 0px;
	float: left;
}
#wijzigstatus .lidgegevens {
	margin: 10px 0 15px 13px;
	padding: 2px;
}
#wijzigstatus .novieten, #wijzigstatus .leden {
	margin: 0px 0px 5px 167px;
}
#statusForm input#field_postfix.regular{
	width: 100px;
}
