/**** GENERAL *****************************************************************/
#container {
	background: url('http://plaetjes.csrdelft.nl/layout/sineregno/containerbg_top.png') no-repeat !important;
}

#menu {
	background: url('http://plaetjes.csrdelft.nl/layout/sineregno/menubg.png') repeat-x !important;
}

#mainmenu a {
	background: url('http://plaetjes.csrdelft.nl/layout/sineregno/menubutton.png') no-repeat !important;
}

#mainmenu a:hover, #mainmenu a:active, #mainmenu a.active {
	background: url('http://plaetjes.csrdelft.nl/layout/sineregno/menubutton_hover.png') no-repeat !important;
}

#submenu {
	background: url('http://plaetjes.csrdelft.nl/layout/sineregno/submenubg.png') repeat-x !important;
}

a{
	color: #8B0C0C; 
}
a:hover{
	color: #8B0C0C;  
}

h1, h2, h3, h4 {
	color: #8B0C0C;
}

.mainleft .h1 {
	color: #8B0C0C !important; 
}

#mainleft .block h1 a {
	color: #8B0C0C;
}

#mainleft .block h1 {
	color: #8B0C0C;
}