@CHARSET "ISO-8859-1";
/**
 * taken.css	| 	P.W.G. Brussee (brussee@live.nl)
 *
 */

h1 {
	margin-bottom: 20px;
}
h2 {
	font-size: 15px;
	margin: 30px 0px 15px 0px;
}
p img {
	margin: 0px;
}
div#melding {
	background-color: white;
	-moz-box-shadow: 0 0 20px #000000;
	-webkit-box-shadow: 0 0 20px #000000;
	box-shadow: 0 0 20px #000000;
}
div.msgnotify {
	color: #DDAA00;
}
a.knop {
	color: inherit;
	padding: 0px 4px;
	margin: 1px;
}
a.disabled {
	opacity: .33;
	text-decoration: none;
	cursor: default;
}
.knop img {
	padding: 0px;
	margin: 0px;
}
input {
	padding: 2px !important;
	margin: 0px !important;
}
select {
	padding: 1px;
	padding-left: 3px;
	height: 20px;
	margin: 0px;
}
select.multiple {
	height: auto;
	width: 250px;
}
option {
	padding: 5px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left;
}
option.arrow {
	background-image: url("http://plaetjes.csrdelft.nl/famfamfam/bullet_go.png");
}
option.warning {
	background-image: url("http://plaetjes.csrdelft.nl/famfamfam/bullet_error.png");
}
option.save {
	background-image: url("http://plaetjes.csrdelft.nl/famfamfam/bullet_disk.png");
}
div.vertical {
	-webkit-transform: rotate(-90deg); /* Chrome,Saf3.1+ */
	-moz-transform: rotate(-90deg); /* FF3.5+ */
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg); /* Opera 10.5 */
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}

/* formulier */

.taken-hidden-form {
	display: none;
	white-space: nowrap;
}
.taken-hidden-form input.regular {
	width: auto;
}
.inline-edit {
	border-bottom: 1px dotted grey;
	width: 100%;
	cursor: pointer;
	font-style: italic;
}
.Formulier label {
	margin: 0px !important;
	padding: 0px !important;
	width: 30% !important;
	line-height: 2em;
	vertical-align: middle;
}
.Formulier .veld {
	margin: 0px;
}
.Formulier .knop {
	float: none;
}
input.LidField, input.RequiredLidField {
	width: 150px !important;
}
input.KeuzeRondjeField {
	width: auto !important;
}
label.KeuzeRondjeField {
	float: none !important;
}
input.IntField, input.FloatField {
	width: 40px !important;
	text-align: right;
}
input.VinkField {
	margin-top: 4px !important;
}

#taken-popup-buttons {
	float: right;
	margin-top: 20px;
}

/* taken menu */

#taken-menu {
	width: 100%;
}
#taken-menu td {
	height: 20px;
}
#taken-menu td.active {
	font-weight: bold;
}
#beheer-taken-menu {
	display: none;
}
#beheer-taken-menu div.active {
	font-weight: bold;
}

/* taken tabel */

.taken-tabel {
	padding: 15px 0px;
	width: 100%;
	border-spacing: 0px;
}
.taken-tabel tr {
	height: 25px;
	background-color: #EBEBEB;
}
.taken-tabel tr:nth-child(even) {
	background-color: #FAFAFA;
}
.taken-tabel tr:hover {
	background-color: #DDEEFF;
}
.taken-tabel th {
	background-color: #FAFAFA;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #FFFFFF;
}
.taken-tabel td {
	padding: 2px 7px;
	vertical-align: text-bottom;
}
.taken-tabel .col-del {
	padding: 2px;
	text-align: center;
}
tr.taak-datum-head th, tr.taak-datum-summary th {
	cursor: pointer;
	border-top: 5px solid #FFFFFF;
}
#taak-datum-head-first th {
	cursor: default;
}
#suggesties-tabel tr:hover, tr.taak-datum-summary:hover th {
	background-color: #DDEEFF !important;
}

/* cell style */

.maaltijd-open, .maaltijd-aangemeld, .abonnement-ingeschakeld, .voorkeur-ingeschakeld, .taak-self, .functie-toegewezen { /* .taak-toegewezen */
	background-color: #AAEEAA;
	font-weight: bold;
	color: green;
	text-align: center;
}
.maaltijd-gesloten, .maaltijd-afgemeld, .abonnement-uitgeschakeld, .voorkeur-uitgeschakeld, .functie-open { /* .taak-open */
	background-color: #EEAAAA;
	font-weight: bold;
	color: red;
	text-align: center;
}
.taak-self {
	text-align: left;
}
td.maaltijd-aangemeld, td.maaltijd-afgemeld {
	text-align: left;
	padding-left: 20px;
}
.abonnement-warning, .taak-warning {
	background-color: #FFEE66;
}
.abonnement-warning, .maaltijd-gasten {
	text-align: center;
}
.taak-grijs, .taak-grijs a {
	color: grey;
}
.taak-oud {
	opacity: .50;
}
.taak-maaltijd-oud, .taak-datum-oud {
	display: none;
}

/* popup formulier */

#taken-popup-background {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: black;
	background-image: url("http://plaetjes.csrdelft.nl/layout/loading_bar_black.gif");
	background-position: 50% 300px;
	background-repeat: no-repeat;
}
#taken-popup {
	position: fixed;
	z-index: 11;
	width: 500px;
	padding: 50px;
	background-color: white;/*
	background-image: url("http://plaetjes.csrdelft.nl/layout/beeldmerk.jpg");
	background-position: top right;
	background-repeat: no-repeat;*/
}

.outer-shadow {
	-moz-box-shadow: 0 0 20px #000000;
	-webkit-box-shadow: 0 0 20px #000000;
	box-shadow: 0 0 20px #000000;
}