.verticale{
	clear: both;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}
.kring, .geenkring{
	float: left;
	width: 148px;
	padding: 2px;
}
.geenkring{
	float: right;
	color: #aaa;
}
.geenkring a{
	color: #aaa;
}

