@import "_defaults";
@import "fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue-next/dist/bootstrap-vue-next.css"; // Moet na Bootstrap geladen worden.

@import "_common";
@import "main-menu";
@import "bbcode";
@import "module/maalcie";
@import "zoeken";
@import "overlay";
@import "voorpagina";
@import "module/agenda";
@import "module/bibliotheek";
@import "module/aanmelder";
@import "module/datatable";
@import "module/declaraties";
@import "module/fiscaat";
@import "module/formulier";
@import "module/forum";
@import "module/fotoalbum";
@import "module/ledenlijst";
@import "module/menubeheer";
@import "module/profiel";
@import "module/stamboom";

@import "~flatpickr/dist/flatpickr.css";

:root {
	accent-color: $primary;
}

body {
	height: auto;
	position: relative;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
}

main {
	background-color: $gray-200;

	padding-inline: $spacer;
	padding-top: $spacer;
	padding-bottom: $spacer * 3;

	.cd-page-content.container:not(.voorpagina) {
		background-color: $body-bg;
	}
}

/* Standaard Kleuren */
.overflow-x-hidden {
	overflow-x: hidden;
}

.form-group .twitter-typeahead {
	width: 100%;
}

// Zie node_modules/bootstrap/scss/_input-group.scss
// Mixt met twitter-typeahead
.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap; // For form validation feedback
	align-items: stretch;
	width: 100%;

	> .twitter-typeahead {
		position: relative; // For focus state's z-index
		flex: 1 1 auto;
		// Add width 1% and flex-basis auto to ensure that button will not wrap out
		// the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
		width: 1%;
		margin-bottom: 0;

		> .form-control,
		> .custom-select,
		> .custom-file {
			width: 100%;

			// Bring the "active" form control to the top of surrounding elements
			&:focus {
				z-index: 3;
			}
		}

		> .form-control,
		> .custom-select {
			&:not(:last-child) {
				@include border-end-radius(0);
			}
		}
	}
}

/* Bijbelrooster */
.bijbelrooster {
	columns: 250px auto;
	line-height: 2em;
}

/* Pasfotos */
img.pasfoto {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
}
@include media-breakpoint-down(sm) {
	.forum-draad,
	#forumPosten {
		img.pasfoto {
			width: 2rem;
			height: 2rem;
		}
	}
}

.lidLink img {
	transition: all 0.4s ease-out;
}
.lidLink:hover img {
	box-shadow: 0 0 5px #000;
	transform: scale(1.33);
}

/* lidinstellingen */
.Formulier label.instelling {
	clear: left;
	width: 50%;
}

div.vertical {
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

th {
	text-align: left;
}
td {
	vertical-align: text-bottom;
}

ul.horizontal li {
	display: inline;
	padding-right: 20px;
}
ul.horizontal li.active {
	font-weight: bold;
}
ul.nobullets li {
	list-style-type: none;
}

.fade-content {
	opacity: 0;
	transition: opacity 0.3s 0.1s ease;
}
.fade-container:hover .fade-content {
	opacity: 1;
}

/**** OVERIG ******************************************************************/
.waarschuwing {
	color: $danger;
}

.fas {
	:not(.fa-5x),
	:not(.fa-4x),
	:not(.fa-2x),
	:not(.fa-3x) {
		font-size: $spacer * 1.1;
		margin-right: $spacer * 0.5;
	}
}
.dt-button-ico::before {
	font-size: $spacer * 1.1;
	margin-right: $spacer * 0.5;
}

.fas {
	:not(.fa-5x),
	:not(.fa-4x),
	:not(.fa-2x),
	:not(.fa-3x) {
		font-size: $spacer * 1.1;
		margin-right: $spacer * 0.5;
	}
}
.dt-button-ico::before {
	font-size: $spacer * 1.1;
	margin-right: $spacer * 0.5;
}

.instelling:target {
	padding: 3em 0;
	border: 3px solid $success;
}

@include media-breakpoint-down(md) {
	.ads img {
		width: 100%;
	}
}
