@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/helpers/ratio";

$bb-block-bg: #f5f5f5 !default;
$bb-alt-bg: #e9e9e9 !default;
$bb-hover-bg: #ddeeff !default;

.bb-block {
	padding: 8px 12px;
	margin: 10px 0;
	background-color: $bb-block-bg;
	box-shadow: 0 0 10px darken($bb-block-bg, 5%);
	transition: box-shadow 0.4s ease-out;
}

.bb-block:hover {
	box-shadow: 0 0 10px $bb-block-bg;
}

.bb-block h3 {
	margin: 0.5em 0 1em 0;
}

.bb-block hr {
	background-color: #ccc;
	border-bottom: 1px solid #fff;
}

/* ketzerception */
.bb-block .bb-block {
	padding: 0;
	margin: 0;
	box-shadow: none;
}

.bb-block .bb-block .groep-tabs {
	visibility: hidden;
}

.bbcodePreview {
	display: none;
	margin: 7px 0;
	border: 1px solid #ccc;
	padding: 0.2em 0.6em 10px;
	text-align: justify;
	margin-top: 2em;

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	&::before {
		content: "Voorbeeld";
		display: block;
		clear: both;
		position: absolute;
		margin-top: -2em;
		color: $text-muted;
		font-size: $font-size-sm;
		margin-left: -5px;
	}
}

.bbcodePreview,
.bbcodePreview div,
.Formulier .bbcodePreview {
	line-height: inherit;
}

.offtopic {
	font-size: 0.9em;
	line-height: 1em;
	color: $gray-600;

	a {
		color: $gray-600;
	}

	hr {
		background-color: $gray-600;
	}

	img {
		opacity: 0.3;
		filter: alpha(opacity=30);
	}
}

.bb-prive {
	@extend .alert-danger;
}

.bb-maaltijd {
	overflow: auto;
}

.bb-maaltijd .titel {
	font-size: 1.1em;
	font-weight: bold;
}

.bb-maaltijd {
	line-height: 2em;
}

.bb-maaltijd .aanmelddata {
	text-align: center;
	float: right;
	padding: 5px 15px 10px 15px;
	margin: 10px;
}

div.maaltijd-aangemeld {
	background-image: -webkit-linear-gradient(top, #5cb85c 0, #077b4e 100%);
	background-image: -o-linear-gradient(top, #5cb85c 0, #077b4e 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#5cb85c),
		to(#077b4e)
	);
	background-image: linear-gradient(to bottom, #5cb85c 0, #077b4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff077b4e', GradientType=0);
	background-repeat: repeat-x;
	color: white;
	font-weight: bold;
}

div.maaltijd-afgemeld {
	background-image: -webkit-linear-gradient(top, #d9534f 0, #7c2507 100%);
	background-image: -o-linear-gradient(top, #d9534f 0, #7c2507 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#d9534f),
		to(#7c2507)
	);
	background-image: linear-gradient(to bottom, #d9534f 0, #7c2507 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ff7c2507', GradientType=0);
	background-repeat: repeat-x;
	color: white;
	font-weight: bold;
}

span.beoordeling-label {
	font-size: 11px;
	display: block;
	margin-bottom: -7px;
	z-index: 1;
	position: relative;
	width: 66px;
	margin-left: 5px;
	padding-left: 5px;
}

a.maaltijd-aangemeld,
span.maaltijd-aangemeld {
	font-weight: bold;
	color: green;
	background-color: #f5f5f5;
	border: 1px solid #a9a9a9;
	text-shadow: none;
	background-image: none;
}

a.maaltijd-afgemeld,
span.maaltijd-afgemeld {
	font-weight: bold;
	color: red;
	background-color: #f5f5f5;
	border: 1px solid #a9a9a9;
	text-shadow: none;
	background-image: none;
}

.bb-gmap {
	width: 300px;
	height: 200px;
	border: 1px solid darkgrey;
	margin: 2px;
}

/* --------------------------------

Groepen

-------------------------------- */
.groep-samenvatting {
	padding-right: 2em;
	line-height: 1.5em;
	text-align: justify;
}

.groep-id-hint {
	color: #999999;
	a {
		color: inherit;
	}
}

.groep-leden {
	.groep-tab-content {
		height: 200px;
		overflow: hidden auto;
	}
	.groep-tab-content.GroepPasfotosView {
		min-height: 74px;
	}
}

.GroepAanmeldenForm.pasfotos {
	span.twitter-typeahead {
		display: none !important;
	}
}

.groep-tabs {
	display: flex;
	padding-left: 0;

	.geschiedenis {
		margin-right: auto;
	}

	.knop-vergroot {
		margin-left: auto;
	}

	li {
		display: inline-block;

		span.fas {
			font-size: 1.1em;
		}
	}
}

.bb-groep {
	display: flex;

	.groep-leden {
		flex-basis: 55%;
	}

	.groep-samenvatting {
		flex-basis: 45%;
	}
}

.bb-groep.state-geschiedenis {
	.groep-tabs {
		.geschiedenis {
			display: none;
		}
	}
}

table.groep-lijst {
	width: 100%;

	td {
		width: 50%;
		vertical-align: top !important;
	}
}

.pie-chart-label {
	color: white;
	text-align: center;
}

.bb-document {
	padding: 4px 6px;
	display: block;
	text-align: left;
}

.bb-document .size {
	float: right;
	color: #777;
}

.bb-document .download {
	float: right;
	margin-right: 5px;
}

.bb-document .download .module-icon {
	position: initial;
	top: initial;
}

.bb-document .icon {
	float: left;
	margin-right: 5px;
}

.bb-boek {
	padding: 4px 6px;
	display: block;
	text-align: left;
	text-decoration: none !important;
}

.bb-boek .auteur {
	color: #777;
	margin-left: 10px;
}

.bb-boek .titel:hover {
	color: #0a338d;
	text-decoration: underline;
}

.bb-boek .icon {
	float: left;
	padding-right: 5px;
}

.boekindicator {
	margin-right: 5px;
}

.boekindicator.beschikbaar {
	color: green;
}

.boekindicator.teruggegeven {
	color: orange;
}

.boekindicator.geen {
	color: red;
}

pre.bbcode {
	font-family: monospace;
	background-color: $bb-block-bg;
	margin-top: 4px;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	max-width: 570px;
	max-height: 360px;
	white-space: pre-wrap;
	overflow-y: auto;
}

.bb-peiling {
	margin: 10px;
	padding: 5px 10px;
}

.bb-peiling .totaal {
	float: right;
	color: #666;
	padding-left: 20px;
}

.bb-peiling ul {
	list-style-type: none;
	padding: 5px;
}

.bb-peiling ul li {
	overflow: auto;
	border-bottom: 1px solid #eee;
	margin-left: 0;
	clear: both;
	padding: 4px;
}

.bb-peiling ul li .stemmen {
	float: right;
	color: #666;
	width: 30px;
	text-align: right;
}

.bb-peiling ul li .percentage {
	float: right;
	color: #666;
	width: 50px;
	text-align: right;
}

.bb-peiling .vraag {
	margin: 10px 0;
}

.bb-peiling .optie {
	float: left;
	width: 300px;
	vertical-align: middle;
	min-height: 18px;
}

.bb-peiling .grafisch {
	float: right;
	width: 300px;
	vertical-align: top;
	padding: 4px;
}

.bb-peiling .balk {
	height: 10px;
	background-color: #6060ff;
	border: 1px outset #0a338d;
	float: right;
}

.bb-table {
	padding: 0;
	border-collapse: collapse;

	tr {
		margin: 0;
		padding: 0;
	}

	td,
	th {
		margin: 0;
		padding: 2px;
	}
}

.bb-fotoalbum img.compact {
	float: right;
	width: 50px;
	margin-top: -1em;
}

.bb-fotoalbum .images {
	margin-top: 6px;
	position: relative;
}

.bb-fotoalbum .images a {
	position: absolute;
}

.bb-fotoalbum .images a.sml img {
	width: 75px;
	height: 75px;
}

.bb-fotoalbum .images a.big img {
	width: 151px;
	height: 151px;
}

.bb-fotoalbum .images a {
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
}

.bb-fotoalbum .images:hover a {
	opacity: 0.8;
}

.bb-fotoalbum .images:hover a:hover {
	opacity: 1;
}

.spoiler {
	display: block;
}

.spoiler-content {
	display: none;
}

.citaatpuntjes {
	cursor: pointer;
}

.citaat,
blockquote {
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	&::before {
		background: #d3d3d3;
		top: 0;
		width: 4px;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 4px;
		content: "";
	}
}

.bb-img-loading {
	max-width: 570px;
	min-width: 16px;
	min-height: 11px;
	background: url("../images/loading-fb.gif") no-repeat bottom left;
}

.bb-img {
	max-width: 100%;
	border: 0;
	display: block;
}

a.responsive {
	width: 100%;

	img.bb-img {
		width: inherit;
	}
}

/* zorg dat de plaatjes ook in citaten niet te breed worden */
.citaatContainer .citaat img.bb-img {
	max-width: 540px;
}

.citaatContainer .citaat .citaatContainer .citaat img.bb-img {
	max-width: 510px;
}

a[href].lightbox-link {
	// Override externe link style
	background: none;
	padding-right: 0;
	display: inline-block;
}

.bb-video {
	max-width: 600px;

	@extend .ratio;
	@extend .ratio-16x9;
}

.bb-slider img {
	object-fit: cover;
	height: 360px;
	width: 100%;
}

@media screen and (max-width: 960px) {
	.bb-groep {
		flex-direction: column;
		.groep-samenvatting {
			padding-left: 0;
			padding-bottom: 1em;
		}
		.groep-leden {
			width: auto;
		}
	}
}

/*
Speciale styling voor speciale maaltijdsoorten
*/
.bb-maaltijd[data-maaltijdnaam="Verticalekring Primitus"] {
	background-color: #00541b;
	background-image: url("https://csrdelft.nl/plaetjes/maaltijdstijlen/rand.png");
	border: solid 10px #030;
	border-image: url("https://csrdelft.nl/plaetjes/maaltijdstijlen/rand.png") 50;
	color: #cfc;

	.titel a {
		color: white;
	}
	@media screen and (min-width: 500px) and (max-width: 767px),
		screen and (min-width: 1150px) {
		&::after {
			background: url("https://csrdelft.nl/plaetjes/maaltijdstijlen/primituslogo.png")
				no-repeat;
			height: 80px;
			width: 54px;
			content: "";
			display: block;
			float: right;
			margin: -68px 20px;
		}
	}
	padding: 8px 2px 8px 12px;
	position: relative;
	overflow: hidden;
}

/**
Voor de /bio pagina
 */
.knop-link {
	color: white;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-bottom: none;
	text-decoration: none;
	border-radius: 10px;
	padding: 0.8em 1.35em;
	background: $lichtblauw;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.bb-video {
		margin-top: 0.5em;
	}
}

.noviet-van-de-dag {
	display: block;
	text-decoration: none;

	.pasfoto {
		width: 68px;
		height: 90px;
		margin-right: 18px;
	}

	.naam {
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.details {
		div span {
			font-weight: 600;
		}
	}

	&:hover {
		text-decoration: none;
		color: inherit;
	}
	color: inherit;
}
