html {
	//font-size: 12px;
	font-size: 0.8rem;
}

.container {
	background: $body-bg;
}

.dropdown-menu {
  cursor: default;
  z-index: 9999999;
}

.breadcrumb {
	max-width: 800px;
	padding: 0;
}

.breadcrumb .form-control {
	display: inline;
	width: auto;
	margin: -0.5em 0;
}

.clippy {
	z-index: 10000!important;
}

/**
General overrides
 */
.footer a:not(:hover) {
	text-decoration: none;
}

#zijbalk a:not(:hover):not(.onderstreept) {
	text-decoration: none;
}

a.lidLink:not(:hover) {
	text-decoration: none;
}

/* --------------------------------

Bootstrap submenu

-------------------------------- */
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	position: absolute;
	right: 6px;
	top: 1em;
	border-top: 0.3em solid transparent;
	border-right: 0;
	border-bottom: 0.3em solid transparent;
	border-left: 0.3em solid;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

.dropleft.dropdown-submenu .dropdown-menu {
	top: 0;
	right: 100%;
	left: auto;
	margin-top: 0;
	margin-right: 0.125rem;
}

/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-collapse: collapse;
}

//html {
//  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
//  font-size: 12px;
//}

body {
  //color: $;
  //background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: left;
}

.pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.scrollpane {
  overflow: auto;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

div.inline, form.inline, h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
  display: inline-block;
}

table.inline {
  display: inline-table;
}

.small {
  font-size: smaller;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bottom {
  vertical-align: bottom;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

.select-text {
  -webkit-touch-callout: text;
  user-select: text;
}

/* --------------------------------

Easy positioning: use these within a
position: relative element
-------------------------------- */
.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.onzichtbaar {
  visibility: hidden;
}

.verborgen {
  display: none;
}

.recht {
  font-style: normal;
}

.cursief {
  font-style: italic;
}

.dikgedrukt {
  font-weight: bold;
}

.niet-dik {
  font-weight: normal;
}

.onderstreept {
  text-decoration: underline;
}

.doorgestreept {
  text-decoration: line-through;
}

.lichtgrijs {
  color: #bbb;
}

.staatrood {
  color: red;
}

.error {
  color: red !important;
  font-weight: bold !important;
}

.badge.badge-red {
  color: #fff;
  background-color: #d9534f;
}

.progress {
  margin: 0;
}

.lidLink .ico.neus2013 {
  color: transparent;

	display: inline;
	background-position: -185px -124px;
}

/* --------------------------------

Dynamic reldate

-------------------------------- */
time.timeago {
  border: none;
}

time.timeago:hover {
  border-bottom: 1px dotted grey;
}

@import "lib/toggle-group";
@import "lib/dragobject";

/* --------------------------------

HoverIntent visitekaartjes

-------------------------------- */
.hoverIntentContent {
  display: none;
  position: absolute;
}

div.hoverIntentContent {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 0 11px #000;
  z-index: 250;
  font-weight: normal !important;
  font-style: normal !important;
  float: none !important;
  overflow: visible;
  padding: 5px;
}

.visitekaartje {
	z-index: 1000;
  width: 330px;
	color: $body-color;

	img {
		width: 100px;
		object-fit: contain;
		object-position: top;
	}

	p a {
		color: $body-color;
	}

  p.naam a {
    font-weight: bold;
  }

  .uid {
    float: right;
    padding-right: 5px;
    margin-top: 8px;
    color: #999;
  }
}

/**
Bootstrap overrides / uitbreidingen
 */

.sticky-top {
	// Compenseer voor bovenbalk
	top: 60px;
	z-index: 99;
}

// Fix plek icoontje in een alert
.alert .ico {
	margin-right: 0.75rem;
}

.footer {
  background: $footer-background;
}

.dies {
	display: flex;
	flex-direction: column;
}

#dies-poster {
	width: 100%;
	padding-bottom: 20px;
	align-items: center;
}

.dies-button {
	background-color: #C8611A;
	font-family: BossaNovaMVB, Calibri, sans-serif;
	font-size: 1.5em;
	align-items: center;
	width: 100%;
}
