/**
 * Standaardwaarden voor variabelen, kunnen vanuit een thema aangepast worden.
 */

/* Variabelen uit Bootstrap */

/* kleuren */
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0a3292 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #e59200 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$body-bg: $white !default;
$body-color: $black !default;
$headings-color: inherit !default;

$zijbalk-color: $body-color !default;

$headings-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !default;

/** Stek specifieke variabelen. */
$donkerblauw: #122a4d !default;

/* zijbalk */
$beeldmerk: url(../images/beeldmerk.png) !default;

$zijbalk-bg: #f5f5f5 !default;
$zijbalk-border: $donkerblauw !default;
$zijbalk-kopje: $donkerblauw !default;

$zijbalk-ishetal-nee: red !default;
$zijbalk-ishetal-ja: green !default;

$zindex-zijbalk: 800 !default;
$zindex-menu: 1000 !default;

/* bbcode */
$bb-block-bg: #f5f5f5 !default;

/* forum */
$forum-bericht0-bg: $body-bg !default;
$forum-bericht1-bg: darken($body-bg, 4%) !default;
$ongelezen-lijn: $yellow !default;

/* main menu */
$menu-primary-hover: #0a338d !default;
$menu-bg: #ffffff !default;
$menu-color: #000000 !default;
$menu-small-bg: #0a338d !default;
$menu-small-color: #ffffff !default;

$navbar-dark-color: white;

/* zoeken */
$zoeken-active-bg: #428bca !default;

/* maalcie-tabel */
$maalcie-tabel-header: #fafafa !default;
$maalcie-tabel-tr0: #ebebeb !default;
$maalcie-tabel-tr1: #fafafa !default;

$tabel-header: $gray-100 !default;
$tabel-hover: #ddeeff !default;
$tabel-regel-licht: $gray-100 !default;
$tabel-regel-donker: $gray-200 !default;

// geen breadcrumb bg, ziet er lelijk uit op cms pagina's
$breadcrumb-bg: $body-bg;
$footer-background: $gray-100 !default;
$maaltijdketzer-bg: $white !default;

$lichtblauw: #4e698b;
