@import "~@fortawesome/fontawesome-free/scss/functions";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~bootstrap/scss/functions";
@import "defaults";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

/* --------------------------------

Primary style

-------------------------------- */
#menu {
	top: 0;
	background: $primary;
	border-bottom: 3px solid $secondary;
	position: sticky;
	z-index: $zindex-menu;

	.pasfoto {
		width: 2rem;
		height: 2rem;
	}

	.navbar-search {
		width: 300px;

		form {
			width: 100%;
		}

		.twitter-typeahead {
			flex-grow: 1;
		}
	}

	.navbar-nav {
		align-items: center;
	}

	.navbar-brand {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;

		span {
			font-size: 1.5rem;
		}

		svg.logo {
			display: inline-block;
			height: 2.5rem;
		}
	}

	.nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@include media-breakpoint-down(md) {
	#menu .navbar-nav {
		width: 100%;
		align-items: baseline;
	}
}
