@import "~@fortawesome/fontawesome-free/scss/functions";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~bootstrap/scss/functions";
@import "defaults";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

/* --------------------------------

Primary style

-------------------------------- */
#menu {
	top: 0;
	background: $donkerblauw;
	border-bottom: 3px solid $orange;
	position: sticky;
	z-index: $zindex-menu;

	.pasfoto-menu {
		height: 32px;
		clip-path: circle();
	}

	.navbar-search {
		width: 300px;

		form {
			width: 100%;
		}

		.twitter-typeahead {
			flex-grow: 1;
		}
	}

	.navbar-brand {
		width: 200px;
		margin-right: 1rem;
		margin-left: -1rem;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		h2 {
			font-size: 1.5rem;
			margin-bottom: 0;
		}

		img {
			height: 50px;
			margin: -10px 0;
		}
	}

	.nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@include media-breakpoint-down(md) {
	#menu .navbar-nav {
		width: 100%;
	}

	#menu .navbar-brand {
		margin-left: 0;
	}
}

@include media-breakpoint-up(lg) {
	#menu {
		margin-left: -200px;
	}
}
