@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~bootstrap/scss/functions";
@import "defaults";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

/* --------------------------------

Primary style

-------------------------------- */
.cd-user-avatar {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	margin-right: 4px;
}

#menu {
	top: 0;
	background: $donkerblauw;
	border-bottom: 3px solid $orange;
	position: sticky;
	z-index: $zindex-menu;

	.pasfoto-menu {
		height: 32px;
		clip-path: circle();
	}

	.navbar-search {
		width: 300px;

		form {
			width: 100%;
		}

		.twitter-typeahead {
			flex-grow: 1;
		}
	}

	.navbar-brand {
		width: 200px;
		margin-right: 1rem;
		margin-left: -1rem;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		h2 {
			font-size: 1.5rem;
			margin-bottom: 0;
		}

		img {
			height: 50px;
			margin: -10px 0;
		}
	}

	.nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@include media-breakpoint-down(md) {
	#menu .navbar-nav {
		width: 100%;
	}

	#menu .navbar-brand {
		margin-left: 0;
	}
}

#cd-main-trigger, #cd-user-avatar {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#cd-main-trigger.fade {
	opacity: 0.2;
}

#cd-user-avatar.fade {
	opacity: 0.5;
}

.cd-main-header:hover {

	#cd-main-trigger.fade, #cd-user-avatar.fade {
		opacity: 1;
	}
}

/* --------------------------------

Main components

-------------------------------- */

.cd-main-content {
	margin-left: 200px;
	padding: 15px;
	transition: transform 0.3s;
}

@include media-breakpoint-down(md) {
	#menu.target ~ .cd-main-content,
	#menu:target ~ .cd-main-content {
		transform: translateX(-260px);
	}
}

.cd-main-content {
	min-height: 100vh;
}

.cd-main-header {
	z-index: 3;
	height: 50px;
}

.cd-main-header {
	/* add .nav-is-fixed class to body if you want a fixed navigation on > 960px */
	position: fixed;
	top: 0;
	right: 0;
}

.cd-nav {
	position: fixed;
	right: 0;
	z-index: $zindex-modal;
}

.cd-primary-nav, .cd-primary-nav ul {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	width: 260px;
	background: $menu-small-bg;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	/* Force Hardware Acceleration in WebKit */
	transform: translateZ(0);
	transition: transform 0.3s;

	will-change: transform;
}

.cd-primary-nav a, .cd-primary-nav ul a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: $menu-small-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transform: translateZ(0);
	will-change: transform, opacity;
	transition: transform 0.3s, opacity 0.3s;
}

@include media-breakpoint-down(md) {
	.cd-primary-nav a, .cd-primary-nav ul a {
		font-size: 1.4em;
	}
}

.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden {
	/* secondary navigations hidden by default */
	transform: translateX(100%);
}

.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a {
	/* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
	transform: translateX(-100%);
	opacity: 0;
}

.cd-primary-nav .has-children > a::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: fa-content($fa-var-angle-right);

	right: 20px;
	position: absolute;
	margin-top: -1px;
	display: inline-block;
	height: 2px;
	width: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	&:hover {
		text-decoration: none;
	}
}

.cd-primary-nav .go-back a::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: fa-content($fa-var-angle-left);

	right: 20px;
	position: absolute;
	margin-top: -1px;
	display: inline-block;
	height: 2px;
	width: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	&:hover {
		text-decoration: none;
	}
}

@include media-breakpoint-down(md) {
	.nav-on-left .cd-primary-nav, .nav-on-left .cd-primary-nav ul {
		right: auto;
		left: 0;
	}
}

.cd-primary-nav .see-all a {
	/* different style for the See all button on mobile and tablet */
	color: $menu-small-color;
}

@include media-breakpoint-down(md) {
	.cd-primary-nav {
		/* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
		visibility: hidden;
		transition: visibility 0s 0.3s, transform 0.3s;
		top: 42px;
		transform: translateX(260px);

		ul {
			list-style: none;
			padding-left: 0;
		}
	}
	.cd-primary-nav.nav-is-visible,
	#menu:target .cd-primary-nav,
	#menu.target .cd-primary-nav {
		visibility: visible;
		transition: visibility 0s 0s, transform 0.3s;
		transform: translateX(0);
	}
}

@include media-breakpoint-up(lg) {
	.cd-primary-nav {
		position: static;
		height: auto;
		width: auto;
		float: right;
		overflow: visible;
		background: none;
		transition: opacity .3s 0s, visibility 0s .3s;

		ul {
			position: static;
			height: auto;
			width: auto;
			background: transparent;
			overflow-x: hidden;
			list-style: none;
			padding-left: 0;

			&.moves-out > li > a {
				/* reset mobile style */
				transform: translateX(0);
				opacity: 1;
			}
		}

		& > li {
			list-style: none;
			float: left;
			margin-left: 3em;

			& > a {
				/* main navigation buttons style */
				position: relative;
				display: inline-block;
				height: 50px;
				line-height: 50px;
				font-size: 1.4em;
				padding: 0 10px;
				color: $menu-color;
				overflow: visible;
				-webkit-transition: color 0.3s, box-shadow 0.3s;
				-moz-transition: color 0.3s, box-shadow 0.3s;
				transition: color 0.3s, box-shadow 0.3s;

				&:hover,
				&.selected {
					color: $menu-primary-hover;
					box-shadow: inset 0 -2px 0 $menu-primary-hover;
					text-decoration: none;
				}
			}
		}

		.go-back {
			display: none;
		}

		.cd-secondary-nav {
			/* dropdown menu style */
			position: absolute;
			top: 50px;
			bottom: auto;
			width: 100vw;
			background: $menu-bg;
			padding: 50px 0 100px 65px;
			box-shadow: inset 0 1px 0 #ccc, 0 3px 6px #ccc;
			transform: translateX(0);

			opacity: 0;
			visibility: hidden;
			transition: opacity .3s 0s, visibility 0s .3s;

			& > li {
				/* change the height according to your needs - you can even set height: auto */
				height: 340px;
				/* here you set the number of columns - use width percentage */
				width: 17%;
				float: left;
				margin-right: 2.66%;
				border-right: 1px solid #e2e3df;
				overflow-x: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

				& > a, & > a:hover {
					/* secondary nav title */
					color: $headings-color;
					font-weight: bold;
					font-size: 1.6rem;
					margin-bottom: .6em;
					cursor: default;
				}

				& > a {
					&:hover, &:active {
						text-decoration: none;
					}
				}
			}

			a {
				height: 30px;
				line-height: 30px;
				padding: 0 18% 0 0;
				color: $menu-color;
				font-size: 1.4rem;

				&:hover {
					color: $menu-color;
				}
			}

			ul {
				/* Force Hardware Acceleration in WebKit */
				transform: translateZ(0);

				ul {
					/* tertiary navigation */
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;

					&.is-hidden {
						transform: translateX(100%);
					}

					.go-back {
						display: block;
					}
				}
			}

			.moves-out > li > a {
				/* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
				transform: translateX(-100%);
			}
		}
	}

	.cd-secondary-nav.nav-is-visible,
	#menu:target .cd-secondary-nav,
	#menu.target .cd-secondary-nav {
		visibility: visible;
		opacity: 1;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	.cd-primary-nav .cd-secondary-nav > .has-children > a {
		/* Geen pijltje boven kolommen breed scherm */
		padding: 0;

		&::after {
			content: "";
		}
	}
}

/* --------------------------------

support for no js

-------------------------------- */
.no-js .cd-primary-nav {
	position: relative;
	height: auto;
	width: 100%;
	overflow: visible;
	visibility: visible;
}

@include media-breakpoint-up(lg) {
	#menu {
		margin-left: -200px;
	}
}

@include media-breakpoint-up(md) {
	.no-js .cd-primary-nav {
		position: absolute;
		display: inline-block;
		width: auto;
		top: 0;
		right: 150px;
		padding: 0;
	}

	.no-js .nav-is-fixed .cd-primary-nav {
		position: fixed;
	}
}
