@import "~bootstrap/scss/mixins/breakpoints";

#search {
	position: absolute;
	top: 50px;
	right: 0;
	opacity: 0;
	visibility: hidden;

	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 1px 0 #ccc, 0 3px 6px #ccc;

	transition: opacity .3s 0s, visibility 0s .3s;
}

#search form {
	height: 100%;
	width: 100%;
}

#search.is-visible,
#search.target,
#search:target {
	z-index: $zindex-modal;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.nav-is-fixed #search {
	position: fixed;
}

.cd-search {
	width: 100%;
	padding: 10px;
	right: 0;
}

@include media-breakpoint-up(lg) {
	.cd-search {
		padding: 10px 30%;
	}
}

input[type="search"]::-ms-clear {
	/* removes close icon - IE */
	display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.no-js .cd-search {
	position: relative;
	top: 0;
	opacity: 1;
	visibility: visible;
}
