.ratio-3x2 {
	--bs-aspect-ratio: 67%;
}
// Have a square ratio at breakpoint MD
@include media-breakpoint-only(md) {
	.ratio-3x2,
	.ratio-4x3,
	.ratio-16x9 {
		--bs-aspect-ratio: 100%;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	grid-template-areas:
		"agenda posters foto-albums civi-saldo"
		"agenda posters foto-albums verjaardagen"
		"agenda forum overig verjaardagen"
		"agenda forum is-het-al verjaardagen";
	gap: 1rem;

	// Set font-size for the grid
	p {
		font-size: $font-size-sm;
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.list-group-item {
		padding: 0.5rem 0;
	}
}
.cell {
	border-radius: 0.25rem;
	background-color: var(--bs-white);
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 0.75rem;
}
@include media-breakpoint-up(sm) {
	.cell {
		overflow: hidden;

		// Keep cells from expanding
		min-width: 0;
		min-height: 0;
	}
	.cell-overflow {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
@include media-breakpoint-down(md) {
	.grid-container {
		display: flex;
		flex-direction: column;
	}

	.container.ratio {
		position: inherit;

		&::before {
			display: none;
		}

		> * {
			position: inherit;
		}
	}
}

@include media-breakpoint-only(md) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 2fr 2fr 1fr;
		grid-template-areas:
			"agenda posters posters foto-albums"
			"agenda forum forum verjaardagen"
			"overig overig civi-saldo is-het-al";
	}
}

.cell-posters {
	grid-area: posters;

	.carousel {
		position: absolute;
	}

	.carousel-item img {
		object-fit: contain;
	}
}

.cell-agenda {
	grid-area: agenda;

	.agenda-item-dag {
		font-size: $font-size-xs;
	}

	.agenda-item-moment {
		width: 2.5rem;
	}

	.form-check-input {
		background-color: var(--bs-red);
		border-color: var(--bs-red);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");

		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
		}

		&:checked {
			background-color: var(--bs-green);
			border-color: var(--bs-green);

			&:focus {
				box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
			}
		}
	}
}

.cell-forum {
	grid-area: forum;

	.forum-item-moment {
		width: 3.5rem;
	}
}

.cell-verjaardagen {
	grid-area: verjaardagen;

	.verjaardagen-item-dag {
		font-size: $font-size-xs;
	}
}

.cell-foto-albums {
	grid-area: foto-albums;

	.album-grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-content: stretch;
		align-items: stretch;
		justify-items: stretch;
	}
	img.album-cell {
		min-width: 0;
		min-height: 0;
	}

	@include media-breakpoint-down(sm) {
		.album-grid-container {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	p a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.cell-overig {
	grid-area: overig;

	.overig-grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 0.5rem;
		height: calc(100% - 1.8rem);
	}
	.overig-cell {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: var(--bs-light);
		text-align: center;

		i {
			font-size: $font-size-lg;
		}
	}
	@include media-breakpoint-up(sm) {
		.overig-cell {
			// Keep cells from expanding
			min-width: 0;
			min-height: 0;
		}
	}

	.overig-cell-form {
		flex-direction: row;
		grid-column: 1 / span 2;
	}
	.overig-cell-sponserkliks {
		flex-direction: column;
		grid-column: 2 / span 1;
	}
	.overig-cell-rijbewijs {
		flex-direction: column;
		grid-column: 1 / span 1;
	}
	@include media-breakpoint-only(md) {
		.overig-grid-container {
			display: flex;
			flex-direction: row;
		}

		.overig-cell {
			font-size: $font-size-sm;

			i {
				font-size: $font-size-lg;
			}
		}
	}
}

.cell-civi-saldo {
	grid-area: civi-saldo;

	a.civisaldo-inleggen {
		font-size: $font-size-sm;
	}
}

.cell-is-het-al {
	grid-area: is-het-al;
}

.cell-advertenties img {
	height: 12rem;
	max-width: 100%;
	object-fit: contain;
}
@include media-breakpoint-down(sm) {
	.cell-advertenties img {
		height: auto;
		width: 100%;
	}
}
