.ratio-3x2 {
	--bs-aspect-ratio: 65%;
}

.ratio-5x4 {
	--bs-aspect-ratio: 80%;
}

// Have a square ratio at breakpoint MD
@include media-breakpoint-only(md) {
	.ratio-3x2,
	.ratio-5x4,
	.ratio-16x9 {
		--bs-aspect-ratio: 100%;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas:
		"agenda posters posters foto-albums civi-saldo"
		"agenda posters posters foto-albums verjaardagen"
		"agenda posters posters foto-albums verjaardagen"
		"agenda forum forum overig verjaardagen"
		"agenda forum forum overig verjaardagen"
		"radio forum forum is-het-al verjaardagen";
	gap: 1rem;

	// Set font-size for the grid
	p {
		font-size: $font-size-sm;
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.list-group-item {
		padding: 0.5rem 0;
	}
}

.cell {
	border-radius: 0.25rem;
	background-color: $body-bg;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 0.75rem;
}

@include media-breakpoint-up(sm) {
	.cell {
		overflow: hidden;

		// Keep cells from expanding
		min-width: 0;
		min-height: 0;
	}
	.cell-overflow {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

@include media-breakpoint-down(md) {
	.grid-container {
		display: flex;
		flex-direction: column;
	}

	.container.ratio {
		position: inherit;

		&::before {
			display: none;
		}

		> * {
			position: inherit;
		}
	}
}

@include media-breakpoint-only(md) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas:
			"agenda posters posters foto-albums"
			"agenda posters posters foto-albums"
			"agenda forum forum verjaardagen"
			"radio forum forum verjaardagen"
			"overig overig civi-saldo is-het-al";
	}
}

.cell-posters {
	grid-area: posters;
	padding: 0;

	.carousel {
		position: absolute;
	}

	.carousel-item {
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.cell-agenda {
	grid-area: agenda;

	.agenda-item-dag {
		font-size: $font-size-xs;
	}

	.agenda-item-moment {
		min-width: 2.5rem;
	}

	.agenda-item-titel {
		min-width: 0;
	}

	.beoordeling-cell {
		background-color: $gray-200;

		.form-control {
			background: none;
			border: none;

			text-decoration: none !important;
		}
	}

	.form-check-input {
		margin: 0;
		background-color: var(--bs-red);
		border-color: var(--bs-red);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");

		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
		}

		&:checked {
			background-color: var(--bs-green);
			border-color: var(--bs-green);

			&:focus {
				box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.cell-agenda {
		.form-check-input {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}

.cell-forum {
	grid-area: forum;

	.forum-item-moment {
		width: 3.5rem;
	}
}

.cell-verjaardagen {
	grid-area: verjaardagen;

	.verjaardagen-item-dag {
		font-size: $font-size-xs;
	}
}

.cell-foto-albums {
	grid-area: foto-albums;

	.album-grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-content: stretch;
		align-items: stretch;
		justify-items: stretch;
	}

	.album-cell {
		display: block;
		min-width: 0;
		min-height: 0;
	}

	@include media-breakpoint-down(sm) {
		.album-grid-container {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	p a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.cell-overig {
	grid-area: overig;

	.overig-grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 0.5rem;
		height: calc(100% - 1.8rem);
	}

	.overig-cell {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $gray-200;
		text-align: center;

		i {
			font-size: $font-size-lg;
		}
	}

	@include media-breakpoint-up(sm) {
		.overig-cell {
			// Keep cells from expanding
			min-width: 0;
			min-height: 0;
		}
	}

	.overig-cell-form {
		flex-direction: row;
		grid-column: 1 / span 2;
	}

	.overig-cell-sponserkliks {
		flex-direction: column;
		grid-column: 2 / span 1;
	}

	.overig-cell-gulpener {
		flex-direction: column;
		grid-column: 1 / span 1;
	}

	@include media-breakpoint-only(md) {
		.overig-grid-container {
			display: flex;
			flex-direction: row;
		}

		.overig-cell {
			font-size: $font-size-sm;

			i {
				font-size: $font-size-lg;
			}
		}
	}
}

.cell-civi-saldo {
	grid-area: civi-saldo;

	a.civisaldo-inleggen {
		font-size: $font-size-sm;
	}
}

.cell-is-het-al {
	grid-area: is-het-al;
}

.cell-advertenties {
	display: flex;
	flex-wrap: wrap;
	gap: $spacer;

	a {
		display: inline-block;
		max-width: 100%;

		img {
			max-width: 100%;
			max-height: 17rem;
			object-fit: contain;
		}
	}
}

@include media-breakpoint-down(sm) {
	.cell-advertenties img {
		height: auto;
		width: 100%;
	}
}

.cell-radio {
	grid-area: radio;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 0;

	.radio {
		width: 100%;
		height: 110px;
		color-scheme: light;
	}
}
