@import "~bootstrap/scss/mixins/breakpoints";

.ishetal {
	text-align: center;
	margin: 1em;

	.ja, .nee {
		font-size: 1.4em;
		font-weight: bold;
		color: $zijbalk-ishetal-nee;
		text-align: center;
	}

	.ja {
		color: $zijbalk-ishetal-ja;
	}
}

.lustrum12:before {
	content: '';
	display: block;
	height: 80px;
	background: url('/images/lustrum12/zandloper.png') no-repeat center center;
	background-size: contain;
	clear: left;
}

.lustrum12_button {
	background-color: #6e1321;
	color: #eeeeee;
	font-weight: bold;
	font-size: 1.0em;
	align-items: center;
	width: 100%;
}

.lustrum12_button:hover {
	color: #ebb803;
}

.zijbalk_verborgen {
	margin-left: 0;

	#menu {
		margin-left: 0;

		[href="#zijbalk"] {
			display: none !important;
		}
	}

	#zijbalk {
		display: none;
	}
}

.zijbalk_extra_breed {
	margin-left: 250px;
	@include media-breakpoint-down(sm) {
		margin-left: 0;

		#menu {
			margin-left: 0;
		}
	}

	#menu {
		margin-left: -250px;
	}

	#zijbalk {
		width: 250px;
		transform: translateX(-250px);
	}
}

#zijbalk {
	position: absolute;
	left: 0;
	width: 179px;
	padding: 0 5px 40px 5px;
	background-color: $zijbalk-bg;
	z-index: $zindex-zijbalk;
	height: auto;
	transform: translateX(-200px);

	&.stickTop {
		position: fixed;
		top: 0;
		left: 200px;
	}

	&.stickBottom {
		position: fixed;
		bottom: 0;
		left: 200px;
	}

	.cd-beeldmerk {
		height: 200px;
		margin: auto;
		background-size: contain;
		background-image: $beeldmerk;
		background-repeat: no-repeat;
		background-position: center;
	}

	.blok {
		.zijbalk-kopje {
			border: none;
			font-weight: normal;
			margin: 10px 0 5px 0;
			padding: 2px 0 5px 0;
			background: transparent url("../images/portal-break.png") no-repeat bottom left;

			a {
				color: $zijbalk-kopje;
			}
		}

		.item {
			padding: 1px 0;
			border: none;
			background-color: transparent;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			a {
				color: $body-color;
			}
		}
	}

	.zijbalk-moment {
		display: inline-block;
		width: 3em;
		text-align: right;
	}


	/* Verjaardag in de zijbalk */
	#komende_pasfotos .verjaardag {
		position: relative;
		float: left;
		text-align: center;
		margin: 0 1px 1px 0;
		width: 55px;
		height: 73px;

		.datum {
			position: absolute;
			display: block;
			width: 100%;
			bottom: 0;
			background-color: $white;
			color: $black;
			opacity: 0.7;
			filter: alpha(opacity=70);
		}
	}

	#zijbalk_fotoalbum {
		div.fotos a {
			text-decoration: none;
		}

		img {
			float: left;
			width: 55px;
			height: 55px;
			margin: 0 1px 1px 0;
		}
	}

	.sponsorkliks-zijbalk {
		width: 100%;
		height: 100px;
	}

	.commit-hash {
		a {
			font-size: 10px;
			color: #ccc;
		}
	}
}

/* --------------------------------

Overrides voor bredere schermen

-------------------------------- */
@include media-breakpoint-up(lg) {
	#zijbalk {
		width: 200px;
		padding-left: 10px;
	}
}

/* --------------------------------

Smal scherm

Initieel verbergen, weergeven als :target of .target op #zijbalk
 ------------------------------- */
@include media-breakpoint-down(md) {
	#zijbalk {
		left: 0 !important;
		transform: translateX(-179px);
		transition: transform 0.1s;
	}

	#zijbalk.target,
	#zijbalk:target {
		transform: translateX(0);
	}
}
