@import "bootstrap/scss/mixins/breakpoints";

span.twitter-typeahead {
	.tt-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		width: 100%;
		padding: 5px 0;
		margin: 2px 0 0;
		list-style: none;
		font-size: 14px;
		text-align: left;
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		background-clip: padding-box;

		@include media-breakpoint-down(md) {
			max-height: 80vh;
			overflow: auto;
		}
	}

	.fas {
		margin-right: $spacer * 0.5;
	}

	.tt-suggestion {
		display: block;
		overflow: hidden;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333333;
	}

	.tt-header {
		display: block;
		padding: 3px 10px;
		clear: both;
		color: #333333;
	}

	.tt-suggestion:hover,
	.tt-suggestion:focus {
		color: #ffffff;
		text-decoration: none;
		outline: 0;
		background-color: $zoeken-active-bg;
	}

	.tt-suggestion.tt-cursor {
		color: #ffffff;
		background-color: $zoeken-active-bg;
	}
}

/**
Bootstrap input-group fix
 */
.input-group {
	span.twitter-typeahead {
		display: block !important;
		.tt-menu {
			top: 32px !important;
		}
	}
	&.input-group-lg span.twitter-typeahead .tt-menu {
		top: 44px !important;
	}
	&.input-group-sm span.twitter-typeahead .tt-menu {
		top: 28px !important;
	}
}
