@import "extern/variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/modal";

.modal-content {
	background-color: $donkerblauw;
}

#forumZoekenForm {
	.InputField {
		margin: 0.5em;
		display: flex;
		align-items: baseline;
	}

	.forumZoekenGeavanceerd {
		position: absolute;
		background-color: #e53d00;
		border-radius: 5px;
		display: none;
		margin-top: 60px;
		.form-inline {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}

.breadcrumbs {
	display: flex;
	align-items: baseline;

	.breadcrumb {
		margin: 0.5rem;
		display: flex;
		list-style: none;
		padding: 0;
		align-items: center;

		.breadcrumb-item {
			margin-right: 1em;
		}
	}

	select {
		width: auto;
		margin: 0;
	}
}

.forumdeel {
	background-color: $basiskleur;
	color: black;
	box-shadow: none;
}

#forumtabel {
	table-layout: fixed;

	.bericht {
		text-align: left;
	}
}

#forumPosten {
	.verborgen {
		display: none;
	}

	#forumForm {
		text-align: left;
	}

	#berichtPreview {
		background-color: white;
		color: black;
		strong {
			color: black;
		}
	}
}

.bericht0 .citaat {
	background-color: $kleur1;
}

.bericht1 .citaat {
	background-color: $kleur4;
}

.draad-readonly {
	font-style: italic;
}

.draad-gesloten {
	font-style: italic;
}

.draad-verwijderd,
.post-verwijderd {
	font-weight: bold;
	color: red;
}

.moment {
	font-size: 0.9em;
	color: #bbb;
	cursor: default;
}

.forum-footer {
}

.forum-draad,
.forum-zoeken {
	display: flex;
	flex-direction: column;

	.tussenschot {
		height: 2px;
		margin: 0;
		padding: 0;
		background-color: $gray-400;

		&.ongelezenvanaf {
			background-color: $secondary;
		}
	}

	.forum-post,
	.forum-posten {
		display: flex;
		flex-direction: row;

		p:empty {
			display: none;
		}

		.forumpostKnoppen {
			min-height: 70px;

			a {
				border: none;
				background: none;
				float: left;
				padding: 2px;
				margin: 2px;
				width: 22px;
				height: 22px;
			}

			.forummodknop {
				display: none;
			}
		}

		.forum-bericht {
			flex: 1; /* grow */

			margin: 0;
			padding: 0.2em 0.6em 10px;
			vertical-align: top;
			text-align: justify;

			.bewerkt {
				font-size: 0.8em;
				color: #bbb;
				a {
					color: #bbb;
				}

				hr {
					margin-bottom: 0;
					text-align: left;
					background-color: #bbb;
				}
			}

			&.bericht0 {
				background-color: $kleur4;
			}

			&.bericht1 {
				background-color: $kleur1;
			}
		}

		.meldingen {
			flex: 0;
			margin: 0.2em;
		}
	}
}

#ongelezen {
	visibility: hidden;
	position: relative;
	top: -100px;
}

/* Paginering */
span.curpage {
	padding: 4px 5px;
	font-weight: bold;
	background-color: #e8cf2a;
	color: #000;
}

.forum-paginering {
	padding: 5px;
	margin-left: 160px;
	a {
		padding: 4px 5px;

		&:hover {
			background-color: #ddd;
			text-decoration: none;
		}
	}

	.curpage {
		background-color: initial;
	}
}

/* Forum deel */
.forum-post {
	flex: 0 0 200px; /* vast */
	padding: 4px;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto 1fr;

	.forumpostKnoppen {
		display: none;
	}

	.berichtLinkButton {
		display: inline-block;
		font-weight: 400;
		line-height: 1.5;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		user-select: none;
		padding: 0.25rem 0.5rem;
		margin-block: 1.5rem;
		border-radius: 0.2rem;
		color: white;
		background-color: transparent;
		border-color: white;
		border-width: 1px;

		&:hover {
			background-color: white;
			color: $donkerblauw;
		}
	}
}

.forum-deel {
	display: flex;
	flex-direction: column;
	margin: 0;

	> .list-group-item {
		width: 100%;
		padding: 1.5rem 1rem;
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.125);

		.text-truncate {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.badge {
			display: inline-block;
			padding: 0.35em 0.65em;
			margin-inline: 0.5em;
			font-size: 0.75em;
			font-weight: 500;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: 0.25rem;
			background: white;
			color: $donkerblauw;
		}

		> div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		p {
			margin: 0;
		}
	}
	.paging,
	.header {
		font-weight: bold;
		color: #fff;
		background-color: $kleur3;
		padding: 1em;

		a,
		a:hover {
			color: white;
		}
	}
}

.forumdeel-omschrijving {
	padding: 10px;
	margin: 10px 0;
}

.forumheadbtn {
	float: right;
	margin-right: 15px;
}

/* Forum Categorie */
.forumcategorie {
	clear: left;

	h3 {
		a:hover {
			text-decoration: none;
			cursor: default;
		}
	}

	p.forumcategorie-omschrijving,
	p.forumdeel-omschrijving {
		text-align: justify;
	}

	.forumdelen {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.forumdeel {
			flex: 0 1 20%;

			padding: 8px 12px;
			margin: 10px;

			h3 {
				margin: 0.5em 0 1em 0;
			}

			hr {
				background-color: #ccc;
				border-bottom: 1px solid #fff;
			}

			h4 {
				margin-top: 0.5em;
				text-align: center;
			}
		}
	}
}

.forum-zoeken {
	.forum-zoeken-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		font-weight: bold;
		color: #fff;
		background-color: $headerkleur;
		padding: 1em;

		a,
		a:hover {
			color: white;
		}
	}
}

@media screen and (max-width: 1280px) {
	.auteur {
		flex: 0 0 160px;
	}
}

@media screen and (max-width: 960px) {
	.modfuncties {
		font-size: 0;
	}

	.forumcategorie .forumdelen .forumdeel {
		flex: 0 1 100%;
	}

	.forum-deel {
		.forum-deel-draad,
		.forum-deel-titel {
			flex-direction: column;
		}
	}

	.forum-draad,
	.forum-deel {
		width: auto;
		clear: both;

		.forum-post,
		.forum-posten {
			flex-direction: column;
		}

		.forum-paginering {
			margin-left: 0;
		}
	}

	.auteur {
		flex: 1 0;

		grid-template-columns: 1fr auto auto;
		border-bottom: 2px solid #d3d3d3;

		.postpijl {
			padding: 0 10px;
			align-self: end;
			grid-row: 2;
			grid-column: 3;

			.postlink {
				display: block;
				transform: rotate(90deg);
			}

			.postanchor {
				// Compenseer voor navbar
				padding-top: 44px;
				margin-top: -44px;
			}
		}

		.forumpasfoto {
			grid-row-start: 1;
		}

		.forumpostKnoppen {
			min-height: 0;

			a {
				// Disable JS
				opacity: 1 !important;
			}
		}
	}
}
