@import "lib/flip";

body {
	color: #fff;
	overflow-x: hidden;
	background: url("../images/memory/bg-image-16.jpg") fixed;
	background-size: contain;
}

.blue {
	background-image: url("../images/memory/blue-box.png");
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#1255a3", endColorStr="#063379");
}

.box {
	position: absolute;
	left: 150%;
	top: 35%;
	margin-left: -25%;
	width: 484px;
	height: 222px;
}

.box,
#dialog-finish {
	background-image: url("../images/memory/blue-box-h2-w2.png");
}

.flip > div,
.box {
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4),
		-1px 1px 10px rgba(0, 0, 0, 0.5);
}

.memorycard {
	float: left;
	margin: 5px;

	&:not(.goed) {
		cursor: pointer;
	}

	&.pasfoto {
		float: left;
		width: 162px;
		height: 162px;
	}

	&.naam {
		width: 340px;
		height: 57px;

		h3,
		.box h3,
		#dialog-finish {
			font-family: SentinelBold, sans-serif;
			line-height: 31px;
			font-size: 24px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
			padding: 10px 0 10px 10px;
			margin: 0;
		}
	}
}

.memorycard.pasfoto img,
.box img {
	width: 150px;
	height: 150px;
	border: 6px solid #fff;
}

td {
	vertical-align: top;

	&.pasfotos {
		width: 55%;
	}

	&.namen {
		width: 45%;
	}
}

.box {
	td {
		vertical-align: middle;
		padding: 25px 0 0 25px;
	}

	h3 {
		font-size: 31px;
		padding: 0;
		margin-top: -35px;
	}
}
