@import "~jquery-ui/themes/base/theme.css";

/**
 * maaltijdlijst.css	|	P.W.G. Brussee (brussee@live.nl)
 *
 */
html {
	font-size: 10px;
}
body {
	font-family: verdana, sans-serif;
	font-size: 1.1em;
	width: 920px;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1, h3, p, ul {
	margin: 0;
	padding: 0;
}
h1, h3, p, ul {
	padding-bottom: 5px;
}
p, ul {
	padding-left: 2px;
}
li {
	list-style: square inside;
}
#gesloten-melding {
	color: red;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table.container td {
	vertical-align: top;
}
table.aanmeldingen td {
	vertical-align: middle;
}
table.aanmeldingen {
	width: 450px;
	display: inline-table;
}
table.aanmeldingen td {
	border: 1px solid black;
	padding: 3px 0 0 10px;
	width: 240px;
}
table.aanmeldingen td.box {
	width: 20px;
	padding: 3px;
	text-align: center;
}
table.aanmeldingen td.saldo {
	width: 40px;
	padding: 3px;
	text-align: center;
}
table.aanmeldingen td.geld {
	width: 60px;
}
span.eetwens {
	font-weight: bold;
}
b.geeneetwens {
	text-decoration:underline;
}
span.opmerking {
	font-style: italic;
}
div.header {
	width: 590px;
}
td.maaltijdgegevens {
	width: 25%;
}
td.corvee {
	width: 67%;
}

.neus2013{
	-webkit-print-color-adjust: exact;
	text-align: center;
	color: transparent;
	width: 16px;
	height: 16px;
	margin: -5px;
}

.float-start { float: left; }
.float-end { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.inline { display: inline; }
div.inline { display: inline-block; }
table.inline { display: inline-table; }

/**** VISITEKAARTJE ******************************************************************/
div.visitekaartje {
	display: none;
	position: absolute;
	width: 330px;
	font-size: 1em !important;
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 0 0 11px #000000;
	z-index: 111;
	font-weight: normal !important;
	font-style: normal !important;
	float: none !important;
	overflow: visible;
}
div.visitekaartje img {
	float: right;
	height: auto !important;
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important;
}
div.visitekaartje p {
	margin: 8px 0 0 10px;
	color: #000 !important;
}
div.visitekaartje p a {
	color: #0a338d !important;
}
div.visitekaartje p.naam a {
	font-weight: bold;
	color: #000 !important;
}
div.visitekaartje div.uid {
	float: right;
	padding-right: 5px;
	margin-top: 8px;
	color: #999;
}
