;
; LDAP inloggegevens
;

[ldap]
ldap_host = "localhost"
ldap_port = 389
ldap_binddn = "cn=admin,dc=csrdelft,dc=nl"
ldap_passwd = "Voer hier je wachtwoord in"
ldap_base = "dc=csrdelft,dc=nl"
ldap_base_leden = "ou=leden,dc=csrdelft,dc=nl"
ldap_base_groepen = "ou=groepen,dc=csrdelft,dc=nl"

