/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages aan gepast voor csrdelft.nl
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     17 oktober by Gerrit
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.dataTables_wrapper .paginate_disabled_previous, .dataTables_wrapper .paginate_enabled_previous,
.dataTables_wrapper .paginate_disabled_next, .dataTables_wrapper .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.dataTables_wrapper .paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.dataTables_wrapper .paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.dataTables_wrapper .paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.dataTables_wrapper .paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
.dataTables_wrapper table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

.dataTables_wrapper table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

.dataTables_wrapper table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

.dataTables_wrapper table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

.dataTables_wrapper table.display td {
	padding: 3px 10px;
}

.dataTables_wrapper table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.dataTables_wrapper .sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.dataTables_wrapper .sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.dataTables_wrapper .sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.dataTables_wrapper .sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.dataTables_wrapper .sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */


.dataTables_wrapper tr.odd {
	background-color: #E2E4FF;
}

.dataTables_wrapper tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_wrapper .dataTables_scroll {
	clear: both;
}

.dataTables_wrapper .dataTables_scrollBody {
	*margin-top: -1px;
}

.dataTables_wrapper .top, .dataTables_wrapper .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.dataTables_wrapper .top .dataTables_info {
	float: none;
}

.dataTables_wrapper .clear {
	clear: both;
}

.dataTables_wrapper .dataTables_empty {
	text-align: center;
}

.dataTables_wrapper tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

.dataTables_wrapper tfoot input.search_init {
	color: #999;
}

.dataTables_wrapper td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

.dataTables_wrapper td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.dataTables_wrapper .example_alt_pagination div.dataTables_info {
	width: 40%;
}

.dataTables_wrapper .paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
	color: #0a338d;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button,
.dataTables_wrapper .paging_full_numbers span.paginate_active {
	padding: 2px 5px;
	cursor: pointer;
	*cursor: hand;
	position: relative;
	margin-left: -1px;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button {
	background-color: #e6e6e6;
	border: 1px solid #d3d3d3;
	z-index: 1;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.dataTables_wrapper .paging_full_numbers span.paginate_active {
	background-color: #fff;
	border: 1px solid #aaa; 
	z-index: 2;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button_disabled {
	color: #aaa;
}

.dataTables_wrapper table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

.dataTables_wrapper table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
.dataTables_wrapper tr.odd td.sorting_1 {
	background-color: #efefef;
}

.dataTables_wrapper tr.odd td.sorting_2 {
	background-color: #efefef;
}

.dataTables_wrapper tr.odd td.sorting_3 {
	background-color: #efefef;
}

.dataTables_wrapper tr.even td.sorting_1 {
	background-color: #f0f6ff;
}

.dataTables_wrapper tr.even td.sorting_2 {
	background-color: #f0f6ff;
}

.dataTables_wrapper tr.even td.sorting_3 {
	background-color: #f0f6ff;
}



/*
 * Row highlighting example
 */
.dataTables_wrapper .ex_highlight #example tbody tr.even:hover,.dataTables_wrapper #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.dataTables_wrapper .ex_highlight #example tbody tr.odd:hover, .dataTables_wrapper #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.dataTables_wrapper .ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.dataTables_wrapper .ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.dataTables_wrapper .ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.dataTables_wrapper .ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.dataTables_wrapper .ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.dataTables_wrapper .ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.dataTables_wrapper .ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.dataTables_wrapper .ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
.dataTables_wrapper table.KeyTable td {
	border: 3px solid transparent;
}

.dataTables_wrapper table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

.dataTables_wrapper div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}