{% extends 'maaltijden/base.html.twig' %}

{% block titel %}Boekjaar sluiten{% endblock %}

{% block content %}
	{{ parent() }}

	<p>De maaltijden van het boekjaar zullen naar het archief worden verplaatst.</p>
	<a href="{{ url('csrdelft_maalcie_maalcieboekjaar_sluitboekjaar') }}" title="Boekjaar afsluiten"
		 class="btn post popup">
		{{ icon("door_in") }} Sluit boekjaar
	</a>
{% endblock %}
