{% extends 'base.html.twig' %}

{% block titel %}Mijn activiteiten{% endblock %}

{% block content %}
	<H3>
		{{ reeks.rawTitel}}
	</H3>
	<p>
		{{ reeks.rawBeschrijving | bbcode }}
	</p>
	<p>
		Hieronder ziet u een overzicht van aankomende activiteiten waar u zich voor in heeft geketzt of in kan ketzen.
	</p>
	<table id="aanmelder-tabel" class="aanmelder-tabel">
		<thead>
		<tr>
			<th>Activiteit</th>
			<th>Begintijd</th>
			<th>Eindtijd</th>
			<th>Aanwezigen (Limiet)</th>
			<th>Aangemeld</th>
			<th>Gasten</th>
		</tr>
		</thead>
		<tbody>
		{% for activiteit in activiteiten %}
			{{ include('aanmelder/mijn_activiteiten_lijst.html.twig', {activiteit: activiteit}) }}
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
