// Font Family
$poppins: 'Poppins', sans-serif;


// Colors ---------------

$white: #fff;
$black: #222;
$gray:#f5f8ff;



// Theme Color
$theme-color: #1863ff;


// Body Color
$body-color: #777777;


// Border Color
$border-color:#e6e6e6;


// Heading Color
$heading-color: #1b273d;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1499px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


