/* -------------------------------------------------------------------
// markItUp! Custom icoontjes
// ------------------------------------------------------------------*/
.markItUp {
  .btn-b a {
    background-image: url("/plaetjes/famfamfam/text_bold.png");
  }
  .btn-i a {
    background-image: url("/plaetjes/famfamfam/text_italic.png");
  }
  .btn-u a {
    background-image: url("/plaetjes/famfamfam/text_underline.png");
  }
  .btn-s a {
    background-image: url("/plaetjes/famfamfam/text_strikethrough.png");
  }
  .btn-ot a {
    background-image: url("/plaetjes/famfamfam/text_smallcaps.png");
  }
  .btn-quote a {
    background-image: url("/plaetjes/famfamfam/comments.png");
  }
  .btn-link a {
    background-image: url("/plaetjes/famfamfam/link.png");
  }
  .btn-mail a {
    background-image: url("/plaetjes/famfamfam/email_link.png");
  }
  .btn-album a {
    background-image: url("/plaetjes/famfamfam/photos.png");
  }
  .btn-foto a {
    background-image: url("/plaetjes/famfamfam/photo.png");
  }
  .btn-img a {
    background-image: url("/plaetjes/famfamfam/picture.png");
  }
  .btn-vid a {
    background-image: url("/plaetjes/famfamfam/film.png");
  }
  .btn-map a {
    background-image: url("/plaetjes/famfamfam/map.png");
  }
  .btn-spoiler a {
    background-image: url("/plaetjes/famfamfam/sound_mute.png");
  }
  .btn-prive a {
    background-image: url("/plaetjes/famfamfam/shield.png");
  }
  .btn-code a {
    background-image: url("/plaetjes/famfamfam/script_code_red.png");
  }
  .btn-off a {
    background-image: url("/plaetjes/famfamfam/tag.png");
  }
  .btn-clean a {
    background-image: url("/plaetjes/famfamfam/clean.png");
  }
}