@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

@import "~lightbox2/dist/css/lightbox";
@import "~font-awesome/css/font-awesome";

// common
@import "reset";
@import "bbcode";

@import "extern/variables";

@import "extern/grid";
@import "extern/menu";
@import "extern/banner";
@import "extern/header";
@import "extern/table";
@import "extern/form";
@import "extern/image";
@import "extern/list";
@import "extern/footer";
@import "extern/wrapper";
@import "extern/animatie";

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: $scherm-middelsmal) {

	html, body {
		min-width: 320px;
	}

}

body {
	background-color: $basiskleur;

	&.is-loading {
		*, *:before, *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
	}
}

/* Type */

body, input, select, textarea {
	color: #ffffff;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16.5pt;
	font-weight: 300;
	line-height: 1.65;
}

@media screen and (max-width: $scherm-extrabreed) {

	body, input, select, textarea {
		font-size: 13pt;
	}

}

@media screen and (max-width: $scherm-smal) {

	body, input, select, textarea {
		font-size: 12pt;
	}

}

#wrapper {
	overflow: hidden;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
	color: #ffffff;
	text-decoration: none;

	&:hover {
		border-bottom-color: transparent;
		color: #ffffff !important;
	}

	&.special {

		&:not(.button) {
			text-decoration: none;
			border-bottom: 0;
			display: block;
			font-family: Raleway, Helvetica, sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			letter-spacing: 0.1em;
			margin: 0 0 2em 0;
			text-transform: uppercase;

			&:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				-moz-transition: background-color 0.2s ease-in-out;
				-webkit-transition: background-color 0.2s ease-in-out;
				-ms-transition: background-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out;
				border-radius: 100%;
				border: solid 2px rgba(255, 255, 255, 0.5);
				content: '\f105';
				display: inline-block;
				font-size: 1.25em;
				height: 2em;
				line-height: 1.65em;
				margin-right: 0.85em;
				text-align: center;
				text-indent: 0.15em;
				vertical-align: middle;
				width: 2em;
			}

			&:hover:before {
				background-color: rgba(255, 255, 255, 0.025);
			}

			&:active:before {
				background-color: rgba(255, 255, 255, 0.075);
			}
		}
	}
}

strong, b {
	color: #ffffff;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;

	&.lidworden {
		font-style: italic;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;

	a {
		color: inherit;
		text-decoration: none;
	}

	span {
		font-weight: 200;
	}

	&.major {
		padding-bottom: 1em;
		border-bottom: solid 2px rgba(255, 255, 255, 0.5);
	}
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 0.9em;
}

h4 {
	font-size: 0.7em;
}

h5 {
	font-size: 0.7em;
}

h6 {
	font-size: 0.7em;
}

@media screen and (max-width: $scherm-middel) {

	h2 {
		font-size: 1em;
	}

	h3 {
		font-size: 0.8em;
	}

}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid 4px rgba(255, 255, 255, 0.125);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(255, 255, 255, 0.025);
	border-radius: 5px;
	border: solid 2px rgba(255, 255, 255, 0.125);
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	code {
		display: block;
		line-height: 1.75em;
		padding: 1em 1.5em;
		overflow-x: auto;
	}
}

hr {
	border: 0;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	margin: 2.5em 0;

	&.major {
		margin: 4em 0;
	}
}

.detail img {
	margin: 1em;
}

.clear {
	clear: both;
}

.video {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 54.05% 0 0 0;
}

.white-background {
	background: white;
}
