@import "reset";
@import "icons";
@import "~jquery-ui/themes/base/core.css";
@import "~jquery-ui/themes/base/theme.css";
@import "~jquery-ui/themes/base/tooltip.css";
@import "~jquery-ui/themes/base/datepicker.css";
@import "~jquery-ui/themes/base/slider.css";
@import "~jquery-ui-timepicker-addon/src/jquery-ui-timepicker-addon.css";
@import "variables";
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~lightbox2/dist/css/lightbox.css";
@import "common";
@import "main-menu";
@import "bbcode";
@import "zijbalk";
@import "maalcie";
@import "zoeken";
@import "overlay";
@import "search";

@import "~jgallery/dist/css/jgallery.css";

/* Standaard Kleuren */
a, a:hover {
  //color: #0a338d;
}
.alternate-bgcolor {
  background-color: #FAFAFA;
}
.alternate-bgcolor:nth-child(even) {
  background-color: #EBEBEB;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

// Zie node_modules/bootstrap/scss/_input-group.scss
// Mixt met twitter-typeahead
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .twitter-typeahead {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%;
    margin-bottom: 0;

    > .form-control,
    > .custom-select,
    > .custom-file {
      width: 100%;

      // Bring the "active" form control to the top of surrounding elements
      &:focus {
        z-index: 3;
      }
    }

    > .form-control,
    > .custom-select {
      &:not(:last-child) {
        @include border-right-radius(0);
      }
    }
  }
}

/* Login Form */
.login-form .InputField, .login-form .InputField:hover {
  border: none;
  width: 100px;
}

/* Courant Archief */
.CourantArchiefJaar {
  width: 111px;
  float: left;
}

/* Bijbelrooster */
.bijbelrooster {
  -webkit-columns: 250px auto;
  -moz-columns: 250px auto;
  columns: 250px auto;
  line-height: 2em;
}

/* Pasfotos */
img.pasfoto {
  float: left;
  width: 55px;
  height: 73px;
  margin: 1px 0 0 1px;
}
.lidLink img {
  transition: all .4s ease-out;
}
.lidLink:hover img {
  box-shadow: 0 0 5px #000;
  transform: scale(1.33);
}

/* lidinstellingen */
.Formulier label.instelling {
  clear: left;
  width: 50%;
}

div.vertical {
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

th { text-align: left; }
td { vertical-align: text-bottom; }

hr {
  height: 1px;
  background-color: black;
  border: 0 none;
}

ul.horizontal li {
  display: inline;
  padding-right: 20px;
}
ul.horizontal li.active { font-weight:bold; }
ul.nobullets li { list-style-type: none; }

.outer-shadow {
  box-shadow: 0 0 20px #000;
}
.breadcrumbs {
  display: inline-block;
  font-weight: bold;
}
//.breadcrumbs * {
//  vertical-align: text-bottom;
//  position: relative;
//  top: 2px;
//}
.breadcrumbs select {
  vertical-align: initial;
}

.fade-content {
  opacity: 0;
  transition: opacity .3s .1s ease;
}
.fade-container:hover .fade-content {
  opacity: 1;
}

/**** OVERIG ******************************************************************/

.cd-page-content {
	margin-top: 30px;
}

#mysql_debug_toggle {
  cursor: pointer;
}
#mysql_debug {
  display: none;
}
.pubcie_debug {
  margin: 10px;
  overflow: auto;
  color: #000;
  background-color: #fff;
  border: 1px solid darkred;
}

div.sqCategorie {
  float: left;
  width: 450px;
  margin-right: 20px;
  margin-bottom: 10px;
}
table.query_table {
  display: inline-block;
  margin: 10px;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid black;
}
table.query_table thead {
  display: block;
}
table.query_table tbody {
  max-height: 300px;
  overflow: auto;
  display: block;
}
table.query_table tr {
  height: 20px;
  background-color: #FAFAFA;
}
table.query_table tr:nth-child(odd) {
  background-color: #EBEBEB;
}
table.query_table thead th {
  width: 170px !important;
}
table.query_table tbody tr td {
  width: 175px;
  padding: 5px 10px;
  vertical-align: middle;
}

.oneThirth {
  width: 253px;
  float: left;
}

.waarschuwing { color: red; }

div.geelblokje { background-color: #ffffc1; margin: 10px 0; padding: 0; }


/* csrmail */
div#pubciemail_form { background-color: #f5f5f5; border: 1px solid lightgray; padding: 10px; }


/* Streeplijstgenereertool */
form#streeplijst fieldset { padding: 10px;  }
form#streeplijst fieldset legend { font-weight: bold; }
form#streeplijst input, form#streeplijst label { text-align: left; margin: 3px; padding: 0; }



/* Peilingbeheer */
#nieuwePeiling label { clear: left; float: left; width: 150px; }
#nieuwePeiling input, #nieuwePeiling textarea { margin-bottom: 4px; }
#nieuwePeiling textarea { width: 400px; }
#peilingOpties input { width: 400px; }

/* Gesprekken */
.Gesprekken, .GesprekBerichten {
  width: 320px;

  thead {
    display: none;
  }

  .dataTables_scrollBody {
    border: none !important;
  }

  table.dataTable.display tbody tr.odd > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
  table.dataTable.display tbody tr.even > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fff;
  }
}
.Gesprekken {

  span.float-right {
    width: 100%;
    text-align: right;
  }

  table.dataTable tbody tr td {
    padding: 20px 10px;
  }
}

@include media-breakpoint-down(md) {
	.cd-main-content {
		/* Compenseer voor navbar */
		margin-top: 42px;
	}

	.mobiel-hidden {
		display: none !important;
	}

	.ads img {
		width: 100%;
	}
}
