fieldset{ padding: 10px;  }
fieldset legend{ font-weight: bold; }

input, label, select{ text-align: left; margin: 3px; padding: 0; line-height: 1em;}

label{ float: left; width: 130px;}
#berichtContainer { margin-left: 139px;}
#berichtContaner, textarea{ width: 588px; }
textarea {  margin: 3px;}
br{clear: left;}

#messageContainer{ margin: 3px; margin-left: 139px; border: 1px solid red;  padding: 5px; background-color: #f6cece; }

