{% if uid is null %}
    <td id="voorkeur-row-{{ crv_repetitie_id }}" class="voorkeur-uitgeschakeld">
        <a href="{{ url('csrdelft_maalcie_mijnvoorkeuren_inschakelen', {crv_repetitie_id: crv_repetitie_id}) }}"
           class="btn post voorkeur-uitgeschakeld">
            <input aria-label="Voorkeur inschakelen" type="checkbox"/> Nee
        </a>
    </td>
{% else %}
    <td id="voorkeur-row-{{ crv_repetitie_id }}" class="voorkeur-ingeschakeld">
        <a href="{{ url('csrdelft_maalcie_mijnvoorkeuren_uitschakelen', {crv_repetitie_id: crv_repetitie_id}) }}"
           class="btn post voorkeur-ingeschakeld">
            <input aria-label="Voorkeur uitschakelen" type="checkbox" checked="checked"/> Ja
        </a>
    </td>
{% endif %}
