{% extends 'default.html.twig' %}
{% block titel %}Foutmelding{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>400: Er is iets fout gegaan.</h1>
	<p>
		{{ bericht }}
	</p>
{% endblock %}
