{% extends 'default.html.twig' %}
{% block titel %}Geen toegang{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>403: Geen toegang</h1>
	<p>
		Je hebt geen toegang tot de opgevraagde pagina.
	</p>
{% endblock %}
