{% extends 'default.html.twig' %}
{% block titel %}Pagina niet gevonden{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>404: Pagina niet gevonden</h1>
	{% if is_granted('ROLE_ADMIN') and bericht is defined %}
		<p>{{ bericht }}</p>
	{% endif %}
	<p>
		De pagina werd niet gevonden, neem contact op met de PubCie als deze pagina wel gevonden zou moeten worden.
	</p>
{% endblock %}
