{% extends 'default.html.twig' %}
{% block titel %}Foutmelding{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>405: Methode niet toegestaan.</h1>
	<p>Deze pagina zou je bij normaal gebruik niet moeten zien. Dat je deze pagina voor je neus hebt betekent dat er iets
		mis is, schop de PubCie en leg aan hen uit hoe je op deze pagina gekomen bent.</p>
{% endblock %}
