{% extends 'default.html.twig' %}
{% block titel %}Fout{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>500: Fout van ons</h1>
	<p>
		Er is iets stuk! Als het goed is zijn we op de hoogte. Schop de PubCie als het niet snel genoeg gefixt wordt.
	</p>
{% endblock %}
