RewriteEngine on
###modRewrite dingen

##	Groepen nieuwe stijl, lekker, controller ipv duizend regels voor dingen...
# QSA == Query String Append, 
# Commissies/SocCie/?admin=true wordt dan dus groep.php?gtype=Commissies&query=SocCie/&admin=true
RewriteRule ^$	groepen.php
RewriteRule ^([a-zA-Z]*)/?$ groepen.php?gtype=$1 [QSA]
RewriteRule ^([a-zA-Z]*)/(.*)$ groep.php?gtype=$1&query=$2 [QSA]

## Terugwaartsheid b'vo. Na de ketzer met nieuw elan, regeltjes voor de oude ketzer.
RewriteRule ^commissies.php(.*) /groepen/Commissies/ [R=301]
RewriteRule ^commissie/(.*) /groepen/Commissies/ [R=301]
RewriteRule ^onderverenigingen.php(.*) /groepen/Onderverenigingen/ [R=301]
RewriteRule ^woonoorden.php(.*) /groepen/Woonoorden/ [R=301]
