@import "style";
@import "colls";

/* nav */
nav {
	background-color: $primary;

	.logo {
		width: 130px;
		height: 100%;
		@media screen and (max-width: 768px) {
			margin: auto;
		}
		img {
			width: 100%;
		}
	}
	a {
		/* Header text */
		color: $font-color-primary;
		font-family: $font-constantia;
		text-decoration: none;
		font-size: $h3-font-size;
		transition: ease-in-out color 0.15s;

		&:hover {
			color: rgba($color: $font-color-primary, $alpha: 0.7);
			text-decoration: none;
		}
	}
}
.py-1 {
	padding-top: 0.25rem !important;
}
.py-2 {
	padding-top: 0.5rem !important;
}
.px-1 {
	padding-right: 0.25rem !important;
	padding-left: 0.25rem !important;
}
.px-2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

.poster-boven {
	margin-top: 30px;
	padding: 0%;
	margin-bottom: -36px;
	padding-top: 40px;

	div {
		overflow: visible;
	}
}

a {
	text-decoration: none;
}

/* video */
.size-16x9 {
	aspect-ratio: 16 / 9 !important;
}

.filmpje {
	.container {
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
		position: relative;

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	clear: both;
		// 	background-color: $tertiary;
		// 	height: 100%;
		// 	width: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	position: absolute;
		// 	z-index: -1;
		// }
	}

	.video-container {
		width: 100%;
		height: 100%;
		.youtube-container {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
}
section {
	width: 100%;
	align-self: center;
	margin-bottom: 0px;

	.poster {
		display: flex;
		align-items: center;
		position: relative;

		img {
			width: 98%;
			max-width: 100%;
		}

		.container {
			padding: 0;
			overflow: visible;
		}
	}
}

.datum {
	cursor: pointer;
	position: absolute;
	width: 13%;
	height: 14%;
}

.klikbaar {
	cursor: pointer;
	position: absolute;
	height: 4%;
}

/* 3 / 1 columns */
.column-overzicht {
	h1 {
		font-size: 4rem;
		text-transform: uppercase;
	}
	.container {
		h3 {
			text-align: left;
			font-size: 2.4rem;
			// color: $bordeaux-rood;
		}
		h4 {
			font-size: 2rem;
			text-align: left;
			// color: $bordeaux-rood;
			text-transform: none;
		}
	}
}

/* Etiquette section */
.etiquette {
	background-color: $tertiary;
	color: $font-color-secondary;
	font-family: $font-calibri;

	p {
		font-size: 1rem;
	}
	.margin-bottom {
		margin-bottom: 2rem;
	}

	h2,
	h3 {
		font-family: $font-constantia;
		color: $primary;
	}
}

$kleur-ketzer: $tertiary;

/* Ketzers */
.ketzers {
	align-items: center;

	.ketzer {
		width: 100%;
		color: white;

		.bb-block {
			padding: 5px;
			border-radius: 5px;
		}

		> div {
			background-color: $kleur-ketzer;
			border: 5px solid white !important;
			box-shadow: none !important;
		}

		a[id*="groep-lid-remove"] {
			color: $kleur-wit;
			// background-color: $oranje;
		}
		h3 {
			font-weight: bold;
			font-size: 2rem;
		}
		.GroepStatistiekView {
			background-color: $primary;
			padding: 20px;
			border-radius: 25px;
		}
		.progress-bar {
			background-color: $primary;
		}
		.GroupAanmeldenForm {
			input.FormElement {
				background-color: $primary;
			}
		}
	}
}
.verborgen {
	display: none;
}
.programma {
	text-align: center;
	z-index: 1;

	.poster {
		margin-top: 40px;
	}

	@media screen and (max-width: 768px) {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.programma-container {
		@media screen and (max-width: 768px) {
			padding-left: 0px;
			padding-right: 0px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	.container {
		.dag {
			padding: 20px;
			border-radius: 5px;
			h2 {
				@media screen and (max-width: 768px) {
					font-size: 3rem;
				}
			}
			.activiteit {
				padding: 20px;
				overflow: hidden;
				// box-shadow: 0px 0px 10px $kleur-geel-20;
				border-radius: 10px;
				margin-bottom: 40px;
				width: 80%;
				@media screen and (max-width: 768px) {
					width: 100%;
				}
				align-self: center;
				align-items: center;
				background-color: $primary;

				h3 {
					font-family: $font-constantia;
					text-align: center;
					color: $font-color-primary;
					font-size: 2.4rem;
					margin: 0;
					padding: 0;
				}

				p {
					font-family: $font-constantia;
					color: $font-color-primary;
					text-align: left;
				}

				> .btn {
					font-size: large;
					background-color: $kleur-ketzer;
					border: none;

					&:hover {
						background-color: darken($color: $kleur-ketzer, $amount: 10%);
					}

					i {
						transition: transform 0.3s;
					}
					&:not(.collapsed) i {
						transform: rotate(-180deg);
					}
				}

				.dies-activiteit-ketzers {
					overflow: hidden;
					.toggler {
						// color: $oranje;
						cursor: pointer;
						user-select: none;
					}
					.toggler:hover {
						color: darken($color: $primary, $amount: 10%);
					}
					.bb-block {
						border: 2px solid $secondary;
						box-shadow: 2px 2px 10px $secondary;
					}
					.ketzers {
						.ketzer {
							ul li .btn-primary {
								background-color: $primary;
								border-color: $primary !important;
							}

							div {
								a {
									color: white;
								}
							}
							.maaltijdketzer-wrapper {
								padding: 20px;
								border-radius: 20px;

								* {
									background-color: transparent !important;
								}
							}
							h3 {
								font-size: 1.8rem;
							}
						}
					}
				}
			}
		}
	}
}
.sponsor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.body {
	background:
		repeating-conic-gradient(
				from 0deg at 130% 15%,
				#A51C18 0deg 0.2deg,      /* 0.8 * 0.25 */
				#A51C18 0.2deg 0.25deg,   /* 1 * 0.25 */

				#F4DBB3 0.25deg 1deg,     /* 1 * 0.25 → 0.25, 4 * 0.25 → 1 */
				#F4DBB3 1deg 1.05deg,     /* 4.2 * 0.25 → 1.05 */

				#EAB818 1.05deg 1.5deg,   /* 4.2*0.25=1.05 → 6*0.25=1.5 */
				#EAB818 1.5deg 1.55deg,   /* 6.2*0.25=1.55 */

				#F4DBB3 1.55deg 2.25deg,  /* 6.2*0.25 → 9*0.25=2.25 */
				#F4DBB3 2.25deg 2.45deg              /* transition back to red */
		);
	background-repeat: no-repeat;
	background-size: cover;
}


/*
@media screen and (max-width: 1400px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 1200px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 992px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 768px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}

	nav a {
		font-size: 32px;
	}
}

@media screen and (max-width: 576px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}

	.container {
		max-width: 400px;
	}

	.titel h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 420px) {
	.body {
		background:
			linear-gradient(
					90deg,
					#003f2a 0%,
					rgba(#01402b, 0.9) 29%,
					rgba(#07452d, 0.65) 64%,
					rgba(#0f4b30, 0.03) 97%
			),
			repeating-conic-gradient(
					from -90deg at 50% 60%,
					#008d36 0deg 6deg,
					$secondary 6deg 12deg
			);

		background-repeat: no-repeat;
		background-size: cover;
	}

	.container {
		max-width: 300px;
	}
}
*/
