@import "vars";

a {
	text-decoration: none;
}

.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}

.heavy {
	font-weight: 700;
}

section {
	margin-bottom: 100px;
}

body {
	// linear-gradient : (160deg, #903921, #C8611A);
	background-size: 600px, 1100px, 950px, 600px, 1300px, 700px, 100% 100%;
	font-size: 1.5rem;
	/* Body text */
	// color: $font-color-secondary;
}

.container {
	background: transparent;
}

/* nav */
nav {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;

	.container {
		max-width: 1040px;
	}
}

/* Kopjes */
.titel {
	h1 {
		font-family: $font-header;
		font-size: $h1-font-size;
		text-align: center;
		line-height: unset;
		margin-bottom: -8px;
		text-shadow:
			2px 2px $schaduw-kleur,
			-2px -2px $schaduw-kleur,
			2px -2px $schaduw-kleur,
			-2px 2px $schaduw-kleur,
			0 2px $schaduw-kleur,
			0 -2px $schaduw-kleur,
			2px 0 $schaduw-kleur,
			-2px 0 $schaduw-kleur;
	}
	width: 100%;
	// text-transform: uppercase;
	margin-bottom: 15px;
	color: $font-color-primary;
	// text-shadow:
	//   0 0 2px $kleur-wit,
	//   0 0 11px $kleur-zwart,
	//   0 0 12px $kleur-zwart;
}

.ondertitel {
	font-family: $font-header;
	color: $kleur-zwart;
	text-align: center;
	margin-bottom: 10px;
	font-size: 75px;
	text-shadow:
		2px 2px $schaduw-kleur,
		-2px -2px $schaduw-kleur,
		2px -2px $schaduw-kleur,
		-2px 2px $schaduw-kleur,
		0 2px $schaduw-kleur,
		0 -2px $schaduw-kleur,
		2px 0 $schaduw-kleur,
		-2px 0 $schaduw-kleur;
}

/* IMG Kopjes */
.kopje {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	.plaetje {
		width: 400px;
		max-width: 100%;
	}
}

/* Instagram */
.instagram .instagram-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 1em;

	a {
		text-decoration: none;
		color: $font-color-primary;
		font-family: $font-header;
		text-transform: uppercase;
		font-weight: bold;
	}

	.instagram-embed {
		width: 400px;
		height: 100%;
		max-width: 100%;
	}
}

/* thema display */
.thema {
	display: flex;
	flex-direction: column;
	align-items: center;

	.thema-plaetje {
		padding-top: 60px;
		width: 100%;
		height: 100%;
		max-width: 960px;
		border-bottom: 5px;
		border-bottom-color: $primary;
	}
}
/* Dividers */
.divider {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 6px 6px -6px $secondary;
	margin-bottom: 15px;
	margin-top: 15px;
	img {
		max-width: 738px;
		width: 100%;
		height: 100%;
	}

	.helemaal-boven {
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.boven {
		margin-top: 10px;
	}
	.tussen {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.onder {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/* Commissie */
.commissie .commissie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $font-color-secondary;

	.commissiefoto {
		width: 100%;
		max-width: 720px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

// Activiteiten overzicht
.overzicht {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.activiteit {
		padding-top: 20px;
		.activiteit-plaetje {
			width: 720px;
			height: 100%;
			max-width: 100%;
		}
	}
}

.beschrijving {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	* {
		width: 80%;
	}
}



// Ketzers weergave
.ketzers {
	display: flex;
	flex-direction: column;
	align-items: center;
	.ketzers-container {
		max-width: 100%;
	}
}

