RewriteEngine On

#documenten toevoegen
RewriteRule ^toevoegen$ toevoegen.php
RewriteRule ^toevoegen/$ toevoegen.php
RewriteRule ^toevoegen/gelukt$ index.php?mode=uploaded&successful=true

#toevoegen v/e extentie
RewriteRule ^toevoegen/([0-9]+)$ index.php?id=$1&mode=add
RewriteRule ^toevoegen/([0-9]+)/([0-9]+)$ index.php?id=$1&mode=add&categorie=$2

#enkele categorie weergeven
RewriteRule ^categorie/([0-9]+)$ index.php?categorie=$1
RewriteRule ^bewerken/([0-9]+)/([0-9]+)$ index.php?id=$1&mode=edit&categorie=$2

#het neerladen, bewerken en verwijderen van documenten
RewriteRule ^neerladen/([0-9]+)$ neerladen.php?id=$1
RewriteRule ^bewerken/([0-9]+)$ index.php?id=$1&mode=edit
RewriteRule ^verwijderen/([0-9]+)$ index.php?id=$1&mode=del