<?php

# -------------------------------------------------------------------
# defines.include.php
# -------------------------------------------------------------------
# Goede standaard instellingen voor productie, zie ook defines.defaults.php
# -------------------------------------------------------------------
define('CSR_DOMAIN', 'csrdelft.nl');
define('CSR_ROOT', 'https://' . CSR_DOMAIN);
define('BASE_PATH', '...'); # Zet mij.
define('BLADEONE_MODE', 2)
