<?php

#
# C.S.R. Delft
#
# -------------------------------------------------------------------
# include.defines.php
# -------------------------------------------------------------------
# allerlei paden enzo goed zetten.
# -------------------------------------------------------------------
#

# padnaam MET trailing slash
define('BASE_PATH', '/srv/www/www.csrdelft.nl/');
# padnaam ZONDER trailing slash
define('ETC_PATH', BASE_PATH.'etc');
define('LIB_PATH', BASE_PATH.'lib');
define('DATA_PATH', BASE_PATH.'data');
define('PICS_PATH', BASE_PATH.'images');
define('HTDOCS_PATH', BASE_PATH.'htdocs');
define('TMP_PATH', BASE_PATH.'tmp');
define('SESSION_PATH', BASE_PATH.'sessie');
define('PUBLIC_FTP', '/srv/ftp/incoming/csrdelft');

# urls met trailing slash
define('CSR_PICS', 'http://plaetjes.csrdelft.nl');
define('CSR_ROOT', 'http://csrdelft.nl');

# smarty template engine
define('SMARTY_DIR', LIB_PATH.'/smarty/libs/');
define('SMARTY_TEMPLATE_DIR', LIB_PATH.'/templates/');
define('SMARTY_COMPILE_DIR', DATA_PATH.'/smarty/compiled/');
define('SMARTY_CACHE_DIR', DATA_PATH.'/smarty/cache/');

# ImageMagick
define('IMAGEMAGICK_PATH', '/usr/bin/convert');

#default is het bot/cmnd.php script niet actief voor security
define('ENABLE_BOT_CMND', false);

