/*kleuren:
	#92e147	-	fellere kleur voor Hou je vast
	#94c947 -	Nieuwnieuwe poster-kleur (06 juli 2007)
	
	LET OP: de tekstkleur staat 3x in dit bestand!
*/

body{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	margin: 10px 0 0 0 ; padding: 0px;
	
	background-color: #222222;
	color: #92e147;
}
h1{
	font-size: 1.6em;
	margin-top: 4px;
	margin-bottom: 3px;
	border-bottom: 1px dotted black;
}
h2{
	font-size: 1.4em;
	margin-bottom: 1px;
	border-bottom: 1px dotted white;
}
h3{
	font-size: 1.2em;
	margin-top: 3px;
	margin-bottom: 0px;
}
p{
	margin-left: auto; margin-right: auto;
	text-align: justify; 
}
a{
	text-decoration: none;
}
a:hover{
	color: #92e147;
}

/* index.php */
/*De pagina is als het ware verdeeld in vier divs
die in een vierkant liggen.*/
#omringendeContainer{
	margin: auto; padding: 5px 15px 10px 10px;
	width: 820px;
	background-color: black;
	height: 566px;
	text-align: justify;
	border: 2px solid  #92e147;
}

.linkerkantPagina{
	float: left; 
}
.rechterkantPagina{
	float: right;
	width: 415px;
}

#logoGroot{ /*Het plaatje / de poster / het logo*/
	width: 400px;
	height: 283px;
	position: relative;	top: 10px;
	border: 0px;
}
#themaVerhaal{ /* Onder het logo (dus linksonderin)*/
	width: 380px;
}

div#onderkantPagina{ /* Onderste helft van de pagina*/
	float: left;
	display: block;
	width: 820px;
	position: relative;	top: 30px;
}


/* Algemeen */
.titel{ /* de headers */
	color: white;
	border-bottom: 1px dotted white;
	margin-bottom: 5px;
}
.meerLink{ /* de links */
	color: #92e147;
	font-weight: bold;
	padding-left: 10px;
	border-left: 1px solid;
}
a.meerLink:hover{
	color: white;
}

.inputLicht{
	background-color: #b1cd76;
	border: 1px solid black;
}

.credits{
	width: 100%;
	margin: 4px 0px 0px 0px;
	text-align: center;
	font-size: 9px;
	color: #bbb;
}
.credits a{
		color: #aaa;
}

/* logeren.php */
div#logerenLinks{
	position: relative;	top: 15px;
}

/* studentenleven en programma */
.overlay{
	background-color: black;	opacity:.70; filter: alpha(opacity=70);
	padding: 4px 4px 4px 4px;
}
.overlayBody{
	font-size: 18px;
	color: white; 
}

#imagemapContainer{
	margin: auto; padding: 0;
	width: 800px;
	height: 600px;
	background-color: #6ea200;
	text-align: center;
}
#positionContainer{
	position: absolute;
	top: 80px; left: 50%;
	width: 300px; height: 400px;
	margin: 0px; padding: 0px;
}

.sluitlink{
	font-size: 12px;
}
#studentenleven_img{
	border: 0px;
}
#programma_img{
	border: 0px;
}

.afsluiten{
	display: block;
		width: 16px;
	height: 16px;
	float: right;
	margin: 0px; padding: 0px;
	font-weight: bold;
	font-size: 16px;
	color: black;
	cursor: pointer; cursor: hand;
}

form.studentenleven label, form.studentenleven input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
}

form.studentenleven label {
	text-align: right;
	width: 75px;
	padding-right: 10px;
}

div.fotoachtergrond{
	margin: 20px 0px 0px 0px; padding: 2px 0px 2px 0px;
	width: 264px;
	background-color: white;
/*	opacity:.99; filter: alpha(opacity=99);*/
}
#map_studentenlevenStart{
	display: block;
	position: absolute;
	width: 280px; height: 280px;
	margin: 0px; padding: 10px;
	background-color: white;
	color: black; opacity:.90; filter: alpha(opacity=90);
	overflow: auto;
	text-align: justify;
}

img#logoKlein{
	width: 210px; height: 149px;
	border: 0px;
}
div#logo{
	width: 210px; 
	height: 149px;
	display: block;
	position: absolute;
	top: 10px; left: 10px;
	margin: 0px; padding: 0px;
}
