{# templates/data_collector/su.html.twig #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

	{% if collector.canSu %}
		{% set icon %}
			<i class="fa fa-lg fa-user-secret" style="color: #aaa;"></i>
			{% if collector.isSued %}
				{% set status_color = 'red' %}

				<a href="{{ path('login-endsu') }}">
					<span class="sf-toolbar-value">End su</span>
				</a>
			{% else %}
				{% set status_color = 'normal' %}
				<span class="sf-toolbar-value">Su</span>
			{% endif %}
		{% endset %}

		{% set text %}
			{# this is the content displayed when hovering the mouse over
			the toolbar panel #}
			{% if collector.isSued %}
				<div class="sf-toolbar-info-piece">
					<b>Naam:</b>
					<span>{{ collector.profiel.naam }}</span>
				</div>
				<div class="sf-toolbar-info-piece">
					<b>Rechten:</b>
					<span>{{ collector.profiel.account.perm_role }}</span>
				</div>

			{% else %}
				<div class="sf-toolbar-info-piece">
					<b>
						<label for="su-input">Su naar:</label>
					</b>
					<span>
				<input type="text" id="su-input" placeholder="uid"/>
				<input type="button" value="Su"
							 onclick="window.location = '/su/' + document.getElementById('su-input').value"/>
			</span>
				</div>
				</div>
				<div class="sf-toolbar-info-piece">

				</div>
			{% endif %}
		{% endset %}

		{# the 'link' value set to 'false' means that this panel doesn't show a section in the web profiler #}
		{{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false, status: status_color }) }}
	{% endif %}

{% endblock %}
