# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false       # Allows optimizing the container by removing unused services; this also means
      # fetching services directly from the container via $container->get() won't work.
    # The best practice is to be explicit about your dependencies anyway.

  CsrDelft\:
    resource: '../lib'
    exclude: '../lib/{view,config,model,common,Kernel.php}'

  # controllers are imported separately to make sure services can be injected
  # as action arguments even if you don't extend any base controller class
  CsrDelft\controller\:
    resource: '../lib/controller'
    exclude: '../lib/controller/{{GeoLocation,GroepenRouter,Mededelingen,Rechten,Toestemming}Controller.php,groepen,framework,api}'
    tags: ['controller.service_arguments']

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones
  CsrDelft\events\ViewEventListener:
    tags:
      - { name: kernel.event_listener, event: kernel.view }

  CsrDelft\events\AccessControlEventListener:
    tags:
      - { name: kernel.event_listener, event: kernel.controller }

