body{
	font-family: sans-serif;
	font-size: 13px;
}
.verborgen{ display: none;}
.handje{ cursor: pointer; }
.knop{
	background-color: #eee;
	padding: 2px;
	margin: 2px;
}
td{ vertical-align: top; }
td.euro{ text-align: right;}
table{ border-collapse: collapse;}
table.weken{ width: 100%; margin-top: 20px;}

table.artikelen{ font-size: 10px; float: right;}

table.weken th{
	padding: 2px;
	border-bottom: 1px solid black;
	text-align: left;
	font-size: 12px;
	vertical-align: bottom;

}
table.weken td{
	padding: 2px;
	border-bottom: 1px solid #aaa;
}
table.weken tr:hover td{
	background-color: #ffefef !important;
}
table.zebra tr.even td{ background-color: #f5f5f5;}

.sorting_asc{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_asc.jpg') no-repeat center right; }
.sorting_desc{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_desc.jpg') no-repeat center right; }
.sorting{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_both.jpg') no-repeat center right; }
.sorting_asc_disabled{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_asc_disabled.jpg') no-repeat center right; }
.sorting_desc_disabled{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_desc_disabled.jpg') no-repeat center right; }
