body{
	font-family: sans-serif;
	font-size: 13px;
}
.verborgen{ display: none;}
.handje{ cursor: pointer; }
.btn{
	background-color: #eee;
	padding: 2px;
	margin: 2px;
}
td{ vertical-align: top; }
td.euro{ text-align: right;}
table{ border-collapse: collapse;}
table{ width: 100%; margin-top: 20px;}

table.artikelen{ font-size: 10px; float: right;}

table th{
	padding: 2px;
	border-bottom: 1px solid black;
	text-align: left;
	font-size: 12px;
	vertical-align: bottom;

}
table td{
	padding: 2px;
	border-bottom: 1px solid #aaa;
}
table tr:hover td{
	background-color: #ffefef !important;
}
table.zebra tr.even td{ background-color: #f5f5f5;}

.sorting_asc{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_asc.jpg') no-repeat center right; }
.sorting_desc{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_desc.jpg') no-repeat center right; }
.sorting{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_both.jpg') no-repeat center right; }
.sorting_asc_disabled{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_asc_disabled.jpg') no-repeat center right; }
.sorting_desc_disabled{ background: url('http://csrdelft.nl/layout/js/datatables/images/sort_desc_disabled.jpg') no-repeat center right; }
.dataTables_filter{ float: right; }
.dataTables_filter input{ border: 1px solid black; }
.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}
.paginate_disabled_previous{ background-image: url('http://csrdelft.nl/layout/js/datatables/images/back_disabled.jpg');}
.paginate_enabled_previous{ background-image: url('http://csrdelft.nl/layout/js/datatables/images/back_enabled.jpg'); cursor: pointer; }
.paginate_disabled_next { background-image: url('http://csrdelft.nl/layout/js/datatables/images/forward_disabled.jpg'); }
.paginate_enabled_next { background-image: url('http://csrdelft.nl/layout/js/datatables/images/forward_enabled.jpg'); cursor: pointer; }
