body.scrolling .auteur .forumpasfoto {
	position: relative;

	a[href^='/profiel/19']::after {
		content: '';
		position: absolute;
		top: 73px;
		left: 0;
		width: 56px;
		height: 100px;
		background: url('../../images/raket.gif') no-repeat top center;
		background-size: contain;
	}
}



body.scrolling #profiel.lichting-2019 .pasfoto {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 240px;
		background: url('../../images/raket.gif') no-repeat top center;
		background-size: contain;
	}
}
