RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://csrdelft.nl [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(.)*\.csrdelft.nl [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ http://csrdelft.nl [NC,R,L]