{% extends 'base.html.twig' %}

{% block titel %}Nieuwe declaratie{% endblock %}

{% block styles %}
	{{ css_asset('app') }}
{% endblock %}

{% block content %}
	<h2>Nieuwe declaratie</h2>
	<Declaratie
		class="vue-context"
		type="nieuw"
		iban="{{ iban }}"
		tenaamstelling="{{ tenaamstelling }}"
		:categorieen="{{ categorieLijst }}">
	</Declaratie>
{% endblock %}
