body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}

body, html{
	height: 100%;
}

.tab-content{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 5px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#main{
	width: 100%;
	height: 100%;
	border-collapse:collapse;
	table-layout:fixed;
}

#main td{
	vertical-align: top;
	position: relative;
}

#main .top td{
	height: 1%;
}

#bestelLijstDiv li:after{
	content: '\e014';
	position: relative;
	left: 10px;
	font-size: 20px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#clock{
	line-height: 74px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	padding: 0 15px 0 0;
	font-weight: bold;
	color: #000;
}

#body .nav-pills li a {
    color: #000;
    background: #d0cfd1;
    margin: 5px;
}

#body .nav-pills li.active a {
    color: #fff;
    background: #428bca;
}

#body .alert {
    margin-bottom: 0;
}

.nav {
    font-size: 20px;
}

#selectieTabel td {
    font-size: 20px;
    line-height: 30px;
}

#persoonInput {
    font-size: 40px;
    height: 60px;
}

#keyboardToggle {
    font-size: 30px;
    height: 60px;
}

#aantalInput {
    width: 208px;
    font-size: 50px;
    height: 80px;
}

button.btn-groot {
    font-size: 50px;
    width: 70px;
    height: 83px;
}

#knopC {
    font-size: 30px;
    background-color: #FFD700;
}

#knop- {
    background-color: #ff5354;
}

.alert {
    font-size: 30px;
}

#knoppenGroep {
    width: 210px;
    float: right;
}

#linkerKant {
    margin-right: 220px;
    margin-left: 20px;
}

ul.bestelLijst {
    min-height: 1px;
    font-size: 30px;
}

button.btn-bestel {
    font-size: 25px;
    width: 150px;
	padding: 6px 0;
}

#bestelLijstDiv {
    height: 200px;
    margin: 20px;
    overflow: hidden;
    overflow-y: auto;
}

#bestelLijstDiv ul {
    list-style: none;
}

#ondersteRijKnoppen {
    margin-top: 0;
}

button.btn-beneden {
    margin-top: 0;
    width: 105px;
    height: 50px;
}

#knopCancel {
    background-color: #ff5354;
}

#knopConfirm {
    background-color: #47ff89;
}

#saldoOverzicht {
    margin-top: 20px;
    margin-bottom: 0;
    width: 208px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}

#keyboardContainer {
    margin: 10px auto;
    width: 781px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    background-color: #d0cfd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard .spacer {
    width: 32px;
    margin-right: 0;
    background: none;
    position: relative;
    left: -10000px;
}

#keyboard .clear {
    clear: left;
}

#keyboard .delete, #keyboard .leeg, #keyboard .space {
    width: 126px;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

#beheer-nav {
    margin: 5px;
}

#besteLijstBeheerLaad {
    margin: 10px auto;
}

div.row {
    margin-right: 0;
    margin-left: 0
}

#laadKnoppen {
    margin: 10px auto;
}

.eenDerdeLijst {
    width: 33%;
    float: left;
}

#besteLijstBeheer {
    width: 100%;
}

th#persoon {
    width: 15%;
}

th#datum {
    width: 20%;
}

th#totaal {
    width: 10%
}

th#opties {
    width: 90px;
}

.clearable {
    background: url(http://i.imgur.com/z7ZSYjt.png) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* USE the same right padding in jQ! */
    border-radius: 3px;
}

/* (jQ addClass:) if input has value: */
.clearable.x {
    background-position: right 5px center;
}

/* (jQ addClass:) if mouse is over the 'x' input area*/
.clearable.onX {
    cursor: pointer;
}

.clearKruisje {
    float: right;
    margin: -33px 10px -14px 0;
    position: relative;
    z-index: 10;
    font-size: 20px
}

.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}