{% extends 'fiscaat/base.html.twig' %}

{% block titel %}Exact koppeling{% endblock %}

{% block civisaldocontent %}
	<h2>Exact koppeling</h2>
	{% if verbonden %}
		<div>Verbonden met <strong>{{ accountnaam }}.</strong></div>
		<a href="{{ path('exact_login') }}" class="btn btn-primary">Verbind Exact opnieuw</a>
	{% else %}
		<a href="{{ path('exact_login') }}" class="btn btn-primary">Verbind Exact</a>
	{% endif %}
{% endblock %}
