{% extends 'base.html.twig' %}
{% block titel %}Presentielijst{% endblock %}

{% block bodyClass %}zijbalk_verborgen{% endblock %}
{% block body %}
	<h1 class="text-center">Presentielijst {{HVnummer}}e Huishoudelijke Vergadering</h1>
	{% for streeplijst in streeplijsten %}
	<h3 class="text-center">{{ streeplijst.naam_streeplijst }}</h3>
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<th scope="col">Lid #</th>
			<th scope="col">Voornaam</th>
			<th scope="col"></th>
			<th scope="col">Achternaam</th>
			{% for inhoud in streeplijst.inhoud %}
				<th scope="col" width = "20%">{{ inhoud | trim }}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>

		{% for lid in streeplijst.leden %}
			<tr>
			{% set naamlid = lid|split("|") %}
				{% for type in naamlid %}
					<td scope="row" style="padding:0px">{{ type | trim }}</td>
				{% endfor %}
				{% for inhoud in streeplijst.inhoud %}
					<td style="padding:0px"></td>
				{% endfor %}
			</tr>
		{% endfor %}

		</tbody>
	</table>
	{% endfor %}
{% endblock %}
