{% extends 'base.html.twig' %}

{% block titel %}{{ pagina.titel }}{% endblock %}

{% block content %}
	{% include 'cms/pagina-inhoud.html.twig' %}
{% endblock %}

{% block modal %}
	{% if modal is defined %}
		{{ modal.__toString | raw }}
	{% elseif not toestemming_gegeven() %}
		{{ toestemming_form() | raw }}
	{% else %}
		<div id="modal" tabindex="-1"></div>
	{% endif %}
{% endblock %}
