body{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	margin: 10px 0 0 0 ; padding: 0px;
	
	background-color: black;
	color: white;

}
h1{
	font-size: 1.6em;
	margin-top: 4px;
	margin-bottom: 3px;
	border-bottom: 1px dotted black;
}
h2{
	font-size: 1.4em;
	margin-bottom: 1px;
	border-bottom: 1px dotted black;
}
h3{
	font-size: 1.2em;
	margin-top: 3px;
	margin-bottom: 0px;
}
p{
	margin-left: auto; margin-right: auto;
	text-align: justify; 
}
a{
	text-decoration: none;
}
a:hover{
	color: black;
}
/* index.php */
#posterPagina{
	margin: auto; padding: 5px 15px 0 0;
	width: 820px;
	background-color: #6ea200;
	height: 566px;
}
.poster{
	float: left; 
	border: 0px;
	width: 400px;
}
#posterZijtekst{
	text-align: justify;
}
.meerLink{
	color: white;
	font-weight: bold;
	padding-left: 10px;
	border-left: 1px solid;
}
#formTable{

}
#meerInfo{
	margin: 15px;
	border: 1px solid #b1cd76;
}
.inputLicht{
	background-color: #b1cd76;
	border: 1px solid black;
}

.credits{
	width: 100%;
	margin: 4px 0px 0px 0px;
	text-align: center;
	font-size: 8px;
	color: #bbb;
}
.credits a{
		color: #aaa;
}
/* studentenleven en programma */

.overlay{
	background-color: black;	opacity:.70; filter: alpha(opacity=70);
	padding: 4px 4px 4px 4px;
}
.overlayBody{
	font-size: 18px;
	color: white; 
}

#imagemapContainer{
	margin: auto; padding: 0;
	width: 800px;
	height: 600px;
	background-color: #6ea200;
	text-align: center;
}
#positionContainer{
	position: absolute;

	top: 80px; left: 50%;
	
	
	width: 300px; height: 400px;
	
	margin: 0px; padding: 0px;
	
}

.sluitlink{
	font-size: 12px;
}
#studentenleven_img{
	border: 0px;
}
#programma_img{
	border: 0px;
}

.afsluiten{
	display: block;
		width: 16px;
	height: 16px;
	float: right;
	margin: 0px; padding: 0px;
	font-weight: bold;
	font-size: 16px;
	color: black;
	cursor: pointer; cursor: hand;
}

form.studentenleven label, form.studentenleven input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
}

form.studentenleven label {
	text-align: right;
	width: 75px;
	padding-right: 10px;
}

div.fotoachtergrond{
	margin: 0px 0px 10px 0px; padding: 2px 0px 2px 0px;
	width: 264px;
	background-color: white;
	opacity:.99; filter: alpha(opacity=99);
	
}
#map_studentenlevenStart{
	display: block;
	position: absolute;
	width: 280px; height: 280px;
	margin: 0px; padding: 10px;
	background-color: white;
	color: black; opacity:.90; filter: alpha(opacity=90);
	overflow: auto;
	text-align: justify;
}
#oog{
	display: block;
	position: absolute;
	top: 5px; left: 5px;
	width: 100px; height: 100px;
	margin: 0px; padding: 0px;
	
}
