AddDefaultCharset utf-8
RewriteEngine On

<If "%{REQUEST_URI} =~ m#^/dist/#">
  # 1 maand cache
  Header set Cache-Control "max-age=2592000, public"
</If>

<If "%{REQUEST_URI} =~ m#^/images/#">
  # 1 week cache
  Header set Cache-Control "max-age=604800, public"
</If>

RewriteRule ^nieuws/?(.*)		/mededelingen/$1/ [L]
RewriteRule ^owee/?$			/csrindeowee [L]
RewriteRule ^facebook			https://www.facebook.com/delftcsr [R,L]
RewriteRule ^feuten				https://github.com/csrdelft/csrdelft.nl [R,L]

# Zorg dat Apache2 de http Authorization header doorstuurt naar PHP
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Symfony config
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

RewriteRule ^index\.php - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ %{ENV:BASE}/index.php [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^                   index.php
