AddDefaultCharset utf-8
RewriteEngine On

# afbeeldingen afschermen voor externen kan hier:
RewriteRule ^plaetjes/pasfoto/(.*)$			index.php?c=Profiel [QSA,L]

RewriteRule ^nieuws/?(.*)		/mededelingen/$1/ [L]
RewriteRule ^owee/?$			/csrindeowee [L]
RewriteRule ^facebook			https://www.facebook.com/delftcsr [R,L]
RewriteRule ^feuten				https://github.com/csrdelft/csrdelft.nl [R,L]

RewriteRule ^(leden)?lijst/?(.*)$	tools/lijst.php [QSA,L]

RewriteRule ^forum/rss/([0-9a-zA-Z]*)/csrdelft.xml		index.php?c=Forum&private_token=$1 [L]
RewriteRule ^agenda/ical/([0-9a-zA-Z]*)/csrdelft.ics	index.php?c=Agenda&private_token=$1 [L]

RewriteRule ^login				index.php?c=Login [L]
RewriteRule ^logout				index.php?c=Login [L]
RewriteRule ^su					index.php?c=Login [L]
RewriteRule ^endsu				index.php?c=Login [L]
RewriteRule ^verify				index.php?c=Login [L]
RewriteRule ^wachtwoord			index.php?c=Login [QSA,L]
RewriteRule ^account			index.php?c=Login [L]

RewriteRule ^eetplan			index.php?c=Eetplan		[QSA,L]
RewriteRule ^documenten			index.php?c=Documenten	[QSA,L]
RewriteRule ^bibliotheek		index.php?c=Bibliotheek [QSA,L]
RewriteRule ^mededelingen       index.php?c=Mededelingen [QSA,L]
RewriteRule ^peilingen          index.php?c=Peilingen [QSA,L]

RewriteRule ^leden				index.php?c=Profiel [QSA,L]
RewriteRule ^profiel			index.php?c=Profiel [QSA,L]
RewriteRule ^groepen			index.php?c=GroepenRouter [L]
RewriteRule ^maaltijden			index.php?c=MaalcieRouter [L]
RewriteRule ^corvee				index.php?c=MaalcieRouter [L]
RewriteRule ^fiscaat            index.php?c=FiscaatRouter [L]
RewriteRule ^forum				index.php?c=Forum [L]
RewriteRule ^agenda				index.php?c=Agenda [L]
RewriteRule ^courant			index.php?c=Courant [L]
RewriteRule ^plaetjes/fotoalbum			index.php?c=FotoAlbum [L]
RewriteRule ^fotoalbum			index.php?c=FotoAlbum [L]
RewriteRule ^gesprekken			index.php?c=Gesprekken [L]
RewriteRule ^geolocation		index.php?c=GeoLocation [L]
RewriteRule ^bijbelrooster		index.php?c=Bijbelrooster [L]
RewriteRule ^rechten			index.php?c=Rechten [L]
RewriteRule ^instellingenbeheer	index.php?c=InstellingenBeheer [L]
RewriteRule ^instellingen		index.php?c=LidInstellingen [L]
RewriteRule ^menubeheer			index.php?c=MenuBeheer [L]
RewriteRule ^commissievoorkeuren index.php?c=CommissieVoorkeuren [L]
RewriteRule ^toestemming        index.php?c=Toestemming [L]
RewriteRule ^contactformulier   index.php?c=ContactFormulier [L]

# business club
RewriteRule ^bc$ bc/index.html [L]
RewriteRule ^bc/partners$ bc/partners.html [L]
RewriteRule ^bc/mogelijkheden$ bc/mogelijkheden.html [L]
RewriteRule ^bc/contact$ bc/contact.html [L]

RewriteRule ^google             index.php?c=Google [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^                   index.php
