# filter using ip the bot connects from
order deny,allow
deny from all
allow from bot.ip.addr.ess

# filter using basic user/pass
AuthType Basic
AuthName "Gozerbot only ;]"
AuthUserFile /location/of/htpasswd
Require user feut

