RewriteEngine on

RewriteRule ^lijst/([0-9]+)$ maaltijdlijst.php?maalid=$1
RewriteRule ^lijst/([0-9]+)/sluiten$ maaltijdlijst.php?maalid=$1&sluit=1
RewriteRule ^lijst/([0-9]+)/fiscaal$ maaltijdlijst.php?maalid=$1&fiscaal=1

RewriteRule ^voorkeuren/?$ voorkeuren.php

#beheer
RewriteRule ^beheer/?$ beheer.php
RewriteRule ^beheer/bewerk/([0-9]+)/?$ beheer.php?bewerk=$1
RewriteRule ^beheer/verwijder/([0-9]+)/?$ beheer.php?verwijder=$1

RewriteRule ^corveebeheer/?$ corveebeheer.php
RewriteRule ^corveebeheer/bewerk/([0-9]+)/?$ corveebeheer.php?bewerk=$1
RewriteRule ^corveebeheer/puntenbewerk/([0-9]+)/?$ corveebeheer.php?puntenbewerk=$1
RewriteRule ^corveebeheer/takenbewerk/([0-9]+)/?$ corveebeheer.php?takenbewerk=$1
RewriteRule ^corveebeheer/takenbewerk/([0-9]+)/([0-1])/?$ corveebeheer.php?takenbewerk=$1&filter=$2
RewriteRule ^corveebeheer/verwijder/([0-9]+)/?$ corveebeheer.php?verwijder=$1

RewriteRule ^corveepunten/?$ corveepunten.php
RewriteRule ^corveepunten/sorteer/([a-z_]+)/([a-z]+)/?$ corveepunten.php?sorteer=$1&sorteer_richting=$2

RewriteRule ^corveerooster/?$ corveerooster.php

RewriteRule ^corveevoorkeurenlijst/?$ corveevoorkeurenlijst.php
RewriteRule ^corveevoorkeurenlijst/sorteer/([0-9a-z_]+)/([a-z]+)/?$ corveevoorkeurenlijst.php?sorteer=$1&sorteer_richting=$2

RewriteRule ^corveeinstellingen/?$ corveeinstellingen.php
