{% extends 'base.html.twig' %}

{% block titel %}Namen leren{% endblock %}

{% block content %}
	<h1>Namen leren</h1>
	<p>Namen leren zonder ze ongemakkelijk te vragen op de borrel? Selecteer de lichting, verticale en antwoordmethode en
		start!</p>

	{{ vue('namenleren', {leden: leden}) }}
{% endblock %}
