RewriteEngine on

RewriteRule ^eetplan/$ eetplan.php
RewriteRule ^eetplan/sjaars/([0-9]*) eetplan.php?pheutID=$1
RewriteRule ^eetplan/huis/([0-9]*) eetplan.php?huisID=$1

RewriteRule ^profiel/([0-9a-z]*)$ profiel.php?uid=$1

RewriteRule ^sjaarsacties/$ sjaarsacties.php
