RewriteEngine On

# Als we naar /communicatie/ gaan worden we doorgestuurd naar het forum
RewriteRule ^/?$ /communicatie/forum/ [R]

# Ledenlijst
RewriteRule ^ledenlijst/? lijst.php

# Verjaardagen
RewriteRule ^verjaardagen/? verjaardagen.php

# Moten redirecten naar verticalen
RewriteRule ^moten/? verticalen/ [R=301]

# Verticalen
RewriteRule ^verticalen/? verticalen.php

# Profielen
RewriteRule ^profiel/?$ profiel.php
RewriteRule ^profiel/([0-9a-z]+)/?$ profiel.php?uid=$1
RewriteRule ^profiel/([0-9a-z]+)/([a-zA-Z]+)/?$ profiel.php?uid=$1&a=$2

# Pagina's met tekst
RewriteRule ^irc/? ../pagina.php?naam=irc
RewriteRule ^orientatie/? ../pagina.php?naam=orientatie

#Oude documentlinks voorlopig doorverwijzen naar de oude ketzer.
RewriteRule ^documenten/neerladen/([0-9]+)/?$ documenten_old/neerladen/$1

# Documentenketzer
RewriteRule ^documenten$ documenten.php?querystring=
RewriteRule ^documenten/(.*)$ documenten.php?querystring=$1 [QSA]

