RewriteEngine On

# Als we naar /communicatie/ gaan worden we doorgestuurd naar het forum
RewriteRule ^/?$ /communicatie/forum/ [R]

# Ledenlijst
RewriteRule ^ledenlijst/? lijst.php

# Verjaardagen
RewriteRule ^verjaardagen verjaardagen.php

# Moten
RewriteRule ^moten moten.php

# Profielen
RewriteRule ^profiel/([0-9a-z]+)$ profiel.php?uid=$1
RewriteRule ^profiel/([0-9a-z]+)/([a-z]+)$ profiel.php?uid=$1&a=$2

# Pagina's met tekst
RewriteRule ^irc/? ../pagina.php?naam=irc
