RewriteEngine On

RewriteRule ^$ index.php
RewriteRule ^([0-9]+)$ index.php?mededelingId=$1

# Mededelingen beheer
RewriteRule ^top3overzicht/$ top3overzicht.php
RewriteRule ^verwijderen/([0-9]+) index.php?mededelingId=$1&actie=verwijderen
RewriteRule ^bewerken/([0-9]+)$ index.php?mededelingId=$1&actie=bewerken
RewriteRule ^toevoegen$ index.php?mededelingId=0&actie=bewerken
RewriteRule ^pagina/([0-9]+)$ index.php?pagina=$1
RewriteRule ^keur-goed/([0-9]+)$ goedkeuren.php?mededelingId=$1

RewriteRule ^prullenbak/$ index.php?prullenbak=1
RewriteRule ^prullenbak/([0-9]+)$ index.php?mededelingId=$1&prullenbak=1
RewriteRule ^prullenbak/top3overzicht top3overzicht.php
RewriteRule ^prullenbak/verwijderen/([0-9]+) index.php?mededelingId=$1&actie=verwijderen&prullenbak=1
RewriteRule ^prullenbak/bewerken/([0-9]+)$ index.php?mededelingId=$1&actie=bewerken&prullenbak=1
RewriteRule ^prullenbak/toevoegen$ index.php?mededelingId=0&actie=bewerken&prullenbak=1
RewriteRule ^prullenbak/pagina/([0-9]+)$ index.php?pagina=$1&prullenbak=1
RewriteRule ^prullenbak/keur-goed/([0-9]+)$ goedkeuren.php?mededelingId=$1&prullenbak=1