RewriteEngine on
#Redirect used for dies page of 2021
#RewriteCond %{REQUEST_URI} !^/dies/20
#RewriteRule ^(.*)$ 2021/$1 [L]

#Redirect /dies/2022 to /tijdloos/dies
RewriteCond %{REQUEST_URI} ^/dies/2022
RewriteRule (.*) /tijdloos/dies [R=302,L]

#Redirect /dies/2023 to /dies2023
RewriteCond %{REQUEST_URI} ^/dies/2023
RewriteRule (.*) /dies2023 [R=302,L]