html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    font: 16px/1 "Actor",sans-serif;
    letter-spacing: 0.48px;
    background: #fff url("img/poster.jpg") 49.83% 97.53% fixed;
    background-size: cover;
    text-align: center;

    padding: 98px;
}

/* koppen */
h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    color: white;
    font: normal 4em "Cabin";
}
h2 {
    color: #9d1c20;
    font: 700 1.5em "Cantarell";
}
h3 {
    color: #1b65bc;
    font-family: "Cantarell";
}
h1, h2, h3, p {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}
p {
    color: white;
    font: normal 18px "Cantarell";
}

p:last-of-type {
    margin-bottom: 98px;
}

img {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10% 98px 10%;
}

#thema {
    background-position: 40% 38.31%;
}

#etiquette {
    background-image: url('img/poster-blur.jpg');
    background-position: 37.39% 46.44%;
}

ul {
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0;

    list-style: none;
    /*flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

li > a {
    display: inline-block;
    box-sizing: border-box;
    font: 700 14px "Cantarell";
    color: white;
    text-transform: uppercase;
    background: #7DB06F;
    transition: background-color 0.2s ease-in-out 0s;
    min-height: 32px;
    line-height:32px;
    padding: 3px 31px;
    border-radius: 2px;
    text-decoration: none;
    margin: 5px 0;
}

li > a:hover {
    background: #6A9D5C;
}

@media (max-width: 768px) {
    ul {
        /* Items go in column */
        flex-direction: column;
        align-items: center;
    }

    body {
        padding: 0;
    }

    img {
        padding: 10px;
        padding-bottom: 222px;
    }

    iframe {
        width: 100vw;
        height: 56.25vw;
        margin-top: 10%;
        margin-bottom: 222px;
    }
}