@font-face {
    font-family: 'geosanslightregular';
    src: url('./Lettertypes/geosanslight-webfont.eot');
    src: url('./Lettertypes/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Lettertypes/geosanslight-webfont.woff') format('woff'),
		url('./Lettertypes/geosanslight-webfont.ttf') format('truetype'),
		url('./Lettertypes/geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rieslingregular';
    src: url('./Lettertypes/riesling-webfont.eot');
    src: url('./Lettertypes/riesling-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Lettertypes/riesling-webfont.woff') format('woff'),
		url('./Lettertypes/riesling-webfont.ttf') format('truetype'),
		url('./Lettertypes/riesling-webfont.svg#rieslingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin-left: 0;
	background-image:url('./Afbeeldingen/achtergrond strip.jpg');
	background-repeat:repeat-x;
	background-size: auto; 
	background-color:#f1ddbc;
} 

h1 {font-family: rieslingregular;font-size:2em;color:#690f36;white-space: normal;margin: 0;font-weight:normal}
h2 {font-family: geosanslightregular;font-size:1.2em;white-space: normal;margin-bottom: 0;margin-top:5px ;font-weight:bold;}
h3 {font-family: geosanslightregular;font-size:1.2em;white-space: normal;margin-bottom: 5px;margin-top:15px ;font-weight:bold;}
h4 {font-family: rieslingregular;font-size:2em;color:#690f36;white-space: normal;margin-bottom: 5px; margin-top:20px; font-weight:normal}
h5 {font-family: geosanslightregular;font-size:0.7em; font-weight:lighter;margin:0}
p {font-family: geosanslightregular;font-size:1em;white-space: normal;margin-top: 0;margin-bottom: 10px;font-weight:normal}

input[type="text"], textarea {
	background-color : #f1ddbc; 
	font-family: geosanslightregular;
	width: 150px;
}

select { 
    background-color: #f1ddbc;
    font-family: geosanslightregular ;
    width: 150px;
}

.knop {
    color: #f1ddbc;
    background-color: #690f36;
    font-family: geosanslightregular;
	padding: 1px 5px;
	margin: 10px 5px 0 0 !important;
	cursor: pointer;
	text-decoration: underline;
}

#header {
	height:126px;
	z-index: 0;
}

#content {
	margin-left:5;
	height:460px;
	overflow-y:auto ;
	z-index: 0;
}

#contentgroot{
	height:586px;
	z-index: 0;
}

#footer {
	position:absolute; height:140px; width:100%; z-index: 0;
}

#column1 {
	float:left;margin:0; margin-right:1%; width:44%;margin-left:5%
}

#column2 {
	float:left; margin:0;margin-left:1%;margin-right:5%; width:44%;
}

#column3 {
	float:left;
	margin:0;  
	/* Firefox */
	width: -moz-calc(50% - 170px);
	/* WebKit */
	width: -webkit-calc(50% - 170px);
	/* Opera */
	width: -o-calc(50% - 170px);
	/* Standard */
	width: calc(50% - 170px);
}

#column4 {
	float:left; 
	margin:0;
	margin-left:0; 
	height:460px;
	/* Firefox */
	width: -moz-calc(50% + 170px);
	/* WebKit */
	width: -webkit-calc(50% + 170px);
	/* Opera */
	width: -o-calc(50% + 170px);
	/* Standard */
	width: calc(50% + 170px);
	overflow-y:auto;
}

#column5 {
	float:left; 
	width: 792px;
	margin:0;
	margin-right:0;
	/* Firefox */
	margin-left: -moz-calc(50% - 400px);
	/* WebKit */
	margin-left: -webkit-calc(50% - 400px);
	/* Opera */
	margin-left: -o-calc(50% - 400px);
	/* Standard */
	margin-left: calc(50% - 400px);

	margin-top:15px;
}

#flamingo {
	position:absolute;
	overflow:hidden;
	right: 0;
	bottom: 0;
	z-index:-1;

}

#homeknop {
	float:left;
	margin-top: 10;
	height: 50;
}

#stekknop {
	clear:both;
	float:left;
	margin-top: 2;
	height: 50;
}

.Formulier {
	font-family: geosanslightregular;
	font-size:1em;
	white-space: normal;
}

.Formulier div {
	margin-top: 5px;
}

.Formulier label {
	width: 255px;
	float: left;
	clear: left;
}

#lightbox {
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}
#lightboxDetails {
	font-size: 0.8em;
	padding-top: 0.4em;
}	
#lightboxCaption { float: left; }
#keyboardMsg { float: right; }
#closeButton { top: 5px; right: 5px; }

#lightbox img { border: none; clear: both;} 
#overlay img { border: none; }

#overlay { background-image: url(overlay.png); }

* html #overlay {
	background-color: #333;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}
