$kleur-primair: #33332d;
$kleur-secundair: #6f8b8c;
$kleur-textheader: #8c7456;
$kleur-text: #f2ebc7;
$kleur-hover: #E9600B;

$kleur-groen: #ABD1B5;
$kleur-rood: #B0413E;

/*
@font-face {
	font-family: 'Futura';
	src: url('../../fonts/motown-fever/Futura-Bold.woff2') format('woff2'),
	url('../../fonts/motown-fever/Futura-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura BT';
	src: url('../../fonts/motown-fever/FuturaBT-Book.woff2') format('woff2'),
	url('../../fonts/motown-fever/FuturaBT-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*/

$font: Calibri, sans-serif;
$font-family-base: $font;
$headings-font-family: ($font, uppercase);

$theme-colors: (
	"primary": $kleur-groen,
	"danger": #E54B4B,
	"white": $kleur-text,
);

$card-bg: $kleur-primair;
$list-group-bg: $kleur-primair;

$link-color: $kleur-text;
$link-hover-color: $kleur-hover;
$body-bg: $kleur-secundair;
$body-color: $kleur-text;

$zijbalk-bg: $kleur-primair;
$zijbalk-kopje: $kleur-text;
$zijbalk-border: $kleur-hover;
$zijbalk-ishetal-ja: $kleur-groen;
$zijbalk-ishetal-nee: $kleur-rood;

$bb-block-bg: $kleur-primair;
$bb-alt-bg: darken($body-bg, 4%);
$bb-hover-bg: $kleur-hover;
$menu-primary-hover: $kleur-textheader;
$menu-bg: $body-bg;
$menu-color: $body-color;
$menu-small-bg: $body-bg;
$menu-small-color: $body-color;

$modal-content-bg: $kleur-secundair;

$zoeken-active-bg: lighten($body-bg, 10%);

$tabel-header: $kleur-secundair;
$tabel-regel-licht: $kleur-secundair;
$tabel-regel-donker: lighten($kleur-secundair, 5%);
$tabel-hover: darken($kleur-secundair, 5%);

$footer-background: darken($kleur-primair, 5%);
$maaltijdketzer-bg: $kleur-primair;

/* importeer basis */
@import "../base";
