$dark-grey: #1E1F23;
$darker-grey: #101011;

$white: #fff;
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-800: #343a40;
$black: #000;

$primary: #006699;
$secondary: $gray-600;
$light: $gray-100;
$dark: $gray-800;

$body-bg: $dark-grey;
$body-color: darken($white, 7%);
$headings-color: inherit;

@font-face {
	font-family: 'Ubuntu-Light';
	src: url('../../fonts/dark-mode/Ubuntu-Light.ttf') format('truetype'),
	url('../../fonts/dark-mode/Ubuntu-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../../fonts/dark-mode/Ubuntu-Medium.ttf') format('truetype'),
	url('../../fonts/dark-mode/Ubuntu-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$font-family-base: "Ubuntu-Medium", sans-serif;
$headings-font-family: "Ubuntu-Medium", sans-serif;

/** Stek specifieke variabelen. */

/* zijbalk */
$beeldmerk: url(../images/beeldmerk-wit.png);

$zijbalk-bg: darken($body-bg, 5%);
$zijbalk-border: darken($primary, 12%);
$zijbalk-kopje: $primary;
$zijbalk-ishetal-nee: red;
$zijbalk-ishetal-ja: green;
$zindex-zijbalk: 800;

.zijbalk-kopje {
	a {
		font-size: 1.25em;
	}
}

#zijbalk .blok .item {
	font-family: "Ubuntu-Light";
}

/* Modals */
$modal-content-bg: $body-bg;

/* bbcode */
$bb-block-bg: #3F4149;

/* forum */
$forum-bericht0-bg: $body-bg;
$forum-bericht1-bg: darken($body-bg, 4%);
$ongelezen-lijn: #e8cf2a;

/* main menu */
$menu-primary-hover: $primary;
$menu-bg: $body-bg;
$menu-color: $body-color;
$menu-small-bg: #0a338d;
$menu-small-color: #ffffff;

/* zoeken */
$zoeken-active-bg: #428bca;

/* maalcie-tabel */
$maalcie-tabel-header: darken($body-bg, 5%);
$maalcie-tabel-tr0: lighten($body-bg, 6%);
$maalcie-tabel-tr1: lighten($body-bg, 12%);

/* importeer basis */
@import "../base";

.close {
	color: $white;
}

table.groep-lijst tr:nth-child(even) {
	background-color: lighten($body-bg, 10%);
}

.module-icon {
	color: white;
	opacity: 0.3;
}

.forumdeel-omschrijving {
	background-color: #3F4149;
}

.jgallery {
	background-color: lighten($body-bg, 4%) !important;

	&-thumbnails {
		background-color: lighten($body-bg, 4%) !important;;
	}
}
