@font-face {
  font-family: "Algol";
	src: url("../../fonts/Algol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "Algol";
$headings-font-family: "Algol";

/* Kleuren:
	 - Knalrood: #FF0000
	 - Knalblauw: #0000FF
	 - Grijs: #D3D3D3
*/

$knalrood: #ff0000;
$knalblauw: #0a338d;
$grijs: #d3d3d3;

$body-bg: $grijs;
$body-color: white;

$beeldmerk: url(../images/KoetjeVoet.png);

/* main menu */
$menu-primary-hover: $knalrood;
$menu-bg: $body-bg;
$menu-color: $body-color;
$menu-small-bg: $knalblauw;
$menu-small-color: #ffffff;

$bb-block-bg: $knalrood;

$zijbalk-border: $knalblauw;

/* zoeken */
$zoeken-active-bg: $knalblauw;

.zijbalk-kopje {
	a {
		font-size: 1.25em;
	}
}

@import "../base";

h1, h2, h3, h4 {
	font-weight: bold;
}

/*Achtergrond kleur zijbalk, forum headers, navigatie menu*/
#zijbalk, #forumtabel th, .cd-primary-nav ul {
	background-color: $knalrood !important;
}

/*Koppen in het blauw*/
h1, a, a:hover,
.cd-primary-nav > li > a:hover,
.cd-primary-nav > li > a.selected {
	color: $knalblauw;
	cursor: help;
}
/* Lijntje tussen ongelezen en gelezen berichten */
#forumtabel tr.ongelezenvanaf td {
	background-color: $knalblauw !important;
}

/*BREADCRUMB FONT FIXES*/
.breadcrumbs * {
	vertical-align: baseline;
}

/*NAVIGATIE MENU*/

/*Andere koppen in het wit*/
.cd-primary-nav .cd-secondary-nav a,
.cd-primary-nav .cd-secondary-nav > li > a:hover,
.cd-primary-nav .cd-secondary-nav > li > a {
	color: #FFFFFF;
}

/*Hovering over navigatiemenuknop zorgt voor overstreeping*/
.cd-primary-nav .cd-secondary-nav a:hover {
	text-decoration: overline !important;
	text-decoration-style: wavy;
	color: $knalblauw;
}

/*Streepje onder naam*/
.cd-primary-nav > li > a:hover,
.cd-primary-nav > li > a.selected {
	box-shadow: 0px -10px 0px 0px #fff;
}

/*ZIJBALK*/
.staatrood, #zijbalk .blok .item a, #zijbalk .blok .item {
	color: darken(#fff, 50%);
}


/*KNOPPEN*/

/*Knoppen in blauw gradient*/
.btn, input[type=submit], input[type=button], .progress-bar-info, .btn:focus,
input[type=submit]:focus, input[type=button]:focus {
	background-image: linear-gradient(to bottom, $grijs, $knalblauw);
	border: none !important;
}	

/*Voor een mouse hover wordt de gradient omgedraaid*/
.btn:hover, input[type=submit]:hover, input[type=button]:hover {
	background-image: linear-gradient(to bottom, $knalblauw, $grijs);
	border: none !important;
}

/*Actieve knoppen */
.btn.active {
	background-image: linear-gradient(to bottom, $knalrood, $knalblauw);
	border: none !important;
}

input.btn {
	margin-top: -14px;
	padding-bottom: 5px
}

.btn .ico {
	vertical-align: text-bottom;
}

