/* owee 2019*/
$owee-groen: #0f8c72;
$owee-geel: #f0a700;

$white: #fff;
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-800: #343a40;
$black: #000;

$body-bg: $owee-groen;
$body-color: darken($owee-groen, 17%);
$headings-color: inherit;

$primary: $owee-groen;
$secondary: $owee-geel;
$light: $gray-100;
$dark: $gray-800;

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../../fonts/dark-mode/Ubuntu-Light.ttf') format('truetype'),
  url('../../fonts/dark-mode/Ubuntu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../../fonts/dark-mode/Ubuntu-Medium.ttf') format('truetype'),
  url('../../fonts/dark-mode/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/owee/Montserrat-Regular.ttf') format('truetype'),
  url('../../fonts/owee/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "Ubuntu-Medium", sans-serif;
$headings-font-family: "Montserrat-Regular", "Ubuntu-Medium", sans-serif;

/** Stek specifieke variabelen. */

/* zijbalk */
$beeldmerk: url("/images/logo-light-it-up.png");

$zijbalk-bg: $owee-geel;
$zijbalk-border: darken($owee-groen, 12%);
$zijbalk-kopje: $primary;
$zijbalk-ishetal-nee: red;
$zijbalk-ishetal-ja: green;
$zindex-zijbalk: 800;

.zijbalk-kopje {
  a {
    font-size: 1.25em;
  }
}

.titel, .zijbalk-kopje {
  font-family: "Montserrat-Regular";
}

#zijbalk .blok .item {
  font-family: "Ubuntu-Light", sans-serif;
}

/* Modals */
$modal-content-bg: $body-bg;

/* bbcode */
$bb-block-bg: $secondary;

/* forum */
$forum-bericht0-bg: $body-bg;
$forum-bericht1-bg: darken($body-bg, 4%);
$ongelezen-lijn: #e8cf2a;

/* main menu */
$menu-primary-hover: $primary;
$menu-bg: $body-bg;
$menu-color: $body-color;
$menu-small-bg: $owee-groen;
$menu-small-color: #ffffff;

/* zoeken */
$zoeken-active-bg: $owee-groen;

/* maalcie-tabel */
$tabel-header: darken($body-bg, 5%);
$tabel-regel-donker: lighten($body-bg, 4%);
$tabel-regel-licht: lighten($body-bg, 12%);

/* cards */
$card-bg: $owee-geel;
$card-border-color: rgba(0, 0, 0, 0.3);

/* importeer basis */
@import "../base";

a, a:hover,
.cd-primary-nav > li > a:hover,
.cd-primary-nav > li > a.selected {
  color: darken($owee-groen, 10%);
}

.bericht {
  color: $light;
}

/*KNOPPEN*/
.btn,
input[type=submit],
input[type=button],
.progress-bar-info,
.btn:focus,
input[type=submit]:focus,
input[type=button]:focus {
  border-color: darken($owee-geel, 15%);
  color: $light;
  background-image: linear-gradient(to bottom, darken($owee-geel, 10%), $owee-geel);
}

/*Voor een mouse hover wordt de gradient omgedraaid*/
.btn:hover,
input[type=submit]:hover,
input[type=button]:hover {
  border-color: darken($owee-geel, 15%);
  background-image: linear-gradient(to bottom, $owee-geel, darken($owee-geel, 10%));
}

/*Actieve knoppen in geel gradient -> zo ontstaat verschil tussen hover en active*/

.btn.active {
  border-color: darken($owee-groen, 17%);
  background-image: linear-gradient(to bottom, $owee-groen, lighten($owee-groen, 10%));
}

.close {
  color: $white;
}

/* Pas om-en-om kleuren in de lichtingen, vertikalen, kringen, etc. aan */
table.groep-lijst tr:nth-child(even) {
  background-color: $secondary;
}

/* Pas "icoontje" in de breadcrubs aan */
.module-icon {
  color: $owee-geel;
  opacity: 0.6;
}

.forum-deel {
  .alternate-row {
    &:nth-child(6n +1),
    &:nth-child(6n + 2),
    &:nth-child(6n + 3) {
      background-color: lighten($owee-groen, 9%);
    }

    background-color: lighten($owee-groen, 7%);
  }
}

.forumdeel-omschrijving {
  background-color: #3F4149;
}

/* Pas achtergrond in de fotogallerij aan */
.jgallery {
  background-color: lighten($body-bg, 4%) !important;

  &-thumbnails {
    background-color: lighten($body-bg, 4%) !important;;
  }
}

/* Maak tekst zwart in prive bb-code (voor leesbaarheid) */
.bb-prive {
  color: black;
}

/* Pas achtergrond van, onder andere het courant formulier, aan */
div#pubciemail_form {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.list-group-item {
  background-color: $owee-groen;
}

/* Peiling uitslag van de peilingen niet meer wit */
#instellingen {
  .list-group-item {
    background-color: $owee-geel;

    &-action:hover, &-action:focus {
      background-color: darken($owee-groen, 5%);
    }
  }
}
