/* OWee 2020 */
$primair-achtergrond: #7A4593;
$zijbalk-achtergrond: #1B447C;
$secundaire-accenten-1: #FAE37E;
$secundaire-accenten-2: #91C6EC;

$primary: $secundaire-accenten-1;
$secondary: $secundaire-accenten-2;

$body-bg: $primair-achtergrond;
$body-color: white;
$zijbalk-bg: $zijbalk-achtergrond;
$zijbalk-kopje: $secundaire-accenten-2;

$donkerblauw: $zijbalk-achtergrond;
$orange: $secundaire-accenten-2;
$footer-background: $primair-achtergrond;

@font-face {
    font-family: 'adam.cg_proregular';
    src: url('../../fonts/owee/adam.cg_pro-webfont.woff2') format('woff2'),
         url('../../fonts/owee/adam.cg_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$headings-font-family: 'adam.cg_proregular', 'Source Sans Pro', Helvetica, Arial, sans-serif;

@import "./donker";

#zijbalk .blok .zijbalk-kopje {
	font-family: $headings-font-family;
}

.bb-block {
	box-shadow: none;
}

#zijbalk:before {
	content: '';
	display: block;
	height: 156px;
	background: url('../../images/owee2020.svg') no-repeat center center;
	background-size: contain;
	margin: 20px 0;
	clear: left;
}
