<h2 class="h6 fw-bolder mt-1">Overig</h2>

<div class="overig-grid-container">
	<p class="overig-cell overig-cell-form p-3 p-md-1 border border-1 rounded-2">
		{{ icon('file-download', null, null, 'text-muted me-2') }}
	    <a href="/declaratie/mijn" class="text-truncate">Declareer nu via de stek!</a>
	</p>
	<p class="overig-cell overig-cell-rijbewijs p-3 p-md-1 border border-1 rounded-2">
		{{ icon('car-side', null, null, 'text-muted mb-1') }}
        <a href="/wiki/leden:mogelijkheden#rijbewijs" class="text-truncate w-100">Rijbewijs</a>
	</p>
	<p class="overig-cell overig-cell-sponserkliks p-3 p-md-1 border border-1 rounded-2">
		{{ icon('mouse', null, null, 'text-muted mb-1') }}
        <a href="https://www.sponsorkliks.com/products/shops.php?club=3605" class="text-truncate w-100">Sponsorkliks</a>
	</p>
</div>