<div
	id="postersCarousel"
	class="carousel carousel-dark slide"
	data-bs-ride="true"
>
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#postersCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
 	</div>
	<div class="carousel-inner h-100">
		{{ cms('voorpagina_posters') }}
	</div>
	<button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#postersCarousel"
		data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
		class="carousel-control-next"
		type="button"
		data-bs-target="#postersCarousel"
		data-bs-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<script>
	document.addEventListener("DOMContentLoaded", () => {
	const posters = Array.from(document.querySelectorAll(".carousel-item"));
	if (posters.length < 2) return;

	// Eerst "active" verwijderen van eerste item (komt van cms)
		posters[0].classList.remove("active");

	const randItem = posters[Math.floor(Math.random() * posters.length)];
		randItem.classList.add("active");

	// de willekeurige naar voren halen
	const parentItem = randItem.parentElement;
	parentItem.prepend(randItem);
	});
</script>
