<div
	id="postersCarousel"
	class="carousel carousel-dark slide carousel-fade"
	data-bs-ride="carousel"
>
	<div class="carousel-inner h-100">
		{{ cms('voorpagina_posters') }}
	</div>
	<button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#postersCarousel"
		data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
		class="carousel-control-next"
		type="button"
		data-bs-target="#carouselExampleFade"
		data-bs-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
