<div class="dies">
	<img id="dies-poster" src="{{ absolute_url('/images/dies/dies-logo-2021.png') }}" alt="Dies poster"/>
	<a href="{{ url('csrdelft_dies_dies') }}" alt='Dies webstek' type="button" class="btn rounded-pill dies-button">Ga naar Dies stek</a>
</div>
