<!--
  Pure CSS Minion.

  @@author Ezequiel Calvo <ezecafre@gmail.com>
                         Follow me @@EzequielCalvo
                         Hashtag #CSSDrawing #Minion

  Nice to have:
     - Wave on the coat.
     - Animation when changing the clothes.
-->
{{ css_asset('fxminion') }}
{{ js_asset('fxminion') }}
<div id="minion" class="dragobject savepos"
     style="top: {{ dragobject_coords(app.session, 'minion', 40, 40)["top"] }}px; left: {{ dragobject_coords(app.session, 'minion', 40, 40)["left"] }}px;">
    <ul class="hair hair-left">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="hair hair-right">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="face">
        <div class="glasses">
            <span class="band band-left"></span>
            <span class="band band-right"></span>
            <div class="glass">
                <div class="iris iris-left">
                    <div class="shine"></div>
                </div>
            </div>
            <div class="glass">
                <div class="iris iris-right">
                    <div class="shine"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mouth">
        <ul class="teeth">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="pants">
        <div class="belt belt-left"></div>
        <div class="belt belt-right"></div>
    </div>
    <div class="super-pants">
        <div class="symbol">
            <div class="s-first-part"></div>
            <div class="s-second-part"></div>
        </div>
    </div>
    <div class="arm arm-left">
        <div class="hand">
            <ul class="fingers fingers-left">
                <li class="finger"></li>
                <li class="finger"></li>
                <li class="finger"></li>
            </ul>
        </div>
    </div>
    <div class="arm arm-right">
        <div class="hand">
            <ul class="fingers fingers-right">
                <li class="finger"></li>
                <li class="finger"></li>
            </ul>
        </div>
    </div>
    <div class="legs">
        <div class="leg"></div>
        <div class="leg"></div>
    </div>
    <div class="shoes shoes-left"></div>
    <div class="shoes shoes-right"></div>
    <div class="coat"></div>
</div>
