<div class="main-bg" style="z-index: -1">
	<div id="onontdekt-overlay">
		<div class="layer layer1" data-depth="0.00"></div>
		<div class="layer layer2" data-depth="0.20"></div>
		<div class="layer layer3" data-depth="0.40"></div>
		<div class="layer layer4" data-depth="0.60"></div>
		<div class="layer layer5" data-depth="0.80"></div>
	</div>
</div>
{{ css_asset('fxonontdekt') }}
{{ js_asset('fxonontdekt') }}
