@import "~@fortawesome/fontawesome-free/scss/variables";
@import "variables";
@import "~prosemirror-view/style/prosemirror.css";
@import "~prosemirror-menu/style/menu.css";
@import "~prosemirror-example-setup/style/style.css";
@import "../lib/prosemirror";

.ProseMirror .bb-prive {
	border: none;
	padding: 0;
}

.ProseMirror a {
	color: blue;

	&:hover {
		color: blue;
		text-decoration: underline;
	}
}

.FormElement.CheckBoxField {
  display: none;
}

.FormulierKnop {
  cursor: pointer;
}

.verborgen {
	visibility: hidden;
	position:absolute;
	width: 0 !important;
}

form {
  margin: 0 0 0 0;

  .field, .form-control {
    margin: 0 0 2em 0;
  }

  .field label {
    margin-top: -1.5em;
  }

  .field:first-child label {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.login-buttons {
  clear: both;
  padding: 0;
	text-align: center;

  li {
		list-style: none;
    padding: 0;
  }

	input[type=submit] {
		// Reset de standaard knop styles
		box-shadow: none;
		padding: 0;
		text-transform: none;
		line-height: normal;
		letter-spacing: inherit;
		font-weight: inherit;
		font-size: inherit;
		border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
		height: auto;
		border-radius: 0;
		background: none;

		transition: border-bottom-color 0.2s ease-in-out;

		&:hover, &:active {
			background-color: inherit;
			border-bottom-color: transparent;
		}
	}
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
	text-align: left;

	strong {
		color: inherit;
	}
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.waarschuwing, .error, .alert-danger, .invalid-feedback {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

label:not(.owee) {
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
  appearance: none;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
	margin-bottom: 1em;

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: $kleur1;
  }
}

select option {
  color: #ffffff;
  background: #2e3141;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  width: 5em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"]:not(.owee) {
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;

  & + label {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-weight: 900;
      text-transform: none !important;
      background: rgba(255, 255, 255, 0.025);
      border-radius: 5px;
      border: solid 2px rgba(255, 255, 255, 0.5);
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em;
    }
  }

  &:checked + label:before {
    background: #ffffff;
    border-color: #ffffff;
    content: fa-content($fa-var-check);
    color: #2e3141;
  }
}

input[type="checkbox"] + label:before {
  border-radius: 5px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

.polyfill-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  appearance: none;
  transition: background-color 0.2s ease-in-out;
  background-color: $lichtblauw;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: $donkerblauw;
  }

  &:active {
    background-color: $donkerblauw;
  }

  &.icon:before {
    margin-right: 0.5em;
    color: rgba(255, 255, 255, 0.35);
  }

  &.special {
    background-color: #4c5c96;
    box-shadow: none;
    &:hover {
      background-color: #53639e;
    }

    &:active {
      background-color: #45558d;
    }

    &.icon:before {
      color: #7884b0;
    }
  }

  &.disabled,
  &:disabled {
    opacity: 0.25;
  }

  @media screen and (max-width: $scherm-middelsmal) {
    padding: 0 1em;
  }
}
