.image {
	margin: 2em 3em;
	width: 22em;
	overflow: hidden;
	-ms-flex: 1;

	& > img, picture {
		border-radius: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.block {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;

		img {
			border-radius: 5px;
			display: block;
		}
	}

	&.left, &.right {
		max-width: 40%;

		img {
			width: 100%;
		}
	}

	&.left {
		float: left;
		padding: 0 1.5em 1em 0;
		top: 0.25em;
	}

	&.right {
		float: right;
		padding: 0 0 1em 1.5em;
		top: 0.25em;
	}

	&.fit {
		display: block;
		margin: 0 0 2em 0;
		width: 100%;

		img {
			width: 100%;
		}
	}

	&.main {
		display: block;
		margin: 0 0 3em 0;
		width: 100%;

		img {
			width: 100%;
		}
	}
}
