@import "variables";

ol {
	list-style: decimal;
	margin: 0 0 2em 0;
	padding-left: 1.25em;

	li {
		padding-left: 0.25em;
	}
}

.spotlight ul {
	list-style-type: none;
}

ul {
	list-style: disc;
	padding-left: 1em;

	li {
		padding-left: 0.5em;
	}

	&.alt {
		list-style: none;
		padding-left: 0;

		li {
			border-top: solid 1px rgba(255, 255, 255, 0.125);
			padding: 0.5em 0;

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}

	&.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1em 0 0;

			&:last-child {
				padding-right: 0;
			}

			.icon:before {
				font-size: 1.25em;
			}
		}
	}

	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1em 0 0;
			vertical-align: middle;

			&:last-child {
				padding-right: 0;
			}
		}

		&.small li {
			padding: 0 0.5em 0 0;
		}

		&.vertical {
			li {
				display: block;
				padding: 1em 0 0 0;

				&:first-child {
					padding-top: 0;
				}

				& > * {
					margin-bottom: 0;
				}
			}

			&.small li {
				padding: 0.5em 0 0 0;

				&:first-child {
					padding-top: 0;
				}
			}
		}

		&.fit {
			display: table;
			margin-left: -1em;
			padding: 0;
			table-layout: fixed;
			width: calc(100% + 1em);

			li {
				display: table-cell;
				padding: 0 0 0 1em;

				& > * {
					margin-bottom: 0;
				}
			}

			&.small {
				margin-left: -0.5em;
				width: calc(100% + 0.5em);

				li {
					padding: 0 0 0 0.5em;
				}
			}
		}
	}
}

@media screen and (max-width: $scherm-middelsmal) {

	ul.actions {
		margin: 0 0 2em 0;

		li {
			padding: 1em 0 0 0;
			display: block;
			text-align: center;
			width: 100%;

			&:first-child {
				padding-top: 0;
			}

			& > * {
				width: 100%;
				margin: 0 !important;
			}
		}

		&.small li {
			padding: 0.5em 0 0 0;

			&:first-child {
				padding-top: 0;
			}
		}
	}
}

ul.contact {
	list-style: none;
	padding: 0;

	li {
		text-decoration: none;
		margin: 2.5em 0 0 0;
		padding: 0 0 0 3.25em;
		position: relative;

		&:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: 'Font Awesome 5 Free';
			font-style: normal;
			font-weight: 900;
			text-transform: none !important;
			border-radius: 100%;
			border: solid 2px rgba(255, 255, 255, 0.5);
			display: inline-block;
			font-size: 0.8em;
			height: 2.5em;
			left: 0;
			line-height: 2.35em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2.5em;
		}

		&.fa-instagram:before {
			font-family: 'Font Awesome 5 Brands';
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: $scherm-middel) {

	ul.contact li {
		margin: 1.5em 0 0 0;
	}

}

dl {
	margin: 0 0 2em 0;

	dt {
		display: block;
		font-weight: 600;
		margin: 0 0 1em 0;
	}

	dd {
		margin-left: 2em;
	}
}
