$donkerblauw: #11273a;
$middenblauw: #043763;
$lichtblauw: #4e698b;
$geel: #e59200;
$grijs: #e8e8e8;

$basiskleur: $grijs;

$headerkleur: $lichtblauw;
$loginkleur: rgba(34, 35, 72, 0.4);

$text: #fff;

$kleur1: $donkerblauw;
$kleur2: $middenblauw;
$kleur3: $lichtblauw;
$kleur4: $middenblauw;
$kleur5: $lichtblauw;

$menu-bg: $lichtblauw;
$button-bg: $donkerblauw;
$button-bg-hover: $lichtblauw;
$tekstlicht: #ffffff;
$tekstdonker: $donkerblauw;

$scherm-extrabreed: 1280px;
$scherm-breed: 980px;
$scherm-middel: 736px;
$scherm-middelsmal: 640px;
$scherm-smal: 480px;

$text-muted: #6c757d;
$small-font-size: 80%;
