{% extends 'fiscaat/base.html.twig' %}

{% block titel %}CiviSaldo overzicht{% endblock %}

{% block civisaldocontent %}
	<h2>Som van saldi</h2>
	{{ include('fiscaat/saldisom.html.twig') }}
{% endblock %}
