RewriteEngine on
###modRewrite dingen
RewriteRule ^commissie/([0-9]+)/verwijder/lid/([a-z0-9]+) commissie.php?cie=$1&uid=$2&verwijderen
RewriteRule ^commissie/([0-9]+) commissie.php?cie=$1

RewriteRule ^commissie/([a-zA-Z]+)(/|.html|.htm|.php) commissie.php?cie=$1
