html, body{ font-size : 75.5%; }
h1{	font-size: 1.6em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.25em; }
h4{ font-size: 1em; }
textarea, input, select, option, td, th, div, p{ font-size: 1em; }	

html, body{
	margin: 0px; padding: 0px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #e1e5e5;
}
h1{ margin-top: 3px; margin-bottom: 3px;}
h2{	margin-bottom: 1px;}
h3{ margin-top: 3px; margin-bottom: 0px; }
p{ 	margin: 5px 0px 10px 0px; padding: 0px; } 
a{ 	color: darkred; text-decoration: none; }
a:hover{ color: black; }
div{ margin: 0px; padding: 0px; }

textarea{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px;
	border: 1px solid darkgrey;
}
input, select{ padding-left: 2px; padding-right: 2px;	border: 1px solid darkgrey; } 
select{ padding-right: 0px; }

th{ text-align: left; }
td{ vertical-align: top; padding: 0px; font-size: 1em; }
ul, ol{ }
li{margin: 0 0 0 15px;}
li li{ 1em;}
/* pagina-opmaak */

#layoutContainer{}
#navigatie{
	position: absolute;
	top: 108px;
	left: 170px; 
	height: 22px; width: 820px;
	background-color: white;
	z-index: 99;
	opacity:.85; filter: alpha(opacity=85);
} #navigatieContent{
	margin: 3px 10px 0px 10px;
	font-size: 1.25em;
}
#menu{
	position: absolute;
	top: 130px;
	left: 170px;
	height: 40px; width: 819px;
	background-color: gold;
	border-right: 1px solid #bbb; 
	border-top: 1px solid black;
	border-left: 1px solid black;
	z-index: 85;
} #menuContent{
	margin: 2px 10px 0px 10px; padding: 0px;
	font-size: 1.3em;
}	#submenuContent{
	position: absolute;
	left: 10px;
	margin: 2px 0 0 20px; padding: 0px;
	font-size: 1.3em;

}
	
#bodyContainer, #bodyContainerBreed{
	position: absolute;
	top: 172px; 
	left: 170px; 
}	#lichaam, #lichaamBreed{
		width: 819px;	
		margin: 0px 0px 25px 0px; 

		background-color: yellow;
		border-left: 1px solid #bbb;  
		border-right: 1px solid #bbb;  
		border-bottom: 1px solid #bbb;  
	} 
	#bodyContent{
		margin: 0px; padding: 20px;
		font-size: 1.20em;
		background-color: white;
	}
	#copyright{
		position: absolute;
		bottom: 0px;
	} #copyrightContent{
		margin: 0px 10px 10px 20px; 
		font-size: 10px;
		color: #bbb;
	}	#copyrightContent a{ color: #bbb; }
		#copyrightContent a:hover{ color: darkred; }
#bodyContainerBreed{
	left: 0px;
}	#lichaamBreed{ width: 990px; }
#searchbox{
	position: absolute;
	top: 140px;
	left: 735px;
	width: 250px; height: 20px;
	text-align: right;
	z-index: 100;
}	#searchbox input{ padding: 1px; border: 1px solid darkred; width: 160px; font-size: 1.2em;}
#hoofder, #hoofderBreed{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 990px; height: 171px;
	background-color: white;
	border-right: 1px solid #bbb; 
	z-index: 1;
} #beeldmerk{ margin: 5px 0px 0px 28px; width: 120px; }
#hoofderBreed{ }
#zijkolom{
	position: absolute;
	top: 172px;
	left: 0px;
	width: 170px;
	margin: 0; 
	border-right: 1px solid black;
	border-bottom: 1px solid black; 
	background-color: gold;
} #zijkolomContent{
		margin: 20px 10px 10px 10px;
		min-height: 600px; 
}	#zijkolomFooter{
		height: 58px;
		background-image: url(http://plaetjes.csrdelft.nl/layout/bestuurstekst.gif);
		background-repeat: no-repeat;
		background-position: bottom right;
}

#lijntje{
	position: absolute;
	top: 171px;	left: 0px;
	width: 990px;
	height: 4px;
	background-color: darkred;
	border-right: 1px solid #bbb;  
	
}
#hoofderFoto{
	position: absolute;
	top: 0px;
	left: 170px;
	border-right: 1px solid black;
	z-index: 70;
}
#personalBox{
	position: absolute;
	z-index: 99;
	top: 5px;
	left: 818px;
	width: 160px;
	padding: 2px;
	color: black; background-color: white;
	opacity:.85; filter: alpha(opacity=85);
	border: 1px solid darkred;
}
#inloggen{
	display: none;
}
#inloglink{
	display: block;
	width: 160px;
}
input.login{
	width: 60px;
	border: 1px solid grey;
}
input.login-submit{
	padding: 0px;
	width: 18px;
	text-align: center;
	border: 1px solid grey;
}
pre#pubcie_debug{
	position: absolute;
	top: 10px;
	left: 1000px; right: 10px
	margin: 10px;
	overflow: auto;
	font-size: 1.2em;
	color: black; background-color: white;
	border: 1px solid darkred;
	z-index: 100;
}
/* dingen voor afzonderlijke pagina's */

.nieuwsbericht, .nieuwsbericht-vast{
	margin: 20px 0px 5px 0px;
	min-height: 100px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-color: #f5f5f5;
}	.nieuwsplaatje{ margin: 0px 0px 0px 0px; float: left;	}
	.nieuwsbody{		margin: 11px 10px 0px 70px;	}	
	.nieuwstitel{		font-size: 1.1em; font-weight: bold; }
.nieuwsbericht-vast{ height: 100px;	}	

a.knop{
	background-color: #f5f5f5;  
	border: 1px solid darkgrey;
	margin: 2px; padding: 0px 2px 0px 2px;
}
a.knop:hover{ background-color: darkgrey;}


.waarschuwing{ color: darkred; }
div#uStaatRood{
	position: absolute;
	left: 730px;
	top: 50px;
	padding: 10px;
	background-color: white;
	color: darkred;
	font-size: 1.4em;
	border: 2px solid darkred;
	opacity:.90; filter: alpha(opacity=90);
	z-index: 99;
}
/* profiel */
table.profiel{ width: 100%;	border-collapse: collapse; }
table.profiel th{ 
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid black;
	padding: 0px 0px 1px 5px;
}
table.profiel td{
	border-left: 1px solid black;
	padding: 5px;
}
table.profiel td.foto{
	margin: 0; padding: 0;
	border: 0;
}
table.profiel_edit{
	width: 100%;
	margin: 5px;
}
table.profiel_edit tr td input, textarea{ width: 260px; }
/* intern/lijst.php */
table.zoekResultaat{ width: 100%; border-collapse: collapse;}
table.zoekResultaat tr td{border-top: 1px solid lightgrey; margin: 0px; padding: 0px;}
table.zoekResultaat tr td img{ background-color: #fff3b4;}
/* bestuur.php */
#bestuurContainer{ text-align: center; }
table.bestuur{ width: 100%; text-align: center; }
table.bestuur th{ text-align: center; }
table.bestuur td{ text-align: center; }

table.maaltijden{ width: 100%; }
table.maaltijden tr{ height: 1.6em; }
