.forumtabel {
	border: 0px; padding: 0px;
	width: 100%;
}

.forumtabel td{
	font-family: verdana,arial,Helvetica,sans-serif;
	font-size: 10px;
	border: 0px;
	
}
.forumhoofd {
	font-weight: bold;
	color: #000000;
	vertical-align: middle;
	padding: 5px 10px 5px 15px;
	height: 19px;
	background-color: gold;
}
.forumauteur{
	vertical-align: top;
	width: 150px;
	background-color: #fff;
	padding: 2px 10px 5px 10px;
	font-size: 9px;
}
.forummetadata{
	font-size: 9px;
	background-color: #fff;
	padding: 2px 10px 2px 0.6em;
}
.forumpostlink{
	color: black;
}
.forumtekst {
	color: #000000;
	padding: 0.2em 0.6em 10px 0.6em;
	margin: 0px;
	vertical-align: top;
	background-color: #fff;
	text-align: left;
}
.forumbericht1{
	color: black;
	background-color: #f4f4f4;/* #F7F9FF;*/
		padding: 0.2em 0.6em 10px 0.6em;
	margin: 0px;
	vertical-align: top;
	text-align: left;
}
.forumbericht0{
	color: black;
	 /* background-color: #fff3b4; */
		padding: 0.2em 0.6em 10px 0.6em;
	margin: 0px;
	vertical-align: top;
	text-align: left;
}
.forumtussenschot { 
	height: 2px;
	margin: 0px; padding: 0px;
	background-color: lightgrey;
}
.forumreacties{
	vertical-align: middle;
	text-align: center;
	width: 80px;
	background-color: #F7F9FF;
}
.forumtitel {
	color: #000000;
	padding: 0.2em 0.6em 0.2em 0.6em;
	margin: 0px;
	vertical-align: middle;
	background-color: #F7F9FF;
	text-align: left;
}
.forumreactiemoment {
	color: #000000;
	padding: 0.2em 0.6em 0.2em 0.6em;
	margin: 0px;
	vertical-align: top;
	background-color: #fff3b4;
	width: 180px;
text-align: left;
}
a.forumGrootlink{
	font-size: 1em;
	font-weight: bold;
}
.forumGrootlink:hover{
	color: black;
}
.genmed{
	font-size: 9px;
}
.quote{
	background-color: #e1e1e1;
	padding: 2px 5px 5px 10px;
}
.code{
	font-family: monospace;
	background-color: #f1f1f1;
}
.zoekwoord{
	background-color: #FFFF99;
	color: black;
}
#pollTabel{
	width: 100%; 
	margin: 10px 10px 10px 10px; 
	background-color: #f1f1f1; 
	border: 0px;
}
#forumHighlights{
	font-size: 9px;
}
#forumHighlights a.kopje{
	color: black;
	font-weight: bold;
}
#forumHighlights a.kopje:hover{
	color: darkred;
}
span.tijd{
	font-size: 8px;
}
