RewriteEngine on

RewriteRule ^lijst/([0-9]+)$ maaltijdlijst.php?maalid=$1
RewriteRule ^lijst/([0-9]+)/sluiten$ maaltijdlijst.php?maalid=$1&sluit=1


#beheer

RewriteRule ^beheer/?$ beheer.php
RewriteRule ^beheer/bewerk/([0-9]+)/?$ beheer.php?bewerk=$1
RewriteRule ^beheer/verwijder/([0-9]+)/?$ beheer.php?verwijder=$1
