@import "vars";

@font-face {
	font-family: gaistroRegular;
	src: url("../../fonts/dies2023/GAISTRO-Regular.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: omedBrush;
	src: url("../../fonts/dies2023/OmedBrushRegular-gx1e3.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: dalgonaBestolen;
	src: url("../../fonts/dies2023/DalgonaBestolen 400.otf") format("opentype");
	font-weight: bold;
}

$font-dalgona: "dalgonaBestolen", Arial, Helvetica, sans-serif;
$font-gaistro: "gaistroRegular", Arial, Helvetica, sans-serif;
$font-omed: "omedBrush", Arial, Helvetica, sans-serif;

a {
	text-decoration: none;
}

.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}

.heavy {
	font-weight: 700;
}

section {
	margin-bottom: 100px;
}

body {
	// linear-gradient : (160deg, #903921, #C8611A);
	background-size: 600px, 1100px, 950px, 600px, 1300px, 700px, 100% 100%;
	font-size: 1.5rem;
	/* Body text */
	// color: $font-color-secondary;
}

.container {
	background: transparent;
}

// Shared page functionality

/* nav */
nav {
	height: 50px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	// // background: $primary;

	// a {
	// 	/* Header text */
	// 	color: $font-color-primary;
	// 	font-family: $font-header;
	// 	text-transform: uppercase;
	// 	text-decoration: none;
	// 	font-size: 24px;
	// 	transition: ease-in-out color 0.15s;

	// 	&:hover {
	// 		color: $kleur-wit;
	// 		text-decoration: none;
	// 	}
	// }
	.container {
		max-width: 1040px;
	}

	.menu {
		height: 50px;
	}
}

/* Kopjes */
.titel {
	h1 {
		font-family: $font-gaistro;
		font-size: $h2-font-size;
		text-align: center;
	}
	width: 440px;
	margin: -40px;
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
	background-size: 100% !important;
	// color: $kleur-geel-19;
	// text-align: center;
	text-transform: uppercase;
	// border-bottom: 2px solid $kleur-geel-19;
	// box-shadow: 0px 6px 6px -6px $kleur-geel-20;
	// text-shadow:
	//   0 0 2px $kleur-wit,
	//   0 0 11px $kleur-zwart,
	//   0 0 12px $kleur-zwart;
}

.ondertitel {
	color: $kleur-geel-19;
	font-family: $font-omed;
	text-transform: none;
	text-align: center;
	margin-bottom: 10px;
	font-size: 4rem;
}

/* IMG Kopjes */
.kopje {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	.plaetje {
		width: 400px;
		max-width: 100%;
	}
}

/* Instagram */
.instagram .instagram-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 1em;

	a {
		text-decoration: none;
		color: $font-color-primary;
		font-family: $font-header;
		text-transform: uppercase;
		font-weight: bold;
	}

	.instagram-embed {
		width: 400px;
		height: 100%;
		max-width: 100%;
	}
}

/* thema display */
.thema {
	display: flex;
	flex-direction: column;
	align-items: center;

	.thema-plaetje {
		padding-top: 60px;
		width: 100%;
		height: 100%;
		max-width: 960px;
		border-bottom: 5px;
		border-bottom-color: $primary;
	}
}
/* Dividers */
.divider {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid $kleur-geel-19;
	box-shadow: 0px 6px 6px -6px $kleur-geel-20;
	margin-bottom: 15px;
	margin-top: 15px;
	img {
		max-width: 738px;
		width: 100%;
		height: 100%;
	}

	.helemaal-boven {
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.boven {
		margin-top: 10px;
	}
	.tussen {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.onder {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/* Commissie */
.commissie .commissie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $font-color-secondary;

	.commissiefoto {
		width: 100%;
		max-width: 720px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

// Activiteiten overzicht
.overzicht {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.activiteit {
		padding-top: 20px;
		.activiteit-plaetje {
			width: 720px;
			height: 100%;
			max-width: 100%;
		}
	}
}

.beschrijving {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	* {
		width: 80%;
	}
}

// Poster weergave
// .poster {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	img {
// 		max-height: 100vh;
// 		max-width: 100vw;
// 		height: 100%;
// 	}
// }

// Ketzers weergave
.ketzers {
	display: flex;
	flex-direction: column;
	align-items: center;
	.ketzers-container {
		max-width: 100%;
	}
}
